ada_2_hl7/mp-lab/hl7_schemas/COCT_MT500000.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified" xmlns="urn:hl7-org:v3" xmlns:hl7="urn:hl7-org:v3">
   <xs:include schemaLocation="../coreschemas/datatypes.xsd"/>
   <xs:include schemaLocation="../coreschemas/voc.xsd"/>
   <xs:annotation>
      <xs:documentation>
		Generated using schema builder version 1.21q.
		Stylesheets:
		
		RoseTreeToMIFStaticModel.xsl version: 1.1
		SplitModels.xsl version: 1.1
		AssocInMif.xsl version:1.2
		StaticMifToXsd.xsl version 1.1</xs:documentation>
   </xs:annotation><!--
*****************************************************************************************************************
* XML schema for message type COCT_MT500000.
* Generated by XMLITS version 1.21q, Copyright (C) 2002, 2003 by Health Level 7, Inc.
*
* Copyright (c) 2002, 2003, Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
-->
   <xs:group name="COCT_MT500000">
      <xs:sequence>
         <xs:element name="CoveredParty" type="COCT_MT500000.CoveredParty"/>
      </xs:sequence>
   </xs:group>
   <xs:complexType name="COCT_MT500000.CoveredParty">
      <xs:sequence>
         <xs:element name="typeId" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="id"  type="II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="code"  type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element type="COCT_MT500000.Beneficiary"  minOccurs="1" maxOccurs="1" name="beneficiaryOf"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="RoleHeir"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" default="COVPTY"/>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT500000.Beneficiary">
      <xs:sequence>
         <xs:element name="typeId" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="sequenceNumber"  type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element type="COCT_MT500000.PolicyOrAccount"  minOccurs="1" maxOccurs="1" name="policyOrAccount"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="Participation"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" default="BEN"/>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT500000.PolicyOrAccount">
      <xs:sequence>
         <xs:element name="typeId" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="id"  type="II" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="code"  type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode"  type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime"  type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element type="COCT_MT500000.PolicyUnderwriter"  minOccurs="1" maxOccurs="1" name="author"/>
         <xs:element type="COCT_MT500000.Holder"  minOccurs="0" maxOccurs="1" name="holder"/>
         <xs:element type="COCT_MT500000.Limitation"  minOccurs="0" maxOccurs="1" name="limitation"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="FinancialContract"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" default="COV"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" default="EVN"/>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT500000.PolicyUnderwriter">
      <xs:sequence>
         <xs:element name="typeId" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element type="COCT_MT500000.CarrierRole"  minOccurs="1" maxOccurs="1" name="carrierRole"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="Participation"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" default="AUT"/>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT500000.CarrierRole">
      <xs:sequence>
         <xs:element name="typeId" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="id"  type="II" minOccurs="1" maxOccurs="1"/>
         <xs:element type="COCT_MT500000.CarrierOrganization"  minOccurs="0" maxOccurs="1" name="underwritingCarrierOrganization"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="RoleHeir"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" default="UNDWRT"/>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT500000.CarrierOrganization">
      <xs:sequence>
         <xs:element name="typeId" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="name"  type="TN" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="Organization"/>
      <xs:attribute name="classCode" type="EntityClass" use="optional" default="ORG"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" default="INSTANCE"/>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT500000.Holder">
      <xs:sequence>
         <xs:element name="typeId" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element type="COCT_MT500000.PolicyHolder"  minOccurs="1" maxOccurs="1" name="policyHolder"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="Participation"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" default="HLD"/>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT500000.PolicyHolder">
      <xs:sequence>
         <xs:element name="typeId" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="id"  type="II" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="policyHolderPolicyHolderOrganization" minOccurs="1" maxOccurs="1" type="COCT_MT500000.PolicyHolderOrganization"/>
            <xs:element name="policyHolderPolicyHolderPerson" minOccurs="1" maxOccurs="1" type="COCT_MT500000.PolicyHolderPerson"/>
         </xs:choice>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="RoleHeir"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" default="POLHOLD"/>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT500000.PolicyHolderPerson">
      <xs:sequence>
         <xs:element name="typeId" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="name"  type="PN" minOccurs="1" maxOccurs="1"/>
         <xs:element name="birthTime"  type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element type="COCT_MT500000.Employment"  minOccurs="0" maxOccurs="unbounded" name="employment"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="Person"/>
      <xs:attribute name="classCode" type="EntityClass" use="optional" default="PSN"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" default="INSTANCE"/>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT500000.Employment">
      <xs:sequence>
         <xs:element name="typeId" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="id"  type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element type="COCT_MT500000.EmployerOrganization"  minOccurs="0" maxOccurs="1" name="employerEmployerOrganization"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="Employee"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" default="EMP"/>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT500000.EmployerOrganization">
      <xs:sequence>
         <xs:element name="typeId" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="name"  type="ON" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="Organization"/>
      <xs:attribute name="classCode" type="EntityClass" use="optional" default="ORG"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" default="INSTANCE"/>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT500000.PolicyHolderOrganization">
      <xs:sequence>
         <xs:element name="typeId" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="name"  type="TN" minOccurs="0" maxOccurs="1"/>
         <xs:element name="addr"  type="AD" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="Organization"/>
      <xs:attribute name="classCode" type="EntityClass" use="optional" default="ORG"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" default="INSTANCE"/>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT500000.Limitation">
      <xs:sequence>
         <xs:element name="typeId" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element type="COCT_MT500000.AccommodationCoverage"  minOccurs="1" maxOccurs="1" name="limitingAccommodationCoverage"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" default="LIMIT"/>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT500000.AccommodationCoverage">
      <xs:sequence>
         <xs:element name="typeId" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code"  type="CS" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="ActHeir"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" default="ACCM"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" default="DEF"/>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
</xs:schema>