ada_2_hl7/mp-lab/hl7_schemas/COCT_MT090000.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified" xmlns="urn:hl7-org:v3" xmlns:hl7="urn:hl7-org:v3">
   <xs:include schemaLocation="../coreschemas/datatypes.xsd"/>
   <xs:include schemaLocation="../coreschemas/voc.xsd"/><!--
*****************************************************************************************************************
* XML schema for message type .
* Generated by XMLITS version 1.21n2, Copyright (C) 2002, 2003 by Health Level 7, Inc.
*
* Copyright (c) 2002, 2003, Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
-->
   <xs:include schemaLocation="COCT_MT150003.xsd"/>
   <xs:include schemaLocation="COCT_MT070000.xsd"/>
   <xs:include schemaLocation="COCT_MT150000.xsd"/>
   <xs:element name="AssignedEntity" type="COCT_MT090000.AssignedEntity"/>
   <xs:group name="COCT_MT090000">
      <xs:sequence>
         <xs:element name="AssignedEntity" type="COCT_MT090000.AssignedEntity"/>
      </xs:sequence>
   </xs:group>
   <xs:complexType name="COCT_MT090000.AssignedEntity">
      <xs:sequence>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="addr" type="AD" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="certificateText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:group ref="COCT_MT090000.PrincipalChoiceList"/>
         <xs:group ref="COCT_MT150000"/>
         <xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="RoleHeir"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" default="ASSIGNED"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT090000.LicensedEntity">
      <xs:sequence>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:group ref="COCT_MT150003"/>
         <xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="LicensedEntity"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" default="LIC"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT090000.Member">
      <xs:sequence>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="addr" type="AD" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element type="COCT_MT090000.Group" minOccurs="1" maxOccurs="1" name="group"/>
         <xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="RoleHeir"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" default="MBR"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT090000.Group">
      <xs:sequence>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="name" type="EN" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="desc" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="EntityHeir"/>
      <xs:attribute name="classCode" type="EntityClass" use="optional" default="RGRP"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" default="INSTANCE"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT090000.RoleOther">
      <xs:sequence>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="unbounded"/>
         <xs:group ref="COCT_MT150000"/>
         <xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="RoleHeir"/>
      <xs:attribute name="classCode" type="RoleClass" use="optional" default="ROL"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT090000.LanguageCommunication">
      <xs:sequence>
         <xs:element name="languageCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="modeCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="proficiencyLevelCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="preferenceInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="LanguageCommunication"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT090000.Organization">
      <xs:sequence>
         <xs:element name="name" type="EN" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="license" type="COCT_MT090000.LicensedEntity" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="memberOf" type="COCT_MT090000.Member" minOccurs="0" maxOccurs="unbounded"/>
         <xs:group ref="COCT_MT070000"/>
         <xs:element name="playedRoleOther" type="COCT_MT090000.RoleOther" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="languageCommunication" type="COCT_MT090000.LanguageCommunication" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="Organization"/>
      <xs:attribute name="classCode" type="EntityClass" use="optional" default="ORG"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" default="INSTANCE"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT090000.Person">
      <xs:sequence>
         <xs:element name="name" type="EN" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="license" type="COCT_MT090000.LicensedEntity" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="memberOf" type="COCT_MT090000.Member" minOccurs="0" maxOccurs="unbounded"/>
         <xs:group ref="COCT_MT070000" minOccurs="0" maxOccurs="1"/>
         <xs:element name="playedRoleOther" type="COCT_MT090000.RoleOther" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="languageCommunication" type="COCT_MT090000.LanguageCommunication" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="Person"/>
      <xs:attribute name="classCode" type="EntityClass" use="optional" default="PSN"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" default="INSTANCE"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT090000.Device">
      <xs:sequence>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="manufacturerModelName" type="SC" minOccurs="0" maxOccurs="1"/>
         <xs:element name="softwareName" type="SC" minOccurs="0" maxOccurs="1"/>
         <xs:element name="license" type="COCT_MT090000.LicensedEntity" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="memberOf" type="COCT_MT090000.Member" minOccurs="0" maxOccurs="unbounded"/>
         <xs:group ref="COCT_MT070000"/>
         <xs:element name="playedRoleOther" type="COCT_MT090000.RoleOther" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="languageCommunication" type="COCT_MT090000.LanguageCommunication" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="Device"/>
      <xs:attribute name="classCode" type="EntityClass" use="optional" default="DEV"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" default="INSTANCE"/>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:group name="COCT_MT090000.PrincipalChoiceList">
      <xs:choice>
         <xs:element name="assignedOrganization" minOccurs="0" maxOccurs="1" type="COCT_MT090000.Organization"/>
         <xs:element name="assignedPerson" minOccurs="0" maxOccurs="1" type="COCT_MT090000.Person"/>
         <xs:element name="assignedDevice" minOccurs="0" maxOccurs="1" type="COCT_MT090000.Device"/>
      </xs:choice>
   </xs:group>
</xs:schema>