ada_2_hl7/mp-lab/hl7_schemas/COCT_MT030200.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified" xmlns="urn:hl7-org:v3" xmlns:voc="urn:hl7-org:v3/voc" xmlns:hl7="urn:hl7-org:v3" xmlns:msg="urn:hl7-org:v3/mif" xmlns:fo="http://www.w3.org/1999/XSL/Format">
   <xs:include schemaLocation="../coreschemas/datatypes.xsd"/>
   <xs:include schemaLocation="../coreschemas/voc.xsd"/><!--
*****************************************************************************************************************
* XML schema for message type .
* Generated by XMLITS version 1.1, Copyright (C) 2002, 2003 by Health Level 7, Inc.
*
* Copyright (c) 2002, 2003, Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
-->
   <xs:include schemaLocation="COCT_MT710000.xsd"/>
   <xs:include schemaLocation="COCT_MT150000.xsd"/>
   <xs:include schemaLocation="COCT_MT150002.xsd"/>
   <xs:include schemaLocation="COCT_MT030202.xsd"/>
   <xs:include schemaLocation="COCT_MT500000.xsd"/>
   <xs:group name="COCT_MT030200">
      <xs:sequence>
         <xs:element name="Person" type="COCT_MT030200.Person"/>
      </xs:sequence>
   </xs:group>
   <xs:complexType name="COCT_MT030200.Person">
      <xs:sequence>
         <xs:element name="id" minOccurs="0" maxOccurs="unbounded" type="II"/>
         <xs:element name="name" minOccurs="0" maxOccurs="unbounded" type="EN"/>
         <xs:element name="desc" minOccurs="0" maxOccurs="1" type="ED"/>
         <xs:element name="statusCode" minOccurs="0" maxOccurs="1" type="CS"/>
         <xs:element name="administrativeGenderCode" minOccurs="0" maxOccurs="1" type="CE"/>
         <xs:element name="birthTime" minOccurs="0" maxOccurs="1" type="TS"/>
         <xs:element name="deceasedInd" minOccurs="0" maxOccurs="1" type="BL"/>
         <xs:element name="deceasedTime" minOccurs="0" maxOccurs="1" type="TS"/>
         <xs:element name="multipleBirthInd" minOccurs="0" maxOccurs="1" type="BL"/>
         <xs:element name="multipleBirthOrderNumber" minOccurs="0" maxOccurs="1" type="INT"/>
         <xs:element name="organDonorInd" minOccurs="0" maxOccurs="1" type="BL"/>
         <xs:element name="maritalStatusCode" minOccurs="0" maxOccurs="1" type="CE"/>
         <xs:element name="educationLevelCode" minOccurs="0" maxOccurs="1" type="CE"/>
         <xs:element name="disabilityCode" minOccurs="0" maxOccurs="unbounded" type="CE"/>
         <xs:element name="livingArrangementCode" minOccurs="0" maxOccurs="1" type="CE"/>
         <xs:element name="religiousAffiliationCode" minOccurs="0" maxOccurs="1" type="CE"/>
         <xs:element name="raceCode" minOccurs="0" maxOccurs="unbounded" type="CE"/>
         <xs:element name="ethnicGroupCode" minOccurs="0" maxOccurs="unbounded" type="CE"/>
         <xs:element type="COCT_MT030200.BirthPlace" minOccurs="0" maxOccurs="1" name="scopedBirthPlace"/>
         <xs:element type="COCT_MT030200.Citizen" minOccurs="0" maxOccurs="unbounded" name="citizenship"/>
         <xs:element type="COCT_MT030200.ContactParty" minOccurs="0" maxOccurs="unbounded" name="contact"/>
         <xs:element type="COCT_MT030200.Employment" minOccurs="0" maxOccurs="unbounded" name="employment"/>
         <xs:element type="COCT_MT030200.Guarantor" minOccurs="0" maxOccurs="unbounded" name="guarantor"/>
         <xs:element type="COCT_MT030200.Guardian" minOccurs="0" maxOccurs="unbounded" name="guardian"/>
         <xs:element type="COCT_MT030200.Member" minOccurs="0" maxOccurs="unbounded" name="memberOf"/>
         <xs:element type="COCT_MT030200.OtherIDs" minOccurs="0" maxOccurs="unbounded" name="playedOtherIDs"/>
         <xs:element type="COCT_MT500000.CoveredParty" minOccurs="0" maxOccurs="1" name="playedRole"/>
         <xs:element type="COCT_MT030200.Student" minOccurs="0" maxOccurs="unbounded" name="schoolEnrollment"/>
         <xs:element type="COCT_MT030200.LanguageCommunication" minOccurs="0" maxOccurs="unbounded" name="languageCommunication"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="Person"/>
      <xs:attribute name="classCode" type="EntityClass"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer"/>
      <xs:attribute name="templateId" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT030200.BirthPlace">
      <xs:sequence>
         <xs:element type="COCT_MT710000.Place" minOccurs="1" maxOccurs="1" name="birthplace"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="RoleHeir"/>
      <xs:attribute name="classCode" type="RoleClass"/>
      <xs:attribute name="templateId" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT030200.Citizen">
      <xs:sequence>
         <xs:element name="id" minOccurs="0" maxOccurs="unbounded" type="II"/>
         <xs:element name="effectiveTime" minOccurs="0" maxOccurs="1" type="IVL_TS"/>
         <xs:element type="COCT_MT150000.Organization" minOccurs="1" maxOccurs="1" name="politicalOrganization"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="RoleHeir"/>
      <xs:attribute name="classCode" type="RoleClass"/>
      <xs:attribute name="templateId" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT030200.ContactParty">
      <xs:sequence>
         <xs:element name="id" minOccurs="0" maxOccurs="unbounded" type="II"/>
         <xs:element name="code" minOccurs="0" maxOccurs="1" type="CE"/>
         <xs:element name="addr" minOccurs="0" maxOccurs="unbounded" type="AD"/>
         <xs:element name="telecom" minOccurs="1" maxOccurs="unbounded" type="TEL"/>
         <xs:element name="statusCode" minOccurs="0" maxOccurs="1" type="CS"/>
         <xs:element name="effectiveTime" minOccurs="0" maxOccurs="1" type="IVL_TS"/>
         <xs:element type="COCT_MT030200.EntityChoice" minOccurs="1" maxOccurs="1" name="contactEntityChoice"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="RoleHeir"/>
      <xs:attribute name="classCode" type="RoleClass"/>
      <xs:attribute name="templateId" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT030200.Employment">
      <xs:sequence>
         <xs:element name="id" minOccurs="0" maxOccurs="unbounded" type="II"/>
         <xs:element name="addr" minOccurs="0" maxOccurs="unbounded" type="AD"/>
         <xs:element name="telecom" minOccurs="0" maxOccurs="unbounded" type="TEL"/>
         <xs:element name="statusCode" minOccurs="0" maxOccurs="1" type="CS"/>
         <xs:element name="effectiveTime" minOccurs="0" maxOccurs="1" type="IVL_TS"/>
         <xs:element name="jobCode" minOccurs="0" maxOccurs="1" type="CE"/>
         <xs:element name="jobTitleName" minOccurs="0" maxOccurs="1" type="SC"/>
         <xs:element name="jobClassCode" minOccurs="0" maxOccurs="1" type="CE"/>
         <xs:element type="COCT_MT150000.Organization" minOccurs="0" maxOccurs="1" name="employerOrganization"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="Employee"/>
      <xs:attribute name="classCode" type="RoleClass"/>
      <xs:attribute name="negationInd" type="bl"/>
      <xs:attribute name="templateId" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT030200.Guarantor">
      <xs:sequence>
         <xs:element name="id" minOccurs="0" maxOccurs="unbounded" type="II"/>
         <xs:element name="addr" minOccurs="0" maxOccurs="unbounded" type="AD"/>
         <xs:element name="telecom" minOccurs="0" maxOccurs="unbounded" type="TEL"/>
         <xs:element name="statusCode" minOccurs="0" maxOccurs="1" type="CS"/>
         <xs:element name="effectiveTime" minOccurs="0" maxOccurs="1" type="IVL_TS"/>
         <xs:element type="COCT_MT030200.EntityChoice" minOccurs="1" maxOccurs="1" name="guarantorEntityChoice"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="RoleHeir"/>
      <xs:attribute name="classCode" type="RoleClass"/>
      <xs:attribute name="templateId" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT030200.Guardian">
      <xs:sequence>
         <xs:element name="id" minOccurs="0" maxOccurs="unbounded" type="II"/>
         <xs:element name="addr" minOccurs="0" maxOccurs="unbounded" type="AD"/>
         <xs:element name="telecom" minOccurs="0" maxOccurs="unbounded" type="TEL"/>
         <xs:element name="statusCode" minOccurs="0" maxOccurs="1" type="CS"/>
         <xs:element name="effectiveTime" minOccurs="0" maxOccurs="1" type="IVL_TS"/>
         <xs:element name="certificateText" minOccurs="0" maxOccurs="1" type="ED"/>
         <xs:element type="COCT_MT030200.EntityChoice" minOccurs="1" maxOccurs="1" name="guardianEntityChoice"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="RoleHeir"/>
      <xs:attribute name="classCode" type="RoleClass"/>
      <xs:attribute name="templateId" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT030200.Member">
      <xs:sequence>
         <xs:element name="id" minOccurs="0" maxOccurs="unbounded" type="II"/>
         <xs:element name="code" minOccurs="0" maxOccurs="1" type="CE"/>
         <xs:element name="statusCode" minOccurs="0" maxOccurs="1" type="CS"/>
         <xs:element name="effectiveTime" minOccurs="0" maxOccurs="1" type="IVL_TS"/>
         <xs:element type="COCT_MT030200.Entity" minOccurs="1" maxOccurs="1" name="groupEntity"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="RoleHeir"/>
      <xs:attribute name="classCode" type="RoleClass"/>
      <xs:attribute name="templateId" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT030200.Entity">
      <xs:sequence>
         <xs:element name="id" minOccurs="0" maxOccurs="unbounded" type="II"/>
         <xs:element name="quantity" minOccurs="0" maxOccurs="1" type="INT"/>
         <xs:element name="name" minOccurs="0" maxOccurs="unbounded" type="EN"/>
         <xs:element name="desc" minOccurs="0" maxOccurs="1" type="ED"/>
         <xs:element name="statusCode" minOccurs="0" maxOccurs="1" type="CS"/>
         <xs:element name="existenceTime" minOccurs="0" maxOccurs="1" type="IVL_TS"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="EntityHeir"/>
      <xs:attribute name="classCode" type="EntityClass"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer"/>
      <xs:attribute name="templateId" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT030200.OtherIDs">
      <xs:sequence>
         <xs:element name="id" minOccurs="1" maxOccurs="unbounded" type="II"/>
         <xs:element type="COCT_MT150000.Organization" minOccurs="0" maxOccurs="1" name="scopingOrganization"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="RoleHeir"/>
      <xs:attribute name="classCode" type="RoleClass"/>
      <xs:attribute name="templateId" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT030200.Student">
      <xs:sequence>
         <xs:element name="id" minOccurs="0" maxOccurs="unbounded" type="II"/>
         <xs:element name="addr" minOccurs="0" maxOccurs="unbounded" type="AD"/>
         <xs:element name="telecom" minOccurs="0" maxOccurs="unbounded" type="TEL"/>
         <xs:element name="statusCode" minOccurs="0" maxOccurs="unbounded" type="CS"/>
         <xs:element name="effectiveTime" minOccurs="0" maxOccurs="1" type="IVL_TS"/>
         <xs:element type="COCT_MT150000.Organization" minOccurs="0" maxOccurs="1" name="schoolOrganization"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="RoleHeir"/>
      <xs:attribute name="classCode" type="RoleClass"/>
      <xs:attribute name="templateId" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT030200.LanguageCommunication">
      <xs:sequence>
         <xs:element name="languageCode" minOccurs="1" maxOccurs="1" type="CE"/>
         <xs:element name="modeCode" minOccurs="0" maxOccurs="1" type="CE"/>
         <xs:element name="proficiencyLevelCode" minOccurs="0" maxOccurs="1" type="CE"/>
         <xs:element name="preferenceInd" minOccurs="0" maxOccurs="1" type="BL"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="LanguageCommunication"/>
      <xs:attribute name="templateId" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT030200.EntityChoice">
      <!-- Empty xs:choice deleted here -->
      <xs:attribute name="type" type="Classes" default="Entity"/>
      <xs:attribute name="templateId" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
      <xs:attribute name="stubId" type="oid" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT030200.EntityChoice_comp1_1">
      <!-- Empty xs:choice deleted here -->
      <xs:attribute name="type" type="Classes" default="LivingSubject"/>
      <xs:attribute name="templateId" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="typeID" use="optional">
         <xs:simpleType>
            <xs:list itemType="oid"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
</xs:schema>