ada_2_hl7/mp-lab/hl7_schemas/COCT_MT990002NL.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:hl7-org:v3" elementFormDefault="qualified" xmlns="urn:hl7-org:v3" xmlns:hl7="urn:hl7-org:v3">
   <xs:include schemaLocation="../coreschemas/datatypes.xsd"/>
   <xs:include schemaLocation="../coreschemas/voc.xsd"/>
   <xs:annotation>
      <xs:documentation>
		Generated using schema builder version 1.21q.
		Stylesheets:
		
		RoseTreeToMIFStaticModel.xsl version: 1.1
		SplitModels.xsl version: 1.1
		AssocInMif.xsl version:1.2
		StaticMifToXsd.xsl version 1.1</xs:documentation>
   </xs:annotation><!--
*****************************************************************************************************************
* XML schema for message type COCT_MT990002NL.
* Generated by XMLITS version 1.21q, Copyright (C) 2002, 2003 by Health Level 7, Inc.
*
* Copyright (c) 2002, 2003, Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
-->
   <xs:include schemaLocation="COCT_MT050000NL.xsd"/>
   <xs:include schemaLocation="COCT_MT090000NL1.xsd"/>
   <xs:group name="COCT_MT990002NL">
      <xs:sequence>
         <xs:element name="ObservationEvent" type="COCT_MT990002NL.ObservationEvent"/>
      </xs:sequence>
   </xs:group>
   <xs:complexType name="COCT_MT990002NL.ObservationEvent">
      <xs:sequence>
         <xs:element name="typeId" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="id"  type="II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="code"  type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text"  type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode"  type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime"  type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="activityTime"  type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="availabilityTime"  type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="confidentialityCode"  type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <!-- changed cardinality from 0..1 to 0..* -->
         <xs:element name="value"  type="ANY" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="interpretationCode"  type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <!-- Toegevoegd t.b.v. medicatiebewaking issue 29509 -->
         <xs:element  name="methodCode"  type="CV"  minOccurs="0"  maxOccurs="1"/>
         <!-- Toegevoegd t.b.v. medicatiebewaking issue 29509 -->
         <xs:element  name="targetSiteCode"  type="CV"  minOccurs="0"  maxOccurs="1"/> 
         <xs:element type="COCT_MT990002NL.Subject"  minOccurs="0" maxOccurs="1" name="subject"/>
         <xs:element type="COCT_MT990002NL.Performer"  minOccurs="0" maxOccurs="1" name="performer"/>
         <xs:element type="COCT_MT990002NL.Author"  minOccurs="0" maxOccurs="1" name="author"/>
         <xs:element type="COCT_MT990002NL.DataEnterer"  minOccurs="0" maxOccurs="1" name="dataEnterer"/>
         <xs:element type="COCT_MT990002NL.Component"  minOccurs="0" maxOccurs="unbounded" name="component"/>
         <xs:element type="COCT_MT990002NL.InFulfillmentOf"  minOccurs="0" maxOccurs="unbounded" name="inFulfillmentOf"/>
         <xs:element type="COCT_MT990002NL.ReferenceRange"  minOccurs="0" maxOccurs="unbounded" name="referenceRange"/>
         <xs:element type="COCT_MT990002NL.Summary"  minOccurs="0" maxOccurs="unbounded" name="summary"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="Observation"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" default="OBS"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" default="EVN"/>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT990002NL.Subject">
      <xs:sequence>
         <xs:element name="typeId" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Patient" type="COCT_MT050000NL.Patient" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="Participation"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" default="SBJ"/>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT990002NL.Performer">
      <xs:sequence>
         <xs:element name="typeId" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="time"  type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="AssignedEntity" type="COCT_MT090000NL1.AssignedEntity" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="Participation"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" default="PRF"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT990002NL.Author">
      <xs:sequence>
         <xs:element name="typeId" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="signatureCode"  type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="signatureText"  type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="AssignedEntity" type="COCT_MT090000NL1.AssignedEntity" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="Participation"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" default="AUT"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT990002NL.DataEnterer">
      <xs:sequence>
         <xs:element name="typeId" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="time"  type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="AssignedEntity" type="COCT_MT090000NL1.AssignedEntity" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="Participation"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" default="ENT"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT990002NL.Component">
      <xs:sequence>
         <xs:element name="typeId" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element type="COCT_MT990002NL.ObservationEvent"  minOccurs="1" maxOccurs="1" name="observationEvent"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" default="COMP"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional"/>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT990002NL.InFulfillmentOf">
      <xs:sequence>
         <xs:element name="typeId" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element type="COCT_MT990002NL.ObservationRequest"  minOccurs="1" maxOccurs="1" name="priorObservationRequest"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" default="FLFS"/>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT990002NL.ObservationRequest">
      <xs:sequence>
         <xs:element name="typeId" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="id"  type="II" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="Observation"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" default="OBS"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" default="RQO"/>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT990002NL.ReferenceRange">
      <xs:sequence>
         <xs:element name="typeId" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element type="COCT_MT990002NL.InterpretationRange"  minOccurs="1" maxOccurs="1" name="referenceInterpretationRange"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" default="REFV"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="ON"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT990002NL.InterpretationRange">
      <xs:sequence>
         <xs:element name="typeId" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="text"  type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="value"  type="ANY" minOccurs="0" maxOccurs="1"/>
         <xs:element name="interpretationCode"  type="CE" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="Observation"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" default="OBS"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" default="EVN.CRT"/>
      <xs:attribute name="negationInd" type="bl" use="optional" default="false"/>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT990002NL.Summary">
      <xs:sequence>
         <xs:element name="typeId" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element type="COCT_MT990002NL.ObservationGrouper"  minOccurs="1" maxOccurs="1" name="summarizingObservationGrouper"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="ActRelationship"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" default="SUMM"/>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT990002NL.ObservationGrouper">
      <xs:sequence>
         <xs:element name="typeId" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="templateId" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code"  type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text"  type="ED" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="type" type="Classes" default="Observation"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" default="OBS"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" default="EVN"/>
      <xs:attribute name="realmCode" use="optional">
         <xs:simpleType>
            <xs:list itemType="cs"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="cs" use="optional"/>
   </xs:complexType>
</xs:schema>