ada_2_fhir-r4/zibs2020/ada_schemas/mobiliteit_registratie.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:annotation>
      <xs:documentation>Schema for transaction: 2.16.840.1.113883.2.4.3.11.60.121.4.2.4.3</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="empty_string">
      <xs:annotation>
         <xs:documentation>Type for empty value-strings on non-mandatory concepts</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="0"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:element name="mobiliteit_registratie" type="mobiliteit_registratie_type"/>
   <xs:complexType name="mobiliteit_registratie_type">
      <xs:sequence>
         <xs:element name="mobiliteit-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.4.3.1"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="mobiliteit"
                     type="mobiliteit_type_2_16_840_1_113883_2_4_3_11_60_40_1_4_3_1"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:string"/>
      <xs:attribute name="app" type="xs:string"/>
      <xs:attribute name="shortName" type="xs:string" use="optional"/>
      <xs:attribute name="formName" type="xs:string" use="optional"/>
      <xs:attribute name="transactionRef" type="xs:string"/>
      <xs:attribute name="transactionEffectiveDate" type="xs:dateTime"/>
      <xs:attribute name="versionDate" type="xs:string"/>
      <xs:attribute name="language" type="xs:string"/>
      <xs:attribute name="prefix" type="xs:string"/>
      <xs:attribute name="adaVersion" type="xs:decimal"/>
      <xs:attribute name="title" type="xs:string"/>
      <xs:attribute name="desc" type="xs:string"/>
      <xs:attribute name="rights" type="xs:string"/>
      <xs:attribute name="owner" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="mobiliteit_type_2_16_840_1_113883_2_4_3_11_60_40_1_4_3_1">
      <xs:annotation>
         <xs:documentation>Type for concept group: Mobiliteit</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="onderwerp-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="​2.16.840.1.113883.2.4.3.11.999.121.1.1"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="onderwerp"
                     type="onderwerp_type_​2_16_840_1_113883_2_4_3_11_999_121_1_1"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="referenties-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="​2.16.840.1.113883.2.4.3.11.999.121.1.3"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="referenties"
                     type="referenties_type_​2_16_840_1_113883_2_4_3_11_999_121_1_3"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="lopen-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.4.3.3"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="lopen"
                     type="lopen_type_2_16_840_1_113883_2_4_3_11_60_40_1_4_3_3"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="traplopen-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.4.3.18"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="traplopen"
                     type="traplopen_type_2_16_840_1_113883_2_4_3_11_60_40_1_4_3_18"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="houding_veranderen-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.4.3.8"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="houding_veranderen"
                     type="houding_veranderen_type_2_16_840_1_113883_2_4_3_11_60_40_1_4_3_8"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="houding_handhaven-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.4.3.12"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="houding_handhaven"
                     type="houding_handhaven_type_2_16_840_1_113883_2_4_3_11_60_40_1_4_3_12"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="uitvoeren_transfer-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.4.3.5"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="uitvoeren_transfer"
                     type="uitvoeren_transfer_type_2_16_840_1_113883_2_4_3_11_60_40_1_4_3_5"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="medisch_hulpmiddel-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.4.3.4"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="medisch_hulpmiddel"
                     type="medisch_hulpmiddel_type_2_16_840_1_113883_2_4_3_11_60_40_1_4_3_4"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="toelichting-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.4.3.16"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="toelichting"
                     type="toelichting_type_2_16_840_1_113883_2_4_3_11_60_40_1_4_3_16"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.4.3.1"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="onderwerp_type_​2_16_840_1_113883_2_4_3_11_999_121_1_1">
      <xs:annotation>
         <xs:documentation>Type for concept group: Onderwerp</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="patient-id-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="​2.16.840.1.113883.2.4.3.11.999.121.1.2"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="patient-id"
                     type="patient-id_type_​2_16_840_1_113883_2_4_3_11_999_121_1_2"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="​2.16.840.1.113883.2.4.3.11.999.121.1.1"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="referenties_type_​2_16_840_1_113883_2_4_3_11_999_121_1_3">
      <xs:annotation>
         <xs:documentation>Type for concept group: Referenties</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="medisch_hulpmiddel-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.10.1.1"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="medisch_hulpmiddel"
                     type="medisch_hulpmiddel_type_2_16_840_1_113883_2_4_3_11_60_40_1_10_1_1"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="​2.16.840.1.113883.2.4.3.11.999.121.1.3"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="medisch_hulpmiddel_type_2_16_840_1_113883_2_4_3_11_60_40_1_10_1_1">
      <xs:annotation>
         <xs:documentation>Type for concept group: MedischHulpmiddel</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="product-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.10.1.2"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="product"
                     type="product_type_2_16_840_1_113883_2_4_3_11_60_40_1_10_1_2"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="product_omschrijving-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.10.1.13"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="product_omschrijving"
                     type="product_omschrijving_type_2_16_840_1_113883_2_4_3_11_60_40_1_10_1_13"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="anatomische_locatie-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.10.1.15"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="anatomische_locatie"
                     type="anatomische_locatie_type_2_16_840_1_113883_2_4_3_11_60_40_1_10_1_15"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="indicatie-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.10.1.7"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="indicatie"
                     type="indicatie_type_2_16_840_1_113883_2_4_3_11_60_40_1_10_1_7"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="begin_datum-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.10.1.11"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="begin_datum"
                     type="begin_datum_type_2_16_840_1_113883_2_4_3_11_60_40_1_10_1_11"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="eind_datum-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.10.1.14"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="eind_datum"
                     type="eind_datum_type_2_16_840_1_113883_2_4_3_11_60_40_1_10_1_14"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="toelichting-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.10.1.10"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="toelichting"
                     type="toelichting_type_2_16_840_1_113883_2_4_3_11_60_40_1_10_1_10"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="locatie-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.10.1.8"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="locatie"
                     type="locatie_type_2_16_840_1_113883_2_4_3_11_60_40_1_10_1_8"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="zorgverlener-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.10.1.9"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="zorgverlener"
                     type="zorgverlener_type_2_16_840_1_113883_2_4_3_11_60_40_1_10_1_9"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.10.1.1"/>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="product_type_2_16_840_1_113883_2_4_3_11_60_40_1_10_1_2">
      <xs:annotation>
         <xs:documentation>Type for concept group: Product</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="product_id-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.10.1.4"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="product_id"
                     type="product_id_type_2_16_840_1_113883_2_4_3_11_60_40_1_10_1_4"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="product_type-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.10.1.3"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="product_type"
                     type="product_type_type_2_16_840_1_113883_2_4_3_11_60_40_1_10_1_3"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.10.1.2"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="anatomische_locatie_type_2_16_840_1_113883_2_4_3_11_60_40_1_10_1_15">
      <xs:annotation>
         <xs:documentation>Type for concept group: AnatomischeLocatie</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="locatie-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.121.2.269"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="locatie"
                     type="locatie_type_2_16_840_1_113883_2_4_3_11_60_121_2_269"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="lateraliteit-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.121.2.270"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="lateraliteit"
                     type="lateraliteit_type_2_16_840_1_113883_2_4_3_11_60_121_2_270"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.10.1.15"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="indicatie_type_2_16_840_1_113883_2_4_3_11_60_40_1_10_1_7">
      <xs:annotation>
         <xs:documentation>Type for concept group: Indicatie</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="probleem-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.121.2.271"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="probleem"
                     type="probleem_type_2_16_840_1_113883_2_4_3_11_60_121_2_271"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.10.1.7"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="locatie_type_2_16_840_1_113883_2_4_3_11_60_40_1_10_1_8">
      <xs:annotation>
         <xs:documentation>Type for concept group: Locatie</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="zorgaanbieder-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.121.2.272"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="zorgaanbieder"
                     type="zorgaanbieder_type_2_16_840_1_113883_2_4_3_11_60_121_2_272"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.10.1.8"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="zorgverlener_type_2_16_840_1_113883_2_4_3_11_60_40_1_10_1_9">
      <xs:annotation>
         <xs:documentation>Type for concept group: Zorgverlener</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="zorgverlener-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.121.2.273"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="zorgverlener"
                     type="zorgverlener_type_2_16_840_1_113883_2_4_3_11_60_121_2_273"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.10.1.9"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="medisch_hulpmiddel_type_2_16_840_1_113883_2_4_3_11_60_40_1_4_3_4">
      <xs:annotation>
         <xs:documentation>Type for concept group: MedischHulpmiddel</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="medisch_hulpmiddel-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.121.2.274"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="medisch_hulpmiddel"
                     type="medisch_hulpmiddel_type_2_16_840_1_113883_2_4_3_11_60_121_2_274"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.4.3.4"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Patient identificatie - 1..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="patient-id_type_​2_16_840_1_113883_2_4_3_11_999_121_1_2">
      <xs:sequence>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="​2.16.840.1.113883.2.4.3.11.999.121.1.2"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:union memberTypes="patient-id_1_datatype_​2_16_840_1_113883_2_4_3_11_999_121_1_2 "/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="identifier"/>
      <xs:attribute name="root" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>simpleType for valueDomain: Patient identificatie: identifier</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="patient-id_1_datatype_​2_16_840_1_113883_2_4_3_11_999_121_1_2">
      <xs:restriction base="xs:string"/>
   </xs:simpleType>
   <xs:annotation>
      <xs:documentation>Type for concept item: ProductID - 0..* </xs:documentation>
   </xs:annotation>
   <xs:complexType name="product_id_type_2_16_840_1_113883_2_4_3_11_60_40_1_10_1_4">
      <xs:sequence>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.10.1.4"/>
      <xs:attribute name="value" type="xs:string"/>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="code"/>
      <xs:attribute name="code" type="xs:string"/>
      <xs:attribute name="codeSystem" type="xs:string"/>
      <xs:attribute name="codeSystemName" type="xs:string"/>
      <xs:attribute name="codeSystemVersion" type="xs:string"/>
      <xs:attribute name="displayName" type="xs:string"/>
      <xs:attribute name="preferred" type="BooleanOrEmpty"/>
      <xs:attribute name="originalText" type="xs:string"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: ProductType - 0..* </xs:documentation>
   </xs:annotation>
   <xs:complexType name="product_type_type_2_16_840_1_113883_2_4_3_11_60_40_1_10_1_3">
      <xs:sequence>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.10.1.3"/>
      <xs:attribute name="value" type="xs:string"/>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="code"/>
      <xs:attribute name="code" type="xs:string"/>
      <xs:attribute name="codeSystem" type="xs:string"/>
      <xs:attribute name="codeSystemName" type="xs:string"/>
      <xs:attribute name="codeSystemVersion" type="xs:string"/>
      <xs:attribute name="displayName" type="xs:string"/>
      <xs:attribute name="preferred" type="BooleanOrEmpty"/>
      <xs:attribute name="originalText" type="xs:string"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: ProductOmschrijving - 0..* </xs:documentation>
   </xs:annotation>
   <xs:complexType name="product_omschrijving_type_2_16_840_1_113883_2_4_3_11_60_40_1_10_1_13">
      <xs:sequence>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.10.1.13"/>
      <xs:attribute name="value" type="xs:string"/>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Locatie - 0..* </xs:documentation>
   </xs:annotation>
   <xs:complexType name="locatie_type_2_16_840_1_113883_2_4_3_11_60_121_2_269">
      <xs:sequence>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.121.2.269"/>
      <xs:attribute name="value" type="xs:string"/>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="code"/>
      <xs:attribute name="code" type="xs:string"/>
      <xs:attribute name="codeSystem" type="xs:string"/>
      <xs:attribute name="codeSystemName" type="xs:string"/>
      <xs:attribute name="codeSystemVersion" type="xs:string"/>
      <xs:attribute name="displayName" type="xs:string"/>
      <xs:attribute name="preferred" type="BooleanOrEmpty"/>
      <xs:attribute name="originalText" type="xs:string"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Lateraliteit - 0..* </xs:documentation>
   </xs:annotation>
   <xs:complexType name="lateraliteit_type_2_16_840_1_113883_2_4_3_11_60_121_2_270">
      <xs:sequence>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.121.2.270"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:annotation>
                  <xs:documentation>valueSet/conceptList/concept</xs:documentation>
               </xs:annotation>
               <xs:enumeration value="">
                  <xs:annotation>
                     <xs:documentation>Empty</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="1">
                  <xs:annotation>
                     <xs:documentation>left</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="2">
                  <xs:annotation>
                     <xs:documentation>right</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="3">
                  <xs:annotation>
                     <xs:documentation>bilateral</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="code"/>
      <xs:attribute name="code" type="xs:string"/>
      <xs:attribute name="codeSystem" type="xs:string"/>
      <xs:attribute name="codeSystemName" type="xs:string"/>
      <xs:attribute name="codeSystemVersion" type="xs:string"/>
      <xs:attribute name="displayName" type="xs:string"/>
      <xs:attribute name="preferred" type="BooleanOrEmpty"/>
      <xs:attribute name="originalText" type="xs:string"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Probleem - 0..* </xs:documentation>
   </xs:annotation>
   <xs:complexType name="probleem_type_2_16_840_1_113883_2_4_3_11_60_121_2_271">
      <xs:sequence>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.121.2.271"/>
      <xs:attribute name="value" type="xs:string"/>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="reference"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: BeginDatum - 0..* </xs:documentation>
   </xs:annotation>
   <xs:complexType name="begin_datum_type_2_16_840_1_113883_2_4_3_11_60_40_1_10_1_11">
      <xs:sequence>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.10.1.11"/>
      <xs:attribute name="value" type="VariableDateTime"/>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="datetime"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: EindDatum - 0..* </xs:documentation>
   </xs:annotation>
   <xs:complexType name="eind_datum_type_2_16_840_1_113883_2_4_3_11_60_40_1_10_1_14">
      <xs:sequence>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.10.1.14"/>
      <xs:attribute name="value" type="VariableDateTime"/>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="datetime"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Toelichting - 0..* </xs:documentation>
   </xs:annotation>
   <xs:complexType name="toelichting_type_2_16_840_1_113883_2_4_3_11_60_40_1_10_1_10">
      <xs:sequence>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.10.1.10"/>
      <xs:attribute name="value" type="xs:string"/>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Zorgaanbieder - 0..* </xs:documentation>
   </xs:annotation>
   <xs:complexType name="zorgaanbieder_type_2_16_840_1_113883_2_4_3_11_60_121_2_272">
      <xs:sequence>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.121.2.272"/>
      <xs:attribute name="value" type="xs:string"/>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="reference"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Zorgverlener - 0..* </xs:documentation>
   </xs:annotation>
   <xs:complexType name="zorgverlener_type_2_16_840_1_113883_2_4_3_11_60_121_2_273">
      <xs:sequence>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.121.2.273"/>
      <xs:attribute name="value" type="xs:string"/>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="reference"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Lopen - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="lopen_type_2_16_840_1_113883_2_4_3_11_60_40_1_4_3_3">
      <xs:sequence>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.4.3.3"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:annotation>
                  <xs:documentation>valueSet/conceptList/concept</xs:documentation>
               </xs:annotation>
               <xs:enumeration value="">
                  <xs:annotation>
                     <xs:documentation>Empty</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="1">
                  <xs:annotation>
                     <xs:documentation>Independent walking</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="2">
                  <xs:annotation>
                     <xs:documentation>Needs help with walking</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="3">
                  <xs:annotation>
                     <xs:documentation>Unable to walk</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="code"/>
      <xs:attribute name="code" type="xs:string"/>
      <xs:attribute name="codeSystem" type="xs:string"/>
      <xs:attribute name="codeSystemName" type="xs:string"/>
      <xs:attribute name="codeSystemVersion" type="xs:string"/>
      <xs:attribute name="displayName" type="xs:string"/>
      <xs:attribute name="preferred" type="BooleanOrEmpty"/>
      <xs:attribute name="originalText" type="xs:string"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Traplopen - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="traplopen_type_2_16_840_1_113883_2_4_3_11_60_40_1_4_3_18">
      <xs:sequence>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.4.3.18"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:annotation>
                  <xs:documentation>valueSet/conceptList/concept</xs:documentation>
               </xs:annotation>
               <xs:enumeration value="">
                  <xs:annotation>
                     <xs:documentation>Empty</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="1">
                  <xs:annotation>
                     <xs:documentation>Independent on stairs</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="2">
                  <xs:annotation>
                     <xs:documentation>Needs help on stairs</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="3">
                  <xs:annotation>
                     <xs:documentation>Unable to manage stairs</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="code"/>
      <xs:attribute name="code" type="xs:string"/>
      <xs:attribute name="codeSystem" type="xs:string"/>
      <xs:attribute name="codeSystemName" type="xs:string"/>
      <xs:attribute name="codeSystemVersion" type="xs:string"/>
      <xs:attribute name="displayName" type="xs:string"/>
      <xs:attribute name="preferred" type="BooleanOrEmpty"/>
      <xs:attribute name="originalText" type="xs:string"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: HoudingVeranderen - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="houding_veranderen_type_2_16_840_1_113883_2_4_3_11_60_40_1_4_3_8">
      <xs:sequence>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.4.3.8"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:annotation>
                  <xs:documentation>valueSet/conceptList/concept</xs:documentation>
               </xs:annotation>
               <xs:enumeration value="">
                  <xs:annotation>
                     <xs:documentation>Empty</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="1">
                  <xs:annotation>
                     <xs:documentation>Independently able to change position</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="2">
                  <xs:annotation>
                     <xs:documentation>Needs help with changing position</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="3">
                  <xs:annotation>
                     <xs:documentation>Unable to change position</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="code"/>
      <xs:attribute name="code" type="xs:string"/>
      <xs:attribute name="codeSystem" type="xs:string"/>
      <xs:attribute name="codeSystemName" type="xs:string"/>
      <xs:attribute name="codeSystemVersion" type="xs:string"/>
      <xs:attribute name="displayName" type="xs:string"/>
      <xs:attribute name="preferred" type="BooleanOrEmpty"/>
      <xs:attribute name="originalText" type="xs:string"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: HoudingHandhaven - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="houding_handhaven_type_2_16_840_1_113883_2_4_3_11_60_40_1_4_3_12">
      <xs:sequence>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.4.3.12"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:annotation>
                  <xs:documentation>valueSet/conceptList/concept</xs:documentation>
               </xs:annotation>
               <xs:enumeration value="">
                  <xs:annotation>
                     <xs:documentation>Empty</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="1">
                  <xs:annotation>
                     <xs:documentation>Independently able to maintain position</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="2">
                  <xs:annotation>
                     <xs:documentation>Needs help with maintaining position</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="3">
                  <xs:annotation>
                     <xs:documentation>Unable to maintain a position</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="code"/>
      <xs:attribute name="code" type="xs:string"/>
      <xs:attribute name="codeSystem" type="xs:string"/>
      <xs:attribute name="codeSystemName" type="xs:string"/>
      <xs:attribute name="codeSystemVersion" type="xs:string"/>
      <xs:attribute name="displayName" type="xs:string"/>
      <xs:attribute name="preferred" type="BooleanOrEmpty"/>
      <xs:attribute name="originalText" type="xs:string"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: UitvoerenTransfer - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="uitvoeren_transfer_type_2_16_840_1_113883_2_4_3_11_60_40_1_4_3_5">
      <xs:sequence>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.4.3.5"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:annotation>
                  <xs:documentation>valueSet/conceptList/concept</xs:documentation>
               </xs:annotation>
               <xs:enumeration value="">
                  <xs:annotation>
                     <xs:documentation>Empty</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="1">
                  <xs:annotation>
                     <xs:documentation>Independent ability to transfer location</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="2">
                  <xs:annotation>
                     <xs:documentation>Able to transfer location with assistance</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="3">
                  <xs:annotation>
                     <xs:documentation>Ability to transfer location with assistance</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="4">
                  <xs:annotation>
                     <xs:documentation>Unable to transfer location</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="code"/>
      <xs:attribute name="code" type="xs:string"/>
      <xs:attribute name="codeSystem" type="xs:string"/>
      <xs:attribute name="codeSystemName" type="xs:string"/>
      <xs:attribute name="codeSystemVersion" type="xs:string"/>
      <xs:attribute name="displayName" type="xs:string"/>
      <xs:attribute name="preferred" type="BooleanOrEmpty"/>
      <xs:attribute name="originalText" type="xs:string"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: MedischHulpmiddel - 1..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="medisch_hulpmiddel_type_2_16_840_1_113883_2_4_3_11_60_121_2_274">
      <xs:sequence>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.121.2.274"/>
      <xs:attribute name="value" type="xs:string"/>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="reference"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Toelichting - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="toelichting_type_2_16_840_1_113883_2_4_3_11_60_40_1_4_3_16">
      <xs:sequence>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.4.3.16"/>
      <xs:attribute name="value" type="xs:string"/>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:complexType name="adaextension_type">
      <xs:sequence>
         <xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:anyAttribute processContents="skip"/>
   </xs:complexType>
   <xs:simpleType name="NullFlavorNoInformation">
      <xs:restriction base="xs:string">
         <xs:enumeration value=""/>
         <xs:enumeration value="NI"/>
         <xs:enumeration value="UNK"/>
         <xs:enumeration value="OTH"/>
         <xs:enumeration value="MSK"/>
         <xs:enumeration value="UNC"/>
         <xs:enumeration value="NA"/>
         <xs:enumeration value="NAV"/>
         <xs:enumeration value="ASKU"/>
         <xs:enumeration value="NASK"/>
         <xs:enumeration value="INV"/>
         <xs:enumeration value="DER"/>
         <xs:enumeration value="NINF"/>
         <xs:enumeration value="PINF"/>
         <xs:enumeration value="QS"/>
         <xs:enumeration value="TRC"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="ComplexDatatypes">
      <xs:restriction base="xs:string">
         <xs:enumeration value="string"/>
         <xs:enumeration value="code"/>
         <xs:enumeration value="identifier"/>
         <xs:enumeration value="date"/>
         <xs:enumeration value="datetime"/>
         <xs:enumeration value="time"/>
         <xs:enumeration value="quantity"/>
         <xs:enumeration value="duration"/>
         <xs:enumeration value="boolean"/>
         <xs:enumeration value="count"/>
         <xs:enumeration value="ordinal"/>
         <xs:enumeration value="text"/>
         <xs:enumeration value="decimal"/>
         <xs:enumeration value="blob"/>
         <xs:enumeration value="complex"/>
         <xs:enumeration value="reference"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="VariableDate">
      <xs:union memberTypes="xs:date RelativeDate"/>
   </xs:simpleType>
   <xs:simpleType name="VariableDateTime">
      <xs:union memberTypes="xs:dateTime xs:date RelativeDateTime RelativeDate"/>
   </xs:simpleType>
   <xs:simpleType name="VariableVagueDate">
      <xs:union memberTypes="xs:date RelativeDate DateYearOptionalMonthNoDays"/>
   </xs:simpleType>
   <xs:simpleType name="VariableVagueDateTime">
      <xs:union memberTypes="xs:dateTime xs:date RelativeDateTime DateYearOptionalMonthNoDays DateTimeOptionalMinutesSeconds"/>
   </xs:simpleType>
   <xs:simpleType name="VagueDate">
      <xs:union memberTypes="xs:date DateYearOptionalMonthNoDays"/>
   </xs:simpleType>
   <xs:simpleType name="VagueDateTime">
      <xs:union memberTypes="xs:dateTime xs:date DateYearOptionalMonthNoDays DateTimeOptionalMinutesSeconds"/>
   </xs:simpleType>
   <xs:simpleType name="RelativeDate">
      <xs:restriction base="xs:string">
         <xs:pattern value="T([+\-](\d+(\.\d+)?[YMD]){1,3})?"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="RelativeDateTime">
      <xs:restriction base="xs:string">
         <xs:pattern value="T([+\-](\d+(\.\d+)?[YMD]){1,3})?(\{([01]\d|2[0-3]):(0\d|[1-5]\d)(:(0\d|[1-5]\d))?\})?"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="DateYear">
      <xs:restriction base="xs:string">
         <xs:pattern value="\d{4}"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="DateYearMonth">
      <xs:restriction base="xs:string">
         <xs:pattern value="\d{4}-(0[1-9]|1[012])"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="DateYearOptionalMonthNoDays">
      <xs:restriction base="xs:string">
         <xs:pattern value="\d{4}(-(0[1-9]|1[012]))?"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="DateTimeOptionalMinutesSeconds">
      <xs:restriction base="xs:string">
         <xs:pattern value="\d{4}-(0[1-9]|1[012])-(0[1-9]|[12]\d|3[01])T([01]\d|2[0-3])(:(0\d|[1-5]\d)(:(0\d|[1-5]\d))?)?"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="VariableVagueTime">
      <xs:union memberTypes="xs:time RelativeTime TimeHourOptionalMinutesSeconds"/>
   </xs:simpleType>
   <xs:simpleType name="VariableTime">
      <xs:union memberTypes="xs:time RelativeTime"/>
   </xs:simpleType>
   <xs:simpleType name="VagueTime">
      <xs:union memberTypes="xs:time TimeHourOptionalMinutesSeconds"/>
   </xs:simpleType>
   <xs:simpleType name="RelativeTime">
      <xs:restriction base="xs:string">
         <xs:pattern value="T(([+\-]\d+(\.\d+)?[HMS])?(\{:(0\d|[1-5]\d)(:(0\d|[1-5]\d))?\})?)?"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="TimeHourOptionalMinutesSeconds">
      <xs:restriction base="xs:string">
         <xs:pattern value="([01]\d|2[0-3])(:(0\d|[1-5]\d)(:(0\d|[1-5]\d))?)?"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="TimeHour">
      <xs:restriction base="xs:string">
         <xs:pattern value="[01]\d|2[0-3]"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="TimeHourMinute">
      <xs:restriction base="xs:string">
         <xs:pattern value="([01]\d|2[0-3]):(0\d|[1-5]\d)"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="BooleanOrEmpty">
      <xs:restriction base="xs:string">
         <xs:enumeration value=""/>
         <xs:enumeration value="true"/>
         <xs:enumeration value="true"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
