ada_2_fhir-r4/zibs2020/ada_schemas/ontwikkeling_kind_registratie_draft.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:annotation>
      <xs:documentation>Schema for transaction: 2.16.840.1.113883.2.4.3.11.60.121.4.2.4.32</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="empty_string">
      <xs:annotation>
         <xs:documentation>Type for empty value-strings on non-mandatory concepts</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="0"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:element name="ontwikkeling_kind_registratie"
               type="ontwikkeling_kind_registratie_type"/>
   <xs:complexType name="ontwikkeling_kind_registratie_type">
      <xs:sequence>
         <xs:element name="ontwikkeling_kind-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.4.32.1"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="ontwikkeling_kind"
                     type="ontwikkeling_kind_type_2_16_840_1_113883_2_4_3_11_60_40_1_4_32_1"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:string"/>
      <xs:attribute name="app" type="xs:string"/>
      <xs:attribute name="shortName" type="xs:string"/>
      <xs:attribute name="formName" type="xs:string"/>
      <xs:attribute name="transactionRef" type="xs:string"/>
      <xs:attribute name="transactionEffectiveDate" type="xs:dateTime"/>
      <xs:attribute name="versionDate" type="xs:string"/>
      <xs:attribute name="language" type="xs:string"/>
      <xs:attribute name="prefix" type="xs:string"/>
      <xs:attribute name="adaVersion" type="xs:decimal"/>
      <xs:attribute name="title" type="xs:string"/>
      <xs:attribute name="desc" type="xs:string"/>
      <xs:attribute name="rights" type="xs:string"/>
      <xs:attribute name="owner" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="ontwikkeling_kind_type_2_16_840_1_113883_2_4_3_11_60_40_1_4_32_1">
      <xs:annotation>
         <xs:documentation>Type for concept group: OntwikkelingKind</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="onderwerp-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="​2.16.840.1.113883.2.4.3.11.999.121.1.1"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="onderwerp"
                     type="onderwerp_type_​2_16_840_1_113883_2_4_3_11_999_121_1_1"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="ontwikkeling_kind_datum_tijd-start"
                     minOccurs="0"
                     maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.4.32.2"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="ontwikkeling_kind_datum_tijd"
                     type="ontwikkeling_kind_datum_tijd_type_2_16_840_1_113883_2_4_3_11_60_40_1_4_32_2"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="zindelijkheid_urine-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.4.32.4"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="zindelijkheid_urine"
                     type="zindelijkheid_urine_type_2_16_840_1_113883_2_4_3_11_60_40_1_4_32_4"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="zindelijkheid_feces-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.4.32.5"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="zindelijkheid_feces"
                     type="zindelijkheid_feces_type_2_16_840_1_113883_2_4_3_11_60_40_1_4_32_5"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="leeftijd_eerste_menstruatie-start"
                     minOccurs="0"
                     maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.4.32.7"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="leeftijd_eerste_menstruatie"
                     type="leeftijd_eerste_menstruatie_type_2_16_840_1_113883_2_4_3_11_60_40_1_4_32_7"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="ontwikkeling_motoriek-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.4.32.6"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="ontwikkeling_motoriek"
                     type="ontwikkeling_motoriek_type_2_16_840_1_113883_2_4_3_11_60_40_1_4_32_6"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="ontwikkeling_sociaal-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.4.32.8"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="ontwikkeling_sociaal"
                     type="ontwikkeling_sociaal_type_2_16_840_1_113883_2_4_3_11_60_40_1_4_32_8"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="ontwikkeling_taal-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.4.32.9"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="ontwikkeling_taal"
                     type="ontwikkeling_taal_type_2_16_840_1_113883_2_4_3_11_60_40_1_4_32_9"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="ontwikkeling_verstandelijk-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.4.32.10"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="ontwikkeling_verstandelijk"
                     type="ontwikkeling_verstandelijk_type_2_16_840_1_113883_2_4_3_11_60_40_1_4_32_10"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="toelichting-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.4.32.3"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="toelichting"
                     type="toelichting_type_2_16_840_1_113883_2_4_3_11_60_40_1_4_32_3"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.4.32.1"/>
      <xs:attribute name="comment" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="onderwerp_type_​2_16_840_1_113883_2_4_3_11_999_121_1_1">
      <xs:annotation>
         <xs:documentation>Type for concept group: Onderwerp</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="patient-id-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="​2.16.840.1.113883.2.4.3.11.999.121.1.2"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="patient-id"
                     type="patient-id_type_​2_16_840_1_113883_2_4_3_11_999_121_1_2"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="​2.16.840.1.113883.2.4.3.11.999.121.1.1"/>
      <xs:attribute name="comment" type="xs:string"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Patient identificatie - 1..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="patient-id_type_​2_16_840_1_113883_2_4_3_11_999_121_1_2">
      <xs:sequence>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="​2.16.840.1.113883.2.4.3.11.999.121.1.2"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:union memberTypes="patient-id_1_datatype_​2_16_840_1_113883_2_4_3_11_999_121_1_2 "/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="identifier"/>
      <xs:attribute name="root" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>simpleType for valueDomain: Patient identificatie: identifier</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="patient-id_1_datatype_​2_16_840_1_113883_2_4_3_11_999_121_1_2">
      <xs:restriction base="xs:string"/>
   </xs:simpleType>
   <xs:annotation>
      <xs:documentation>Type for concept item: OntwikkelingKindDatumTijd - 1..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="ontwikkeling_kind_datum_tijd_type_2_16_840_1_113883_2_4_3_11_60_40_1_4_32_2">
      <xs:sequence>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.4.32.2"/>
      <xs:attribute name="value" type="VariableDateTime"/>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="datetime"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: ZindelijkheidUrine - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="zindelijkheid_urine_type_2_16_840_1_113883_2_4_3_11_60_40_1_4_32_4">
      <xs:sequence>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.4.32.4"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:annotation>
                  <xs:documentation>valueSet/conceptList/concept</xs:documentation>
               </xs:annotation>
               <xs:enumeration value="">
                  <xs:annotation>
                     <xs:documentation>Empty</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="1">
                  <xs:annotation>
                     <xs:documentation>No control of bladder - child</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="2">
                  <xs:annotation>
                     <xs:documentation>Full control of bladder only in daytime</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="3">
                  <xs:annotation>
                     <xs:documentation>Occassional bladder accident - child</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="4">
                  <xs:annotation>
                     <xs:documentation>Full control of bladder - child</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="code"/>
      <xs:attribute name="code" type="xs:string"/>
      <xs:attribute name="codeSystem" type="xs:string"/>
      <xs:attribute name="codeSystemName" type="xs:string"/>
      <xs:attribute name="codeSystemVersion" type="xs:string"/>
      <xs:attribute name="displayName" type="xs:string"/>
      <xs:attribute name="preferred" type="BooleanOrEmpty"/>
      <xs:attribute name="originalText" type="xs:string"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: ZindelijkheidFeces - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="zindelijkheid_feces_type_2_16_840_1_113883_2_4_3_11_60_40_1_4_32_5">
      <xs:sequence>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.4.32.5"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:annotation>
                  <xs:documentation>valueSet/conceptList/concept</xs:documentation>
               </xs:annotation>
               <xs:enumeration value="">
                  <xs:annotation>
                     <xs:documentation>Empty</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="1">
                  <xs:annotation>
                     <xs:documentation>No control of bowel - child</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="2">
                  <xs:annotation>
                     <xs:documentation>Occassional bowel accident - child</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="3">
                  <xs:annotation>
                     <xs:documentation>Full control of bowel - child</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="code"/>
      <xs:attribute name="code" type="xs:string"/>
      <xs:attribute name="codeSystem" type="xs:string"/>
      <xs:attribute name="codeSystemName" type="xs:string"/>
      <xs:attribute name="codeSystemVersion" type="xs:string"/>
      <xs:attribute name="displayName" type="xs:string"/>
      <xs:attribute name="preferred" type="BooleanOrEmpty"/>
      <xs:attribute name="originalText" type="xs:string"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: LeeftijdEersteMenstruatie - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="leeftijd_eerste_menstruatie_type_2_16_840_1_113883_2_4_3_11_60_40_1_4_32_7">
      <xs:sequence>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.4.32.7"/>
      <xs:attribute name="value" type="xs:decimal"/>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="quantity"/>
      <xs:attribute name="unit" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: OntwikkelingMotoriek - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="ontwikkeling_motoriek_type_2_16_840_1_113883_2_4_3_11_60_40_1_4_32_6">
      <xs:sequence>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.4.32.6"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:annotation>
                  <xs:documentation>valueSet/conceptList/concept</xs:documentation>
               </xs:annotation>
               <xs:enumeration value="">
                  <xs:annotation>
                     <xs:documentation>Empty</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="1">
                  <xs:annotation>
                     <xs:documentation>Able to roll over</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="2">
                  <xs:annotation>
                     <xs:documentation>Able to crawl</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="3">
                  <xs:annotation>
                     <xs:documentation>Able to sit unsupported</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="4">
                  <xs:annotation>
                     <xs:documentation>Able to pull to standing from sitting</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="5">
                  <xs:annotation>
                     <xs:documentation>Independent walking</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="code"/>
      <xs:attribute name="code" type="xs:string"/>
      <xs:attribute name="codeSystem" type="xs:string"/>
      <xs:attribute name="codeSystemName" type="xs:string"/>
      <xs:attribute name="codeSystemVersion" type="xs:string"/>
      <xs:attribute name="displayName" type="xs:string"/>
      <xs:attribute name="preferred" type="BooleanOrEmpty"/>
      <xs:attribute name="originalText" type="xs:string"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: OntwikkelingSociaal - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="ontwikkeling_sociaal_type_2_16_840_1_113883_2_4_3_11_60_40_1_4_32_8">
      <xs:sequence>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.4.32.8"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:annotation>
                  <xs:documentation>valueSet/conceptList/concept</xs:documentation>
               </xs:annotation>
               <xs:enumeration value="">
                  <xs:annotation>
                     <xs:documentation>Empty</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="1">
                  <xs:annotation>
                     <xs:documentation>Smiles back</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="2">
                  <xs:annotation>
                     <xs:documentation>Able to give and take</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="3">
                  <xs:annotation>
                     <xs:documentation>Able to play with other children</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="4">
                  <xs:annotation>
                     <xs:documentation>Able to make friends</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="5">
                  <xs:annotation>
                     <xs:documentation>Able to show empathy</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="code"/>
      <xs:attribute name="code" type="xs:string"/>
      <xs:attribute name="codeSystem" type="xs:string"/>
      <xs:attribute name="codeSystemName" type="xs:string"/>
      <xs:attribute name="codeSystemVersion" type="xs:string"/>
      <xs:attribute name="displayName" type="xs:string"/>
      <xs:attribute name="preferred" type="BooleanOrEmpty"/>
      <xs:attribute name="originalText" type="xs:string"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: OntwikkelingTaal - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="ontwikkeling_taal_type_2_16_840_1_113883_2_4_3_11_60_40_1_4_32_9">
      <xs:sequence>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.4.32.9"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:annotation>
                  <xs:documentation>valueSet/conceptList/concept</xs:documentation>
               </xs:annotation>
               <xs:enumeration value="">
                  <xs:annotation>
                     <xs:documentation>Empty</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="1">
                  <xs:annotation>
                     <xs:documentation>Speech babble</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="2">
                  <xs:annotation>
                     <xs:documentation>Able to comprehend short daily used sentences</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="3">
                  <xs:annotation>
                     <xs:documentation>Able to speak short daily used sentences</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="4">
                  <xs:annotation>
                     <xs:documentation>Speaks intelligibly for acquaintances</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="5">
                  <xs:annotation>
                     <xs:documentation>Speaks intelligibly for strangers</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="code"/>
      <xs:attribute name="code" type="xs:string"/>
      <xs:attribute name="codeSystem" type="xs:string"/>
      <xs:attribute name="codeSystemName" type="xs:string"/>
      <xs:attribute name="codeSystemVersion" type="xs:string"/>
      <xs:attribute name="displayName" type="xs:string"/>
      <xs:attribute name="preferred" type="BooleanOrEmpty"/>
      <xs:attribute name="originalText" type="xs:string"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: OntwikkelingVerstandelijk - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="ontwikkeling_verstandelijk_type_2_16_840_1_113883_2_4_3_11_60_40_1_4_32_10">
      <xs:sequence>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.4.32.10"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:annotation>
                  <xs:documentation>valueSet/conceptList/concept</xs:documentation>
               </xs:annotation>
               <xs:enumeration value="">
                  <xs:annotation>
                     <xs:documentation>Empty</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="1">
                  <xs:annotation>
                     <xs:documentation>Able to think abstractly</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="2">
                  <xs:annotation>
                     <xs:documentation>Able to problem solve</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="3">
                  <xs:annotation>
                     <xs:documentation>Wide level of interest</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="4">
                  <xs:annotation>
                     <xs:documentation>Able to recognize consequences of behaviour</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="5">
                  <xs:annotation>
                     <xs:documentation>Able to make considered choices</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="code"/>
      <xs:attribute name="code" type="xs:string"/>
      <xs:attribute name="codeSystem" type="xs:string"/>
      <xs:attribute name="codeSystemName" type="xs:string"/>
      <xs:attribute name="codeSystemVersion" type="xs:string"/>
      <xs:attribute name="displayName" type="xs:string"/>
      <xs:attribute name="preferred" type="BooleanOrEmpty"/>
      <xs:attribute name="originalText" type="xs:string"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Toelichting - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="toelichting_type_2_16_840_1_113883_2_4_3_11_60_40_1_4_32_3">
      <xs:sequence>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.4.32.3"/>
      <xs:attribute name="value" type="xs:string"/>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:complexType name="adaextension_type">
      <xs:sequence>
         <xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:anyAttribute processContents="skip"/>
   </xs:complexType>
   <xs:simpleType name="NullFlavorNoInformation">
      <xs:restriction base="xs:string">
         <xs:enumeration value=""/>
         <xs:enumeration value="NI"/>
         <xs:enumeration value="UNK"/>
         <xs:enumeration value="OTH"/>
         <xs:enumeration value="MSK"/>
         <xs:enumeration value="UNC"/>
         <xs:enumeration value="NA"/>
         <xs:enumeration value="NAV"/>
         <xs:enumeration value="ASKU"/>
         <xs:enumeration value="NASK"/>
         <xs:enumeration value="INV"/>
         <xs:enumeration value="DER"/>
         <xs:enumeration value="NINF"/>
         <xs:enumeration value="PINF"/>
         <xs:enumeration value="QS"/>
         <xs:enumeration value="TRC"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="ComplexDatatypes">
      <xs:restriction base="xs:string">
         <xs:enumeration value="string"/>
         <xs:enumeration value="code"/>
         <xs:enumeration value="identifier"/>
         <xs:enumeration value="date"/>
         <xs:enumeration value="datetime"/>
         <xs:enumeration value="time"/>
         <xs:enumeration value="quantity"/>
         <xs:enumeration value="duration"/>
         <xs:enumeration value="boolean"/>
         <xs:enumeration value="count"/>
         <xs:enumeration value="ordinal"/>
         <xs:enumeration value="text"/>
         <xs:enumeration value="decimal"/>
         <xs:enumeration value="blob"/>
         <xs:enumeration value="complex"/>
         <xs:enumeration value="reference"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="VariableDate">
      <xs:union memberTypes="xs:date RelativeDate"/>
   </xs:simpleType>
   <xs:simpleType name="VariableDateTime">
      <xs:union memberTypes="xs:dateTime xs:date RelativeDateTime RelativeDate"/>
   </xs:simpleType>
   <xs:simpleType name="VariableVagueDate">
      <xs:union memberTypes="xs:date RelativeDate DateYearOptionalMonthNoDays"/>
   </xs:simpleType>
   <xs:simpleType name="VariableVagueDateTime">
      <xs:union memberTypes="xs:dateTime xs:date RelativeDateTime DateYearOptionalMonthNoDays DateTimeOptionalMinutesSeconds"/>
   </xs:simpleType>
   <xs:simpleType name="VagueDate">
      <xs:union memberTypes="xs:date DateYearOptionalMonthNoDays"/>
   </xs:simpleType>
   <xs:simpleType name="VagueDateTime">
      <xs:union memberTypes="xs:dateTime xs:date DateYearOptionalMonthNoDays DateTimeOptionalMinutesSeconds"/>
   </xs:simpleType>
   <xs:simpleType name="RelativeDate">
      <xs:restriction base="xs:string">
         <xs:pattern value="T([+\-](\d+(\.\d+)?[YMD]){1,3})?"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="RelativeDateTime">
      <xs:restriction base="xs:string">
         <xs:pattern value="T([+\-](\d+(\.\d+)?[YMD]){1,3})?(\{([01]\d|2[0-3]):(0\d|[1-5]\d)(:(0\d|[1-5]\d))?\})?"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="DateYear">
      <xs:restriction base="xs:string">
         <xs:pattern value="\d{4}"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="DateYearMonth">
      <xs:restriction base="xs:string">
         <xs:pattern value="\d{4}-(0[1-9]|1[012])"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="DateYearOptionalMonthNoDays">
      <xs:restriction base="xs:string">
         <xs:pattern value="\d{4}(-(0[1-9]|1[012]))?"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="DateTimeOptionalMinutesSeconds">
      <xs:restriction base="xs:string">
         <xs:pattern value="\d{4}-(0[1-9]|1[012])-(0[1-9]|[12]\d|3[01])T([01]\d|2[0-3])(:(0\d|[1-5]\d)(:(0\d|[1-5]\d))?)?"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="VariableVagueTime">
      <xs:union memberTypes="xs:time RelativeTime TimeHourOptionalMinutesSeconds"/>
   </xs:simpleType>
   <xs:simpleType name="VariableTime">
      <xs:union memberTypes="xs:time RelativeTime"/>
   </xs:simpleType>
   <xs:simpleType name="VagueTime">
      <xs:union memberTypes="xs:time TimeHourOptionalMinutesSeconds"/>
   </xs:simpleType>
   <xs:simpleType name="RelativeTime">
      <xs:restriction base="xs:string">
         <xs:pattern value="T(([+\-]\d+(\.\d+)?[HMS])?(\{:(0\d|[1-5]\d)(:(0\d|[1-5]\d))?\})?)?"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="TimeHourOptionalMinutesSeconds">
      <xs:restriction base="xs:string">
         <xs:pattern value="([01]\d|2[0-3])(:(0\d|[1-5]\d)(:(0\d|[1-5]\d))?)?"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="TimeHour">
      <xs:restriction base="xs:string">
         <xs:pattern value="[01]\d|2[0-3]"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="TimeHourMinute">
      <xs:restriction base="xs:string">
         <xs:pattern value="([01]\d|2[0-3]):(0\d|[1-5]\d)"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="BooleanOrEmpty">
      <xs:restriction base="xs:string">
         <xs:enumeration value=""/>
         <xs:enumeration value="true"/>
         <xs:enumeration value="true"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
