ada_2_fhir-r4/zibs2020/ada_schemas/vermogen_tot_verpleegtechnische_handelingen_registratie.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:annotation>
      <xs:documentation>Schema for transaction: 2.16.840.1.113883.2.4.3.11.60.121.4.2.4.34</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="empty_string">
      <xs:annotation>
         <xs:documentation>Type for empty value-strings on non-mandatory concepts</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="0"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:element name="vermogen_tot_verpleegtechnische_handelingen_registratie"
               type="vermogen_tot_verpleegtechnische_handelingen_registratie_type"/>
   <xs:complexType name="vermogen_tot_verpleegtechnische_handelingen_registratie_type">
      <xs:sequence>
         <xs:element name="vermogen_tot_verpleegtechnische_handelingen-start"
                     minOccurs="0"
                     maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.4.34.1"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="vermogen_tot_verpleegtechnische_handelingen"
                     type="vermogen_tot_verpleegtechnische_handelingen_type_2_16_840_1_113883_2_4_3_11_60_40_1_4_34_1"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:string"/>
      <xs:attribute name="app" type="xs:string"/>
      <xs:attribute name="shortName" type="xs:string" use="optional"/>
      <xs:attribute name="formName" type="xs:string" use="optional"/>
      <xs:attribute name="transactionRef" type="xs:string"/>
      <xs:attribute name="transactionEffectiveDate" type="xs:dateTime"/>
      <xs:attribute name="versionDate" type="xs:string"/>
      <xs:attribute name="language" type="xs:string"/>
      <xs:attribute name="prefix" type="xs:string"/>
      <xs:attribute name="adaVersion" type="xs:decimal"/>
      <xs:attribute name="title" type="xs:string"/>
      <xs:attribute name="desc" type="xs:string"/>
      <xs:attribute name="rights" type="xs:string"/>
      <xs:attribute name="owner" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="vermogen_tot_verpleegtechnische_handelingen_type_2_16_840_1_113883_2_4_3_11_60_40_1_4_34_1">
      <xs:annotation>
         <xs:documentation>Type for concept group: VermogenTotVerpleegtechnischeHandelingen</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="onderwerp-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.999.121.1.1"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="onderwerp"
                     type="onderwerp_type_2_16_840_1_113883_2_4_3_11_999_121_1_1"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="referenties-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.999.121.1.3"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="referenties"
                     type="referenties_type_2_16_840_1_113883_2_4_3_11_999_121_1_3"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="verpleegkundige_interventie-start"
                     minOccurs="0"
                     maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.4.34.3"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="verpleegkundige_interventie"
                     type="verpleegkundige_interventie_type_2_16_840_1_113883_2_4_3_11_60_40_1_4_34_3"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="verrichten_vpkhandeling-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.4.34.2"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="verrichten_vpkhandeling"
                     type="verrichten_vpkhandeling_type_2_16_840_1_113883_2_4_3_11_60_40_1_4_34_2"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.4.34.1"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="onderwerp_type_2_16_840_1_113883_2_4_3_11_999_121_1_1">
      <xs:annotation>
         <xs:documentation>Type for concept group: Onderwerp</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="patient-id-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.999.121.1.2"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="patient-id"
                     type="patient-id_type_2_16_840_1_113883_2_4_3_11_999_121_1_2"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.999.121.1.1"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="referenties_type_2_16_840_1_113883_2_4_3_11_999_121_1_3">
      <xs:annotation>
         <xs:documentation>Type for concept group: Referenties</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="verpleegkundige_interventie-start"
                     minOccurs="0"
                     maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.14.2.1"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="verpleegkundige_interventie"
                     type="verpleegkundige_interventie_type_2_16_840_1_113883_2_4_3_11_60_40_1_14_2_1"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.999.121.1.3"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="verpleegkundige_interventie_type_2_16_840_1_113883_2_4_3_11_60_40_1_14_2_1">
      <xs:annotation>
         <xs:documentation>Type for concept group: VerpleegkundigeInterventie</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="interventie-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.14.2.2"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="interventie"
                     type="interventie_type_2_16_840_1_113883_2_4_3_11_60_40_1_14_2_2"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="indicatie-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.14.2.6"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="indicatie"
                     type="indicatie_type_2_16_840_1_113883_2_4_3_11_60_40_1_14_2_6"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="behandeldoel-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.14.2.14"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="behandeldoel"
                     type="behandeldoel_type_2_16_840_1_113883_2_4_3_11_60_40_1_14_2_14"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="interval-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.14.2.3"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="interval"
                     type="interval_type_2_16_840_1_113883_2_4_3_11_60_40_1_14_2_3"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="frequentie-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.14.2.4"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="frequentie"
                     type="frequentie_type_2_16_840_1_113883_2_4_3_11_60_40_1_14_2_4"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="actie_start_datum_tijd-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.14.2.11"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="actie_start_datum_tijd"
                     type="actie_start_datum_tijd_type_2_16_840_1_113883_2_4_3_11_60_40_1_14_2_11"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="actie_eind_datum_tijd-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.14.2.12"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="actie_eind_datum_tijd"
                     type="actie_eind_datum_tijd_type_2_16_840_1_113883_2_4_3_11_60_40_1_14_2_12"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="medisch_hulpmiddel-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.14.2.13"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="medisch_hulpmiddel"
                     type="medisch_hulpmiddel_type_2_16_840_1_113883_2_4_3_11_60_40_1_14_2_13"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="instructie-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.14.2.18"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="instructie"
                     type="instructie_type_2_16_840_1_113883_2_4_3_11_60_40_1_14_2_18"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="uitvoerder-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.14.2.15"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="uitvoerder"
                     type="uitvoerder_type_2_16_840_1_113883_2_4_3_11_60_40_1_14_2_15"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="aanvrager-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.14.2.8"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="aanvrager"
                     type="aanvrager_type_2_16_840_1_113883_2_4_3_11_60_40_1_14_2_8"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="toelichting-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.14.2.5"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="toelichting"
                     type="toelichting_type_2_16_840_1_113883_2_4_3_11_60_40_1_14_2_5"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.14.2.1"/>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="indicatie_type_2_16_840_1_113883_2_4_3_11_60_40_1_14_2_6">
      <xs:annotation>
         <xs:documentation>Type for concept group: Indicatie</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="probleem-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.121.2.419"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="probleem"
                     type="probleem_type_2_16_840_1_113883_2_4_3_11_60_121_2_419"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.14.2.6"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="behandeldoel_type_2_16_840_1_113883_2_4_3_11_60_40_1_14_2_14">
      <xs:annotation>
         <xs:documentation>Type for concept group: Behandeldoel</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="behandeldoel-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.121.2.420"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="behandeldoel"
                     type="behandeldoel_type_2_16_840_1_113883_2_4_3_11_60_121_2_420"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.14.2.14"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="medisch_hulpmiddel_type_2_16_840_1_113883_2_4_3_11_60_40_1_14_2_13">
      <xs:annotation>
         <xs:documentation>Type for concept group: MedischHulpmiddel</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="medisch_hulpmiddel-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.121.2.421"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="medisch_hulpmiddel"
                     type="medisch_hulpmiddel_type_2_16_840_1_113883_2_4_3_11_60_121_2_421"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.14.2.13"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="uitvoerder_type_2_16_840_1_113883_2_4_3_11_60_40_1_14_2_15">
      <xs:annotation>
         <xs:documentation>Type for concept group: Uitvoerder</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="zorgverlener-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.14.2.7"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="zorgverlener"
                     type="zorgverlener_type_2_16_840_1_113883_2_4_3_11_60_40_1_14_2_7"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="verzorger-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.14.2.16"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="verzorger"
                     type="verzorger_type_2_16_840_1_113883_2_4_3_11_60_40_1_14_2_16"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="patient-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.14.2.17"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="patient"
                     type="patient_type_2_16_840_1_113883_2_4_3_11_60_40_1_14_2_17"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.14.2.15"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="zorgverlener_type_2_16_840_1_113883_2_4_3_11_60_40_1_14_2_7">
      <xs:annotation>
         <xs:documentation>Type for concept group: Zorgverlener</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="zorgverlener-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.121.2.422"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="zorgverlener"
                     type="zorgverlener_type_2_16_840_1_113883_2_4_3_11_60_121_2_422"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.14.2.7"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="verzorger_type_2_16_840_1_113883_2_4_3_11_60_40_1_14_2_16">
      <xs:annotation>
         <xs:documentation>Type for concept group: Verzorger</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="contactpersoon-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.121.2.423"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="contactpersoon"
                     type="contactpersoon_type_2_16_840_1_113883_2_4_3_11_60_121_2_423"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.14.2.16"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="patient_type_2_16_840_1_113883_2_4_3_11_60_40_1_14_2_17">
      <xs:annotation>
         <xs:documentation>Type for concept group: Patient</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="patient-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.121.2.424"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="patient"
                     type="patient_type_2_16_840_1_113883_2_4_3_11_60_121_2_424"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.14.2.17"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="aanvrager_type_2_16_840_1_113883_2_4_3_11_60_40_1_14_2_8">
      <xs:annotation>
         <xs:documentation>Type for concept group: Aanvrager</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="zorgverlener-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.121.2.425"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="zorgverlener"
                     type="zorgverlener_type_2_16_840_1_113883_2_4_3_11_60_121_2_425"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.14.2.8"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="verpleegkundige_interventie_type_2_16_840_1_113883_2_4_3_11_60_40_1_4_34_3">
      <xs:annotation>
         <xs:documentation>Type for concept group: VerpleegkundigeInterventie</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="verpleegkundige_interventie-start"
                     minOccurs="0"
                     maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.121.2.417"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="verpleegkundige_interventie"
                     type="verpleegkundige_interventie_type_2_16_840_1_113883_2_4_3_11_60_121_2_417"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.4.34.3"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Patient identificatie - 1..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="patient-id_type_2_16_840_1_113883_2_4_3_11_999_121_1_2">
      <xs:sequence>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.999.121.1.2"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:union memberTypes="patient-id_1_datatype_2_16_840_1_113883_2_4_3_11_999_121_1_2 "/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="identifier"/>
      <xs:attribute name="root" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>simpleType for valueDomain: Patient identificatie: identifier</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="patient-id_1_datatype_2_16_840_1_113883_2_4_3_11_999_121_1_2">
      <xs:restriction base="xs:string"/>
   </xs:simpleType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Interventie - 0..* </xs:documentation>
   </xs:annotation>
   <xs:complexType name="interventie_type_2_16_840_1_113883_2_4_3_11_60_40_1_14_2_2">
      <xs:sequence>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.14.2.2"/>
      <xs:attribute name="value" type="xs:string"/>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="code"/>
      <xs:attribute name="code" type="xs:string"/>
      <xs:attribute name="codeSystem" type="xs:string"/>
      <xs:attribute name="codeSystemName" type="xs:string"/>
      <xs:attribute name="codeSystemVersion" type="xs:string"/>
      <xs:attribute name="displayName" type="xs:string"/>
      <xs:attribute name="preferred" type="BooleanOrEmpty"/>
      <xs:attribute name="originalText" type="xs:string"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Probleem - 0..* </xs:documentation>
   </xs:annotation>
   <xs:complexType name="probleem_type_2_16_840_1_113883_2_4_3_11_60_121_2_419">
      <xs:sequence>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.121.2.419"/>
      <xs:attribute name="value" type="xs:string"/>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="reference"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Behandeldoel - 0..* </xs:documentation>
   </xs:annotation>
   <xs:complexType name="behandeldoel_type_2_16_840_1_113883_2_4_3_11_60_121_2_420">
      <xs:sequence>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.121.2.420"/>
      <xs:attribute name="value" type="xs:string"/>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="reference"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Interval - 0..* </xs:documentation>
   </xs:annotation>
   <xs:complexType name="interval_type_2_16_840_1_113883_2_4_3_11_60_40_1_14_2_3">
      <xs:sequence>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.14.2.3"/>
      <xs:attribute name="value" type="xs:decimal"/>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="quantity"/>
      <xs:attribute name="unit" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Frequentie - 0..* </xs:documentation>
   </xs:annotation>
   <xs:complexType name="frequentie_type_2_16_840_1_113883_2_4_3_11_60_40_1_14_2_4">
      <xs:sequence>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.14.2.4"/>
      <xs:attribute name="value" type="xs:decimal"/>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="quantity"/>
      <xs:attribute name="unit" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: ActieStartDatumTijd - 0..* </xs:documentation>
   </xs:annotation>
   <xs:complexType name="actie_start_datum_tijd_type_2_16_840_1_113883_2_4_3_11_60_40_1_14_2_11">
      <xs:sequence>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.14.2.11"/>
      <xs:attribute name="value" type="VariableDateTime"/>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="datetime"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: ActieEindDatumTijd - 0..* </xs:documentation>
   </xs:annotation>
   <xs:complexType name="actie_eind_datum_tijd_type_2_16_840_1_113883_2_4_3_11_60_40_1_14_2_12">
      <xs:sequence>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.14.2.12"/>
      <xs:attribute name="value" type="VariableDateTime"/>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="datetime"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: MedischHulpmiddel - 0..* </xs:documentation>
   </xs:annotation>
   <xs:complexType name="medisch_hulpmiddel_type_2_16_840_1_113883_2_4_3_11_60_121_2_421">
      <xs:sequence>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.121.2.421"/>
      <xs:attribute name="value" type="xs:string"/>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="reference"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Instructie - 0..* </xs:documentation>
   </xs:annotation>
   <xs:complexType name="instructie_type_2_16_840_1_113883_2_4_3_11_60_40_1_14_2_18">
      <xs:sequence>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.14.2.18"/>
      <xs:attribute name="value" type="xs:string"/>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Zorgverlener - 0..* </xs:documentation>
   </xs:annotation>
   <xs:complexType name="zorgverlener_type_2_16_840_1_113883_2_4_3_11_60_121_2_422">
      <xs:sequence>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.121.2.422"/>
      <xs:attribute name="value" type="xs:string"/>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="reference"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Contactpersoon - 0..* </xs:documentation>
   </xs:annotation>
   <xs:complexType name="contactpersoon_type_2_16_840_1_113883_2_4_3_11_60_121_2_423">
      <xs:sequence>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.121.2.423"/>
      <xs:attribute name="value" type="xs:string"/>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="reference"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Patient - 0..* </xs:documentation>
   </xs:annotation>
   <xs:complexType name="patient_type_2_16_840_1_113883_2_4_3_11_60_121_2_424">
      <xs:sequence>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.121.2.424"/>
      <xs:attribute name="value" type="xs:string"/>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="reference"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Zorgverlener - 0..* </xs:documentation>
   </xs:annotation>
   <xs:complexType name="zorgverlener_type_2_16_840_1_113883_2_4_3_11_60_121_2_425">
      <xs:sequence>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.121.2.425"/>
      <xs:attribute name="value" type="xs:string"/>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="reference"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Toelichting - 0..* </xs:documentation>
   </xs:annotation>
   <xs:complexType name="toelichting_type_2_16_840_1_113883_2_4_3_11_60_40_1_14_2_5">
      <xs:sequence>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.14.2.5"/>
      <xs:attribute name="value" type="xs:string"/>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: VerpleegkundigeInterventie - 1..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="verpleegkundige_interventie_type_2_16_840_1_113883_2_4_3_11_60_121_2_417">
      <xs:sequence>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.121.2.417"/>
      <xs:attribute name="value" type="xs:string"/>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="reference"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: VerrichtenVPKHandeling - 1..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="verrichten_vpkhandeling_type_2_16_840_1_113883_2_4_3_11_60_40_1_4_34_2">
      <xs:sequence>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.4.34.2"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:annotation>
                  <xs:documentation>valueSet/conceptList/concept</xs:documentation>
               </xs:annotation>
               <xs:enumeration value="">
                  <xs:annotation>
                     <xs:documentation>Empty</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="1">
                  <xs:annotation>
                     <xs:documentation>Independent in managing personal health care</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="2">
                  <xs:annotation>
                     <xs:documentation>Needs help with managing personal health care</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="3">
                  <xs:annotation>
                     <xs:documentation>Unable to manage personal health care</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="code"/>
      <xs:attribute name="code" type="xs:string"/>
      <xs:attribute name="codeSystem" type="xs:string"/>
      <xs:attribute name="codeSystemName" type="xs:string"/>
      <xs:attribute name="codeSystemVersion" type="xs:string"/>
      <xs:attribute name="displayName" type="xs:string"/>
      <xs:attribute name="preferred" type="BooleanOrEmpty"/>
      <xs:attribute name="originalText" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="adaextension_type">
      <xs:sequence>
         <xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:anyAttribute processContents="skip"/>
   </xs:complexType>
   <xs:simpleType name="NullFlavorNoInformation">
      <xs:restriction base="xs:string">
         <xs:enumeration value=""/>
         <xs:enumeration value="NI"/>
         <xs:enumeration value="UNK"/>
         <xs:enumeration value="OTH"/>
         <xs:enumeration value="MSK"/>
         <xs:enumeration value="UNC"/>
         <xs:enumeration value="NA"/>
         <xs:enumeration value="NAV"/>
         <xs:enumeration value="ASKU"/>
         <xs:enumeration value="NASK"/>
         <xs:enumeration value="INV"/>
         <xs:enumeration value="DER"/>
         <xs:enumeration value="NINF"/>
         <xs:enumeration value="PINF"/>
         <xs:enumeration value="QS"/>
         <xs:enumeration value="TRC"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="ComplexDatatypes">
      <xs:restriction base="xs:string">
         <xs:enumeration value="string"/>
         <xs:enumeration value="code"/>
         <xs:enumeration value="identifier"/>
         <xs:enumeration value="date"/>
         <xs:enumeration value="datetime"/>
         <xs:enumeration value="time"/>
         <xs:enumeration value="quantity"/>
         <xs:enumeration value="duration"/>
         <xs:enumeration value="boolean"/>
         <xs:enumeration value="count"/>
         <xs:enumeration value="ordinal"/>
         <xs:enumeration value="text"/>
         <xs:enumeration value="decimal"/>
         <xs:enumeration value="blob"/>
         <xs:enumeration value="complex"/>
         <xs:enumeration value="reference"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="VariableDate">
      <xs:union memberTypes="xs:date RelativeDate"/>
   </xs:simpleType>
   <xs:simpleType name="VariableDateTime">
      <xs:union memberTypes="xs:dateTime xs:date RelativeDateTime RelativeDate"/>
   </xs:simpleType>
   <xs:simpleType name="VariableVagueDate">
      <xs:union memberTypes="xs:date RelativeDate DateYearOptionalMonthNoDays"/>
   </xs:simpleType>
   <xs:simpleType name="VariableVagueDateTime">
      <xs:union memberTypes="xs:dateTime xs:date RelativeDateTime DateYearOptionalMonthNoDays DateTimeOptionalMinutesSeconds"/>
   </xs:simpleType>
   <xs:simpleType name="VagueDate">
      <xs:union memberTypes="xs:date DateYearOptionalMonthNoDays"/>
   </xs:simpleType>
   <xs:simpleType name="VagueDateTime">
      <xs:union memberTypes="xs:dateTime xs:date DateYearOptionalMonthNoDays DateTimeOptionalMinutesSeconds"/>
   </xs:simpleType>
   <xs:simpleType name="RelativeDate">
      <xs:restriction base="xs:string">
         <xs:pattern value="T([+\-](\d+(\.\d+)?[YMD]){1,3})?"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="RelativeDateTime">
      <xs:restriction base="xs:string">
         <xs:pattern value="T([+\-](\d+(\.\d+)?[YMD]){1,3})?(\{([01]\d|2[0-3]):(0\d|[1-5]\d)(:(0\d|[1-5]\d))?\})?"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="DateYear">
      <xs:restriction base="xs:string">
         <xs:pattern value="\d{4}"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="DateYearMonth">
      <xs:restriction base="xs:string">
         <xs:pattern value="\d{4}-(0[1-9]|1[012])"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="DateYearOptionalMonthNoDays">
      <xs:restriction base="xs:string">
         <xs:pattern value="\d{4}(-(0[1-9]|1[012]))?"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="DateTimeOptionalMinutesSeconds">
      <xs:restriction base="xs:string">
         <xs:pattern value="\d{4}-(0[1-9]|1[012])-(0[1-9]|[12]\d|3[01])T([01]\d|2[0-3])(:(0\d|[1-5]\d)(:(0\d|[1-5]\d))?)?"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="VariableVagueTime">
      <xs:union memberTypes="xs:time RelativeTime TimeHourOptionalMinutesSeconds"/>
   </xs:simpleType>
   <xs:simpleType name="VariableTime">
      <xs:union memberTypes="xs:time RelativeTime"/>
   </xs:simpleType>
   <xs:simpleType name="VagueTime">
      <xs:union memberTypes="xs:time TimeHourOptionalMinutesSeconds"/>
   </xs:simpleType>
   <xs:simpleType name="RelativeTime">
      <xs:restriction base="xs:string">
         <xs:pattern value="T(([+\-]\d+(\.\d+)?[HMS])?(\{:(0\d|[1-5]\d)(:(0\d|[1-5]\d))?\})?)?"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="TimeHourOptionalMinutesSeconds">
      <xs:restriction base="xs:string">
         <xs:pattern value="([01]\d|2[0-3])(:(0\d|[1-5]\d)(:(0\d|[1-5]\d))?)?"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="TimeHour">
      <xs:restriction base="xs:string">
         <xs:pattern value="[01]\d|2[0-3]"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="TimeHourMinute">
      <xs:restriction base="xs:string">
         <xs:pattern value="([01]\d|2[0-3]):(0\d|[1-5]\d)"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="BooleanOrEmpty">
      <xs:restriction base="xs:string">
         <xs:enumeration value=""/>
         <xs:enumeration value="true"/>
         <xs:enumeration value="true"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
