ada_2_hl7/jgz/dossieroverdracht/payload/6.12.8/versturen_jgzdossieroverdrachtverzoek_v02/ada_schemas/ada_meta.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
   <xs:complexType name="meta_type">
      <xs:sequence>
         <xs:any namespace="##targetNamespace" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="status" type="xs:string"/>
      <xs:attribute name="created-by" type="xs:string"/>
      <xs:attribute name="last-update-by" type="xs:string"/>
      <xs:attribute name="creation-date" type="xs:dateTime"/>
      <xs:attribute name="last-update-date" type="xs:dateTime"/>
   </xs:complexType>
</xs:schema>
