ada_2_hl7/jgz/7.0/hl7v3_schemas/COCT_MT841300NL.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:ex="urn:hl7-org/v3-example" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="urn:hl7-org:v3"
           targetNamespace="urn:hl7-org:v3"
           elementFormDefault="qualified"><!--
*****************************************************************************************************************
* XML schema for message type COCT_MT841300NL.
* Source information:
*      Rendered by: Visio to MIF transform
*      Rendered on: 
* Entry point text: The E_PublicHealthPlace cmet is designed to capture information about a place of interest to Public Health. Property-contextConductionStyle: C
*
* Saved in XML file by RMIM Designer in Visio at 2012-03-15T10:43:35
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 8529 2011-02-09 20:49:58Z lloyd_mckenzie $
 Fix Names Transform: $Id: FixMifNames.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
  Base transform: $Id: ConvertBase.xsl 8870 2011-09-14 18:32:56Z woody_beeler $
  Package Id Conversion: $Id: TransformPackageIds.xsl 8398 2010-10-12 01:52:15Z lloyd_mckenzie $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 7375 2009-01-26 19:26:53Z wbeeler $
*
* Generated by XMLITS version 3.4.6
*   MIF to XSD Transform $Id: StaticMifToXsd.xsl 8419 2010-11-15 00:10:54Z woody_beeler $
*     Package Id Conversion: $Id: TransformPackageIds.xsl 8398 2010-10-12 01:52:15Z lloyd_mckenzie $
*
* Copyright (c) 2002, 2003, 2004, 2005, 2006, 2007 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  --><xs:annotation>
      <xs:documentation>Generated using schema builder version 3.4.6. Stylesheets:
Saved in XML file by RMIM Designer in Visio at 2012-03-15T10:43:35
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 8529 2011-02-09 20:49:58Z lloyd_mckenzie $
 Fix Names Transform: $Id: FixMifNames.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
  Base transform: $Id: ConvertBase.xsl 8870 2011-09-14 18:32:56Z woody_beeler $
  Package Id Conversion: $Id: TransformPackageIds.xsl 8398 2010-10-12 01:52:15Z lloyd_mckenzie $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 7375 2009-01-26 19:26:53Z wbeeler $
StaticMifToXsd.xsl version 2.0</xs:documentation>
   </xs:annotation>
   <xs:include schemaLocation="../coreschemas/infrastructureRoot.xsd"/>
   <xs:include schemaLocation="COCT_MT841200NL.xsd"/>
   <xs:include schemaLocation="COCT_MT150000NL.xsd"/>
   <xs:include schemaLocation="COCT_MT840000NL.xsd"/>
   <xs:include schemaLocation="COCT_MT841400NL.xsd"/>
   <xs:include schemaLocation="COCT_MT030200NL02.xsd"/>
   <xs:include schemaLocation="COCT_MT960000NL.xsd"/>
   <xs:complexType name="COCT_MT841300NL.ContactParty">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="addr" type="AD" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="contactPerson" type="COCT_MT030200NL02.Person" minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassContact" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT841300NL.EntityGroup">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="quantity" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="name" type="ST" minOccurs="0" maxOccurs="1"/>
         <xs:element name="desc" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="existenceTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="riskCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="handlingCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClassRoot" use="required"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT841300NL.EntityInContainer">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="containerManufacturedMaterial"
                     type="COCT_MT841200NL.ManufacturedMaterial"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassContent" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT841300NL.Identifier">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="assigningOrganization" type="COCT_MT150000NL.Organization" minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassIdentifiedEntity" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT841300NL.LocatedEntity">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="addr" type="AD" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="subjectOf" type="COCT_MT841300NL.Subject3" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassLocatedEntity" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT841300NL.LocatedPlaceHasParts">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="locatedPlace" type="COCT_MT841300NL.Place" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassLocatedEntity" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT841300NL.LocatedPlacePartOf">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="location" type="COCT_MT841300NL.Place" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassLocatedEntity" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT841300NL.ManagingEntity">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:choice>
               <xs:element name="scoper1" type="COCT_MT840000NL.Person" minOccurs="0" maxOccurs="1"/>
               <xs:element name="scoper2" type="COCT_MT840000NL.LivingSubject" minOccurs="0" maxOccurs="1"/>
               <xs:element name="scoper3" type="COCT_MT840000NL.NonPersonLivingSubject" minOccurs="0"
                           maxOccurs="1"/>
            </xs:choice>
            <xs:choice>
               <xs:element name="scoper5" type="COCT_MT840000NL.Place" minOccurs="0" maxOccurs="1"/>
               <xs:choice>
                  <xs:element name="scoper6" type="COCT_MT840000NL.Material" minOccurs="0" maxOccurs="1"/>
                  <xs:element name="scoper7" type="COCT_MT840000NL.ManufacturedMaterial" minOccurs="0"
                              maxOccurs="1"/>
               </xs:choice>
            </xs:choice>
            <xs:element name="scoper19" type="COCT_MT840000NL.Organization" minOccurs="0" maxOccurs="1"/>
            <xs:element name="scoper20" type="COCT_MT840000NL.EntityGroup" minOccurs="0" maxOccurs="1"/>
            <xs:element name="scoper21" type="COCT_MT840000NL.Entity" minOccurs="0" maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassManagedEntity" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT841300NL.MemberOf">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="groupOrganization" type="COCT_MT841400NL.Organization" minOccurs="0"
                        maxOccurs="1"/>
            <xs:element name="groupEntityGroup" type="COCT_MT841300NL.EntityGroup" minOccurs="0"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassMember" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT841300NL.ObservationEvent">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="title" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="SXCM_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="value" type="ANY" minOccurs="1" maxOccurs="1"/>
         <xs:element name="interpretationCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="methodCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="targetSiteCode" type="CD" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassObservation" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
      <xs:attribute name="negationInd" type="bl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT841300NL.Observed">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="subjectOf" type="COCT_MT841300NL.Subject2" minOccurs="1"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassRoot" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT841300NL.OtherIDs">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="scopingOrganization" type="COCT_MT150000NL.Organization" minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassRoot" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT841300NL.Part">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="quantity" type="RTO_PQ_PQ" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:choice>
               <xs:element name="partPerson1" type="COCT_MT840000NL.Person" minOccurs="0" maxOccurs="1"/>
               <xs:element name="partLivingSubject1" type="COCT_MT840000NL.LivingSubject" minOccurs="0"
                           maxOccurs="1"/>
               <xs:element name="partNonPersonLivingSubject1"
                           type="COCT_MT840000NL.NonPersonLivingSubject"
                           minOccurs="0"
                           maxOccurs="1"/>
            </xs:choice>
            <xs:choice>
               <xs:element name="partPlace1" type="COCT_MT840000NL.Place" minOccurs="0" maxOccurs="1"/>
               <xs:choice>
                  <xs:element name="partMaterial" type="COCT_MT840000NL.Material" minOccurs="0" maxOccurs="1"/>
                  <xs:element name="partManufacturedMaterial" type="COCT_MT840000NL.ManufacturedMaterial"
                              minOccurs="0"
                              maxOccurs="1"/>
               </xs:choice>
            </xs:choice>
            <xs:element name="partOrganization" type="COCT_MT840000NL.Organization" minOccurs="0"
                        maxOccurs="1"/>
            <xs:element name="partEntityGroup" type="COCT_MT840000NL.EntityGroup" minOccurs="0"
                        maxOccurs="1"/>
            <xs:element name="partEntity" type="COCT_MT840000NL.Entity" minOccurs="0" maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassPart" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT841300NL.PartOfWhole">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="quantity" type="RTO_PQ_PQ" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:choice>
               <xs:element name="wholePerson1" type="COCT_MT840000NL.Person" minOccurs="0" maxOccurs="1"/>
               <xs:element name="wholeLivingSubject1" type="COCT_MT840000NL.LivingSubject" minOccurs="0"
                           maxOccurs="1"/>
               <xs:element name="wholeNonPersonLivingSubject1"
                           type="COCT_MT840000NL.NonPersonLivingSubject"
                           minOccurs="0"
                           maxOccurs="1"/>
            </xs:choice>
            <xs:choice>
               <xs:element name="wholePlace1" type="COCT_MT840000NL.Place" minOccurs="0" maxOccurs="1"/>
               <xs:choice>
                  <xs:element name="wholeMaterial" type="COCT_MT840000NL.Material" minOccurs="0"
                              maxOccurs="1"/>
                  <xs:element name="wholeManufacturedMaterial" type="COCT_MT840000NL.ManufacturedMaterial"
                              minOccurs="0"
                              maxOccurs="1"/>
               </xs:choice>
            </xs:choice>
            <xs:element name="wholeOrganization" type="COCT_MT840000NL.Organization" minOccurs="0"
                        maxOccurs="1"/>
            <xs:element name="wholeEntityGroup" type="COCT_MT840000NL.EntityGroup" minOccurs="0"
                        maxOccurs="1"/>
            <xs:element name="wholeEntity" type="COCT_MT840000NL.Entity" minOccurs="0" maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassPart" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT841300NL.Place">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="quantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="name" type="EN" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="desc" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="existenceTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="riskCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="handlingCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="mobileInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="directionsText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="asIdentifier" type="COCT_MT841300NL.Identifier" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="asTerritorialAuthority" type="COCT_MT841300NL.TerritorialAuthority"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="asEntityInContainer" type="COCT_MT841300NL.EntityInContainer"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="asPartOfWhole" type="COCT_MT841300NL.PartOfWhole" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="asLocatedPlacePartOf" type="COCT_MT841300NL.LocatedPlacePartOf"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="asMemberOf" type="COCT_MT841300NL.MemberOf" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="asObserved" type="COCT_MT841300NL.Observed" minOccurs="0" maxOccurs="1"/>
         <xs:element name="asOtherIDs" type="COCT_MT841300NL.OtherIDs" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="asManagingEntity" type="COCT_MT841300NL.ManagingEntity" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="asProductEntity" type="COCT_MT841300NL.ProductEntity" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="contactParty" type="COCT_MT841300NL.ContactParty" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="part" type="COCT_MT841300NL.Part" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="locatedEntity" type="COCT_MT841300NL.LocatedEntity" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="locatedPlaceHasParts" type="COCT_MT841300NL.LocatedPlaceHasParts"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClassPlace" use="required"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT841300NL.ProductEntity">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="name" type="TN" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="scoper" type="COCT_MT841400NL.Organization" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassProductRelated" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT841300NL.Subject2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="observationEvent" type="COCT_MT841300NL.ObservationEvent" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="AN"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT841300NL.Subject3">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="position" type="COCT_MT960000NL.Position" nillable="true" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="AN"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT841300NL.TerritorialAuthority">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="governingOrganization" type="COCT_MT841400NL.Organization" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassTerritoryOfAuthority" use="required"/>
   </xs:complexType>
</xs:schema>