ada_2_hl7/jgz/7.0/hl7v3_schemas/MCCI_IN200101.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- vanaf augustus2006-release: versionCode en profileId verplicht -->
<!-- 20070130 Verwijderd (in NL niet te gebruiken): /securityText -->
<xs:schema targetNamespace="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="urn:hl7-org:v3" elementFormDefault="qualified">
	<!-- schema for batch acknowledgement interactions -->
	<xs:include schemaLocation="../coreschemas/datatypes.xsd"/>
	<xs:include schemaLocation="../coreschemas/voc.xsd"/>
	<xs:include schemaLocation="COCT_MT040203.xsd"/>
	<xs:element name="MCCI_IN200101" type="MCCI_IN200101.Batch"/>
	<xs:complexType name="MCCI_IN200101.Batch">
		<xs:sequence>
			<xs:element name="id" type="II"/>
			<xs:element name="creationTime" type="TS"/>
			<xs:element name="versionCode" type="CS" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element name="interactionId" type="II" maxOccurs="unbounded"/>
			<xs:element name="profileId" type="II" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element name="referenceControlId" type="II" minOccurs="0"/>
			<xs:element name="name" type="SC" minOccurs="0"/>
			<xs:element name="batchComment" type="ST" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="transmissionQuantity" type="INT" minOccurs="0"/>
			<xs:element name="batchTotalNumber" type="INT" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="acknowledgement" type="MCCI_IN200101.Acknowledgement"/>
			<xs:element name="receiver" type="MCCI_IN200101.Receiver"/>
			<xs:element name="respondTo" type="MCCI_IN200101.RespondTo" minOccurs="0"
				maxOccurs="unbounded"/>
			<xs:element name="sender" type="MCCI_IN200101.Sender"/>
			<xs:any namespace="##any" processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
			<!-- Message Interactions HERE  -->
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="Batch"/>
		<xs:attribute name="templateId" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="MCCI_IN200101.Acknowledgement">
		<xs:sequence>
			<xs:element name="messageWaitingNumber" type="INT" minOccurs="0"/>
			<xs:element name="messageWaitingPriorityCode" type="CE" minOccurs="0"/>
			<xs:element name="acknowledgementDetail" type="MCCI_IN200101.AcknowledgementDetail"
				minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="targetTransmission" type="MCCI_IN200101.TargetTransmission"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="Acknowledgement"/>
		<xs:attribute name="typeCode" type="cs" use="required"/>
		<xs:attribute name="templateId" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="MCCI_IN200101.AcknowledgementDetail">
		<xs:sequence>
			<xs:element name="code" type="CE" minOccurs="0"/>
			<xs:element name="text" type="ED" minOccurs="0"/>
			<xs:element name="location" type="ST" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="AcknowledgementDetail"/>
		<xs:attribute name="typeCode" type="cs" use="optional"/>
		<xs:attribute name="templateId" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="MCCI_IN200101.TargetTransmission">
		<xs:sequence>
			<xs:element name="id" type="II"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="Transmission"/>
		<xs:attribute name="templateId" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="MCCI_IN200101.AttentionLine">
		<xs:sequence>
			<xs:element name="keyWordText" type="SC" minOccurs="0"/>
			<xs:element name="value" type="ST" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="AttentionLine"/>
		<xs:attribute name="templateId" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="MCCI_IN200101.Receiver">
		<xs:sequence>
			<xs:element name="telecom" type="TEL" minOccurs="0"/>
			<xs:element name="device" type="MCCI_IN200101.Device"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="CommunicationFunction"/>
		<xs:attribute name="typeCode" type="cs" use="optional" default="RCV"/>
		<xs:attribute name="templateId" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="MCCI_IN200101.Device">
		<xs:sequence>
			<xs:element name="id" type="II" maxOccurs="unbounded"/>
			<xs:element name="name" type="EN" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="desc" type="ED" minOccurs="0"/>
			<xs:element name="existenceTime" type="IVL_TS" minOccurs="0"/>
			<xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="manufacturerModelName" type="SC" minOccurs="0"/>
			<xs:element name="softwareName" type="SC" minOccurs="0"/>
			<xs:element name="agencyFor" type="MCCI_IN200101.Agent" minOccurs="0"/>
			<xs:element name="location" type="MCCI_IN200101.LocatedEntity" minOccurs="0"
				maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="Device"/>
		<xs:attribute name="classCode" type="EntityClass" use="optional" default="DEV"/>
		<xs:attribute name="determinerCode" type="EntityDeterminer" use="optional"
			default="INSTANCE"/>
		<xs:attribute name="templateId" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="MCCI_IN200101.Agent">
		<xs:sequence>
			<xs:element name="representedOrganization" type="MCCI_IN200101.Organization"
				minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="RoleHeir"/>
		<xs:attribute name="classCode" type="RoleClass" use="optional" default="AGNT"/>
		<xs:attribute name="templateId" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="MCCI_IN200101.Organization">
		<xs:sequence>
			<xs:element name="id" type="II" maxOccurs="unbounded"/>
			<xs:element name="name" type="EN" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="roleName" type="COCT_MT040203.NotificationParty" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="Organization"/>
		<xs:attribute name="classCode" type="EntityClass" use="optional" default="ORG"/>
		<xs:attribute name="determinerCode" type="EntityDeterminer" use="optional"
			default="INSTANCE"/>
		<xs:attribute name="templateId" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="MCCI_IN200101.LocatedEntity">
		<xs:sequence>
			<xs:element name="location" type="MCCI_IN200101.Place" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="RoleHeir"/>
		<xs:attribute name="classCode" type="RoleClass" use="optional" default="LOCE"/>
		<xs:attribute name="templateId" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="MCCI_IN200101.Place">
		<xs:sequence>
			<xs:element name="id" type="II" maxOccurs="unbounded"/>
			<xs:element name="name" type="EN" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="Place"/>
		<xs:attribute name="classCode" type="EntityClass" use="optional" default="PLC"/>
		<xs:attribute name="determinerCode" type="EntityDeterminer" use="optional"
			default="INSTANCE"/>
		<xs:attribute name="templateId" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="MCCI_IN200101.RespondTo">
		<xs:sequence>
			<xs:element name="telecom" type="TEL" minOccurs="0"/>
			<xs:element name="device" type="MCCI_IN200101.Device"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="CommunicationFunction"/>
		<xs:attribute name="typeCode" type="cs" use="optional" default="RSP"/>
		<xs:attribute name="templateId" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="MCCI_IN200101.EntityRsp">
		<xs:sequence>
			<xs:element name="id" type="II"/>
			<xs:element name="name" type="EN" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="telecom" type="TEL" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="EntityHeir"/>
		<xs:attribute name="classCode" type="EntityClass" use="optional" default="ENT"/>
		<xs:attribute name="determinerCode" type="EntityDeterminer" use="optional"
			default="INSTANCE"/>
		<xs:attribute name="templateId" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="MCCI_IN200101.Sender">
		<xs:sequence>
			<xs:element name="telecom" type="TEL" minOccurs="0"/>
			<xs:element name="device" type="MCCI_IN200101.Device"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="CommunicationFunction"/>
		<xs:attribute name="typeCode" type="cs" use="optional" default="SND"/>
		<xs:attribute name="templateId" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
</xs:schema>
