ada_2_hl7/jgz/7.0/hl7v3_schemas/POCP_MT010200NL.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:ex="urn:hl7-org/v3-example" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="urn:hl7-org:v3"
           targetNamespace="urn:hl7-org:v3"
           elementFormDefault="qualified"><!--
*****************************************************************************************************************
* XML schema for message type POCP_MT010200NL.
* Source information:
*      Rendered by: Visio to MIF transform
*      Rendered on: 
* Entry point text: Description: This CMET is required to go from the ProductInstance CMET back into the ProductKind. Property-contextConductionStyle: I
*
* Saved in XML file by RMIM Designer in Visio at 2012-02-25T11:32:17
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 8529 2011-02-09 20:49:58Z lloyd_mckenzie $
 Fix Names Transform: $Id: FixMifNames.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
  Base transform: $Id: ConvertBase.xsl 8870 2011-09-14 18:32:56Z woody_beeler $
  Package Id Conversion: $Id: TransformPackageIds.xsl 8398 2010-10-12 01:52:15Z lloyd_mckenzie $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 7375 2009-01-26 19:26:53Z wbeeler $
*
* Generated by XMLITS version 3.4.6
*   MIF to XSD Transform $Id: StaticMifToXsd.xsl 8419 2010-11-15 00:10:54Z woody_beeler $
*     Package Id Conversion: $Id: TransformPackageIds.xsl 8398 2010-10-12 01:52:15Z lloyd_mckenzie $
*
* Copyright (c) 2002, 2003, 2004, 2005, 2006, 2007 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  --><xs:annotation>
      <xs:documentation>Generated using schema builder version 3.4.6. Stylesheets:
Saved in XML file by RMIM Designer in Visio at 2012-02-25T11:32:17
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 8529 2011-02-09 20:49:58Z lloyd_mckenzie $
 Fix Names Transform: $Id: FixMifNames.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
  Base transform: $Id: ConvertBase.xsl 8870 2011-09-14 18:32:56Z woody_beeler $
  Package Id Conversion: $Id: TransformPackageIds.xsl 8398 2010-10-12 01:52:15Z lloyd_mckenzie $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 7375 2009-01-26 19:26:53Z wbeeler $
StaticMifToXsd.xsl version 2.0</xs:documentation>
   </xs:annotation>
   <xs:include schemaLocation="../coreschemas/infrastructureRoot.xsd"/>
   <xs:include schemaLocation="COCT_MT440001NL.xsd"/>
   <xs:include schemaLocation="POCP_MT050100NL.xsd"/>
   <xs:include schemaLocation="POCP_MT090100NL.xsd"/>
   <xs:include schemaLocation="POCP_MT030200NL.xsd"/>
   <xs:include schemaLocation="POCP_MT060000NL.xsd"/>
   <xs:include schemaLocation="POCP_MT060100NL.xsd"/>
   <xs:include schemaLocation="POCP_MT060200NL.xsd"/>
   <xs:include schemaLocation="POCP_MT070000NL.xsd"/>
   <xs:include schemaLocation="POCP_MT070100NL.xsd"/>
   <xs:include schemaLocation="POCP_MT070200NL.xsd"/>
   <xs:include schemaLocation="POCP_MT030100NL.xsd"/>
   <xs:include schemaLocation="POCP_MT050400NL.xsd"/>
   <xs:include schemaLocation="POCP_MT081100NL.xsd"/>
   <xs:include schemaLocation="POCP_MT020100NL.xsd"/>
   <xs:complexType name="POCP_MT010200NL.ActDefinition">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="primaryPerformer" type="POCP_MT010200NL.PrimaryPerformer" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="author" type="POCP_MT010200NL.Author" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassRoot" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodDefinition" use="required"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT010200NL.Author">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="assignedEntity2" type="POCP_MT030100NL.AssignedEntity2" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationAuthorOriginator" use="required"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT010200NL.Consumable1">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:element name="substanceAdministrationA1"
                        type="POCP_MT010200NL.SubstanceAdministrationA"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:choice>
               <xs:element name="substanceAdministration1" type="POCP_MT060100NL.SubstanceAdministration1"
                           nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="administrationGuideline" type="POCP_MT060200NL.AdministrationGuideline"
                           nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
            </xs:choice>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationConsumable" use="required"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT010200NL.Consumable2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="manufacturedProduct" type="POCP_MT010200NL.ManufacturedProduct"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationConsumable" use="required"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT010200NL.Content">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="quantity" type="RTO_PQ_PQ" minOccurs="1" maxOccurs="1"/>
         <xs:element name="containerPackagedProduct" type="POCP_MT010200NL.PackagedProduct"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="subjectOf" type="POCP_MT010200NL.Subject" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="productOf" type="POCP_MT010200NL.Product3" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="indirectTargetOf" type="POCP_MT010200NL.IndirectTarget" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassContent" use="required"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT010200NL.Content1">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="quantity" type="RTO_PQ_PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="containerPackagedProduct" type="POCP_MT010200NL.PackagedProduct"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="subjectOf" type="POCP_MT010200NL.Subject" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="productOf" type="POCP_MT010200NL.Product2" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="indirectTargetOf" type="POCP_MT010200NL.IndirectTarget" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassContent" use="required"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT010200NL.Device">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:element name="observation" type="POCP_MT070100NL.Observation" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="actDefinition" type="POCP_MT070200NL.ActDefinition" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationTargetDevice" use="required"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT010200NL.DistributedProduct">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="distributingOrganization" type="POCP_MT030200NL.Organization"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassDistributedMaterial" use="required"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT010200NL.EntityWithGeneric">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="genericMedicine" type="POCP_MT010200NL.GenericMedicine" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassHasGeneric" use="required"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT010200NL.EquivalentEntity">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="definingMaterialKind" type="POCP_MT010200NL.MaterialKind" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassEquivalentEntity" use="required"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT010200NL.GenericMedicine">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="name" type="TN" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClassManufacturedMaterial" use="required"/>
      <xs:attribute name="determinerCode" type="EntityDeterminerDetermined" use="required"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT010200NL.IdentifiedEntity">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="assigningOrganization" type="POCP_MT030200NL.Organization" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="subjectOf" type="POCP_MT010200NL.Subject" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassIdentifiedEntity" use="required"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT010200NL.IndirectTarget">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="valuedItem" type="COCT_MT440001NL.ValuedItem" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationIndirectTarget" use="required"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT010200NL.Ingredient">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="quantity" type="RTO_PQ_PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="ingredientSubstance" type="POCP_MT081100NL.Substance" minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="subjectOf" type="POCP_MT010200NL.Subject" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="indirectTargetOf" type="POCP_MT010200NL.IndirectTarget" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassIngredientEntity" use="required"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT010200NL.ManufacturedProduct">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="manufacturedProduct" type="POCP_MT010200NL.Product" minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="manufacturerOrganization" type="POCP_MT030200NL.Organization"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="subjectOf" type="POCP_MT010200NL.Subject" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="deviceOf" type="POCP_MT010200NL.Device" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="consumedIn" type="POCP_MT010200NL.Consumable1" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="productOf" type="POCP_MT010200NL.Product3" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="indirectTargetOf" type="POCP_MT010200NL.IndirectTarget" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassManufacturedProduct" use="required"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT010200NL.ManufacturedProduct2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="manufacturerOrganization" type="POCP_MT030200NL.Organization"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="subjectOf" type="POCP_MT010200NL.Subject" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="productOf" type="POCP_MT010200NL.Product2" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="indirectTargetOf" type="POCP_MT010200NL.IndirectTarget" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassManufacturedProduct" use="required"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT010200NL.MaterialKind">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="name" type="TN" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClassMaterial" use="required"/>
      <xs:attribute name="determinerCode" type="EntityDeterminerDetermined" use="required"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT010200NL.NamedEntity">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="name" type="EN" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="assigningTerritory" type="POCP_MT050400NL.Territory" minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="subjectOf" type="POCP_MT010200NL.Subject" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassIdentifiedEntity" use="required"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT010200NL.PackagedProduct">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="name" type="EN" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="desc" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="formCode" type="CE" minOccurs="1" maxOccurs="1"/>
         <xs:element name="capacityQuantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="capTypeCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="asDistributedProduct" type="POCP_MT010200NL.DistributedProduct"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="asManufacturedProduct" type="POCP_MT010200NL.ManufacturedProduct2"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="asContent" type="POCP_MT010200NL.Content1" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClassContainer" use="required"/>
      <xs:attribute name="determinerCode" type="EntityDeterminerDetermined" use="required"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT010200NL.Part">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="quantity" type="RTO_PQ_PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="partProduct" type="POCP_MT010200NL.Product" minOccurs="1" maxOccurs="1"/>
         <xs:element name="subjectOf" type="POCP_MT010200NL.Subject" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="deviceOf" type="POCP_MT010200NL.Device" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="consumedIn" type="POCP_MT010200NL.Consumable1" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="productOf" type="POCP_MT010200NL.Product3" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="indirectTargetOf" type="POCP_MT010200NL.IndirectTarget" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassPart" use="required"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT010200NL.PartOfAssembly">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="wholeProduct" type="POCP_MT010200NL.Product" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassPart" use="required"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT010200NL.PotentialSupply">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="title" type="ST" minOccurs="0" maxOccurs="1"/>
         <xs:element name="author" type="POCP_MT010200NL.Author" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassSupply" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodDefinition" use="required"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT010200NL.PrimaryPerformer">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="assignedEntity2" type="POCP_MT030100NL.AssignedEntity2" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationPrimaryPerformer" use="required"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT010200NL.Product">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="name" type="EN" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="desc" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="riskCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="handlingCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="formCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="expirationTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="asIdentifiedEntity" type="POCP_MT010200NL.IdentifiedEntity" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="asNamedEntity" type="POCP_MT010200NL.NamedEntity" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="asContent" type="POCP_MT010200NL.Content" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="asPartOfAssembly" type="POCP_MT010200NL.PartOfAssembly" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="asEntityWithGeneric" type="POCP_MT010200NL.EntityWithGeneric"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="asSpecializedKind" type="POCP_MT010200NL.SpecializedKind" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="asEquivalentEntity" type="POCP_MT010200NL.EquivalentEntity" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="part" type="POCP_MT010200NL.Part" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="ingredient" type="POCP_MT010200NL.Ingredient" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="instanceOfKind1" type="POCP_MT020100NL.InstanceOfKind1" minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClassManufacturedMaterial" use="required"/>
      <xs:attribute name="determinerCode" type="EntityDeterminerDetermined" use="required"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT010200NL.Product2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="potentialSupply" type="POCP_MT010200NL.PotentialSupply" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationProduct" use="required"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT010200NL.Product3">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:element name="potentialSupply" type="POCP_MT010200NL.PotentialSupply" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="reconstitution" type="POCP_MT010200NL.Reconstitution" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="actDefinition" type="POCP_MT010200NL.ActDefinition" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationProduct" use="required"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT010200NL.Reconstitution">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="consumable" type="POCP_MT010200NL.Consumable2" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="author" type="POCP_MT010200NL.Author" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassRoot" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodDefinition" use="required"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT010200NL.SpecializedKind">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="generalizedMaterialKind" type="POCP_MT010200NL.MaterialKind"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="subjectOf" type="POCP_MT010200NL.Subject" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassIsSpeciesEntity" use="required"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT010200NL.Subject">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:element name="document1" type="POCP_MT050100NL.Document" nillable="true" minOccurs="1"
                        maxOccurs="1"/>
            <xs:choice>
               <xs:choice>
                  <xs:element name="approval1" type="POCP_MT050100NL.Approval" nillable="true" minOccurs="1"
                              maxOccurs="1"/>
                  <xs:element name="policy1" type="POCP_MT050100NL.Policy" nillable="true" minOccurs="1"
                              maxOccurs="1"/>
               </xs:choice>
               <xs:choice>
                  <xs:element name="marketingAct1" type="POCP_MT050100NL.MarketingAct" nillable="true"
                              minOccurs="1"
                              maxOccurs="1"/>
                  <xs:element name="monitoringProgram1" type="POCP_MT050100NL.MonitoringProgram"
                              nillable="true"
                              minOccurs="1"
                              maxOccurs="1"/>
               </xs:choice>
            </xs:choice>
            <xs:choice>
               <xs:element name="characteristic" type="POCP_MT050100NL.Characteristic" nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="observationGoal" type="POCP_MT050100NL.ObservationGoal" nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="substanceSpecification" type="POCP_MT090100NL.SubstanceSpecification"
                           nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
            </xs:choice>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="required"/>
      <xs:attribute name="negationInd" type="bl" use="optional" default="false"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT010200NL.SubstanceAdministrationA">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="routeCode" type="CE" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassSubstanceAdministration" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodDefinition" use="required"/>
   </xs:complexType>
</xs:schema>