ada_2_hl7/jgz/7.0/hl7v3_schemas/POCP_MT082100NL.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:ex="urn:hl7-org/v3-example" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="urn:hl7-org:v3"
           targetNamespace="urn:hl7-org:v3"
           elementFormDefault="qualified"><!--
*****************************************************************************************************************
* XML schema for message type POCP_MT082100NL.
* Source information:
*      Rendered by: Visio to MIF transform
*      Rendered on: 
* Entry point text: Description Property-contextConductionStyle: I
*
* Saved in XML file by RMIM Designer in Visio at 2012-02-25T14:27:40
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 8529 2011-02-09 20:49:58Z lloyd_mckenzie $
 Fix Names Transform: $Id: FixMifNames.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
  Base transform: $Id: ConvertBase.xsl 8870 2011-09-14 18:32:56Z woody_beeler $
  Package Id Conversion: $Id: TransformPackageIds.xsl 8398 2010-10-12 01:52:15Z lloyd_mckenzie $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 7375 2009-01-26 19:26:53Z wbeeler $
*
* Generated by XMLITS version 3.4.6
*   MIF to XSD Transform $Id: StaticMifToXsd.xsl 8419 2010-11-15 00:10:54Z woody_beeler $
*     Package Id Conversion: $Id: TransformPackageIds.xsl 8398 2010-10-12 01:52:15Z lloyd_mckenzie $
*
* Copyright (c) 2002, 2003, 2004, 2005, 2006, 2007 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  --><xs:annotation>
      <xs:documentation>Generated using schema builder version 3.4.6. Stylesheets:
Saved in XML file by RMIM Designer in Visio at 2012-02-25T14:27:40
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 8529 2011-02-09 20:49:58Z lloyd_mckenzie $
 Fix Names Transform: $Id: FixMifNames.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
  Base transform: $Id: ConvertBase.xsl 8870 2011-09-14 18:32:56Z woody_beeler $
  Package Id Conversion: $Id: TransformPackageIds.xsl 8398 2010-10-12 01:52:15Z lloyd_mckenzie $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 7375 2009-01-26 19:26:53Z wbeeler $
StaticMifToXsd.xsl version 2.0</xs:documentation>
   </xs:annotation>
   <xs:include schemaLocation="../coreschemas/infrastructureRoot.xsd"/>
   <xs:include schemaLocation="POCP_MT090100NL.xsd"/>
   <xs:include schemaLocation="POCP_MT010300NL.xsd"/>
   <xs:include schemaLocation="POCP_MT080200NL.xsd"/>
   <xs:complexType name="POCP_MT082100NL.Bond">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="quantity" type="RTO_PQ_PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="positionNumber" type="INT" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="distalMoiety" type="POCP_MT082100NL.Moiety2" minOccurs="1" maxOccurs="1"/>
         <xs:element name="subjectOf" type="POCP_MT082100NL.Subject1" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="productOf" type="POCP_MT082100NL.Product" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="participation" type="POCP_MT082100NL.Interactor1" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassMolecularBond" use="required"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT082100NL.Characteristic">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="value" type="ANY" minOccurs="0" maxOccurs="1"/>
         <xs:element name="subjectOf1" type="POCP_MT082100NL.Subject2" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="subjectOf2" type="POCP_MT082100NL.Subject" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassObservation" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT082100NL.Component">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="splitCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="joinCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="derivationProcess" type="POCP_MT082100NL.DerivationProcess"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="required"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT082100NL.ControlVariable">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="characteristic" type="POCP_MT082100NL.Characteristic" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasControlVariable" use="required"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT082100NL.DerivationProcess">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="participation" type="POCP_MT082100NL.Interactor2" minOccurs="1"
                     maxOccurs="unbounded"/>
         <xs:element name="generalization" type="POCP_MT082100NL.Generalization1" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="controlVariable" type="POCP_MT082100NL.ControlVariable" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="subjectOf" type="POCP_MT082100NL.Subject2" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="componentOf" type="POCP_MT082100NL.Component" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassProcedure" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodDefinition" use="required"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT082100NL.Document">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="title" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="availabilityTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="languageCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="bibliographicDesignationText" type="ED" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="subjectOf1" type="POCP_MT082100NL.Subject2" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="subjectOf2" type="POCP_MT082100NL.Subject" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassDocument" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT082100NL.EquivalentSubstance">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="quantity" type="RTO_PQ_PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="definingSubstance" type="POCP_MT082100NL.Substance" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassEquivalentEntity" use="required"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT082100NL.Generalization1">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="derivationProcess" type="POCP_MT082100NL.DerivationProcess"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasGeneralization" use="required"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT082100NL.Generalization2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="interaction" type="POCP_MT082100NL.Interaction" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasGeneralization" use="required"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT082100NL.IdentifiedEntity">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="code" type="CV" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassIdentifiedEntity" use="required"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT082100NL.Ingredient">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="quantity" type="RTO_PQ_PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="ingredientSubstance" type="POCP_MT082100NL.Substance" minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="subjectOf" type="POCP_MT082100NL.Subject1" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="productOf" type="POCP_MT082100NL.Product" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="participation" type="POCP_MT082100NL.Interactor1" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassIngredientEntity" use="required"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT082100NL.Interaction">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="participation" type="POCP_MT082100NL.Interactor2" minOccurs="1"
                     maxOccurs="unbounded"/>
         <xs:element name="generalization" type="POCP_MT082100NL.Generalization2" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassRoot" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodDefinition" use="required"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT082100NL.Interactor1">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="functionCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="quantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="interaction" type="POCP_MT082100NL.Interaction" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ReactionParticipant" use="required"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT082100NL.Interactor2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="functionCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="quantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="identifiedEntity" type="POCP_MT082100NL.IdentifiedEntity" minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="presentSubstance" type="POCP_MT080200NL.PresentSubstance" minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ReactionParticipant" use="required"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT082100NL.Moiety">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="quantity" type="RTO_PQ_PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="positionNumber" type="INT" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="partMoiety" type="POCP_MT082100NL.Moiety1" minOccurs="1" maxOccurs="1"/>
         <xs:element name="subjectOf" type="POCP_MT082100NL.Subject1" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="productOf" type="POCP_MT082100NL.Product" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="participation" type="POCP_MT082100NL.Interactor1" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassPart" use="required"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT082100NL.Moiety1">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="name" type="TN" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="asSpecializedKind" type="POCP_MT010300NL.SpecializedKind" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="bond" type="POCP_MT082100NL.Bond" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="moiety" type="POCP_MT082100NL.Moiety" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClassManufacturedMaterial" use="required"/>
      <xs:attribute name="determinerCode" type="EntityDeterminerDetermined" use="required"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT082100NL.Moiety2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClassManufacturedMaterial" use="required"/>
      <xs:attribute name="determinerCode" type="EntityDeterminerDetermined" use="required"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT082100NL.NamedEntity">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CV" minOccurs="0" maxOccurs="1"/>
         <xs:element name="name" type="EN" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="subjectOf" type="POCP_MT082100NL.Subject1" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassIdentifiedEntity" use="required"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT082100NL.Policy">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="subjectOf1" type="POCP_MT082100NL.Subject2" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="subjectOf2" type="POCP_MT082100NL.Subject" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassPolicy" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT082100NL.Product">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="functionCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="quantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="derivationProcess" type="POCP_MT082100NL.DerivationProcess"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationProduct" use="required"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT082100NL.Subject">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="document" type="POCP_MT082100NL.Document" nillable="true" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasSubject" use="required"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT082100NL.Subject1">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:choice>
               <xs:element name="policy1" type="POCP_MT082100NL.Policy" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="substanceSpecification1" type="POCP_MT090100NL.SubstanceSpecification"
                           nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
            </xs:choice>
            <xs:choice>
               <xs:element name="document" type="POCP_MT082100NL.Document" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="characteristic" type="POCP_MT082100NL.Characteristic" nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
            </xs:choice>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="required"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT082100NL.Subject2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:element name="document" type="POCP_MT082100NL.Document" nillable="true" minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="characteristic" type="POCP_MT082100NL.Characteristic" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasSubject" use="required"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT082100NL.Substance">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CV" minOccurs="1" maxOccurs="1"/>
         <xs:element name="name" type="TN" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="desc" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="asNamedEntity" type="POCP_MT082100NL.NamedEntity" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="asEquivalentSubstance" type="POCP_MT082100NL.EquivalentSubstance"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="asSpecializedKind" type="POCP_MT010300NL.SpecializedKind" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="moiety" type="POCP_MT082100NL.Moiety" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="ingredient" type="POCP_MT082100NL.Ingredient" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClassManufacturedMaterial" use="required"/>
      <xs:attribute name="determinerCode" type="EntityDeterminerDetermined" use="required"/>
   </xs:complexType>
</xs:schema>