ada_2_hl7/jgz/7.0/hl7v3_schemas/REPC_IN002171NL.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- REPC_IN002171NL - Opleveren toegediende vaccinaties --><!--Note: this file was generated. DO NOT EDIT HERE.-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v3"
           targetNamespace="urn:hl7-org:v3"
           elementFormDefault="qualified">
   <xs:include schemaLocation="MCCI_MT000300.xsd"/>
   <xs:include schemaLocation="QUQI_MT120001.xsd"/>
   <xs:include schemaLocation="REPC_MT002171NL.xsd"/>
   <xs:element name="REPC_IN002171NL" type="MCCI_MT000300.Message"/>
   <xs:group name="Payload">
        <xs:sequence>
             <xs:element name="VaccinationAdministrationList" type="REPC_MT002171NL.VaccinationAdministrationList"/>
        </xs:sequence>
   </xs:group>
</xs:schema>