ada_2_hl7/jgz/7.0.0/bds326/ada_schemas/versturen_vaccinatie.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:annotation>
      <xs:documentation>Schema for transaction: 2.16.840.1.113883.2.4.3.11.60.100.4.11</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="empty_string">
      <xs:annotation>
         <xs:documentation>Type for empty value-strings on non-mandatory concepts</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="0"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:element name="versturen_vaccinatie" type="versturen_vaccinatie_type"/>
   <xs:complexType name="versturen_vaccinatie_type">
      <xs:sequence>
         <xs:element name="r002_dossierinformatie-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.100.2.1.2"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="r002_dossierinformatie"
                     type="r002_dossierinformatie_type_2_16_840_1_113883_2_4_3_11_60_100_2_1_2"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="r003_persoonsgegevens-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.100.2.1.3"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="r003_persoonsgegevens"
                     type="r003_persoonsgegevens_type_2_16_840_1_113883_2_4_3_11_60_100_2_1_3"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="r005_betrokken_jgzorganisaties-start"
                     minOccurs="0"
                     maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.100.2.1.5"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="r005_betrokken_jgzorganisaties"
                     type="r005_betrokken_jgzorganisaties_type_2_16_840_1_113883_2_4_3_11_60_100_2_1_5"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="r018_activiteit-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.100.2.1.18"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="r018_activiteit"
                     type="r018_activiteit_type_2_16_840_1_113883_2_4_3_11_60_100_2_1_18"
                     minOccurs="1"
                     maxOccurs="unbounded"/>
         <xs:element name="r041_rijksvaccinatieprogramma_en_andere_vaccinaties-start"
                     minOccurs="0"
                     maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.100.2.1.41"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="r041_rijksvaccinatieprogramma_en_andere_vaccinaties"
                     type="r041_rijksvaccinatieprogramma_en_andere_vaccinaties_type_2_16_840_1_113883_2_4_3_11_60_100_2_1_41"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:string"/>
      <xs:attribute name="app" type="xs:string"/>
      <xs:attribute name="shortName" type="xs:string" use="optional"/>
      <xs:attribute name="formName" type="xs:string" use="optional"/>
      <xs:attribute name="transactionRef" type="xs:string"/>
      <xs:attribute name="transactionEffectiveDate" type="xs:dateTime"/>
      <xs:attribute name="versionDate" type="xs:string"/>
      <xs:attribute name="language" type="xs:string"/>
      <xs:attribute name="prefix" type="xs:string"/>
      <xs:attribute name="adaVersion" type="xs:decimal"/>
      <xs:attribute name="title" type="xs:string"/>
      <xs:attribute name="desc" type="xs:string"/>
      <xs:attribute name="rights" type="xs:string"/>
      <xs:attribute name="owner" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="r002_dossierinformatie_type_2_16_840_1_113883_2_4_3_11_60_100_2_1_2">
      <xs:annotation>
         <xs:documentation>Type for concept group: R002: Dossierinformatie</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="dossiernummer-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.100.2.3.695"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="dossiernummer"
                     type="dossiernummer_type_2_16_840_1_113883_2_4_3_11_60_100_2_3_695"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="dossier_status-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.100.2.3.696"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="dossier_status"
                     type="dossier_status_type_2_16_840_1_113883_2_4_3_11_60_100_2_3_696"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.100.2.1.2"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="r003_persoonsgegevens_type_2_16_840_1_113883_2_4_3_11_60_100_2_1_3">
      <xs:annotation>
         <xs:documentation>Type for concept group: R003: Persoonsgegevens</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="bsn-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.100.2.3.7"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="bsn"
                     type="bsn_type_2_16_840_1_113883_2_4_3_11_60_100_2_3_7"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="voornaam-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.100.2.3.6"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="voornaam"
                     type="voornaam_type_2_16_840_1_113883_2_4_3_11_60_100_2_3_6"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="voorvoegsel_geslachtsnaam-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.100.2.3.3"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="voorvoegsel_geslachtsnaam"
                     type="voorvoegsel_geslachtsnaam_type_2_16_840_1_113883_2_4_3_11_60_100_2_3_3"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="geslachtsnaam-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.100.2.3.4"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="geslachtsnaam"
                     type="geslachtsnaam_type_2_16_840_1_113883_2_4_3_11_60_100_2_3_4"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="geslacht-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.100.2.3.19"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="geslacht"
                     type="geslacht_type_2_16_840_1_113883_2_4_3_11_60_100_2_3_19"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="geboortedatum-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.100.2.3.20"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="geboortedatum"
                     type="geboortedatum_type_2_16_840_1_113883_2_4_3_11_60_100_2_3_20"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="groep_g001_adres_client-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.100.2.2.1"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="groep_g001_adres_client"
                     type="groep_g001_adres_client_type_2_16_840_1_113883_2_4_3_11_60_100_2_2_1"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.100.2.1.3"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="groep_g001_adres_client_type_2_16_840_1_113883_2_4_3_11_60_100_2_2_1">
      <xs:annotation>
         <xs:documentation>Type for concept group: Groep G001: Adres cliënt</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="soort_adres-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.100.2.3.8"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="soort_adres"
                     type="soort_adres_type_2_16_840_1_113883_2_4_3_11_60_100_2_3_8"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="huisnummer-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.100.2.3.12"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="huisnummer"
                     type="huisnummer_type_2_16_840_1_113883_2_4_3_11_60_100_2_3_12"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="huisletter-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.100.2.3.13"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="huisletter"
                     type="huisletter_type_2_16_840_1_113883_2_4_3_11_60_100_2_3_13"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="huisnummertoevoeging-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.100.2.3.14"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="huisnummertoevoeging"
                     type="huisnummertoevoeging_type_2_16_840_1_113883_2_4_3_11_60_100_2_3_14"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="postcode-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.100.2.3.16"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="postcode"
                     type="postcode_type_2_16_840_1_113883_2_4_3_11_60_100_2_3_16"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.100.2.2.1"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="r005_betrokken_jgzorganisaties_type_2_16_840_1_113883_2_4_3_11_60_100_2_1_5">
      <xs:annotation>
         <xs:documentation>Type for concept group: R005: Betrokken JGZ-organisaties</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="groep_g085_uitvoerende_jgzorganisatie-start"
                     minOccurs="0"
                     maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.100.2.2.85"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="groep_g085_uitvoerende_jgzorganisatie"
                     type="groep_g085_uitvoerende_jgzorganisatie_type_2_16_840_1_113883_2_4_3_11_60_100_2_2_85"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.100.2.1.5"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="groep_g085_uitvoerende_jgzorganisatie_type_2_16_840_1_113883_2_4_3_11_60_100_2_2_85">
      <xs:annotation>
         <xs:documentation>Type for concept group: Groep G085: Uitvoerende JGZ-organisatie</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="uitvoerende_jgzorganisatie_ura-start"
                     minOccurs="0"
                     maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.100.2.3.603"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="uitvoerende_jgzorganisatie_ura"
                     type="uitvoerende_jgzorganisatie_ura_type_2_16_840_1_113883_2_4_3_11_60_100_2_3_603"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.100.2.2.85"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="r018_activiteit_type_2_16_840_1_113883_2_4_3_11_60_100_2_1_18">
      <xs:annotation>
         <xs:documentation>Type for concept group: R018: Activiteit</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="activiteit_id-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.100.2.3.1377"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="activiteit_id"
                     type="activiteit_id_type_2_16_840_1_113883_2_4_3_11_60_100_2_3_1377"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="soort_activiteit-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.100.2.3.494"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="soort_activiteit"
                     type="soort_activiteit_type_2_16_840_1_113883_2_4_3_11_60_100_2_3_494"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="datum_activiteit-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.100.2.3.724"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="datum_activiteit"
                     type="datum_activiteit_type_2_16_840_1_113883_2_4_3_11_60_100_2_3_724"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.100.2.1.18"/>
      <xs:attribute name="id" type="xs:ID"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="r041_rijksvaccinatieprogramma_en_andere_vaccinaties_type_2_16_840_1_113883_2_4_3_11_60_100_2_1_41">
      <xs:annotation>
         <xs:documentation>Type for concept group: R041: Rijksvaccinatieprogramma en andere vaccinaties</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="groep_g076_vaccinatie-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.100.2.2.76"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="groep_g076_vaccinatie"
                     type="groep_g076_vaccinatie_type_2_16_840_1_113883_2_4_3_11_60_100_2_2_76"
                     minOccurs="1"
                     maxOccurs="unbounded"/>
         <xs:element name="vaccinatieschema_dktp-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.100.2.3.1584"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="vaccinatieschema_dktp"
                     type="vaccinatieschema_dktp_type_2_16_840_1_113883_2_4_3_11_60_100_2_3_1584"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.100.2.1.41"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="groep_g076_vaccinatie_type_2_16_840_1_113883_2_4_3_11_60_100_2_2_76">
      <xs:annotation>
         <xs:documentation>Type for concept group: Groep G076: Vaccinatie</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="soort_vaccinatie-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.100.2.3.461"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="soort_vaccinatie"
                     type="soort_vaccinatie_type_2_16_840_1_113883_2_4_3_11_60_100_2_3_461"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="datum_vaccinatie-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.100.2.3.1409"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="datum_vaccinatie"
                     type="datum_vaccinatie_type_2_16_840_1_113883_2_4_3_11_60_100_2_3_1409"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="bezwaar-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.100.2.3.683"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="bezwaar"
                     type="bezwaar_type_2_16_840_1_113883_2_4_3_11_60_100_2_3_683"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="partijnummer-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.100.2.3.472"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="partijnummer"
                     type="partijnummer_type_2_16_840_1_113883_2_4_3_11_60_100_2_3_472"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="uitvoerende_instantie_vaccinatie-start"
                     minOccurs="0"
                     maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.100.2.3.1336"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="uitvoerende_instantie_vaccinatie"
                     type="uitvoerende_instantie_vaccinatie_type_2_16_840_1_113883_2_4_3_11_60_100_2_3_1336"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="locatie_uitvoerende_organisatie-start"
                     minOccurs="0"
                     maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.100.2.3.1452"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="locatie_uitvoerende_organisatie"
                     type="locatie_uitvoerende_organisatie_type_2_16_840_1_113883_2_4_3_11_60_100_2_3_1452"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.100.2.2.76"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Dossiernummer - 1..1 M</xs:documentation>
   </xs:annotation>
   <xs:complexType name="dossiernummer_type_2_16_840_1_113883_2_4_3_11_60_100_2_3_695">
      <xs:sequence>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.100.2.3.695"/>
      <xs:attribute name="value" use="required">
         <xs:simpleType>
            <xs:union memberTypes="dossiernummer_1_datatype_2_16_840_1_113883_2_4_3_11_60_100_2_3_695 "/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="identifier"/>
      <xs:attribute name="root" type="xs:string"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>simpleType for valueDomain: Dossiernummer: identifier</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="dossiernummer_1_datatype_2_16_840_1_113883_2_4_3_11_60_100_2_3_695">
      <xs:restriction base="xs:string">
         <xs:annotation>
            <xs:documentation>@conformance='M'</xs:documentation>
         </xs:annotation>
         <xs:minLength value="1"/>
         <xs:pattern value=".*[^\s].*"/>
         <xs:maxLength value="15"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Dossier status - 1..1 M</xs:documentation>
   </xs:annotation>
   <xs:complexType name="dossier_status_type_2_16_840_1_113883_2_4_3_11_60_100_2_3_696">
      <xs:sequence>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.100.2.3.696"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:annotation>
                  <xs:documentation>valueSet/conceptList/concept</xs:documentation>
               </xs:annotation>
               <xs:enumeration value="1">
                  <xs:annotation>
                     <xs:documentation>W0002 Dossier status (BDS)</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="2">
                  <xs:annotation>
                     <xs:documentation>Actief</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="3">
                  <xs:annotation>
                     <xs:documentation>Gesloten</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="4">
                  <xs:annotation>
                     <xs:documentation>W0002 Dossier status (HL7)</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="5">
                  <xs:annotation>
                     <xs:documentation>active</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="6">
                  <xs:annotation>
                     <xs:documentation>completed</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="code"/>
      <xs:attribute name="code" type="xs:string" use="required"/>
      <xs:attribute name="codeSystem" type="xs:string" use="required"/>
      <xs:attribute name="codeSystemName" type="xs:string"/>
      <xs:attribute name="codeSystemVersion" type="xs:string"/>
      <xs:attribute name="displayName" type="xs:string" use="required"/>
      <xs:attribute name="preferred" type="BooleanOrEmpty"/>
      <xs:attribute name="originalText" type="xs:string"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>simpleType for valueDomain: Dossier status: code</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="dossier_status_1_datatype_2_16_840_1_113883_2_4_3_11_60_100_2_3_696">
      <xs:restriction base="xs:string">
         <xs:annotation>
            <xs:documentation>@conformance='M'</xs:documentation>
         </xs:annotation>
         <xs:minLength value="1"/>
         <xs:pattern value=".*[^\s].*"/>
         <xs:maxLength value="2"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:annotation>
      <xs:documentation>Type for concept item: BSN - 1..1 M</xs:documentation>
   </xs:annotation>
   <xs:complexType name="bsn_type_2_16_840_1_113883_2_4_3_11_60_100_2_3_7">
      <xs:sequence>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.100.2.3.7"/>
      <xs:attribute name="value" use="required">
         <xs:simpleType>
            <xs:union memberTypes="bsn_1_datatype_2_16_840_1_113883_2_4_3_11_60_100_2_3_7 "/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="identifier"/>
      <xs:attribute name="root" type="xs:string" default="2.16.840.1.113883.2.4.6.3"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>simpleType for valueDomain: BSN: identifier</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="bsn_1_datatype_2_16_840_1_113883_2_4_3_11_60_100_2_3_7">
      <xs:restriction base="xs:string">
         <xs:annotation>
            <xs:documentation>@conformance='M'</xs:documentation>
         </xs:annotation>
         <xs:minLength value="1"/>
         <xs:pattern value=".*[^\s].*"/>
         <xs:maxLength value="12"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Voornaam - 0..1 C</xs:documentation>
   </xs:annotation>
   <xs:complexType name="voornaam_type_2_16_840_1_113883_2_4_3_11_60_100_2_3_6">
      <xs:sequence>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.100.2.3.6"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:union memberTypes="voornaam_1_datatype_2_16_840_1_113883_2_4_3_11_60_100_2_3_6 empty_string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>simpleType for valueDomain: Voornaam: string</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="voornaam_1_datatype_2_16_840_1_113883_2_4_3_11_60_100_2_3_6">
      <xs:restriction base="xs:string">
         <xs:maxLength value="200"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Voorvoegsel geslachtsnaam - 0..1 C</xs:documentation>
   </xs:annotation>
   <xs:complexType name="voorvoegsel_geslachtsnaam_type_2_16_840_1_113883_2_4_3_11_60_100_2_3_3">
      <xs:sequence>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.100.2.3.3"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:union memberTypes="voorvoegsel_geslachtsnaam_1_datatype_2_16_840_1_113883_2_4_3_11_60_100_2_3_3 empty_string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>simpleType for valueDomain: Voorvoegsel geslachtsnaam: string</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="voorvoegsel_geslachtsnaam_1_datatype_2_16_840_1_113883_2_4_3_11_60_100_2_3_3">
      <xs:restriction base="xs:string">
         <xs:maxLength value="10"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Geslachtsnaam - 1..1 M</xs:documentation>
   </xs:annotation>
   <xs:complexType name="geslachtsnaam_type_2_16_840_1_113883_2_4_3_11_60_100_2_3_4">
      <xs:sequence>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.100.2.3.4"/>
      <xs:attribute name="value" use="required">
         <xs:simpleType>
            <xs:union memberTypes="geslachtsnaam_1_datatype_2_16_840_1_113883_2_4_3_11_60_100_2_3_4 "/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="string"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>simpleType for valueDomain: Geslachtsnaam: string</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="geslachtsnaam_1_datatype_2_16_840_1_113883_2_4_3_11_60_100_2_3_4">
      <xs:restriction base="xs:string">
         <xs:annotation>
            <xs:documentation>@conformance='M'</xs:documentation>
         </xs:annotation>
         <xs:minLength value="1"/>
         <xs:pattern value=".*[^\s].*"/>
         <xs:maxLength value="200"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Geslacht - 1..1 M</xs:documentation>
   </xs:annotation>
   <xs:complexType name="geslacht_type_2_16_840_1_113883_2_4_3_11_60_100_2_3_19">
      <xs:sequence>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.100.2.3.19"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:annotation>
                  <xs:documentation>valueSet/conceptList/concept</xs:documentation>
               </xs:annotation>
               <xs:enumeration value="1">
                  <xs:annotation>
                     <xs:documentation>W0023 Geslacht (BDS)</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="2">
                  <xs:annotation>
                     <xs:documentation>Mannelijk</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="3">
                  <xs:annotation>
                     <xs:documentation>Vrouwelijk</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="4">
                  <xs:annotation>
                     <xs:documentation>Niet gespecificeerd</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="5">
                  <xs:annotation>
                     <xs:documentation>Onbekend</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="6">
                  <xs:annotation>
                     <xs:documentation>W0023 Geslacht (HL7)</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="7">
                  <xs:annotation>
                     <xs:documentation>Male</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="8">
                  <xs:annotation>
                     <xs:documentation>Female</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="9">
                  <xs:annotation>
                     <xs:documentation>Undifferentiated</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="10">
                  <xs:annotation>
                     <xs:documentation>unknown</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="code"/>
      <xs:attribute name="code" type="xs:string" use="required"/>
      <xs:attribute name="codeSystem" type="xs:string" use="required"/>
      <xs:attribute name="codeSystemName" type="xs:string"/>
      <xs:attribute name="codeSystemVersion" type="xs:string"/>
      <xs:attribute name="displayName" type="xs:string" use="required"/>
      <xs:attribute name="preferred" type="BooleanOrEmpty"/>
      <xs:attribute name="originalText" type="xs:string"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>simpleType for valueDomain: Geslacht: code</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="geslacht_1_datatype_2_16_840_1_113883_2_4_3_11_60_100_2_3_19">
      <xs:restriction base="xs:string">
         <xs:annotation>
            <xs:documentation>@conformance='M'</xs:documentation>
         </xs:annotation>
         <xs:minLength value="1"/>
         <xs:pattern value=".*[^\s].*"/>
         <xs:maxLength value="2"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Geboortedatum - 1..1 M</xs:documentation>
   </xs:annotation>
   <xs:complexType name="geboortedatum_type_2_16_840_1_113883_2_4_3_11_60_100_2_3_20">
      <xs:sequence>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.100.2.3.20"/>
      <xs:attribute name="value" use="required" type="VariableDateTime"/>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="datetime"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>simpleType for valueDomain: Geboortedatum: string</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="geboortedatum_1_datatype_2_16_840_1_113883_2_4_3_11_60_100_2_3_20">
      <xs:restriction base="xs:string">
         <xs:annotation>
            <xs:documentation>@conformance='M'</xs:documentation>
         </xs:annotation>
         <xs:minLength value="1"/>
         <xs:pattern value=".*[^\s].*"/>
         <xs:maxLength value="12"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Soort adres - 1..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="soort_adres_type_2_16_840_1_113883_2_4_3_11_60_100_2_3_8">
      <xs:sequence>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.100.2.3.8"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:annotation>
                  <xs:documentation>valueSet/conceptList/concept</xs:documentation>
               </xs:annotation>
               <xs:enumeration value="">
                  <xs:annotation>
                     <xs:documentation>Empty</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="1">
                  <xs:annotation>
                     <xs:documentation>W0003 Soort adres (HL7)</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="2">
                  <xs:annotation>
                     <xs:documentation>primary home</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="3">
                  <xs:annotation>
                     <xs:documentation>physical visit address</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="4">
                  <xs:annotation>
                     <xs:documentation>postal address</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="5">
                  <xs:annotation>
                     <xs:documentation>temporary address</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="6">
                  <xs:annotation>
                     <xs:documentation>W0003 Soort adres (BDS)</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="7">
                  <xs:annotation>
                     <xs:documentation>BRP/COA-adres</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="8">
                  <xs:annotation>
                     <xs:documentation>Woonadres</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="9">
                  <xs:annotation>
                     <xs:documentation>Postadres</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="10">
                  <xs:annotation>
                     <xs:documentation>Tijdelijk adres</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="11">
                  <xs:annotation>
                     <xs:documentation>Anders</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="code"/>
      <xs:attribute name="code" type="xs:string"/>
      <xs:attribute name="codeSystem" type="xs:string"/>
      <xs:attribute name="codeSystemName" type="xs:string"/>
      <xs:attribute name="codeSystemVersion" type="xs:string"/>
      <xs:attribute name="displayName" type="xs:string"/>
      <xs:attribute name="preferred" type="BooleanOrEmpty"/>
      <xs:attribute name="originalText" type="xs:string"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>simpleType for valueDomain: Soort adres: code</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="soort_adres_1_datatype_2_16_840_1_113883_2_4_3_11_60_100_2_3_8">
      <xs:restriction base="xs:string">
         <xs:maxLength value="4"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Huisnummer - 1..1 M</xs:documentation>
   </xs:annotation>
   <xs:complexType name="huisnummer_type_2_16_840_1_113883_2_4_3_11_60_100_2_3_12">
      <xs:sequence>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.100.2.3.12"/>
      <xs:attribute name="value" use="required">
         <xs:simpleType>
            <xs:union memberTypes="huisnummer_1_datatype_2_16_840_1_113883_2_4_3_11_60_100_2_3_12 "/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="count"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>simpleType for valueDomain: Huisnummer: count</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="huisnummer_1_datatype_2_16_840_1_113883_2_4_3_11_60_100_2_3_12">
      <xs:restriction base="xs:nonNegativeInteger"/>
   </xs:simpleType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Huisletter - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="huisletter_type_2_16_840_1_113883_2_4_3_11_60_100_2_3_13">
      <xs:sequence>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.100.2.3.13"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:union memberTypes="huisletter_1_datatype_2_16_840_1_113883_2_4_3_11_60_100_2_3_13 empty_string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>simpleType for valueDomain: Huisletter: string</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="huisletter_1_datatype_2_16_840_1_113883_2_4_3_11_60_100_2_3_13">
      <xs:restriction base="xs:string">
         <xs:maxLength value="1"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Huisnummertoevoeging - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="huisnummertoevoeging_type_2_16_840_1_113883_2_4_3_11_60_100_2_3_14">
      <xs:sequence>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.100.2.3.14"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:union memberTypes="huisnummertoevoeging_1_datatype_2_16_840_1_113883_2_4_3_11_60_100_2_3_14 empty_string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>simpleType for valueDomain: Huisnummertoevoeging: string</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="huisnummertoevoeging_1_datatype_2_16_840_1_113883_2_4_3_11_60_100_2_3_14">
      <xs:restriction base="xs:string">
         <xs:maxLength value="4"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Postcode - 1..1 M</xs:documentation>
   </xs:annotation>
   <xs:complexType name="postcode_type_2_16_840_1_113883_2_4_3_11_60_100_2_3_16">
      <xs:sequence>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.100.2.3.16"/>
      <xs:attribute name="value" use="required">
         <xs:simpleType>
            <xs:union memberTypes="postcode_1_datatype_2_16_840_1_113883_2_4_3_11_60_100_2_3_16 "/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="string"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>simpleType for valueDomain: Postcode: string</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="postcode_1_datatype_2_16_840_1_113883_2_4_3_11_60_100_2_3_16">
      <xs:restriction base="xs:string">
         <xs:annotation>
            <xs:documentation>@conformance='M'</xs:documentation>
         </xs:annotation>
         <xs:minLength value="1"/>
         <xs:pattern value=".*[^\s].*"/>
         <xs:maxLength value="10"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Uitvoerende JGZ-organisatie URA - 1..1 M</xs:documentation>
   </xs:annotation>
   <xs:complexType name="uitvoerende_jgzorganisatie_ura_type_2_16_840_1_113883_2_4_3_11_60_100_2_3_603">
      <xs:sequence>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.100.2.3.603"/>
      <xs:attribute name="value" use="required">
         <xs:simpleType>
            <xs:union memberTypes="uitvoerende_jgzorganisatie_ura_1_datatype_2_16_840_1_113883_2_4_3_11_60_100_2_3_603 "/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="identifier"/>
      <xs:attribute name="root" type="xs:string" default="2.16.528.1.1007.3.3"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>simpleType for valueDomain: Uitvoerende JGZ-organisatie URA: identifier</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="uitvoerende_jgzorganisatie_ura_1_datatype_2_16_840_1_113883_2_4_3_11_60_100_2_3_603">
      <xs:restriction base="xs:string">
         <xs:annotation>
            <xs:documentation>@conformance='M'</xs:documentation>
         </xs:annotation>
         <xs:minLength value="1"/>
         <xs:pattern value=".*[^\s].*"/>
         <xs:maxLength value="8"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Activiteit ID - 1..1 M</xs:documentation>
   </xs:annotation>
   <xs:complexType name="activiteit_id_type_2_16_840_1_113883_2_4_3_11_60_100_2_3_1377">
      <xs:sequence>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.100.2.3.1377"/>
      <xs:attribute name="value" use="required">
         <xs:simpleType>
            <xs:union memberTypes="activiteit_id_1_datatype_2_16_840_1_113883_2_4_3_11_60_100_2_3_1377 "/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="identifier"/>
      <xs:attribute name="root" type="xs:string"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>simpleType for valueDomain: Activiteit ID: identifier</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="activiteit_id_1_datatype_2_16_840_1_113883_2_4_3_11_60_100_2_3_1377">
      <xs:restriction base="xs:string">
         <xs:annotation>
            <xs:documentation>@conformance='M'</xs:documentation>
         </xs:annotation>
         <xs:minLength value="1"/>
         <xs:pattern value=".*[^\s].*"/>
         <xs:maxLength value="10"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Soort activiteit - 1..1 M</xs:documentation>
   </xs:annotation>
   <xs:complexType name="soort_activiteit_type_2_16_840_1_113883_2_4_3_11_60_100_2_3_494">
      <xs:sequence>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.100.2.3.494"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:annotation>
                  <xs:documentation>valueSet/conceptList/concept</xs:documentation>
               </xs:annotation>
               <xs:enumeration value="1">
                  <xs:annotation>
                     <xs:documentation>W0188 Soort activiteit (HL7)</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="2">
                  <xs:annotation>
                     <xs:documentation>Huisbezoek 4-7 dagen</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="3">
                  <xs:annotation>
                     <xs:documentation>Neonatale gehoorscreening</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="4">
                  <xs:annotation>
                     <xs:documentation>Huisbezoek 2 weken</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="5">
                  <xs:annotation>
                     <xs:documentation>Contactmoment 4 weken</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="6">
                  <xs:annotation>
                     <xs:documentation>Contactmoment 8 weken</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="7">
                  <xs:annotation>
                     <xs:documentation>Contactmoment 3 maanden</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="8">
                  <xs:annotation>
                     <xs:documentation>Contactmoment 4 maanden</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="9">
                  <xs:annotation>
                     <xs:documentation>Contactmoment 6 maanden</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="10">
                  <xs:annotation>
                     <xs:documentation>Contactmoment 7,5 maand</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="11">
                  <xs:annotation>
                     <xs:documentation>Contactmoment 9 maanden</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="12">
                  <xs:annotation>
                     <xs:documentation>Contactmoment 11 maanden</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="13">
                  <xs:annotation>
                     <xs:documentation>Contactmoment 14 maanden</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="14">
                  <xs:annotation>
                     <xs:documentation>Contactmoment 18 maanden</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="15">
                  <xs:annotation>
                     <xs:documentation>Contactmoment 2 jaar</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="16">
                  <xs:annotation>
                     <xs:documentation>Contactmoment 3 jaar</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="17">
                  <xs:annotation>
                     <xs:documentation>Contactmoment 3,9 jaar</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="18">
                  <xs:annotation>
                     <xs:documentation>Contactmoment groep 2</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="19">
                  <xs:annotation>
                     <xs:documentation>Contactmoment groep 7</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="20">
                  <xs:annotation>
                     <xs:documentation>Massavaccinatie</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="21">
                  <xs:annotation>
                     <xs:documentation>Contactmoment klas 2</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="22">
                  <xs:annotation>
                     <xs:documentation>Contactmoment speciaal onderwijs</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="23">
                  <xs:annotation>
                     <xs:documentation>Huisbezoek op indicatie</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="24">
                  <xs:annotation>
                     <xs:documentation>Contactmoment op indicatie</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="25">
                  <xs:annotation>
                     <xs:documentation>Contactmoment op verzoek</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="26">
                  <xs:annotation>
                     <xs:documentation>Telefonisch contactmoment</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="27">
                  <xs:annotation>
                     <xs:documentation>Spreekuur (0-19)</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="28">
                  <xs:annotation>
                     <xs:documentation>Groepsbijeenkomst (of groepsvoorlichting)</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="29">
                  <xs:annotation>
                     <xs:documentation>Intake nieuwkomers</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="30">
                  <xs:annotation>
                     <xs:documentation>Consultatie/inlichtingen vragen</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="31">
                  <xs:annotation>
                     <xs:documentation>Bespreking zorgstructuur</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="32">
                  <xs:annotation>
                     <xs:documentation>Melding</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="33">
                  <xs:annotation>
                     <xs:documentation>Terugkoppeling verwijzing</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="34">
                  <xs:annotation>
                     <xs:documentation>Zorgcoördinatie</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="35">
                  <xs:annotation>
                     <xs:documentation>Uitvoering hielprik/vaccinatie buiten de organisatie</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="36">
                  <xs:annotation>
                     <xs:documentation>other</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="37">
                  <xs:annotation>
                     <xs:documentation>W0188 Soort activiteit (BDS)</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="38">
                  <xs:annotation>
                     <xs:documentation>Huisbezoek 4-7 dagen</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="39">
                  <xs:annotation>
                     <xs:documentation>Neonatale gehoorscreening</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="40">
                  <xs:annotation>
                     <xs:documentation>Huisbezoek 2 weken</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="41">
                  <xs:annotation>
                     <xs:documentation>Contactmoment 4 weken</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="42">
                  <xs:annotation>
                     <xs:documentation>Contactmoment 8 weken</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="43">
                  <xs:annotation>
                     <xs:documentation>Contactmoment 3 maanden</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="44">
                  <xs:annotation>
                     <xs:documentation>Contactmoment 4 maanden</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="45">
                  <xs:annotation>
                     <xs:documentation>Contactmoment 6 maanden</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="46">
                  <xs:annotation>
                     <xs:documentation>Contactmoment 7,5 maand</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="47">
                  <xs:annotation>
                     <xs:documentation>Contactmoment 9 maanden</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="48">
                  <xs:annotation>
                     <xs:documentation>Contactmoment 11 maanden</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="49">
                  <xs:annotation>
                     <xs:documentation>Contactmoment 14 maanden</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="50">
                  <xs:annotation>
                     <xs:documentation>Contactmoment 18 maanden</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="51">
                  <xs:annotation>
                     <xs:documentation>Contactmoment 2 jaar</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="52">
                  <xs:annotation>
                     <xs:documentation>Contactmoment 3 jaar</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="53">
                  <xs:annotation>
                     <xs:documentation>Contactmoment 3,9 jaar</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="54">
                  <xs:annotation>
                     <xs:documentation>Contactmoment groep 2</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="55">
                  <xs:annotation>
                     <xs:documentation>Contactmoment groep 7</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="56">
                  <xs:annotation>
                     <xs:documentation>Massavaccinatie</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="57">
                  <xs:annotation>
                     <xs:documentation>Contactmoment klas 2</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="58">
                  <xs:annotation>
                     <xs:documentation>Contactmoment speciaal onderwijs</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="59">
                  <xs:annotation>
                     <xs:documentation>Huisbezoek op indicatie</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="60">
                  <xs:annotation>
                     <xs:documentation>Contactmoment op indicatie</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="61">
                  <xs:annotation>
                     <xs:documentation>Contactmoment op verzoek</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="62">
                  <xs:annotation>
                     <xs:documentation>Telefonisch contactmoment</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="63">
                  <xs:annotation>
                     <xs:documentation>Spreekuur (0-19)</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="64">
                  <xs:annotation>
                     <xs:documentation>Groepsbijeenkomst (of groepsvoorlichting)</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="65">
                  <xs:annotation>
                     <xs:documentation>Intake nieuwkomers</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="66">
                  <xs:annotation>
                     <xs:documentation>Consultatie/inlichtingen vragen</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="67">
                  <xs:annotation>
                     <xs:documentation>Bespreking zorgstructuur</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="68">
                  <xs:annotation>
                     <xs:documentation>Melding</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="69">
                  <xs:annotation>
                     <xs:documentation>Terugkoppeling verwijzing</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="70">
                  <xs:annotation>
                     <xs:documentation>Zorgcoördinatie</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="71">
                  <xs:annotation>
                     <xs:documentation>Uitvoering hielprik/vaccinatie buiten de organisatie</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="72">
                  <xs:annotation>
                     <xs:documentation>Ander contactmoment</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="73">
                  <xs:annotation>
                     <xs:documentation>Andere activiteit</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="code"/>
      <xs:attribute name="code" type="xs:string" use="required"/>
      <xs:attribute name="codeSystem" type="xs:string" use="required"/>
      <xs:attribute name="codeSystemName" type="xs:string"/>
      <xs:attribute name="codeSystemVersion" type="xs:string"/>
      <xs:attribute name="displayName" type="xs:string" use="required"/>
      <xs:attribute name="preferred" type="BooleanOrEmpty"/>
      <xs:attribute name="originalText" type="xs:string"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>simpleType for valueDomain: Soort activiteit: code</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="soort_activiteit_1_datatype_2_16_840_1_113883_2_4_3_11_60_100_2_3_494">
      <xs:restriction base="xs:string">
         <xs:annotation>
            <xs:documentation>@conformance='M'</xs:documentation>
         </xs:annotation>
         <xs:minLength value="1"/>
         <xs:pattern value=".*[^\s].*"/>
         <xs:maxLength value="2"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Datum activiteit - 1..1 M</xs:documentation>
   </xs:annotation>
   <xs:complexType name="datum_activiteit_type_2_16_840_1_113883_2_4_3_11_60_100_2_3_724">
      <xs:sequence>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.100.2.3.724"/>
      <xs:attribute name="value" use="required" type="VariableDateTime"/>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="datetime"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>simpleType for valueDomain: Datum activiteit: string</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="datum_activiteit_1_datatype_2_16_840_1_113883_2_4_3_11_60_100_2_3_724">
      <xs:restriction base="xs:string">
         <xs:annotation>
            <xs:documentation>@conformance='M'</xs:documentation>
         </xs:annotation>
         <xs:minLength value="1"/>
         <xs:pattern value=".*[^\s].*"/>
         <xs:maxLength value="12"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Soort vaccinatie - 1..1 M</xs:documentation>
   </xs:annotation>
   <xs:complexType name="soort_vaccinatie_type_2_16_840_1_113883_2_4_3_11_60_100_2_3_461">
      <xs:sequence>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.100.2.3.461"/>
      <xs:attribute name="value" type="xs:string"/>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="code"/>
      <xs:attribute name="code" type="xs:string" use="required"/>
      <xs:attribute name="codeSystem"
                    type="xs:string"
                    use="required"
                    fixed="2.16.840.1.113883.2.4.4.40.76"/>
      <xs:attribute name="codeSystemName" type="xs:string"/>
      <xs:attribute name="codeSystemVersion" type="xs:string"/>
      <xs:attribute name="displayName" type="xs:string" use="required"/>
      <xs:attribute name="preferred" type="BooleanOrEmpty"/>
      <xs:attribute name="originalText" type="xs:string"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>simpleType for valueDomain: Soort vaccinatie: code</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="soort_vaccinatie_1_datatype_2_16_840_1_113883_2_4_3_11_60_100_2_3_461">
      <xs:restriction base="xs:string">
         <xs:annotation>
            <xs:documentation>@conformance='M'</xs:documentation>
         </xs:annotation>
         <xs:minLength value="1"/>
         <xs:pattern value=".*[^\s].*"/>
         <xs:maxLength value="2"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Datum vaccinatie - 1..1 M</xs:documentation>
   </xs:annotation>
   <xs:complexType name="datum_vaccinatie_type_2_16_840_1_113883_2_4_3_11_60_100_2_3_1409">
      <xs:sequence>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.100.2.3.1409"/>
      <xs:attribute name="value" use="required" type="VariableDateTime"/>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="datetime"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>simpleType for valueDomain: Datum vaccinatie: string</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="datum_vaccinatie_1_datatype_2_16_840_1_113883_2_4_3_11_60_100_2_3_1409">
      <xs:restriction base="xs:string">
         <xs:annotation>
            <xs:documentation>@conformance='M'</xs:documentation>
         </xs:annotation>
         <xs:minLength value="1"/>
         <xs:pattern value=".*[^\s].*"/>
         <xs:maxLength value="12"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Bezwaar - 0..1 C</xs:documentation>
   </xs:annotation>
   <xs:complexType name="bezwaar_type_2_16_840_1_113883_2_4_3_11_60_100_2_3_683">
      <xs:sequence>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.100.2.3.683"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:annotation>
                  <xs:documentation>valueSet/conceptList/concept</xs:documentation>
               </xs:annotation>
               <xs:enumeration value="">
                  <xs:annotation>
                     <xs:documentation>Empty</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="1">
                  <xs:annotation>
                     <xs:documentation>W0323 Bezwaar (BDS)</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="2">
                  <xs:annotation>
                     <xs:documentation>Medisch bezwaar</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="3">
                  <xs:annotation>
                     <xs:documentation>Afzien van deelname</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="4">
                  <xs:annotation>
                     <xs:documentation>Anders</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="5">
                  <xs:annotation>
                     <xs:documentation>W0323 Bezwaar (HL7)</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="6">
                  <xs:annotation>
                     <xs:documentation>Medisch bezwaar</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="7">
                  <xs:annotation>
                     <xs:documentation>Afzien van deelname</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="8">
                  <xs:annotation>
                     <xs:documentation>other</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="code"/>
      <xs:attribute name="code" type="xs:string"/>
      <xs:attribute name="codeSystem" type="xs:string"/>
      <xs:attribute name="codeSystemName" type="xs:string"/>
      <xs:attribute name="codeSystemVersion" type="xs:string"/>
      <xs:attribute name="displayName" type="xs:string"/>
      <xs:attribute name="preferred" type="BooleanOrEmpty"/>
      <xs:attribute name="originalText" type="xs:string"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>simpleType for valueDomain: Bezwaar: code</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="bezwaar_1_datatype_2_16_840_1_113883_2_4_3_11_60_100_2_3_683">
      <xs:restriction base="xs:string">
         <xs:maxLength value="2"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Partijnummer - 0..1 C</xs:documentation>
   </xs:annotation>
   <xs:complexType name="partijnummer_type_2_16_840_1_113883_2_4_3_11_60_100_2_3_472">
      <xs:sequence>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.100.2.3.472"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:union memberTypes="partijnummer_1_datatype_2_16_840_1_113883_2_4_3_11_60_100_2_3_472 empty_string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>simpleType for valueDomain: Partijnummer: string</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="partijnummer_1_datatype_2_16_840_1_113883_2_4_3_11_60_100_2_3_472">
      <xs:restriction base="xs:string">
         <xs:maxLength value="50"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Uitvoerende instantie vaccinatie - 1..1 M</xs:documentation>
   </xs:annotation>
   <xs:complexType name="uitvoerende_instantie_vaccinatie_type_2_16_840_1_113883_2_4_3_11_60_100_2_3_1336">
      <xs:sequence>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.100.2.3.1336"/>
      <xs:attribute name="value" use="required">
         <xs:simpleType>
            <xs:union memberTypes="uitvoerende_instantie_vaccinatie_1_datatype_2_16_840_1_113883_2_4_3_11_60_100_2_3_1336 "/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="string"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>simpleType for valueDomain: Uitvoerende instantie vaccinatie: string</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="uitvoerende_instantie_vaccinatie_1_datatype_2_16_840_1_113883_2_4_3_11_60_100_2_3_1336">
      <xs:restriction base="xs:string">
         <xs:annotation>
            <xs:documentation>@conformance='M'</xs:documentation>
         </xs:annotation>
         <xs:minLength value="1"/>
         <xs:pattern value=".*[^\s].*"/>
         <xs:maxLength value="50"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Locatie uitvoerende organisatie - 1..1 M</xs:documentation>
   </xs:annotation>
   <xs:complexType name="locatie_uitvoerende_organisatie_type_2_16_840_1_113883_2_4_3_11_60_100_2_3_1452">
      <xs:sequence>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.100.2.3.1452"/>
      <xs:attribute name="value" use="required">
         <xs:simpleType>
            <xs:union memberTypes="locatie_uitvoerende_organisatie_1_datatype_2_16_840_1_113883_2_4_3_11_60_100_2_3_1452 "/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="string"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>simpleType for valueDomain: Locatie uitvoerende organisatie: string</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="locatie_uitvoerende_organisatie_1_datatype_2_16_840_1_113883_2_4_3_11_60_100_2_3_1452">
      <xs:restriction base="xs:string">
         <xs:annotation>
            <xs:documentation>@conformance='M'</xs:documentation>
         </xs:annotation>
         <xs:minLength value="1"/>
         <xs:pattern value=".*[^\s].*"/>
         <xs:maxLength value="50"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Vaccinatieschema DKTP - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="vaccinatieschema_dktp_type_2_16_840_1_113883_2_4_3_11_60_100_2_3_1584">
      <xs:sequence>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.100.2.3.1584"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:annotation>
                  <xs:documentation>valueSet/conceptList/concept</xs:documentation>
               </xs:annotation>
               <xs:enumeration value="">
                  <xs:annotation>
                     <xs:documentation>Empty</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="1">
                  <xs:annotation>
                     <xs:documentation>W0681 Vaccinatieschema DKTP (BDS)</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="2">
                  <xs:annotation>
                     <xs:documentation>DKTP: 3-5-11 maanden</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="3">
                  <xs:annotation>
                     <xs:documentation>DKTP: 2-3-5-11 maanden</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="4">
                  <xs:annotation>
                     <xs:documentation>W0681 Vaccinatieschema DKTP (HL7)</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="5">
                  <xs:annotation>
                     <xs:documentation>DKTP: 3-5-11 maanden</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="6">
                  <xs:annotation>
                     <xs:documentation>DKTP: 2-3-5-11 maanden</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="code"/>
      <xs:attribute name="code" type="xs:string"/>
      <xs:attribute name="codeSystem" type="xs:string"/>
      <xs:attribute name="codeSystemName" type="xs:string"/>
      <xs:attribute name="codeSystemVersion" type="xs:string"/>
      <xs:attribute name="displayName" type="xs:string"/>
      <xs:attribute name="preferred" type="BooleanOrEmpty"/>
      <xs:attribute name="originalText" type="xs:string"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>simpleType for valueDomain: Vaccinatieschema DKTP: code</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="vaccinatieschema_dktp_1_datatype_2_16_840_1_113883_2_4_3_11_60_100_2_3_1584">
      <xs:restriction base="xs:string">
         <xs:maxLength value="2"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="adaextension_type">
      <xs:sequence>
         <xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:anyAttribute processContents="skip"/>
   </xs:complexType>
   <xs:simpleType name="NullFlavorNoInformation">
      <xs:restriction base="xs:string">
         <xs:enumeration value=""/>
         <xs:enumeration value="NI"/>
         <xs:enumeration value="UNK"/>
         <xs:enumeration value="OTH"/>
         <xs:enumeration value="MSK"/>
         <xs:enumeration value="UNC"/>
         <xs:enumeration value="NA"/>
         <xs:enumeration value="NAV"/>
         <xs:enumeration value="ASKU"/>
         <xs:enumeration value="NASK"/>
         <xs:enumeration value="INV"/>
         <xs:enumeration value="DER"/>
         <xs:enumeration value="NINF"/>
         <xs:enumeration value="PINF"/>
         <xs:enumeration value="QS"/>
         <xs:enumeration value="TRC"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="ComplexDatatypes">
      <xs:restriction base="xs:string">
         <xs:enumeration value="string"/>
         <xs:enumeration value="code"/>
         <xs:enumeration value="identifier"/>
         <xs:enumeration value="date"/>
         <xs:enumeration value="datetime"/>
         <xs:enumeration value="time"/>
         <xs:enumeration value="quantity"/>
         <xs:enumeration value="duration"/>
         <xs:enumeration value="boolean"/>
         <xs:enumeration value="count"/>
         <xs:enumeration value="ordinal"/>
         <xs:enumeration value="text"/>
         <xs:enumeration value="decimal"/>
         <xs:enumeration value="blob"/>
         <xs:enumeration value="complex"/>
         <xs:enumeration value="reference"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="VariableDate">
      <xs:union memberTypes="xs:date RelativeDate"/>
   </xs:simpleType>
   <xs:simpleType name="VariableDateTime">
      <xs:union memberTypes="xs:dateTime xs:date RelativeDateTime RelativeDate"/>
   </xs:simpleType>
   <xs:simpleType name="VariableVagueDate">
      <xs:union memberTypes="xs:date RelativeDate DateYearOptionalMonthNoDays"/>
   </xs:simpleType>
   <xs:simpleType name="VariableVagueDateTime">
      <xs:union memberTypes="xs:dateTime xs:date RelativeDateTime DateYearOptionalMonthNoDays DateTimeOptionalMinutesSeconds"/>
   </xs:simpleType>
   <xs:simpleType name="VagueDate">
      <xs:union memberTypes="xs:date DateYearOptionalMonthNoDays"/>
   </xs:simpleType>
   <xs:simpleType name="VagueDateTime">
      <xs:union memberTypes="xs:dateTime xs:date DateYearOptionalMonthNoDays DateTimeOptionalMinutesSeconds"/>
   </xs:simpleType>
   <xs:simpleType name="RelativeDate">
      <xs:restriction base="xs:string">
         <xs:pattern value="T([+\-]\d+(\.\d+)?[YMD])?"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="RelativeDateTime">
      <xs:restriction base="xs:string">
         <xs:pattern value="T(([+\-]\d+(\.\d+)?[YMD])?(\{([01]\d|2[0-3]):(0\d|[1-5]\d)(:(0\d|[1-5]\d))?\})?)?"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="DateYear">
      <xs:restriction base="xs:string">
         <xs:pattern value="\d{4}"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="DateYearMonth">
      <xs:restriction base="xs:string">
         <xs:pattern value="\d{4}-(0[1-9]|1[012])"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="DateYearOptionalMonthNoDays">
      <xs:restriction base="xs:string">
         <xs:pattern value="\d{4}(-(0[1-9]|1[012]))?"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="DateTimeOptionalMinutesSeconds">
      <xs:restriction base="xs:string">
         <xs:pattern value="\d{4}-(0[1-9]|1[012])-(0[1-9]|[12]\d|3[01])T([01]\d|2[0-3])(:(0\d|[1-5]\d)(:(0\d|[1-5]\d))?)?"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="VariableVagueTime">
      <xs:union memberTypes="xs:time RelativeTime TimeHourOptionalMinutesSeconds"/>
   </xs:simpleType>
   <xs:simpleType name="VariableTime">
      <xs:union memberTypes="xs:time RelativeTime"/>
   </xs:simpleType>
   <xs:simpleType name="VagueTime">
      <xs:union memberTypes="xs:time TimeHourOptionalMinutesSeconds"/>
   </xs:simpleType>
   <xs:simpleType name="RelativeTime">
      <xs:restriction base="xs:string">
         <xs:pattern value="T(([+\-]\d+(\.\d+)?[HMS])?(\{:(0\d|[1-5]\d)(:(0\d|[1-5]\d))?\})?)?"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="TimeHourOptionalMinutesSeconds">
      <xs:restriction base="xs:string">
         <xs:pattern value="([01]\d|2[0-3])(:(0\d|[1-5]\d)(:(0\d|[1-5]\d))?)?"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="TimeHour">
      <xs:restriction base="xs:string">
         <xs:pattern value="[01]\d|2[0-3]"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="TimeHourMinute">
      <xs:restriction base="xs:string">
         <xs:pattern value="([01]\d|2[0-3]):(0\d|[1-5]\d)"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="BooleanOrEmpty">
      <xs:restriction base="xs:string">
         <xs:enumeration value=""/>
         <xs:enumeration value="true"/>
         <xs:enumeration value="true"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
