ada_2_fhir/bgz_msz/1.2/beschikbaarstellen/ada_schemas/ada_o2saturation_registration_draft.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"><xs:include schemaLocation="o2saturation_registration_draft.xsd"/><xs:include schemaLocation="ada_meta.xsd"/><xs:element name="adaxml"><xs:complexType><xs:sequence><xs:element name="meta" type="meta_type"/><xs:element name="data"><xs:complexType><xs:sequence><xs:element name="o2saturation_registration" type="o2saturation_registration_type"/></xs:sequence></xs:complexType></xs:element></xs:sequence></xs:complexType></xs:element></xs:schema>