ada_2_hl7/jgz/7.1/hl7v3_schemas/REPC_IN002170NL.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- REPC_IN002170NL - Opvragen toegediende vaccinaties --><!--Note: this file was generated. DO NOT EDIT HERE.-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="urn:hl7-org:v3"
           targetNamespace="urn:hl7-org:v3"
           elementFormDefault="qualified">
   <xs:include schemaLocation="MCCI_MT000100.xsd"/>
   <xs:include schemaLocation="QUQI_MT021001_OPT_OV.xsd"/>
   <xs:include schemaLocation="REPC_MT002170NL.xsd"/>
   <xs:element name="REPC_IN002170NL" type="MCCI_MT000100.Message"/>
   <xs:group name="QueryByParameterPayload">
       <xs:sequence>
           <xs:element name="queryByParameter" type="REPC_MT002170NL.QueryByParameterPayload"/>
      </xs:sequence>
   </xs:group>
        
</xs:schema>