zib-wounds/ada_2_fhir-r4/zibs2020/ada_schemas/ada_brandwond_registratie.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
   <xs:include schemaLocation="brandwond_registratie.xsd"/>
   <xs:include schemaLocation="ada_meta.xsd"/>
   <xs:element name="adaxml">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="meta" type="meta_type"/>
            <xs:element name="data">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="brandwond_registratie" type="brandwond_registratie_type"/>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
