zib-wounds/ada_2_fhir-r4/zibs2020/ada_schemas/bloeddruk_registratie.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:annotation>
      <xs:documentation>Schema for transaction: 2.16.840.1.113883.2.4.3.11.60.121.4.2.12.4</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="empty_string">
      <xs:annotation>
         <xs:documentation>Type for empty value-strings on non-mandatory concepts</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="0"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:element name="bloeddruk_registratie" type="bloeddruk_registratie_type"/>
   <xs:complexType name="bloeddruk_registratie_type">
      <xs:sequence>
         <xs:element name="bloeddruk-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.12.4.1"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="bloeddruk"
                     type="bloeddruk_type_2_16_840_1_113883_2_4_3_11_60_40_1_12_4_1"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:string"/>
      <xs:attribute name="app" type="xs:string"/>
      <xs:attribute name="shortName" type="xs:string" use="optional"/>
      <xs:attribute name="formName" type="xs:string" use="optional"/>
      <xs:attribute name="transactionRef" type="xs:string"/>
      <xs:attribute name="transactionEffectiveDate" type="xs:dateTime"/>
      <xs:attribute name="versionDate" type="xs:string"/>
      <xs:attribute name="language" type="xs:string"/>
      <xs:attribute name="prefix" type="xs:string"/>
      <xs:attribute name="adaVersion" type="xs:decimal"/>
      <xs:attribute name="title" type="xs:string"/>
      <xs:attribute name="desc" type="xs:string"/>
      <xs:attribute name="rights" type="xs:string"/>
      <xs:attribute name="owner" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="bloeddruk_type_2_16_840_1_113883_2_4_3_11_60_40_1_12_4_1">
      <xs:annotation>
         <xs:documentation>Type for concept group: Bloeddruk</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="onderwerp-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.999.121.1.1"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="onderwerp"
                     type="onderwerp_type_2_16_840_1_113883_2_4_3_11_999_121_1_1"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="meetmethode-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.12.4.7"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="meetmethode"
                     type="meetmethode_type_2_16_840_1_113883_2_4_3_11_60_40_1_12_4_7"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="manchet_type-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.12.4.9"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="manchet_type"
                     type="manchet_type_type_2_16_840_1_113883_2_4_3_11_60_40_1_12_4_9"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="meet_locatie-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.12.4.10"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="meet_locatie"
                     type="meet_locatie_type_2_16_840_1_113883_2_4_3_11_60_40_1_12_4_10"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="diastolisch_eindpunt-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.12.4.8"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="diastolisch_eindpunt"
                     type="diastolisch_eindpunt_type_2_16_840_1_113883_2_4_3_11_60_40_1_12_4_8"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="systolische_bloeddruk-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.12.4.2"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="systolische_bloeddruk"
                     type="systolische_bloeddruk_type_2_16_840_1_113883_2_4_3_11_60_40_1_12_4_2"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="diastolische_bloeddruk-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.12.4.3"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="diastolische_bloeddruk"
                     type="diastolische_bloeddruk_type_2_16_840_1_113883_2_4_3_11_60_40_1_12_4_3"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="gemiddelde_bloeddruk-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.12.4.4"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="gemiddelde_bloeddruk"
                     type="gemiddelde_bloeddruk_type_2_16_840_1_113883_2_4_3_11_60_40_1_12_4_4"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="bloeddruk_datum_tijd-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.12.4.5"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="bloeddruk_datum_tijd"
                     type="bloeddruk_datum_tijd_type_2_16_840_1_113883_2_4_3_11_60_40_1_12_4_5"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="toelichting-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.12.4.6"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="toelichting"
                     type="toelichting_type_2_16_840_1_113883_2_4_3_11_60_40_1_12_4_6"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="houding-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.12.4.11"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="houding"
                     type="houding_type_2_16_840_1_113883_2_4_3_11_60_40_1_12_4_11"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.12.4.1"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="onderwerp_type_2_16_840_1_113883_2_4_3_11_999_121_1_1">
      <xs:annotation>
         <xs:documentation>Type for concept group: Onderwerp</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="patient-id-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.999.121.1.2"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="patient-id"
                     type="patient-id_type_2_16_840_1_113883_2_4_3_11_999_121_1_2"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.999.121.1.1"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Patient identificatie - 1..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="patient-id_type_2_16_840_1_113883_2_4_3_11_999_121_1_2">
      <xs:sequence>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.999.121.1.2"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:union memberTypes="patient-id_1_datatype_2_16_840_1_113883_2_4_3_11_999_121_1_2 "/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="identifier"/>
      <xs:attribute name="root" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>simpleType for valueDomain: Patient identificatie: identifier</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="patient-id_1_datatype_2_16_840_1_113883_2_4_3_11_999_121_1_2">
      <xs:restriction base="xs:string"/>
   </xs:simpleType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Meetmethode - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="meetmethode_type_2_16_840_1_113883_2_4_3_11_60_40_1_12_4_7">
      <xs:sequence>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.12.4.7"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:annotation>
                  <xs:documentation>valueSet/conceptList/concept</xs:documentation>
               </xs:annotation>
               <xs:enumeration value="">
                  <xs:annotation>
                     <xs:documentation>Empty</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="1">
                  <xs:annotation>
                     <xs:documentation>Non-invasive</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="2">
                  <xs:annotation>
                     <xs:documentation>Measurement of blood pressure using cuff method</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="3">
                  <xs:annotation>
                     <xs:documentation>Bloeddrukmeting met automatische bloeddrukmeter</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="4">
                  <xs:annotation>
                     <xs:documentation>Invasive</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="code"/>
      <xs:attribute name="code" type="xs:string"/>
      <xs:attribute name="codeSystem" type="xs:string"/>
      <xs:attribute name="codeSystemName" type="xs:string"/>
      <xs:attribute name="codeSystemVersion" type="xs:string"/>
      <xs:attribute name="displayName" type="xs:string"/>
      <xs:attribute name="preferred" type="BooleanOrEmpty"/>
      <xs:attribute name="originalText" type="xs:string"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: ManchetType - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="manchet_type_type_2_16_840_1_113883_2_4_3_11_60_40_1_12_4_9">
      <xs:sequence>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.12.4.9"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:annotation>
                  <xs:documentation>valueSet/conceptList/concept</xs:documentation>
               </xs:annotation>
               <xs:enumeration value="">
                  <xs:annotation>
                     <xs:documentation>Empty</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="1">
                  <xs:annotation>
                     <xs:documentation>Standaard</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="2">
                  <xs:annotation>
                     <xs:documentation>Groot</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="3">
                  <xs:annotation>
                     <xs:documentation>Klein</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="4">
                  <xs:annotation>
                     <xs:documentation>Extra groot</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="5">
                  <xs:annotation>
                     <xs:documentation>Kind</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="6">
                  <xs:annotation>
                     <xs:documentation>Jong kind</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="7">
                  <xs:annotation>
                     <xs:documentation>Neonaat</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="code"/>
      <xs:attribute name="code" type="xs:string"/>
      <xs:attribute name="codeSystem" type="xs:string"/>
      <xs:attribute name="codeSystemName" type="xs:string"/>
      <xs:attribute name="codeSystemVersion" type="xs:string"/>
      <xs:attribute name="displayName" type="xs:string"/>
      <xs:attribute name="preferred" type="BooleanOrEmpty"/>
      <xs:attribute name="originalText" type="xs:string"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: MeetLocatie - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="meet_locatie_type_2_16_840_1_113883_2_4_3_11_60_40_1_12_4_10">
      <xs:sequence>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.12.4.10"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:annotation>
                  <xs:documentation>valueSet/conceptList/concept</xs:documentation>
               </xs:annotation>
               <xs:enumeration value="">
                  <xs:annotation>
                     <xs:documentation>Empty</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="1">
                  <xs:annotation>
                     <xs:documentation>Upper arm structure</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="2">
                  <xs:annotation>
                     <xs:documentation>Right upper arm structure</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="3">
                  <xs:annotation>
                     <xs:documentation>Left upper arm structure</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="4">
                  <xs:annotation>
                     <xs:documentation>Thigh structure</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="5">
                  <xs:annotation>
                     <xs:documentation>Structure of right thigh</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="6">
                  <xs:annotation>
                     <xs:documentation>Structure of left thigh</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="7">
                  <xs:annotation>
                     <xs:documentation>Wrist region structure</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="8">
                  <xs:annotation>
                     <xs:documentation>Structure of right wrist</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="9">
                  <xs:annotation>
                     <xs:documentation>Structure of left wrist</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="10">
                  <xs:annotation>
                     <xs:documentation>Finger structure</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="11">
                  <xs:annotation>
                     <xs:documentation>Ankle region structure</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="12">
                  <xs:annotation>
                     <xs:documentation>Structure of right ankle</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="13">
                  <xs:annotation>
                     <xs:documentation>Structure of left ankle</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="code"/>
      <xs:attribute name="code" type="xs:string"/>
      <xs:attribute name="codeSystem" type="xs:string"/>
      <xs:attribute name="codeSystemName" type="xs:string"/>
      <xs:attribute name="codeSystemVersion" type="xs:string"/>
      <xs:attribute name="displayName" type="xs:string"/>
      <xs:attribute name="preferred" type="BooleanOrEmpty"/>
      <xs:attribute name="originalText" type="xs:string"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: DiastolischEindpunt - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="diastolisch_eindpunt_type_2_16_840_1_113883_2_4_3_11_60_40_1_12_4_8">
      <xs:sequence>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.12.4.8"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:annotation>
                  <xs:documentation>valueSet/conceptList/concept</xs:documentation>
               </xs:annotation>
               <xs:enumeration value="">
                  <xs:annotation>
                     <xs:documentation>Empty</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="1">
                  <xs:annotation>
                     <xs:documentation>Phase 4</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="2">
                  <xs:annotation>
                     <xs:documentation>Phase 5</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="code"/>
      <xs:attribute name="code" type="xs:string"/>
      <xs:attribute name="codeSystem" type="xs:string"/>
      <xs:attribute name="codeSystemName" type="xs:string"/>
      <xs:attribute name="codeSystemVersion" type="xs:string"/>
      <xs:attribute name="displayName" type="xs:string"/>
      <xs:attribute name="preferred" type="BooleanOrEmpty"/>
      <xs:attribute name="originalText" type="xs:string"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: SystolischeBloeddruk - 1..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="systolische_bloeddruk_type_2_16_840_1_113883_2_4_3_11_60_40_1_12_4_2">
      <xs:sequence>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.12.4.2"/>
      <xs:attribute name="value" type="xs:decimal"/>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="quantity"/>
      <xs:attribute name="unit" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: DiastolischeBloeddruk - 1..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="diastolische_bloeddruk_type_2_16_840_1_113883_2_4_3_11_60_40_1_12_4_3">
      <xs:sequence>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.12.4.3"/>
      <xs:attribute name="value" type="xs:decimal"/>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="quantity"/>
      <xs:attribute name="unit" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: GemiddeldeBloeddruk - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="gemiddelde_bloeddruk_type_2_16_840_1_113883_2_4_3_11_60_40_1_12_4_4">
      <xs:sequence>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.12.4.4"/>
      <xs:attribute name="value" type="xs:decimal"/>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="quantity"/>
      <xs:attribute name="unit" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: BloeddrukDatumTijd - 1..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="bloeddruk_datum_tijd_type_2_16_840_1_113883_2_4_3_11_60_40_1_12_4_5">
      <xs:sequence>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.12.4.5"/>
      <xs:attribute name="value" type="VariableDateTime"/>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="datetime"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Toelichting - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="toelichting_type_2_16_840_1_113883_2_4_3_11_60_40_1_12_4_6">
      <xs:sequence>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.12.4.6"/>
      <xs:attribute name="value" type="xs:string"/>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Houding - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="houding_type_2_16_840_1_113883_2_4_3_11_60_40_1_12_4_11">
      <xs:sequence>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.12.4.11"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:annotation>
                  <xs:documentation>valueSet/conceptList/concept</xs:documentation>
               </xs:annotation>
               <xs:enumeration value="">
                  <xs:annotation>
                     <xs:documentation>Empty</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="1">
                  <xs:annotation>
                     <xs:documentation>Orthostatic body position</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="2">
                  <xs:annotation>
                     <xs:documentation>Recumbent body position</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="3">
                  <xs:annotation>
                     <xs:documentation>Sitting position</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="4">
                  <xs:annotation>
                     <xs:documentation>Position with tilt</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="5">
                  <xs:annotation>
                     <xs:documentation>Trendelenburg position</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="code"/>
      <xs:attribute name="code" type="xs:string"/>
      <xs:attribute name="codeSystem" type="xs:string"/>
      <xs:attribute name="codeSystemName" type="xs:string"/>
      <xs:attribute name="codeSystemVersion" type="xs:string"/>
      <xs:attribute name="displayName" type="xs:string"/>
      <xs:attribute name="preferred" type="BooleanOrEmpty"/>
      <xs:attribute name="originalText" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="adaextension_type">
      <xs:sequence>
         <xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:anyAttribute processContents="skip"/>
   </xs:complexType>
   <xs:simpleType name="NullFlavorNoInformation">
      <xs:restriction base="xs:string">
         <xs:enumeration value=""/>
         <xs:enumeration value="NI"/>
         <xs:enumeration value="UNK"/>
         <xs:enumeration value="OTH"/>
         <xs:enumeration value="MSK"/>
         <xs:enumeration value="UNC"/>
         <xs:enumeration value="NA"/>
         <xs:enumeration value="NAV"/>
         <xs:enumeration value="ASKU"/>
         <xs:enumeration value="NASK"/>
         <xs:enumeration value="INV"/>
         <xs:enumeration value="DER"/>
         <xs:enumeration value="NINF"/>
         <xs:enumeration value="PINF"/>
         <xs:enumeration value="QS"/>
         <xs:enumeration value="TRC"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="ComplexDatatypes">
      <xs:restriction base="xs:string">
         <xs:enumeration value="string"/>
         <xs:enumeration value="code"/>
         <xs:enumeration value="identifier"/>
         <xs:enumeration value="date"/>
         <xs:enumeration value="datetime"/>
         <xs:enumeration value="time"/>
         <xs:enumeration value="quantity"/>
         <xs:enumeration value="duration"/>
         <xs:enumeration value="boolean"/>
         <xs:enumeration value="count"/>
         <xs:enumeration value="ordinal"/>
         <xs:enumeration value="text"/>
         <xs:enumeration value="decimal"/>
         <xs:enumeration value="blob"/>
         <xs:enumeration value="complex"/>
         <xs:enumeration value="reference"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="VariableDate">
      <xs:union memberTypes="xs:date RelativeDate"/>
   </xs:simpleType>
   <xs:simpleType name="VariableDateTime">
      <xs:union memberTypes="xs:dateTime xs:date RelativeDateTime RelativeDate"/>
   </xs:simpleType>
   <xs:simpleType name="VariableVagueDate">
      <xs:union memberTypes="xs:date RelativeDate DateYearOptionalMonthNoDays"/>
   </xs:simpleType>
   <xs:simpleType name="VariableVagueDateTime">
      <xs:union memberTypes="xs:dateTime xs:date RelativeDateTime DateYearOptionalMonthNoDays DateTimeOptionalMinutesSeconds"/>
   </xs:simpleType>
   <xs:simpleType name="VagueDate">
      <xs:union memberTypes="xs:date DateYearOptionalMonthNoDays"/>
   </xs:simpleType>
   <xs:simpleType name="VagueDateTime">
      <xs:union memberTypes="xs:dateTime xs:date DateYearOptionalMonthNoDays DateTimeOptionalMinutesSeconds"/>
   </xs:simpleType>
   <xs:simpleType name="RelativeDate">
      <xs:restriction base="xs:string">
         <xs:pattern value="T([+\-](\d+(\.\d+)?[YMD]){1,3})?"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="RelativeDateTime">
      <xs:restriction base="xs:string">
         <xs:pattern value="T([+\-](\d+(\.\d+)?[YMD]){1,3})?(\{([01]\d|2[0-3]):(0\d|[1-5]\d)(:(0\d|[1-5]\d))?\})?"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="DateYear">
      <xs:restriction base="xs:string">
         <xs:pattern value="\d{4}"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="DateYearMonth">
      <xs:restriction base="xs:string">
         <xs:pattern value="\d{4}-(0[1-9]|1[012])"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="DateYearOptionalMonthNoDays">
      <xs:restriction base="xs:string">
         <xs:pattern value="\d{4}(-(0[1-9]|1[012]))?"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="DateTimeOptionalMinutesSeconds">
      <xs:restriction base="xs:string">
         <xs:pattern value="\d{4}-(0[1-9]|1[012])-(0[1-9]|[12]\d|3[01])T([01]\d|2[0-3])(:(0\d|[1-5]\d)(:(0\d|[1-5]\d))?)?"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="VariableVagueTime">
      <xs:union memberTypes="xs:time RelativeTime TimeHourOptionalMinutesSeconds"/>
   </xs:simpleType>
   <xs:simpleType name="VariableTime">
      <xs:union memberTypes="xs:time RelativeTime"/>
   </xs:simpleType>
   <xs:simpleType name="VagueTime">
      <xs:union memberTypes="xs:time TimeHourOptionalMinutesSeconds"/>
   </xs:simpleType>
   <xs:simpleType name="RelativeTime">
      <xs:restriction base="xs:string">
         <xs:pattern value="T(([+\-]\d+(\.\d+)?[HMS])?(\{:(0\d|[1-5]\d)(:(0\d|[1-5]\d))?\})?)?"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="TimeHourOptionalMinutesSeconds">
      <xs:restriction base="xs:string">
         <xs:pattern value="([01]\d|2[0-3])(:(0\d|[1-5]\d)(:(0\d|[1-5]\d))?)?"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="TimeHour">
      <xs:restriction base="xs:string">
         <xs:pattern value="[01]\d|2[0-3]"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="TimeHourMinute">
      <xs:restriction base="xs:string">
         <xs:pattern value="([01]\d|2[0-3]):(0\d|[1-5]\d)"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="BooleanOrEmpty">
      <xs:restriction base="xs:string">
         <xs:enumeration value=""/>
         <xs:enumeration value="true"/>
         <xs:enumeration value="true"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
