ada_2_hl7/jgz/7.0.0/hl7v3_schemas/COCT_MT530000NL.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:ex="urn:hl7-org/v3-example" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="urn:hl7-org:v3"
           targetNamespace="urn:hl7-org:v3"
           elementFormDefault="qualified"><!--
*****************************************************************************************************************
* XML schema for message type COCT_MT530000NL.
* Source information:
*      Rendered by: Visio to MIF transform
*      Rendered on: 
* Entry point text: This CMET is identical to the Clinical Statement Pattern DMIM (qv.). Property-contextConductionStyle: V
*
* Saved in XML file by RMIM Designer in Visio at 2012-02-24T21:10:31
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 8529 2011-02-09 20:49:58Z lloyd_mckenzie $
 Fix Names Transform: $Id: FixMifNames.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
  Base transform: $Id: ConvertBase.xsl 8870 2011-09-14 18:32:56Z woody_beeler $
  Package Id Conversion: $Id: TransformPackageIds.xsl 8398 2010-10-12 01:52:15Z lloyd_mckenzie $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 7375 2009-01-26 19:26:53Z wbeeler $
*
* Generated by XMLITS version 3.4.6
*   MIF to XSD Transform $Id: StaticMifToXsd.xsl 8419 2010-11-15 00:10:54Z woody_beeler $
*     Package Id Conversion: $Id: TransformPackageIds.xsl 8398 2010-10-12 01:52:15Z lloyd_mckenzie $
*
* Copyright (c) 2002, 2003, 2004, 2005, 2006, 2007 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  --><xs:annotation>
      <xs:documentation>Generated using schema builder version 3.4.6. Stylesheets:
Saved in XML file by RMIM Designer in Visio at 2012-02-24T21:10:31
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 8529 2011-02-09 20:49:58Z lloyd_mckenzie $
 Fix Names Transform: $Id: FixMifNames.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
  Base transform: $Id: ConvertBase.xsl 8870 2011-09-14 18:32:56Z woody_beeler $
  Package Id Conversion: $Id: TransformPackageIds.xsl 8398 2010-10-12 01:52:15Z lloyd_mckenzie $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 7375 2009-01-26 19:26:53Z wbeeler $
StaticMifToXsd.xsl version 2.0</xs:documentation>
   </xs:annotation>
   <xs:include schemaLocation="../coreschemas/infrastructureRoot.xsd"/>
   <xs:include schemaLocation="COCT_MT530200NL.xsd"/>
   <xs:include schemaLocation="POCP_MT010100NL.xsd"/>
   <xs:include schemaLocation="POCP_MT020200NL.xsd"/>
   <xs:include schemaLocation="COCT_MT530300NL.xsd"/>
   <xs:include schemaLocation="POCP_MT010100NL.xsd"/>
   <xs:include schemaLocation="POCP_MT020200NL.xsd"/>
   <xs:include schemaLocation="COCT_MT530200NL.xsd"/>
   <xs:include schemaLocation="COCT_MT080000NL.xsd"/>
   <xs:include schemaLocation="COCT_MT090000NL.xsd"/>
   <xs:include schemaLocation="COCT_MT550000NL.xsd"/>
   <xs:include schemaLocation="COCT_MT410000NL.xsd"/>
   <xs:include schemaLocation="COCT_MT220100NL.xsd"/>
   <xs:include schemaLocation="COCT_MT220300NL.xsd"/>
   <xs:include schemaLocation="COCT_MT230100NL.xsd"/>
   <xs:include schemaLocation="COCT_MT230200NL.xsd"/>
   <xs:include schemaLocation="COCT_MT530500NL.xsd"/>
   <xs:include schemaLocation="COCT_MT050000NL02.xsd"/>
   <xs:include schemaLocation="COCT_MT530600NL.xsd"/>
   <xs:include schemaLocation="COCT_MT530100NL.xsd"/>
   <xs:include schemaLocation="COCT_MT240000NL.xsd"/>
   <xs:include schemaLocation="COCT_MT560000NL.xsd"/>
   <xs:include schemaLocation="COCT_MT050000NL02.xsd"/>
   <xs:include schemaLocation="COCT_MT050004NL.xsd"/>
   <xs:include schemaLocation="COCT_MT550000NL.xsd"/>
   <xs:include schemaLocation="COCT_MT530400NL.xsd"/>
   <xs:include schemaLocation="COCT_MT530600NL.xsd"/>
   <xs:include schemaLocation="COCT_MT050000NL02.xsd"/>
   <xs:include schemaLocation="COCT_MT050004NL.xsd"/>
   <xs:include schemaLocation="COCT_MT550000NL.xsd"/>
   <xs:include schemaLocation="COCT_MT560000NL.xsd"/>
   <xs:include schemaLocation="COCT_MT080000NL.xsd"/>
   <xs:complexType name="COCT_MT530000NL.Act">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="activityTime" type="SXCM_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="availabilityTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="uncertaintyCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="languageCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="subject" type="COCT_MT530000NL.Subject" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="directTarget" type="COCT_MT530000NL.DirectTarget" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="recordTarget" type="COCT_MT530000NL.RecordTarget" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="responsibleParty" type="COCT_MT530000NL.ResponsibleParty" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="performer" type="COCT_MT530000NL.Performer" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="author" type="COCT_MT530000NL.Author" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="transcriber" type="COCT_MT530000NL.Transcriber" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="informant" type="COCT_MT530000NL.Informant" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="consultant" type="COCT_MT530000NL.Consultant" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="verifier" type="COCT_MT530000NL.Verifier" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="location" type="COCT_MT530000NL.Location" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="definition" type="COCT_MT530000NL.Definition" minOccurs="0" maxOccurs="1"/>
         <xs:element name="conditions" type="COCT_MT530000NL.Conditions" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="outboundRelationship1" type="COCT_MT530000NL.SourceOf1" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="outboundRelationship2" type="COCT_MT530000NL.SourceOf" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="inboundRelationship" type="COCT_MT530000NL.SourceOf2" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassRoot" use="required"/>
      <xs:attribute name="moodCode" type="x_ClinicalStatementActMood" use="required"/>
      <xs:attribute name="actionNegationInd" type="bl" use="optional"/>
      <xs:attribute name="negationInd" type="bl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT530000NL.ActDefinition">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassRoot" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodDefinition" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT530000NL.ActReference">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="definition" type="COCT_MT530000NL.Definition" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassRoot" use="required"/>
      <xs:attribute name="moodCode" type="ActMood" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT530000NL.Author">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="noteText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="time" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="modeCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="signatureCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="signatureText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="assignedEntity1" type="COCT_MT090000NL.AssignedEntity" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:choice>
               <xs:element name="patient" type="COCT_MT050000NL02.Patient" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="patientOrInvestigatedOrRelated"
                           type="COCT_MT530500NL.PatientOrInvestigatedOrRelated"
                           nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="relatedEntity" type="COCT_MT530600NL.RelatedEntity" nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
            </xs:choice>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationAuthorOriginator" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT530000NL.Component">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="blockedContextActRelationshipType" type="CS" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="blockedContextParticipationType" type="CS" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="actAttributeContextBlockedInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityNumber" type="REAL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="seperatableInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:choice>
               <xs:element name="observation" type="COCT_MT530000NL.Observation" nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="substanceAdministration" type="COCT_MT530000NL.SubstanceAdministration"
                           nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="procedure" type="COCT_MT530000NL.Procedure" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="supply" type="COCT_MT530000NL.Supply" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="encounter" type="COCT_MT530000NL.Encounter" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="exposure" type="COCT_MT530000NL.Exposure" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="publicHealthCase" type="COCT_MT530000NL.PublicHealthCase" nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="act" type="COCT_MT530000NL.Act" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="organizer" type="COCT_MT530000NL.Organizer" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
            </xs:choice>
            <xs:element name="actReference" type="COCT_MT530000NL.ActReference" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT530000NL.Conditions">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="blockedContextActRelationshipType" type="CS" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="blockedContextParticipationType" type="CS" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="actAttributeContextBlockedInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="checkpointCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="conjunctionCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="seperatableInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="criterion" type="COCT_MT530000NL.Criterion" nillable="true" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipConditional" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT530000NL.Consultant">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="functionCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="noteText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="time" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="assignedEntity" type="COCT_MT090000NL.AssignedEntity" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationConsultant" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT530000NL.Consumable">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:choice>
               <xs:element name="manufacturedProduct" type="POCP_MT010100NL.ManufacturedProduct"
                           nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="instanceOfKind" type="POCP_MT020200NL.InstanceOfKind" nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
            </xs:choice>
            <xs:element name="administerableMaterial" type="COCT_MT530300NL.AdministerableMaterial"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationConsumable" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT530000NL.Consumable2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="time" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="manufacturedProduct" type="POCP_MT010100NL.ManufacturedProduct"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="instanceOfKind" type="POCP_MT020200NL.InstanceOfKind" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationConsumable" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT530000NL.Criterion">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="isCriterionInd" type="BL" minOccurs="1" maxOccurs="1"/>
         <xs:element name="value" type="ANY" minOccurs="1" maxOccurs="1"/>
         <xs:element name="interpretationCode" type="CE" minOccurs="1" maxOccurs="1"/>
         <xs:element name="device" type="COCT_MT530000NL.Device2" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="consumable" type="COCT_MT530000NL.Consumable2" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="precondition" type="COCT_MT530000NL.Precondition2" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassObservation" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
      <xs:attribute name="actionNegationInd" type="bl" use="optional"/>
      <xs:attribute name="negationInd" type="bl" use="optional" default="false"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT530000NL.Definition">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="blockedContextActRelationshipType" type="CS" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="blockedContextParticipationType" type="CS" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="actAttributeContextBlockedInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="actDefinition" type="COCT_MT530000NL.ActDefinition" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipInstantiatesMaster" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT530000NL.Device">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:element name="manufacturedProduct" type="POCP_MT010100NL.ManufacturedProduct"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="instanceOfKind" type="POCP_MT020200NL.InstanceOfKind" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationTargetDevice" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT530000NL.Device2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="time" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="manufacturedProduct" type="POCP_MT010100NL.ManufacturedProduct"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="instanceOfKind" type="POCP_MT020200NL.InstanceOfKind" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationTargetDevice" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT530000NL.DirectTarget">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:element name="content" type="COCT_MT220300NL.Content" nillable="true" minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="manufacturedProduct" type="COCT_MT230100NL.ManufacturedProduct"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="ingredient" type="COCT_MT230200NL.Ingredient" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationTargetDirect" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT530000NL.Encounter">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="SXCM_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="activityTime" type="SXCM_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="availabilityTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="languageCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="admissionReferralSourceCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="lengthOfStayQuantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="dischargeDispositionCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="preAdmitTestInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="specialCourtesiesCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="specialArrangementCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="subject" type="COCT_MT530000NL.Subject" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="recordTarget" type="COCT_MT530000NL.RecordTarget" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="responsibleParty" type="COCT_MT530000NL.ResponsibleParty" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="performer" type="COCT_MT530000NL.Performer" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="author" type="COCT_MT530000NL.Author" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="transcriber" type="COCT_MT530000NL.Transcriber" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="informant" type="COCT_MT530000NL.Informant" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="consultant" type="COCT_MT530000NL.Consultant" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="verifier" type="COCT_MT530000NL.Verifier" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="location" type="COCT_MT530000NL.Location" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="definition" type="COCT_MT530000NL.Definition" minOccurs="0" maxOccurs="1"/>
         <xs:element name="conditions" type="COCT_MT530000NL.Conditions" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="outboundRelationship1" type="COCT_MT530000NL.SourceOf1" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="outboundRelationship2" type="COCT_MT530000NL.SourceOf" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="inboundRelationship" type="COCT_MT530000NL.SourceOf2" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassEncounter" use="required"/>
      <xs:attribute name="moodCode" type="x_ClinicalStatementEncounterMood" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT530000NL.Exposure">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="derivationExpr" type="ST" minOccurs="0" maxOccurs="1"/>
         <xs:element name="title" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="SXCM_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="activityTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="uncertaintyCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="languageCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="isCriterionInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="routeCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="exposureLevel" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="exposureModeCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="subject" type="COCT_MT530000NL.Subject" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="directTarget1" type="COCT_MT530000NL.Participant" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="directTarget2" type="COCT_MT530000NL.Participant3" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="recordTarget" type="COCT_MT530000NL.RecordTarget" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="responsibleParty" type="COCT_MT530000NL.ResponsibleParty" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="performer" type="COCT_MT530000NL.Performer" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="author" type="COCT_MT530000NL.Author" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="transcriber" type="COCT_MT530000NL.Transcriber" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="informant" type="COCT_MT530000NL.Informant" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="consultant" type="COCT_MT530000NL.Consultant" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="verifier" type="COCT_MT530000NL.Verifier" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="location" type="COCT_MT530000NL.Location" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="definition" type="COCT_MT530000NL.Definition" minOccurs="0" maxOccurs="1"/>
         <xs:element name="conditions" type="COCT_MT530000NL.Conditions" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="outboundRelationship1" type="COCT_MT530000NL.SourceOf1" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="outboundRelationship2" type="COCT_MT530000NL.SourceOf" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="inboundRelationship" type="COCT_MT530000NL.SourceOf2" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassExposure" use="required"/>
      <xs:attribute name="moodCode" type="x_ClinicalStatementExposureMood" use="required"/>
      <xs:attribute name="actionNegationInd" type="bl" use="optional"/>
      <xs:attribute name="negationInd" type="bl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT530000NL.Informant">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="time" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="modeCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="assignedEntity1" type="COCT_MT090000NL.AssignedEntity" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:choice>
               <xs:element name="patient" type="COCT_MT050000NL02.Patient" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="patientOrInvestigatedOrRelated"
                           type="COCT_MT530500NL.PatientOrInvestigatedOrRelated"
                           nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="relatedEntity" type="COCT_MT530600NL.RelatedEntity" nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
            </xs:choice>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationInformant" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT530000NL.Location">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:element name="serviceDeliveryLocation" type="COCT_MT240000NL.ServiceDeliveryLocation"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="identifiedEntity" type="COCT_MT530100NL.IdentifiedEntity" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="locatedEntity" type="COCT_MT530100NL.LocatedEntity" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationTargetLocation" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT530000NL.Observation">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="derivationExpr" type="ST" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="SXCM_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="activityTime" type="SXCM_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="availabilityTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="repeatNumber" type="IVL_INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="interruptibleInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="independentInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="uncertaintyCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="languageCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="isCriterionInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="value" type="ANY" minOccurs="0" maxOccurs="1"/>
         <xs:element name="interpretationCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="methodCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="targetSiteCode" type="CD" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="subject" type="COCT_MT530000NL.Subject" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="device" type="COCT_MT530000NL.Device2" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="consumable" type="COCT_MT530000NL.Consumable2" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="recordTarget" type="COCT_MT530000NL.RecordTarget" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="responsibleParty" type="COCT_MT530000NL.ResponsibleParty" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="performer" type="COCT_MT530000NL.Performer" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="author" type="COCT_MT530000NL.Author" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="transcriber" type="COCT_MT530000NL.Transcriber" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="informant" type="COCT_MT530000NL.Informant" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="consultant" type="COCT_MT530000NL.Consultant" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="verifier" type="COCT_MT530000NL.Verifier" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="location" type="COCT_MT530000NL.Location" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="definition" type="COCT_MT530000NL.Definition" minOccurs="0" maxOccurs="1"/>
         <xs:element name="conditions" type="COCT_MT530000NL.Conditions" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="referenceRange" type="COCT_MT530000NL.ReferenceRange" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="outboundRelationship1" type="COCT_MT530000NL.SourceOf1" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="outboundRelationship2" type="COCT_MT530000NL.SourceOf" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="inboundRelationship" type="COCT_MT530000NL.SourceOf2" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassObservation" use="required"/>
      <xs:attribute name="moodCode" type="x_ClinicalStatementObservationMood" use="required"/>
      <xs:attribute name="actionNegationInd" type="bl" use="optional"/>
      <xs:attribute name="negationInd" type="bl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT530000NL.ObservationRange">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="isCriterionInd" type="BL" minOccurs="1" maxOccurs="1"/>
         <xs:element name="value" type="ANY" minOccurs="1" maxOccurs="1"/>
         <xs:element name="interpretationCode" type="CE" minOccurs="1" maxOccurs="1"/>
         <xs:element name="precondition" type="COCT_MT530000NL.Precondition" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassObservation" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
      <xs:attribute name="actionNegationInd" type="bl" use="optional"/>
      <xs:attribute name="negationInd" type="bl" use="optional" default="false"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT530000NL.Organizer">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="availabilityTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="subject" type="COCT_MT530000NL.Subject" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="device" type="COCT_MT530000NL.Device2" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="consumable" type="COCT_MT530000NL.Consumable2" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="recordTarget" type="COCT_MT530000NL.RecordTarget" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="responsibleParty" type="COCT_MT530000NL.ResponsibleParty" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="performer" type="COCT_MT530000NL.Performer" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="author" type="COCT_MT530000NL.Author" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="transcriber" type="COCT_MT530000NL.Transcriber" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="informant" type="COCT_MT530000NL.Informant" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="consultant" type="COCT_MT530000NL.Consultant" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="verifier" type="COCT_MT530000NL.Verifier" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="location" type="COCT_MT530000NL.Location" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="definition" type="COCT_MT530000NL.Definition" minOccurs="0" maxOccurs="1"/>
         <xs:element name="conditions" type="COCT_MT530000NL.Conditions" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="component" type="COCT_MT530000NL.Component" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="outboundRelationship1" type="COCT_MT530000NL.SourceOf1" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="outboundRelationship2" type="COCT_MT530000NL.SourceOf" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="inboundRelationship" type="COCT_MT530000NL.SourceOf2" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassRecordOrganizer" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT530000NL.Participant">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="time" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="awarenessCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="investigativeSubject" type="COCT_MT550000NL.InvestigativeSubject"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationExposureparticipation" use="required"/>
      <xs:attribute name="negationInd" type="bl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT530000NL.Participant3">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="time" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="awarenessCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="exposureAgentCarrier" type="COCT_MT410000NL.ExposureAgentCarrier"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationExposuresource" use="required"/>
      <xs:attribute name="negationInd" type="bl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT530000NL.Performer">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="functionCode" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="noteText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="time" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="modeCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="assignedEntity1" type="COCT_MT090000NL.AssignedEntity" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:choice>
               <xs:element name="patient" type="COCT_MT050000NL02.Patient" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="patientOrInvestigatedOrRelated"
                           type="COCT_MT530500NL.PatientOrInvestigatedOrRelated"
                           nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="relatedEntity" type="COCT_MT530600NL.RelatedEntity" nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
            </xs:choice>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationPhysicalPerformer" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT530000NL.Precondition">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="blockedContextActRelationshipType" type="CS" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="blockedContextParticipationType" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="actAttributeContextBlockedInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="conjunctionCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="seperatableInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="criterion" type="COCT_MT530000NL.Criterion" nillable="true" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasPre-condition" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT530000NL.Precondition2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="blockedContextActRelationshipType" type="CS" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="blockedContextParticipationType" type="CS" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="actAttributeContextBlockedInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="checkpointCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="conjunctionCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="seperatableInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="criterion" type="COCT_MT530000NL.Criterion" nillable="true" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasPre-condition" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT530000NL.Procedure">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="SXCM_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="activityTime" type="SXCM_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="availabilityTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="interruptibleInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="uncertaintyCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="languageCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="isCriterionInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="methodCode" type="CD" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="approachSiteCode" type="CD" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="targetSiteCode" type="CD" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="subject" type="COCT_MT530000NL.Subject" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="device" type="COCT_MT530000NL.Device" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="product" type="COCT_MT530000NL.Product2" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="recordTarget" type="COCT_MT530000NL.RecordTarget" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="responsibleParty" type="COCT_MT530000NL.ResponsibleParty" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="performer" type="COCT_MT530000NL.Performer" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="author" type="COCT_MT530000NL.Author" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="transcriber" type="COCT_MT530000NL.Transcriber" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="informant" type="COCT_MT530000NL.Informant" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="consultant" type="COCT_MT530000NL.Consultant" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="verifier" type="COCT_MT530000NL.Verifier" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="location" type="COCT_MT530000NL.Location" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="definition" type="COCT_MT530000NL.Definition" minOccurs="0" maxOccurs="1"/>
         <xs:element name="conditions" type="COCT_MT530000NL.Conditions" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="outboundRelationship1" type="COCT_MT530000NL.SourceOf1" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="outboundRelationship2" type="COCT_MT530000NL.SourceOf" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="inboundRelationship" type="COCT_MT530000NL.SourceOf2" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassProcedure" use="required"/>
      <xs:attribute name="moodCode" type="x_ClinicalStatementProcedureMood" use="required"/>
      <xs:attribute name="actionNegationInd" type="bl" use="optional"/>
      <xs:attribute name="negationInd" type="bl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT530000NL.Product">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:element name="manufacturedProduct" type="POCP_MT010100NL.ManufacturedProduct"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="instanceOfKind" type="POCP_MT020200NL.InstanceOfKind" minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationProduct" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT530000NL.Product2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="specimen" type="COCT_MT080000NL.Specimen" nillable="true" minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="derivedSpecimen" type="COCT_MT080000NL.DerivedSpecimen" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationProduct" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT530000NL.PublicHealthCase">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="title" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="SXCM_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="independentInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="uncertaintyCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="languageCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="isCriterionInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="value" type="ANY" minOccurs="0" maxOccurs="1"/>
         <xs:element name="interpretationCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="methodCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="targetSiteCode" type="CD" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="detectionMethodCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="transmissionModeCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="diseaseImportedCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="subject" type="COCT_MT530000NL.Subject" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="recordTarget" type="COCT_MT530000NL.RecordTarget" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="responsibleParty" type="COCT_MT530000NL.ResponsibleParty" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="performer" type="COCT_MT530000NL.Performer" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="author" type="COCT_MT530000NL.Author" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="transcriber" type="COCT_MT530000NL.Transcriber" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="informant" type="COCT_MT530000NL.Informant" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="consultant" type="COCT_MT530000NL.Consultant" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="verifier" type="COCT_MT530000NL.Verifier" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="location" type="COCT_MT530000NL.Location" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="definition" type="COCT_MT530000NL.Definition" minOccurs="0" maxOccurs="1"/>
         <xs:element name="conditions" type="COCT_MT530000NL.Conditions" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="outboundRelationship1" type="COCT_MT530000NL.SourceOf1" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="outboundRelationship2" type="COCT_MT530000NL.SourceOf" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="inboundRelationship" type="COCT_MT530000NL.SourceOf2" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassPublicHealthCase" use="required"/>
      <xs:attribute name="moodCode" type="x_ClinicalStatementObservationMood" use="required"/>
      <xs:attribute name="actionNegationInd" type="bl" use="optional"/>
      <xs:attribute name="negationInd" type="bl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT530000NL.Receiver">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="noteText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="time" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="assignedEntity" type="COCT_MT090000NL.AssignedEntity" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationReceiver" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT530000NL.RecordTarget">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:element name="patient" type="COCT_MT050000NL02.Patient" nillable="true" minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="patientClinical" type="COCT_MT050004NL.PatientClinical" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="investigativeSubject" type="COCT_MT550000NL.InvestigativeSubject"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationRecordTarget" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT530000NL.ReferenceRange">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="blockedContextActRelationshipType" type="CS" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="blockedContextParticipationType" type="CS" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="actAttributeContextBlockedInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="seperatableInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="observationRange" type="COCT_MT530000NL.ObservationRange" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasReferenceValues" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT530000NL.ResponsibleParty">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="time" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="assignedEntity" type="COCT_MT090000NL.AssignedEntity" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationResponsibleParty" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT530000NL.SourceOf">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="blockedContextActRelationshipType" type="CS" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="blockedContextParticipationType" type="CS" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="actAttributeContextBlockedInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="pauseQuantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="conjunctionCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="localVariableName" type="ST" minOccurs="0" maxOccurs="1"/>
         <xs:element name="seperatableInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="uncertaintyCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="observation" type="COCT_MT530000NL.Observation" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="substanceAdministration" type="COCT_MT530000NL.SubstanceAdministration"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="procedure" type="COCT_MT530000NL.Procedure" nillable="true" minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="supply" type="COCT_MT530000NL.Supply" nillable="true" minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="encounter" type="COCT_MT530000NL.Encounter" nillable="true" minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="exposure" type="COCT_MT530000NL.Exposure" nillable="true" minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="publicHealthCase" type="COCT_MT530000NL.PublicHealthCase" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="act" type="COCT_MT530000NL.Act" nillable="true" minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="organizer" type="COCT_MT530000NL.Organizer" nillable="true" minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      <xs:attribute name="inversionInd" type="bl" use="optional"/>
      <xs:attribute name="negationInd" type="bl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT530000NL.SourceOf1">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="blockedContextActRelationshipType" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="blockedContextParticipationType" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="actAttributeContextBlockedInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityNumber" type="REAL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="pauseQuantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="conjunctionCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="localVariableName" type="ST" minOccurs="0" maxOccurs="1"/>
         <xs:element name="seperatableInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="uncertaintyCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="actReference" type="COCT_MT530000NL.ActReference" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      <xs:attribute name="inversionInd" type="bl" use="optional"/>
      <xs:attribute name="negationInd" type="bl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT530000NL.SourceOf2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="blockedContextActRelationshipType" type="CS" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="blockedContextParticipationType" type="CS" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="actAttributeContextBlockedInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityNumber" type="REAL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="pauseQuantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="conjunctionCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="localVariableName" type="ST" minOccurs="0" maxOccurs="1"/>
         <xs:element name="seperatableInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="uncertaintyCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="observation" type="COCT_MT530000NL.Observation" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="substanceAdministration" type="COCT_MT530000NL.SubstanceAdministration"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="procedure" type="COCT_MT530000NL.Procedure" nillable="true" minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="supply" type="COCT_MT530000NL.Supply" nillable="true" minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="encounter" type="COCT_MT530000NL.Encounter" nillable="true" minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="exposure" type="COCT_MT530000NL.Exposure" nillable="true" minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="publicHealthCase" type="COCT_MT530000NL.PublicHealthCase" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="act" type="COCT_MT530000NL.Act" nillable="true" minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="organizer" type="COCT_MT530000NL.Organizer" nillable="true" minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="required"/>
      <xs:attribute name="inversionInd" type="bl" use="optional"/>
      <xs:attribute name="negationInd" type="bl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT530000NL.Subject">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="time" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="modeCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="awarenessCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="relatedEntity1" type="COCT_MT530600NL.RelatedEntity" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:choice>
               <xs:element name="patient1" type="COCT_MT050000NL02.Patient" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="patientClinical1" type="COCT_MT050004NL.PatientClinical" nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="investigativeSubject1" type="COCT_MT550000NL.InvestigativeSubject"
                           nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
            </xs:choice>
            <xs:choice>
               <xs:element name="specimen" type="COCT_MT080000NL.Specimen" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="derivedSpecimen" type="COCT_MT080000NL.DerivedSpecimen" nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
            </xs:choice>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT530000NL.SubstanceAdministration">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="SXCM_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="activityTime" type="SXCM_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="availabilityTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="repeatNumber" type="IVL_INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="languageCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="isCriterionInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="approachSiteCode" type="CD" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="routeCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="doseQuantity" type="IVL_PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="rateQuantity" type="IVL_PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="doseCheckQuantity" type="RTO_PQ_PQ" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="maxDoseQuantity" type="RTO_PQ_PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="administrationUnitCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="subject" type="COCT_MT530000NL.Subject" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="consumable" type="COCT_MT530000NL.Consumable" minOccurs="0" maxOccurs="1"/>
         <xs:element name="recordTarget" type="COCT_MT530000NL.RecordTarget" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="responsibleParty" type="COCT_MT530000NL.ResponsibleParty" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="performer" type="COCT_MT530000NL.Performer" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="author" type="COCT_MT530000NL.Author" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="transcriber" type="COCT_MT530000NL.Transcriber" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="informant" type="COCT_MT530000NL.Informant" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="consultant" type="COCT_MT530000NL.Consultant" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="verifier" type="COCT_MT530000NL.Verifier" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="location" type="COCT_MT530000NL.Location" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="definition" type="COCT_MT530000NL.Definition" minOccurs="0" maxOccurs="1"/>
         <xs:element name="conditions" type="COCT_MT530000NL.Conditions" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="outboundRelationship1" type="COCT_MT530000NL.SourceOf1" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="outboundRelationship2" type="COCT_MT530000NL.SourceOf" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="inboundRelationship" type="COCT_MT530000NL.SourceOf2" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassSubstanceAdministration" use="required"/>
      <xs:attribute name="moodCode" type="x_ClinicalStatementSubstanceMood" use="required"/>
      <xs:attribute name="actionNegationInd" type="bl" use="optional"/>
      <xs:attribute name="negationInd" type="bl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT530000NL.Supply">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="SXCM_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="activityTime" type="SXCM_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="availabilityTime" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="repeatNumber" type="IVL_INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="independentInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="languageCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="quantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="expectedUseTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="subject" type="COCT_MT530000NL.Subject" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="product" type="COCT_MT530000NL.Product" minOccurs="1"
                     maxOccurs="unbounded"/>
         <xs:element name="recordTarget" type="COCT_MT530000NL.RecordTarget" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="receiver" type="COCT_MT530000NL.Receiver" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="responsibleParty" type="COCT_MT530000NL.ResponsibleParty" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="performer" type="COCT_MT530000NL.Performer" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="author" type="COCT_MT530000NL.Author" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="transcriber" type="COCT_MT530000NL.Transcriber" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="informant" type="COCT_MT530000NL.Informant" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="consultant" type="COCT_MT530000NL.Consultant" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="verifier" type="COCT_MT530000NL.Verifier" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="location" type="COCT_MT530000NL.Location" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="definition" type="COCT_MT530000NL.Definition" minOccurs="0" maxOccurs="1"/>
         <xs:element name="conditions" type="COCT_MT530000NL.Conditions" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="outboundRelationship1" type="COCT_MT530000NL.SourceOf1" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="outboundRelationship2" type="COCT_MT530000NL.SourceOf" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="inboundRelationship" type="COCT_MT530000NL.SourceOf2" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassSupply" use="required"/>
      <xs:attribute name="moodCode" type="x_ClinicalStatementSupplyMood" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT530000NL.Transcriber">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="time" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="modeCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="signatureCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="signatureText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="assignedEntity" type="COCT_MT090000NL.AssignedEntity" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationInformationTranscriber" use="required"/>
   </xs:complexType>
   <xs:complexType name="COCT_MT530000NL.Verifier">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="noteText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="time" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="modeCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="signatureCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="signatureText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="assignedEntity" type="COCT_MT090000NL.AssignedEntity" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationVerifier" use="required"/>
   </xs:complexType>
</xs:schema>