ada_2_hl7/jgz/7.0.0/hl7v3_schemas/POOR_MT200999NL.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:ex="urn:hl7-org/v3-example" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="urn:hl7-org:v3"
           targetNamespace="urn:hl7-org:v3"
           elementFormDefault="qualified"><!--
*****************************************************************************************************************
* XML schema for message type POOR_MT200999NL.
* Source information:
*      Rendered by: Visio to MIF transform
*      Rendered on: 
* Entry point text: The Common Order model is used to order multiple healthcare services from different diagnostic services such as (Observation, Procedure, Supply, Diet (future), Pharmacy, Laboratory, Diagnostic Imaging). Property-contextConductionStyle: C
*
* Saved in XML file by RMIM Designer in Visio at 2012-02-25T16:22:13
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 8529 2011-02-09 20:49:58Z lloyd_mckenzie $
 Fix Names Transform: $Id: FixMifNames.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
  Base transform: $Id: ConvertBase.xsl 8870 2011-09-14 18:32:56Z woody_beeler $
  Package Id Conversion: $Id: TransformPackageIds.xsl 8398 2010-10-12 01:52:15Z lloyd_mckenzie $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 7375 2009-01-26 19:26:53Z wbeeler $
*
* Generated by XMLITS version 3.4.6
*   MIF to XSD Transform $Id: StaticMifToXsd.xsl 8419 2010-11-15 00:10:54Z woody_beeler $
*     Package Id Conversion: $Id: TransformPackageIds.xsl 8398 2010-10-12 01:52:15Z lloyd_mckenzie $
*
* Copyright (c) 2002, 2003, 2004, 2005, 2006, 2007 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  --><xs:annotation>
      <xs:documentation>Generated using schema builder version 3.4.6. Stylesheets:
Saved in XML file by RMIM Designer in Visio at 2012-02-25T16:22:13
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 8529 2011-02-09 20:49:58Z lloyd_mckenzie $
 Fix Names Transform: $Id: FixMifNames.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
  Base transform: $Id: ConvertBase.xsl 8870 2011-09-14 18:32:56Z woody_beeler $
  Package Id Conversion: $Id: TransformPackageIds.xsl 8398 2010-10-12 01:52:15Z lloyd_mckenzie $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 7375 2009-01-26 19:26:53Z wbeeler $
StaticMifToXsd.xsl version 2.0</xs:documentation>
   </xs:annotation>
   <xs:include schemaLocation="../coreschemas/infrastructureRoot.xsd"/>
   <xs:include schemaLocation="COCT_MT220100NL.xsd"/>
   <xs:include schemaLocation="COCT_MT220300NL.xsd"/>
   <xs:include schemaLocation="COCT_MT230100NL.xsd"/>
   <xs:include schemaLocation="COCT_MT230200NL.xsd"/>
   <xs:include schemaLocation="COCT_MT220200NL.xsd"/>
   <xs:include schemaLocation="COCT_MT220300NL.xsd"/>
   <xs:include schemaLocation="COCT_MT230100NL.xsd"/>
   <xs:include schemaLocation="COCT_MT240000NL.xsd"/>
   <xs:include schemaLocation="COCT_MT150000NL.xsd"/>
   <xs:include schemaLocation="COCT_MT090000NL.xsd"/>
   <xs:include schemaLocation="COCT_MT040203NL.xsd"/>
   <xs:include schemaLocation="COCT_MT570000NL.xsd"/>
   <xs:include schemaLocation="COCT_MT010000NL.xsd"/>
   <xs:include schemaLocation="COCT_MT090100NL02.xsd"/>
   <xs:include schemaLocation="COCT_MT250000NL.xsd"/>
   <xs:include schemaLocation="COCT_MT210000NL.xsd"/>
   <xs:include schemaLocation="COCT_MT510000NL.xsd"/>
   <xs:include schemaLocation="COCT_MT090300NL.xsd"/>
   <xs:include schemaLocation="COCT_MT430000NL.xsd"/>
   <xs:include schemaLocation="COCT_MT050004NL.xsd"/>
   <xs:include schemaLocation="COCT_MT530000NL.xsd"/>
   <xs:include schemaLocation="COCT_MT560000NL.xsd"/>
   <xs:include schemaLocation="COCT_MT050000NL02.xsd"/>
   <xs:include schemaLocation="COCT_MT050004NL.xsd"/>
   <xs:include schemaLocation="COCT_MT550000NL.xsd"/>
   <xs:include schemaLocation="COCT_MT080000NL.xsd"/>
   <xs:include schemaLocation="COCT_MT260003NL.xsd"/>
   <xs:include schemaLocation="COCT_MT470000NL.xsd"/>
   <xs:include schemaLocation="COCT_MT590000NL.xsd"/>
   <xs:group name="Payload">
      <xs:sequence>
         <xs:choice>
            <xs:element name="placerGroup" type="POOR_MT200999NL.PlacerGroup"/>
            <xs:element name="observationRequest" type="POOR_MT200999NL.ObservationRequest"/>
            <xs:element name="procedureRequest" type="POOR_MT200999NL.ProcedureRequest"/>
            <xs:element name="supplyRequest" type="POOR_MT200999NL.SupplyRequest"/>
            <xs:element name="substanceAdministrationRequest" type="POOR_MT200999NL.SubstanceAdministrationRequest"/>
         </xs:choice>
      </xs:sequence>
   </xs:group>
   <xs:complexType name="POOR_MT200999NL.Access">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="name" type="ST" minOccurs="0" maxOccurs="1"/>
         <xs:element name="accessDevice" type="POOR_MT200999NL.Device2" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassAccess" use="required"/>
   </xs:complexType>
   <xs:complexType name="POOR_MT200999NL.ActDefinition">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassCompositeOrder" use="required"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="DEF"/>
   </xs:complexType>
   <xs:complexType name="POOR_MT200999NL.ActEvent">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassRoot" use="required"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="POOR_MT200999NL.ActPromise">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassRoot" use="required"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="PRMS"/>
   </xs:complexType>
   <xs:complexType name="POOR_MT200999NL.AssignedEntity">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="assignedPlace" type="POOR_MT200999NL.Place" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassAssignedEntity" use="required"/>
   </xs:complexType>
   <xs:complexType name="POOR_MT200999NL.Author">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="noteText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="time" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="modeCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="signatureCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="signatureText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="assignedEntity" type="COCT_MT090000NL.AssignedEntity" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="AUT"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
   </xs:complexType>
   <xs:complexType name="POOR_MT200999NL.CallBackContact">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="noteText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="time" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="notificationParty" type="COCT_MT040203NL.NotificationParty"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="CALLBCK"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
   </xs:complexType>
   <xs:complexType name="POOR_MT200999NL.Component1">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="processStep" type="POOR_MT200999NL.ProcessStep" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="labProcessStep" type="COCT_MT570000NL.LabProcessStep" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="COMP"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="AN"/>
      <xs:attribute name="contextConductionInd" type="bl" use="required"/>
   </xs:complexType>
   <xs:complexType name="POOR_MT200999NL.Component2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="encounter" type="COCT_MT010000NL.Encounter" nillable="true" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="COMP"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
      <xs:attribute name="contextConductionInd" type="bl" use="required"/>
   </xs:complexType>
   <xs:complexType name="POOR_MT200999NL.Component3">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityNumber" type="REAL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="pauseQuantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="seperatableInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="placerGroup" type="POOR_MT200999NL.PlacerGroup" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="observationRequest" type="POOR_MT200999NL.ObservationRequest"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="procedureRequest" type="POOR_MT200999NL.ProcedureRequest" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="supplyRequest" type="POOR_MT200999NL.SupplyRequest" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="substanceAdministrationRequest"
                        type="POOR_MT200999NL.SubstanceAdministrationRequest"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="COMP"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="AP"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
   </xs:complexType>
   <xs:complexType name="POOR_MT200999NL.Component4">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="workingList" type="POOR_MT200999NL.WorkingList" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="COMP"/>
   </xs:complexType>
   <xs:complexType name="POOR_MT200999NL.Consultant">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="functionCode" type="CV" minOccurs="0" maxOccurs="1"/>
         <xs:element name="noteText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="time" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="assignedPerson" type="COCT_MT090100NL02.AssignedPerson" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="CON"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
   </xs:complexType>
   <xs:complexType name="POOR_MT200999NL.Consumable1">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:choice>
               <xs:element name="content1" type="COCT_MT220300NL.Content" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="manufacturedProduct1" type="COCT_MT230100NL.ManufacturedProduct"
                           nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="ingredient1" type="COCT_MT230200NL.Ingredient" nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
            </xs:choice>
            <xs:choice>
               <xs:element name="content2" type="COCT_MT220300NL.Content" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="manufacturedProduct2" type="COCT_MT230100NL.ManufacturedProduct"
                           nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
            </xs:choice>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationConsumable" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="ON"/>
   </xs:complexType>
   <xs:complexType name="POOR_MT200999NL.Consumable2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:choice>
               <xs:element name="content1" type="COCT_MT220300NL.Content" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="manufacturedProduct1" type="COCT_MT230100NL.ManufacturedProduct"
                           nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="ingredient1" type="COCT_MT230200NL.Ingredient" nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
            </xs:choice>
            <xs:choice>
               <xs:element name="content2" type="COCT_MT220300NL.Content" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="manufacturedProduct2" type="COCT_MT230100NL.ManufacturedProduct"
                           nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
            </xs:choice>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationConsumable" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="ON"/>
   </xs:complexType>
   <xs:complexType name="POOR_MT200999NL.Consumable3">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="reagent" type="COCT_MT250000NL.Reagent" nillable="true" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="CSM"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="ON"/>
   </xs:complexType>
   <xs:complexType name="POOR_MT200999NL.ControlActEvent">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="TS" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="CACT"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="POOR_MT200999NL.ControlVariable">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="dillution" type="COCT_MT210000NL.Dillution" nillable="true" minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="endogenousContent" type="COCT_MT210000NL.EndogenousContent"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="reflexPermission" type="COCT_MT210000NL.ReflexPermission" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="autoRepeatPermission" type="COCT_MT210000NL.AutoRepeatPermission"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="CTRLV"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="AN"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
   </xs:complexType>
   <xs:complexType name="POOR_MT200999NL.Coverage">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="coverageRecord" type="COCT_MT510000NL.CoverageRecord" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="COVBY"/>
   </xs:complexType>
   <xs:complexType name="POOR_MT200999NL.DataEntryLocation">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="noteText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="time" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="assignedEntity" type="POOR_MT200999NL.AssignedEntity" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="ELOC"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
   </xs:complexType>
   <xs:complexType name="POOR_MT200999NL.Definition">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="actDefinition" type="POOR_MT200999NL.ActDefinition" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="INST"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" fixed="AN"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" fixed="false"/>
   </xs:complexType>
   <xs:complexType name="POOR_MT200999NL.Destination">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="noteText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="time" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="serviceDeliveryLocation" type="COCT_MT240000NL.ServiceDeliveryLocation"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationDestination" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
   </xs:complexType>
   <xs:complexType name="POOR_MT200999NL.Device">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:element name="access" type="POOR_MT200999NL.Access" nillable="true" minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="assignedDevice" type="COCT_MT090300NL.AssignedDevice" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="labTestKit" type="COCT_MT430000NL.LabTestKit" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationTargetDevice" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="ON"/>
   </xs:complexType>
   <xs:complexType name="POOR_MT200999NL.Device2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="name" type="ST" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClass" use="optional" fixed="DEV"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
   </xs:complexType>
   <xs:complexType name="POOR_MT200999NL.DirectTarget">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:element name="content" type="COCT_MT220300NL.Content" nillable="true" minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="manufacturedProduct" type="COCT_MT230100NL.ManufacturedProduct"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="ingredient" type="COCT_MT230200NL.Ingredient" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="DIR"/>
   </xs:complexType>
   <xs:complexType name="POOR_MT200999NL.Goal">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="conjunctionCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="observationEventCriterion"
                     type="POOR_MT200999NL.ObservationEventCriterion"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipObjective" use="required"/>
   </xs:complexType>
   <xs:complexType name="POOR_MT200999NL.InFulfillmentOf">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:element name="actPromise" type="POOR_MT200999NL.ActPromise" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="actEvent" type="POOR_MT200999NL.ActEvent" nillable="true" minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="FLFS"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="AN"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" default="false"/>
   </xs:complexType>
   <xs:complexType name="POOR_MT200999NL.InformationRecipient">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="noteText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="assignedEntity" type="COCT_MT090000NL.AssignedEntity" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationInformationRecipient" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
   </xs:complexType>
   <xs:complexType name="POOR_MT200999NL.Location">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="noteText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="time" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="serviceDeliveryLocation" type="COCT_MT240000NL.ServiceDeliveryLocation"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationTargetLocation" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
   </xs:complexType>
   <xs:complexType name="POOR_MT200999NL.ManufacturedMaterialKind">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CE" minOccurs="1" maxOccurs="1"/>
         <xs:element name="quantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="name" type="TN" minOccurs="0" maxOccurs="1"/>
         <xs:element name="formCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="asManufacturedProduct" type="POOR_MT200999NL.ManufacturedProduct"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClassManufacturedMaterial" use="required"/>
      <xs:attribute name="determinerCode" type="EntityDeterminerDetermined" use="required"/>
   </xs:complexType>
   <xs:complexType name="POOR_MT200999NL.ManufacturedProduct">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="manufacturerOrganization" type="COCT_MT150000NL.Organization"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassManufacturedProduct" use="required"/>
   </xs:complexType>
   <xs:complexType name="POOR_MT200999NL.ObservationEventCriterion">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="value" type="ANY" minOccurs="0" maxOccurs="1"/>
         <xs:element name="precondition" type="POOR_MT200999NL.Precondition1" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="OBS"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN.CRT"/>
      <xs:attribute name="actionNegationInd" type="bl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="POOR_MT200999NL.ObservationRequest">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="SXCM_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="repeatNumber" type="IVL_INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="interruptibleInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="independentInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="languageCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="interpretationCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="methodCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="targetSiteCode" type="CD" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="specimen" type="POOR_MT200999NL.Specimen" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="subject" type="POOR_MT200999NL.Subject6" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="device" type="POOR_MT200999NL.Device" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="consumable1" type="POOR_MT200999NL.Consumable3" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="recordTarget" type="POOR_MT200999NL.RecordTarget" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="receiver" type="POOR_MT200999NL.Receiver" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="performer" type="POOR_MT200999NL.Performer" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="author" type="POOR_MT200999NL.Author" minOccurs="0" maxOccurs="1"/>
         <xs:element name="transcriber" type="POOR_MT200999NL.Transcriber" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="referrer" type="POOR_MT200999NL.Referrer" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="consultant" type="POOR_MT200999NL.Consultant" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="callBackContact" type="POOR_MT200999NL.CallBackContact" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="informationRecipient" type="POOR_MT200999NL.InformationRecipient"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="verifier" type="POOR_MT200999NL.Verifier" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="dataEntryLocation" type="POOR_MT200999NL.DataEntryLocation" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="location" type="POOR_MT200999NL.Location" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="goal" type="POOR_MT200999NL.Goal" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="occurrenceOf" type="POOR_MT200999NL.OccurrenceOf" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="definition" type="POOR_MT200999NL.Definition" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="replacementOf" type="POOR_MT200999NL.ReplacementOf" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="reason" type="POOR_MT200999NL.Reason" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="trigger" type="POOR_MT200999NL.Trigger" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="precondition" type="POOR_MT200999NL.Precondition2" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="coverage" type="POOR_MT200999NL.Coverage" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="pertinentInformation" type="POOR_MT200999NL.PertinentInformation"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="controlVariable" type="POOR_MT200999NL.ControlVariable" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="component1" type="POOR_MT200999NL.Component1" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="component2" type="POOR_MT200999NL.Component3" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="fulfillment" type="POOR_MT200999NL.InFulfillmentOf" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="subjectOf1" type="POOR_MT200999NL.Subject1" minOccurs="0" maxOccurs="1"/>
         <xs:element name="subjectOf2" type="POOR_MT200999NL.Subject2" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="subjectOf3" type="POOR_MT200999NL.Subject3" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="subjectOf4" type="POOR_MT200999NL.Subject4" minOccurs="0" maxOccurs="1"/>
         <xs:element name="subjectOf5" type="POOR_MT200999NL.Subject5" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="subjectOf6" type="POOR_MT200999NL.Subject7" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="componentOf1" type="POOR_MT200999NL.Component2" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="componentOf2" type="POOR_MT200999NL.Component4" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassObservation" use="required"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="RQO"/>
      <xs:attribute name="negationInd" type="bl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="POOR_MT200999NL.OccurrenceOf">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="parentRequestReference" type="POOR_MT200999NL.ParentRequestReference"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="OCCR"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="AN"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" default="true"/>
   </xs:complexType>
   <xs:complexType name="POOR_MT200999NL.ParentRequestReference">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassCompositeOrder" use="required"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="RQO"/>
   </xs:complexType>
   <xs:complexType name="POOR_MT200999NL.Performer">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="functionCode" type="CV" minOccurs="0" maxOccurs="1"/>
         <xs:element name="noteText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="time" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="assignedEntity" type="COCT_MT090000NL.AssignedEntity" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="patientClinical" type="COCT_MT050004NL.PatientClinical" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationPhysicalPerformer" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
   </xs:complexType>
   <xs:complexType name="POOR_MT200999NL.PertinentInformation">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:choice>
               <xs:element name="observation" type="COCT_MT530000NL.Observation" nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="substanceAdministration" type="COCT_MT530000NL.SubstanceAdministration"
                           nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="procedure" type="COCT_MT530000NL.Procedure" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="supply" type="COCT_MT530000NL.Supply" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="encounter" type="COCT_MT530000NL.Encounter" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="exposure" type="COCT_MT530000NL.Exposure" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="publicHealthCase" type="COCT_MT530000NL.PublicHealthCase" nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="act" type="COCT_MT530000NL.Act" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="organizer" type="COCT_MT530000NL.Organizer" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
            </xs:choice>
            <xs:element name="actReference" type="COCT_MT530000NL.ActReference" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipPertains" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="AP"/>
      <xs:attribute name="contextConductionInd" type="bl" use="required"/>
   </xs:complexType>
   <xs:complexType name="POOR_MT200999NL.Place">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="name" type="EN" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="EntityClass" use="optional" fixed="PLC"/>
      <xs:attribute name="determinerCode" type="EntityDeterminer" use="optional" fixed="INSTANCE"/>
   </xs:complexType>
   <xs:complexType name="POOR_MT200999NL.PlacerGroup">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="SXCM_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="repeatNumber" type="IVL_INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="interruptibleInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="languageCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="specimen" type="POOR_MT200999NL.Specimen" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="subject" type="POOR_MT200999NL.Subject6" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="device" type="POOR_MT200999NL.Device" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="consumable1" type="POOR_MT200999NL.Consumable3" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="recordTarget" type="POOR_MT200999NL.RecordTarget" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="receiver" type="POOR_MT200999NL.Receiver" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="performer" type="POOR_MT200999NL.Performer" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="author" type="POOR_MT200999NL.Author" minOccurs="0" maxOccurs="1"/>
         <xs:element name="transcriber" type="POOR_MT200999NL.Transcriber" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="referrer" type="POOR_MT200999NL.Referrer" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="consultant" type="POOR_MT200999NL.Consultant" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="callBackContact" type="POOR_MT200999NL.CallBackContact" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="informationRecipient" type="POOR_MT200999NL.InformationRecipient"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="verifier" type="POOR_MT200999NL.Verifier" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="dataEntryLocation" type="POOR_MT200999NL.DataEntryLocation" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="location" type="POOR_MT200999NL.Location" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="goal" type="POOR_MT200999NL.Goal" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="occurrenceOf" type="POOR_MT200999NL.OccurrenceOf" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="definition" type="POOR_MT200999NL.Definition" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="replacementOf" type="POOR_MT200999NL.ReplacementOf" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="reason" type="POOR_MT200999NL.Reason" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="trigger" type="POOR_MT200999NL.Trigger" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="precondition" type="POOR_MT200999NL.Precondition2" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="coverage" type="POOR_MT200999NL.Coverage" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="pertinentInformation" type="POOR_MT200999NL.PertinentInformation"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="controlVariable" type="POOR_MT200999NL.ControlVariable" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="component1" type="POOR_MT200999NL.Component1" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="component2" type="POOR_MT200999NL.Component3" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="fulfillment" type="POOR_MT200999NL.InFulfillmentOf" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="subjectOf1" type="POOR_MT200999NL.Subject1" minOccurs="0" maxOccurs="1"/>
         <xs:element name="subjectOf2" type="POOR_MT200999NL.Subject2" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="subjectOf3" type="POOR_MT200999NL.Subject3" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="subjectOf4" type="POOR_MT200999NL.Subject4" minOccurs="0" maxOccurs="1"/>
         <xs:element name="subjectOf5" type="POOR_MT200999NL.Subject5" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="subjectOf6" type="POOR_MT200999NL.Subject7" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="componentOf1" type="POOR_MT200999NL.Component2" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="componentOf2" type="POOR_MT200999NL.Component4" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="GROUPER"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="RQO"/>
   </xs:complexType>
   <xs:complexType name="POOR_MT200999NL.Precondition1">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="pauseQuantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="checkpointCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="conjunctionCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="observationEventCriterion"
                     type="POOR_MT200999NL.ObservationEventCriterion"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="PRCN"/>
   </xs:complexType>
   <xs:complexType name="POOR_MT200999NL.Precondition2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="pauseQuantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="checkpointCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="conjunctionCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="procedureEventCriterion" type="POOR_MT200999NL.ProcedureEventCriterion"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="observationEventCriterion"
                        type="POOR_MT200999NL.ObservationEventCriterion"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="substanceAdministrationEventCriterion"
                        type="POOR_MT200999NL.SubstanceAdministrationEventCriterion"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="PRCN"/>
   </xs:complexType>
   <xs:complexType name="POOR_MT200999NL.PriorActRequest">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassCompositeOrder" use="required"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="RQO"/>
   </xs:complexType>
   <xs:complexType name="POOR_MT200999NL.ProcedureEventCriterion">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="SXCM_TS" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassProcedure" use="required"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN.CRT"/>
      <xs:attribute name="actionNegationInd" type="bl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="POOR_MT200999NL.ProcedureRequest">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="SXCM_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="repeatNumber" type="IVL_INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="interruptibleInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="independentInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="languageCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="methodCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="approachSiteCode" type="CD" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="targetSiteCode" type="CD" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="specimen" type="POOR_MT200999NL.Specimen" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="subject" type="POOR_MT200999NL.Subject6" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="device" type="POOR_MT200999NL.Device" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="consumable1" type="POOR_MT200999NL.Consumable3" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="recordTarget" type="POOR_MT200999NL.RecordTarget" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="receiver" type="POOR_MT200999NL.Receiver" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="performer" type="POOR_MT200999NL.Performer" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="author" type="POOR_MT200999NL.Author" minOccurs="0" maxOccurs="1"/>
         <xs:element name="transcriber" type="POOR_MT200999NL.Transcriber" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="referrer" type="POOR_MT200999NL.Referrer" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="consultant" type="POOR_MT200999NL.Consultant" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="callBackContact" type="POOR_MT200999NL.CallBackContact" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="informationRecipient" type="POOR_MT200999NL.InformationRecipient"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="verifier" type="POOR_MT200999NL.Verifier" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="dataEntryLocation" type="POOR_MT200999NL.DataEntryLocation" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="location" type="POOR_MT200999NL.Location" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="goal" type="POOR_MT200999NL.Goal" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="occurrenceOf" type="POOR_MT200999NL.OccurrenceOf" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="definition" type="POOR_MT200999NL.Definition" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="replacementOf" type="POOR_MT200999NL.ReplacementOf" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="reason" type="POOR_MT200999NL.Reason" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="trigger" type="POOR_MT200999NL.Trigger" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="precondition" type="POOR_MT200999NL.Precondition2" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="coverage" type="POOR_MT200999NL.Coverage" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="pertinentInformation" type="POOR_MT200999NL.PertinentInformation"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="controlVariable" type="POOR_MT200999NL.ControlVariable" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="component1" type="POOR_MT200999NL.Component1" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="component2" type="POOR_MT200999NL.Component3" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="fulfillment" type="POOR_MT200999NL.InFulfillmentOf" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="subjectOf1" type="POOR_MT200999NL.Subject1" minOccurs="0" maxOccurs="1"/>
         <xs:element name="subjectOf2" type="POOR_MT200999NL.Subject2" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="subjectOf3" type="POOR_MT200999NL.Subject3" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="subjectOf4" type="POOR_MT200999NL.Subject4" minOccurs="0" maxOccurs="1"/>
         <xs:element name="subjectOf5" type="POOR_MT200999NL.Subject5" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="subjectOf6" type="POOR_MT200999NL.Subject7" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="componentOf1" type="POOR_MT200999NL.Component2" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="componentOf2" type="POOR_MT200999NL.Component4" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassProcedure" use="required"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="RQO"/>
      <xs:attribute name="negationInd" type="bl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="POOR_MT200999NL.ProcessStep">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassProcessStep" use="required"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>
   <xs:complexType name="POOR_MT200999NL.Product1">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:choice>
               <xs:element name="content1" type="COCT_MT220300NL.Content" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="manufacturedProduct1" type="COCT_MT230100NL.ManufacturedProduct"
                           nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="ingredient1" type="COCT_MT230200NL.Ingredient" nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
            </xs:choice>
            <xs:choice>
               <xs:element name="content2" type="COCT_MT220300NL.Content" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="manufacturedProduct2" type="COCT_MT230100NL.ManufacturedProduct"
                           nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
            </xs:choice>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationProduct" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="ON"/>
   </xs:complexType>
   <xs:complexType name="POOR_MT200999NL.Product2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="noteText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="substitutionConditionCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="supplyItem" type="POOR_MT200999NL.SupplyItem" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationProduct" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
   </xs:complexType>
   <xs:complexType name="POOR_MT200999NL.Reason">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="priorityNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:choice>
               <xs:element name="observation" type="COCT_MT530000NL.Observation" nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="substanceAdministration" type="COCT_MT530000NL.SubstanceAdministration"
                           nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="procedure" type="COCT_MT530000NL.Procedure" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="supply" type="COCT_MT530000NL.Supply" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="encounter" type="COCT_MT530000NL.Encounter" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="exposure" type="COCT_MT530000NL.Exposure" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="publicHealthCase" type="COCT_MT530000NL.PublicHealthCase" nillable="true"
                           minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="act" type="COCT_MT530000NL.Act" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
               <xs:element name="organizer" type="COCT_MT530000NL.Organizer" nillable="true" minOccurs="1"
                           maxOccurs="1"/>
            </xs:choice>
            <xs:element name="actReference" type="COCT_MT530000NL.ActReference" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="RSON"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
      <xs:attribute name="contextConductionInd" type="bl" use="required"/>
   </xs:complexType>
   <xs:complexType name="POOR_MT200999NL.Receiver">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="noteText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="time" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="assignedEntity" type="COCT_MT090000NL.AssignedEntity" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="RCV"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
   </xs:complexType>
   <xs:complexType name="POOR_MT200999NL.RecordTarget">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="noteText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="patient" type="COCT_MT050000NL02.Patient" nillable="true" minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="patientClinical" type="COCT_MT050004NL.PatientClinical" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="investigativeSubject" type="COCT_MT550000NL.InvestigativeSubject"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="RCT"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
   </xs:complexType>
   <xs:complexType name="POOR_MT200999NL.Referrer">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="noteText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="assignedPerson" type="COCT_MT090100NL02.AssignedPerson" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="REF"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
   </xs:complexType>
   <xs:complexType name="POOR_MT200999NL.ReplacementOf">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="priorActRequest" type="POOR_MT200999NL.PriorActRequest" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="RPLC"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="ON"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" default="false"/>
   </xs:complexType>
   <xs:complexType name="POOR_MT200999NL.Review">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="effectiveTime" type="TS" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassReview" use="required"/>
      <xs:attribute name="moodCode" type="x_ActMoodDefEvnRqoPrmsPrp" use="required"/>
   </xs:complexType>
   <xs:complexType name="POOR_MT200999NL.Specimen">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:choice>
            <xs:element name="specimen" type="COCT_MT080000NL.Specimen" nillable="true" minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="derivedSpecimen" type="COCT_MT080000NL.DerivedSpecimen" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="SPC"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
   </xs:complexType>
   <xs:complexType name="POOR_MT200999NL.Subject1">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="controlActEvent" type="POOR_MT200999NL.ControlActEvent" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="SUBJ"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="AN"/>
      <xs:attribute name="contextConductionInd" type="bl" use="optional" default="false"/>
   </xs:complexType>
   <xs:complexType name="POOR_MT200999NL.Subject2">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="detectedMedicationIssue" type="COCT_MT260003NL.DetectedMedicationIssue"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="SUBJ"/>
   </xs:complexType>
   <xs:complexType name="POOR_MT200999NL.Subject3">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="substitutionPermission" type="POOR_MT200999NL.SubstitutionPermission"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="SUBJ"/>
   </xs:complexType>
   <xs:complexType name="POOR_MT200999NL.Subject4">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="review" type="POOR_MT200999NL.Review" nillable="true" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="SUBJ"/>
   </xs:complexType>
   <xs:complexType name="POOR_MT200999NL.Subject5">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="consent" type="COCT_MT470000NL.Consent" nillable="true" minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasSubject" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
      <xs:attribute name="contextConductionInd" type="bl" use="required"/>
   </xs:complexType>
   <xs:complexType name="POOR_MT200999NL.Subject6">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="noteText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="awarenessCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="patient" type="COCT_MT050000NL02.Patient" nillable="true" minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="patientClinical" type="COCT_MT050004NL.PatientClinical" nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="investigativeSubject" type="COCT_MT550000NL.InvestigativeSubject"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationType" use="optional" fixed="SBJ"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
   </xs:complexType>
   <xs:complexType name="POOR_MT200999NL.Subject7">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="seperatableInd" type="BL" minOccurs="1" maxOccurs="1"/>
         <xs:element name="annotation" type="COCT_MT590000NL.Annotation" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="SUBJ"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="AN"/>
      <xs:attribute name="contextConductionInd" type="bl" use="required"/>
   </xs:complexType>
   <xs:complexType name="POOR_MT200999NL.SubstanceAdministrationEventCriterion">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="SXCM_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="doseQuantity" type="IVL_PQ" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="SBADM"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN.CRT"/>
      <xs:attribute name="actionNegationInd" type="bl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="POOR_MT200999NL.SubstanceAdministrationRequest">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="1"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="SXCM_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="repeatNumber" type="IVL_INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="independentInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="approachSiteCode" type="CD" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="routeCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="doseQuantity" type="IVL_PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="rateQuantity" type="IVL_PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="doseCheckQuantity" type="RTO_QTY_QTY" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="maxDoseQuantity" type="RTO_QTY_QTY" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="administrationUnitCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="specimen" type="POOR_MT200999NL.Specimen" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="subject" type="POOR_MT200999NL.Subject6" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="device" type="POOR_MT200999NL.Device" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="consumable1" type="POOR_MT200999NL.Consumable3" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="consumable2" type="POOR_MT200999NL.Consumable1" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="directTarget" type="POOR_MT200999NL.DirectTarget" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="recordTarget" type="POOR_MT200999NL.RecordTarget" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="receiver" type="POOR_MT200999NL.Receiver" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="performer" type="POOR_MT200999NL.Performer" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="author" type="POOR_MT200999NL.Author" minOccurs="0" maxOccurs="1"/>
         <xs:element name="transcriber" type="POOR_MT200999NL.Transcriber" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="referrer" type="POOR_MT200999NL.Referrer" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="consultant" type="POOR_MT200999NL.Consultant" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="callBackContact" type="POOR_MT200999NL.CallBackContact" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="informationRecipient" type="POOR_MT200999NL.InformationRecipient"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="verifier" type="POOR_MT200999NL.Verifier" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="dataEntryLocation" type="POOR_MT200999NL.DataEntryLocation" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="location" type="POOR_MT200999NL.Location" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="goal" type="POOR_MT200999NL.Goal" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="occurrenceOf" type="POOR_MT200999NL.OccurrenceOf" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="definition" type="POOR_MT200999NL.Definition" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="replacementOf" type="POOR_MT200999NL.ReplacementOf" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="reason" type="POOR_MT200999NL.Reason" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="trigger" type="POOR_MT200999NL.Trigger" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="precondition" type="POOR_MT200999NL.Precondition2" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="coverage" type="POOR_MT200999NL.Coverage" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="pertinentInformation" type="POOR_MT200999NL.PertinentInformation"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="controlVariable" type="POOR_MT200999NL.ControlVariable" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="component1" type="POOR_MT200999NL.Component1" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="component2" type="POOR_MT200999NL.Component3" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="fulfillment" type="POOR_MT200999NL.InFulfillmentOf" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="subjectOf1" type="POOR_MT200999NL.Subject1" minOccurs="0" maxOccurs="1"/>
         <xs:element name="subjectOf2" type="POOR_MT200999NL.Subject2" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="subjectOf3" type="POOR_MT200999NL.Subject3" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="subjectOf4" type="POOR_MT200999NL.Subject4" minOccurs="0" maxOccurs="1"/>
         <xs:element name="subjectOf5" type="POOR_MT200999NL.Subject5" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="subjectOf6" type="POOR_MT200999NL.Subject7" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="componentOf1" type="POOR_MT200999NL.Component2" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="componentOf2" type="POOR_MT200999NL.Component4" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="SBADM"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="RQO"/>
   </xs:complexType>
   <xs:complexType name="POOR_MT200999NL.SubstitutionPermission">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassSubstitution" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodPermission" use="required"/>
   </xs:complexType>
   <xs:complexType name="POOR_MT200999NL.SupplyItem">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="distributedManufacturedMaterialKind"
                     type="POOR_MT200999NL.ManufacturedMaterialKind"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="RoleClassDistributedMaterial" use="required"/>
   </xs:complexType>
   <xs:complexType name="POOR_MT200999NL.SupplyRequest">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="1" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="statusCode" type="CS" minOccurs="1" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="SXCM_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="repeatNumber" type="IVL_INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="interruptibleInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="independentInd" type="BL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="languageCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="quantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="expectedUseTime" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="specimen" type="POOR_MT200999NL.Specimen" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="subject" type="POOR_MT200999NL.Subject6" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="device" type="POOR_MT200999NL.Device" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="consumable1" type="POOR_MT200999NL.Consumable3" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="consumable2" type="POOR_MT200999NL.Consumable2" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="product1" type="POOR_MT200999NL.Product1" minOccurs="0" maxOccurs="1"/>
         <xs:element name="product2" type="POOR_MT200999NL.Product2" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="recordTarget" type="POOR_MT200999NL.RecordTarget" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="receiver" type="POOR_MT200999NL.Receiver" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="performer" type="POOR_MT200999NL.Performer" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="author" type="POOR_MT200999NL.Author" minOccurs="0" maxOccurs="1"/>
         <xs:element name="transcriber" type="POOR_MT200999NL.Transcriber" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="referrer" type="POOR_MT200999NL.Referrer" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="consultant" type="POOR_MT200999NL.Consultant" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="callBackContact" type="POOR_MT200999NL.CallBackContact" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="informationRecipient" type="POOR_MT200999NL.InformationRecipient"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="verifier" type="POOR_MT200999NL.Verifier" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="destination" type="POOR_MT200999NL.Destination" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="dataEntryLocation" type="POOR_MT200999NL.DataEntryLocation" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="location" type="POOR_MT200999NL.Location" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="goal" type="POOR_MT200999NL.Goal" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="occurrenceOf" type="POOR_MT200999NL.OccurrenceOf" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="definition" type="POOR_MT200999NL.Definition" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="replacementOf" type="POOR_MT200999NL.ReplacementOf" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="reason" type="POOR_MT200999NL.Reason" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="trigger" type="POOR_MT200999NL.Trigger" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="precondition" type="POOR_MT200999NL.Precondition2" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="coverage" type="POOR_MT200999NL.Coverage" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="pertinentInformation" type="POOR_MT200999NL.PertinentInformation"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="controlVariable" type="POOR_MT200999NL.ControlVariable" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="component1" type="POOR_MT200999NL.Component1" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="component2" type="POOR_MT200999NL.Component3" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="fulfillment" type="POOR_MT200999NL.InFulfillmentOf" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="subjectOf1" type="POOR_MT200999NL.Subject1" minOccurs="0" maxOccurs="1"/>
         <xs:element name="subjectOf2" type="POOR_MT200999NL.Subject2" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="subjectOf3" type="POOR_MT200999NL.Subject3" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="subjectOf4" type="POOR_MT200999NL.Subject4" minOccurs="0" maxOccurs="1"/>
         <xs:element name="subjectOf5" type="POOR_MT200999NL.Subject5" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="subjectOf6" type="POOR_MT200999NL.Subject7" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="componentOf1" type="POOR_MT200999NL.Component2" minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="componentOf2" type="POOR_MT200999NL.Component4" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassSupply" use="required"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="RQO"/>
      <xs:attribute name="negationInd" type="bl" use="optional"/>
   </xs:complexType>
   <xs:complexType name="POOR_MT200999NL.Transcriber">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="noteText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="time" type="IVL_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="signatureCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="signatureText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="assignedEntity" type="COCT_MT090000NL.AssignedEntity" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationInformationTranscriber" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
   </xs:complexType>
   <xs:complexType name="POOR_MT200999NL.Trigger">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="pauseQuantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="checkpointCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="conjunctionCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:choice>
            <xs:element name="procedureEventCriterion" type="POOR_MT200999NL.ProcedureEventCriterion"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="observationEventCriterion"
                        type="POOR_MT200999NL.ObservationEventCriterion"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
            <xs:element name="substanceAdministrationEventCriterion"
                        type="POOR_MT200999NL.SubstanceAdministrationEventCriterion"
                        nillable="true"
                        minOccurs="1"
                        maxOccurs="1"/>
         </xs:choice>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipType" use="optional" fixed="TRIG"/>
   </xs:complexType>
   <xs:complexType name="POOR_MT200999NL.Verifier">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="noteText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="time" type="TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="modeCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="signatureCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="signatureText" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="assignedEntity" type="COCT_MT090000NL.AssignedEntity" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationVerifier" use="required"/>
      <xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="OP"/>
   </xs:complexType>
   <xs:complexType name="POOR_MT200999NL.WorkingList">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClass" use="optional" fixed="LIST"/>
      <xs:attribute name="moodCode" type="ActMood" use="optional" fixed="EVN"/>
   </xs:complexType>
</xs:schema>