ada_2_hl7/jgz/7.0.0/hl7v3_schemas/QUQI_MT120001.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema targetNamespace="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns="urn:hl7-org:v3" elementFormDefault="qualified">
	<xs:include schemaLocation="../coreschemas/datatypes.xsd"/>
	<xs:include schemaLocation="../coreschemas/voc.xsd"/>
	<xs:include schemaLocation="COCT_MT090300.xsd"/>
	<xs:include schemaLocation="COCT_MT090000.xsd"/>
	<xs:include schemaLocation="COCT_MT090100.xsd"/>
	<xs:include schemaLocation="MCAI_MT900001.xsd"/>
	<xs:group name="ControlAct">
		<xs:sequence>
			<xs:element name="ControlActProcess" type="QUQI_MT120001.ControlActProcess"/>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="QUQI_MT120001.ControlActProcess">
		<xs:sequence>
			<xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="code" type="CD" minOccurs="0"/>
			<xs:element name="text" type="ED" minOccurs="0"/>
			<xs:element name="effectiveTime" type="IVL_TS" minOccurs="0"/>
			<xs:element name="priorityCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="reasonCode" type="CE" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="languageCode" type="CE" minOccurs="0"/>
			<xs:element name="authorOrPerformer" type="QUQI_MT120001.AuthorOrPerformer"/>
			<xs:element name="dataEnterer" type="QUQI_MT120001.DataEnterer" minOccurs="0"
				maxOccurs="unbounded"/>
			<xs:element name="informationRecipient" type="QUQI_MT120001.InformationRecipient"
				minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="overseer" type="QUQI_MT120001.Overseer" minOccurs="0" maxOccurs="1"/>
			<xs:element name="subject" type="QUQI_MT120001.Subject2" minOccurs="0"
				maxOccurs="unbounded"/>
			<xs:element name="reasonOf" type="QUQI_MT120001.Reason" minOccurs="0"
				maxOccurs="unbounded"/>
			<xs:element name="queryAck" type="QUQI_MT120001.QueryAck"/>
			<xs:element name="queryByParameter" type="QUQI_MT120001.QueryByParameter" minOccurs="0"
			/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="ControlAct"/>
		<xs:attribute name="classCode" type="ActClass" use="optional" default="CACT"/>
		<xs:attribute name="moodCode" type="ActMood" use="required"/>
		<xs:attribute name="templateId" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="QUQI_MT120001.AuthorOrPerformer">
		<xs:sequence>
			<xs:element name="noteText" type="ED" minOccurs="0"/>
			<xs:element name="time" type="IVL_TS" minOccurs="0"/>
			<xs:element name="modeCode" type="CE" minOccurs="0"/>
			<xs:element name="signatureCode" type="CE" minOccurs="0"/>
			<xs:element name="signatureText" type="ED" minOccurs="0"/>
			<xs:element name="participant" type="QUQI_MT120001.RoleChoiceA"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="Participation"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="required"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="AP"/>
		<xs:attribute name="templateId" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="QUQI_MT120001.DataEnterer">
		<xs:sequence>
			<xs:element name="time" type="IVL_TS" minOccurs="0"/>
			<xs:element name="assignedEntity" type="COCT_MT090100.AssignedPerson"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="Participation"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="optional" default="ENT"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="AP"/>
		<xs:attribute name="templateId" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="QUQI_MT120001.InformationRecipient">
		<xs:sequence>
			<xs:element name="time" type="IVL_TS" minOccurs="0"/>
			<xs:element name="assignedEntity" type="COCT_MT090100.AssignedPerson"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="Participation"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="required"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="AP"/>
		<xs:attribute name="templateId" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="QUQI_MT120001.Overseer">
		<xs:sequence>
			<xs:element name="noteText" type="ED" minOccurs="0"/>
			<xs:element name="time" type="IVL_TS" minOccurs="0"/>
			<xs:element name="modeCode" type="CE" minOccurs="0"/>
			<xs:element name="signatureCode" type="CE" minOccurs="0"/>
			<xs:element name="signatureText" type="ED" minOccurs="0"/>
			<xs:element name="assignedEntity" type="COCT_MT090100.AssignedPerson"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="Participation"/>
		<xs:attribute name="typeCode" type="ParticipationType" use="required"/>
		<xs:attribute name="contextControlCode" type="ContextControl" use="optional" default="AP"/>
		<xs:attribute name="templateId" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="QUQI_MT120001.Subject2">
		<xs:sequence>
			<xs:group ref="Payload"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="ActRelationship"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="optional" default="SUBJ"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional" default="false"/>
		<xs:attribute name="templateId" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="QUQI_MT120001.Act">
		<xs:attribute name="type" type="Classes" default="ActHeir"/>
		<xs:attribute name="classCode" type="ActClass" use="optional" default="ACT"/>
		<xs:attribute name="moodCode" type="ActMood" use="required"/>
		<xs:attribute name="templateId" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="QUQI_MT120001.Reason">
		<xs:sequence>
			<xs:element name="justifiedDetectedIssue" type="MCAI_MT900001.DetectedIssueEvent"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="ActRelationship"/>
		<xs:attribute name="typeCode" type="ActRelationshipType" use="optional" default="RSON"/>
		<xs:attribute name="contextConductionInd" type="bl" use="optional"/>
		<xs:attribute name="templateId" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="QUQI_MT120001.QueryAck">
		<xs:sequence>
			<xs:element name="queryId" type="II" minOccurs="1"/>
			<xs:element name="statusCode" type="CS" minOccurs="0"/>
			<xs:element name="queryResponseCode" type="CS"/>
			<xs:element name="resultTotalQuantity" type="INT" minOccurs="0"/>
			<xs:element name="resultCurrentQuantity" type="INT" minOccurs="0"/>
			<xs:element name="resultRemainingQuantity" type="INT" minOccurs="1"/>
		</xs:sequence>
		<xs:attribute name="type" type="Classes" default="QueryAck"/>
		<xs:attribute name="templateId" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="QUQI_MT120001.QueryByParameter">
		<xs:attribute name="type" type="Classes" default="QueryByParameter"/>
		<xs:attribute name="templateId" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
	</xs:complexType>
	<xs:complexType name="QUQI_MT120001.RoleChoiceA">
		<xs:choice>
			<xs:element name="AssignedDevice" type="COCT_MT090300.AssignedDevice"/>
			<xs:element name="AssignedPerson" type="COCT_MT090100.AssignedPerson"/>
		</xs:choice>
		<xs:attribute name="type" type="Classes" default="Role"/>
		<xs:attribute name="templateId" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="typeID" use="optional">
			<xs:simpleType>
				<xs:list itemType="oid"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="realmCode" use="optional">
			<xs:simpleType>
				<xs:list itemType="cs"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="nullFlavor" type="cs" use="optional"/>
		<xs:attribute name="stubId" type="oid" use="optional"/>
	</xs:complexType>
</xs:schema>
