ada_2_hl7/jgz/7.0.0/hl7v3_schemas/REPC_IN902120NL03.xsd

<?xml version="1.0" encoding="utf-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:hl7-org:v3"
    elementFormDefault="qualified" xmlns:hl7="urn:hl7-org:v3" xmlns="urn:hl7-org:v3">
    <xs:include schemaLocation="MCCI_MT000100.xsd"/>
    <xs:include schemaLocation="MCAI_MT700201_OPT_OV.xsd"/>
    <xs:include schemaLocation="REPC_MT902000NL03.xsd"/>
    <xs:element name="REPC_IN902120NL03" type="MCCI_MT000100.Message"/>
    <xs:group name="Payload">
        <xs:sequence>
            <xs:element name="CareProvisionRequest" type="REPC_MT902000NL03.CareProvisionRequest"/>
        </xs:sequence>
    </xs:group>
</xs:schema>
