ada_2_hl7/jgz/7.0/hl7v3_schematron_closed_warnings/REPC_IN902120NL03.sch

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://purl.oclc.org/dsdl/schematron" queryBinding="xslt2">
    <title> Schematron file for REPC_IN902120NL03 - Versturen JGZ-dossieroverdrachtverzoek v03 </title>
    <ns uri="urn:hl7-org:v3" prefix="hl7"/>
    <ns uri="http://www.w3.org/2001/XMLSchema-instance" prefix="xsi"/>
    
    <pattern>
        <title>Disabled warning</title>
        <rule context="hl7:REPC_IN902120NL03">
            <report role="warning" test=".">WARNING: If you see this then schematron was disabled for this interaction due to the performance penalty.</report>
        </rule>
    </pattern>
</schema>