ada_2_hl7/peri/2.3.6/kernset_geboortezorg/ada_schemas/ada_kernset_geboortezorg.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
   <xs:include schemaLocation="kernset_geboortezorg.xsd"/>
   <xs:include schemaLocation="ada_meta.xsd"/>
   <xs:element name="adaxml">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="meta" type="meta_type"/>
            <xs:element name="data">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="kernset_geboortezorg" type="kernset_geboortezorg_type"/>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
