ada_2_fhir/zibs2017/ada_schemas/apgar_score_registration_draft.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:annotation>
      <xs:documentation>Schema for transaction: 2.16.840.1.113883.2.4.3.11.60.7.4.2.12.16</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="empty_string">
      <xs:annotation>
         <xs:documentation>Type for empty value-strings on non-mandatory concepts</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="0"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:element name="apgar_score_registration" type="apgar_score_registration_type"/>
   <xs:complexType name="apgar_score_registration_type">
      <xs:sequence>
         <xs:element name="apgar_score-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.12.16.1"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="apgar_score"
                     type="apgar_score_type_2_16_840_1_113883_2_4_3_11_60_40_1_12_16_1"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:string"/>
      <xs:attribute name="app" type="xs:string"/>
      <xs:attribute name="shortName" type="xs:string"/>
      <xs:attribute name="formName" type="xs:string"/>
      <xs:attribute name="transactionRef" type="xs:string"/>
      <xs:attribute name="transactionEffectiveDate" type="xs:dateTime"/>
      <xs:attribute name="versionDate" type="xs:string"/>
      <xs:attribute name="language" type="xs:string"/>
      <xs:attribute name="prefix" type="xs:string"/>
      <xs:attribute name="adaVersion" type="xs:decimal"/>
      <xs:attribute name="title" type="xs:string"/>
      <xs:attribute name="rights" type="xs:string"/>
      <xs:attribute name="owner" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="apgar_score_type_2_16_840_1_113883_2_4_3_11_60_40_1_12_16_1">
      <xs:annotation>
         <xs:documentation>Type for concept group: ApgarScore</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="hcimroot-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.1"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="hcimroot"
                     type="hcimroot_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_1"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="apgar_score_date_time-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.12.16.3"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="apgar_score_date_time"
                     type="apgar_score_date_time_type_2_16_840_1_113883_2_4_3_11_60_40_1_12_16_3"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="apgar_score_total-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.12.16.2"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="apgar_score_total"
                     type="apgar_score_total_type_2_16_840_1_113883_2_4_3_11_60_40_1_12_16_2"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="respiratory_score-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.12.16.4"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="respiratory_score"
                     type="respiratory_score_type_2_16_840_1_113883_2_4_3_11_60_40_1_12_16_4"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="appearance_score-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.12.16.7"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="appearance_score"
                     type="appearance_score_type_2_16_840_1_113883_2_4_3_11_60_40_1_12_16_7"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="pulse_score-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.12.16.5"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="pulse_score"
                     type="pulse_score_type_2_16_840_1_113883_2_4_3_11_60_40_1_12_16_5"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="grimace_score-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.12.16.8"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="grimace_score"
                     type="grimace_score_type_2_16_840_1_113883_2_4_3_11_60_40_1_12_16_8"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="musle_tone_score-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.12.16.6"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="musle_tone_score"
                     type="musle_tone_score_type_2_16_840_1_113883_2_4_3_11_60_40_1_12_16_6"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="comment-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.12.16.9"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="comment"
                     type="comment_type_2_16_840_1_113883_2_4_3_11_60_40_1_12_16_9"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.12.16.1"/>
      <xs:attribute name="comment" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="hcimroot_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_1">
      <xs:annotation>
         <xs:documentation>Type for concept group: Basic Components HCIMRoot</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="identification_number-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.6"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="identification_number"
                     type="identification_number_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_6"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="information_source-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.2"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="information_source"
                     type="information_source_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_2"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="author-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.7"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="author"
                     type="author_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_7"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="subject-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.11"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="subject"
                     type="subject_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_11"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="date_time-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.14"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="date_time"
                     type="date_time_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_14"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.1"/>
      <xs:attribute name="comment" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="information_source_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_2">
      <xs:annotation>
         <xs:documentation>Type for concept group: InformationSource</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="patient_as_information_source-start"
                     minOccurs="0"
                     maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.3"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="patient_as_information_source"
                     type="patient_as_information_source_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_3"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="health_professional-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.4"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="health_professional"
                     type="health_professional_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_4"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="related_person_as_information_source-start"
                     minOccurs="0"
                     maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.5"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="related_person_as_information_source"
                     type="related_person_as_information_source_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_5"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.2"/>
      <xs:attribute name="comment" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="patient_as_information_source_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_3">
      <xs:annotation>
         <xs:documentation>Type for concept group: PatientAsInformationSource</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="patient-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.140"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="patient"
                     type="patient_type_2_16_840_1_113883_2_4_3_11_60_7_2_140"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.3"/>
      <xs:attribute name="comment" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="health_professional_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_4">
      <xs:annotation>
         <xs:documentation>Type for concept group: HealthProfessional</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="health_professional-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.141"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="health_professional"
                     type="health_professional_type_2_16_840_1_113883_2_4_3_11_60_7_2_141"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.4"/>
      <xs:attribute name="comment" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="related_person_as_information_source_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_5">
      <xs:annotation>
         <xs:documentation>Type for concept group: RelatedPersonAsInformationSource</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="contact-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.142"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="contact"
                     type="contact_type_2_16_840_1_113883_2_4_3_11_60_7_2_142"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.5"/>
      <xs:attribute name="comment" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="author_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_7">
      <xs:annotation>
         <xs:documentation>Type for concept group: Author</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="patient_as_author-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.8"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="patient_as_author"
                     type="patient_as_author_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_8"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="health_professional_as_author-start"
                     minOccurs="0"
                     maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.9"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="health_professional_as_author"
                     type="health_professional_as_author_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_9"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="related_person_as_author-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.10"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="related_person_as_author"
                     type="related_person_as_author_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_10"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.7"/>
      <xs:attribute name="comment" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="patient_as_author_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_8">
      <xs:annotation>
         <xs:documentation>Type for concept group: PatientAsAuthor</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="patient-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.143"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="patient"
                     type="patient_type_2_16_840_1_113883_2_4_3_11_60_7_2_143"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.8"/>
      <xs:attribute name="comment" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="health_professional_as_author_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_9">
      <xs:annotation>
         <xs:documentation>Type for concept group: HealthProfessionalAsAuthor</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="health_professional-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.144"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="health_professional"
                     type="health_professional_type_2_16_840_1_113883_2_4_3_11_60_7_2_144"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.9"/>
      <xs:attribute name="comment" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="related_person_as_author_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_10">
      <xs:annotation>
         <xs:documentation>Type for concept group: RelatedPersonAsAuthor</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="contact-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.145"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="contact"
                     type="contact_type_2_16_840_1_113883_2_4_3_11_60_7_2_145"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.10"/>
      <xs:attribute name="comment" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="subject_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_11">
      <xs:annotation>
         <xs:documentation>Type for concept group: Subject</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="patient-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.12"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="patient"
                     type="patient_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_12"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="related_person_as_subject-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.13"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="related_person_as_subject"
                     type="related_person_as_subject_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_13"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.11"/>
      <xs:attribute name="comment" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="patient_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_12">
      <xs:annotation>
         <xs:documentation>Type for concept group: Patient</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="patient-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.146"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="patient"
                     type="patient_type_2_16_840_1_113883_2_4_3_11_60_7_2_146"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.12"/>
      <xs:attribute name="comment" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="related_person_as_subject_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_13">
      <xs:annotation>
         <xs:documentation>Type for concept group: RelatedPersonAsSubject</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="contact-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.147"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="contact"
                     type="contact_type_2_16_840_1_113883_2_4_3_11_60_7_2_147"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.13"/>
      <xs:attribute name="comment" type="xs:string"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: IdentificationNumber - 1..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="identification_number_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_6">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.6"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="root" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Patient - 1..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="patient_type_2_16_840_1_113883_2_4_3_11_60_7_2_140">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.140"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="root" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: HealthProfessional - 1..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="health_professional_type_2_16_840_1_113883_2_4_3_11_60_7_2_141">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.141"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="root" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Contact - 1..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="contact_type_2_16_840_1_113883_2_4_3_11_60_7_2_142">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.142"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="root" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Patient - 1..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="patient_type_2_16_840_1_113883_2_4_3_11_60_7_2_143">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.143"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="root" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: HealthProfessional - 1..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="health_professional_type_2_16_840_1_113883_2_4_3_11_60_7_2_144">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.144"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="root" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Contact - 1..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="contact_type_2_16_840_1_113883_2_4_3_11_60_7_2_145">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.145"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="root" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Patient - 1..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="patient_type_2_16_840_1_113883_2_4_3_11_60_7_2_146">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.146"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="root" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Contact - 1..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="contact_type_2_16_840_1_113883_2_4_3_11_60_7_2_147">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.147"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="root" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: DateTime - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="date_time_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_14">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.14"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: ApgarScoreDateTime - 1..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="apgar_score_date_time_type_2_16_840_1_113883_2_4_3_11_60_40_1_12_16_3">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.12.16.3"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: ApgarScoreTotal - 1..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="apgar_score_total_type_2_16_840_1_113883_2_4_3_11_60_40_1_12_16_2">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.12.16.2"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:union memberTypes="apgar_score_total_1_datatype_2_16_840_1_113883_2_4_3_11_60_40_1_12_16_2 "/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>simpleType for valueDomain: ApgarScoreTotal: count</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="apgar_score_total_1_datatype_2_16_840_1_113883_2_4_3_11_60_40_1_12_16_2">
      <xs:restriction base="xs:nonNegativeInteger">
         <xs:minInclusive value="0"/>
         <xs:maxInclusive value="10"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:annotation>
      <xs:documentation>Type for concept item: RespiratoryScore - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="respiratory_score_type_2_16_840_1_113883_2_4_3_11_60_40_1_12_16_4">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.12.16.4"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="displayName" type="xs:string"/>
      <xs:attribute name="code" type="xs:string"/>
      <xs:attribute name="codeSystem" type="xs:string"/>
      <xs:attribute name="codeSystemName" type="xs:string"/>
      <xs:attribute name="codeSystemVersion" type="xs:string"/>
      <xs:attribute name="originalText" type="xs:string"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: AppearanceScore - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="appearance_score_type_2_16_840_1_113883_2_4_3_11_60_40_1_12_16_7">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.12.16.7"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="displayName" type="xs:string"/>
      <xs:attribute name="code" type="xs:string"/>
      <xs:attribute name="codeSystem" type="xs:string"/>
      <xs:attribute name="codeSystemName" type="xs:string"/>
      <xs:attribute name="codeSystemVersion" type="xs:string"/>
      <xs:attribute name="originalText" type="xs:string"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: PulseScore - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="pulse_score_type_2_16_840_1_113883_2_4_3_11_60_40_1_12_16_5">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.12.16.5"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="displayName" type="xs:string"/>
      <xs:attribute name="code" type="xs:string"/>
      <xs:attribute name="codeSystem" type="xs:string"/>
      <xs:attribute name="codeSystemName" type="xs:string"/>
      <xs:attribute name="codeSystemVersion" type="xs:string"/>
      <xs:attribute name="originalText" type="xs:string"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: GrimaceScore - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="grimace_score_type_2_16_840_1_113883_2_4_3_11_60_40_1_12_16_8">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.12.16.8"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="displayName" type="xs:string"/>
      <xs:attribute name="code" type="xs:string"/>
      <xs:attribute name="codeSystem" type="xs:string"/>
      <xs:attribute name="codeSystemName" type="xs:string"/>
      <xs:attribute name="codeSystemVersion" type="xs:string"/>
      <xs:attribute name="originalText" type="xs:string"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: MusleToneScore - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="musle_tone_score_type_2_16_840_1_113883_2_4_3_11_60_40_1_12_16_6">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.12.16.6"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="displayName" type="xs:string"/>
      <xs:attribute name="code" type="xs:string"/>
      <xs:attribute name="codeSystem" type="xs:string"/>
      <xs:attribute name="codeSystemName" type="xs:string"/>
      <xs:attribute name="codeSystemVersion" type="xs:string"/>
      <xs:attribute name="originalText" type="xs:string"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Comment - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="comment_type_2_16_840_1_113883_2_4_3_11_60_40_1_12_16_9">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.12.16.9"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:simpleType name="NullFlavorNoInformation">
      <xs:restriction base="xs:string">
         <xs:enumeration value="NI"/>
         <xs:enumeration value="UNK"/>
         <xs:enumeration value="OTH"/>
         <xs:enumeration value="MSK"/>
         <xs:enumeration value="UNC"/>
         <xs:enumeration value="NA"/>
         <xs:enumeration value="NAV"/>
         <xs:enumeration value="ASKU"/>
         <xs:enumeration value="NASK"/>
         <xs:enumeration value="INV"/>
         <xs:enumeration value="DER"/>
         <xs:enumeration value="NINF"/>
         <xs:enumeration value="PINF"/>
         <xs:enumeration value="QS"/>
         <xs:enumeration value="TRC"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
