ada_2_fhir/zibs2017/ada_schemas/tobacco_use_registration.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:annotation>
      <xs:documentation>Schema for transaction: 2.16.840.1.113883.2.4.3.11.60.7.4.2.7.2</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="empty_string">
      <xs:annotation>
         <xs:documentation>Type for empty value-strings on non-mandatory concepts</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="0"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:element name="tobacco_use_registration" type="tobacco_use_registration_type"/>
   <xs:complexType name="tobacco_use_registration_type">
      <xs:sequence>
         <xs:element name="tobacco_use-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.7.2.1"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="tobacco_use"
                     type="tobacco_use_type_2_16_840_1_113883_2_4_3_11_60_40_1_7_2_1"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:string"/>
      <xs:attribute name="app" type="xs:string"/>
      <xs:attribute name="shortName" type="xs:string" use="optional"/>
      <xs:attribute name="formName" type="xs:string" use="optional"/>
      <xs:attribute name="transactionRef" type="xs:string"/>
      <xs:attribute name="transactionEffectiveDate" type="xs:dateTime"/>
      <xs:attribute name="versionDate" type="xs:string"/>
      <xs:attribute name="language" type="xs:string"/>
      <xs:attribute name="prefix" type="xs:string"/>
      <xs:attribute name="adaVersion" type="xs:decimal"/>
      <xs:attribute name="title" type="xs:string"/>
      <xs:attribute name="rights" type="xs:string"/>
      <xs:attribute name="owner" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="tobacco_use_type_2_16_840_1_113883_2_4_3_11_60_40_1_7_2_1">
      <xs:annotation>
         <xs:documentation>Type for concept group: TobaccoUse</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="hcimroot-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.1"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="hcimroot"
                     type="hcimroot_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_1"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="comment-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.7.2.3"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="comment"
                     type="comment_type_2_16_840_1_113883_2_4_3_11_60_40_1_7_2_3"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="type_of_tobacco_used-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.7.2.9"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="type_of_tobacco_used"
                     type="type_of_tobacco_used_type_2_16_840_1_113883_2_4_3_11_60_40_1_7_2_9"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="tobacco_use_status-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.7.2.10"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="tobacco_use_status"
                     type="tobacco_use_status_type_2_16_840_1_113883_2_4_3_11_60_40_1_7_2_10"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="observation_of_use-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.7.2.2"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="observation_of_use"
                     type="observation_of_use_type_2_16_840_1_113883_2_4_3_11_60_40_1_7_2_2"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.7.2.1"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="hcimroot_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_1">
      <xs:annotation>
         <xs:documentation>Type for concept group: Basic Components HCIMRoot</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="identification_number-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.6"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="identification_number"
                     type="identification_number_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_6"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="information_source-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.2"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="information_source"
                     type="information_source_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_2"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="author-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.7"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="author"
                     type="author_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_7"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="subject-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.11"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="subject"
                     type="subject_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_11"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="date_time-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.14"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="date_time"
                     type="date_time_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_14"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.1"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="information_source_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_2">
      <xs:annotation>
         <xs:documentation>Type for concept group: InformationSource</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="patient_as_information_source-start"
                     minOccurs="0"
                     maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.3"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="patient_as_information_source"
                     type="patient_as_information_source_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_3"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="health_professional-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.4"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="health_professional"
                     type="health_professional_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_4"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="related_person_as_information_source-start"
                     minOccurs="0"
                     maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.5"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="related_person_as_information_source"
                     type="related_person_as_information_source_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_5"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.2"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="patient_as_information_source_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_3">
      <xs:annotation>
         <xs:documentation>Type for concept group: PatientAsInformationSource</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="patient-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.140"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="patient"
                     type="patient_type_2_16_840_1_113883_2_4_3_11_60_7_2_140"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.3"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="health_professional_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_4">
      <xs:annotation>
         <xs:documentation>Type for concept group: HealthProfessional</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="health_professional-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.141"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="health_professional"
                     type="health_professional_type_2_16_840_1_113883_2_4_3_11_60_7_2_141"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.4"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="related_person_as_information_source_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_5">
      <xs:annotation>
         <xs:documentation>Type for concept group: RelatedPersonAsInformationSource</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="contact-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.142"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="contact"
                     type="contact_type_2_16_840_1_113883_2_4_3_11_60_7_2_142"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.5"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="author_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_7">
      <xs:annotation>
         <xs:documentation>Type for concept group: Author</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="patient_as_author-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.8"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="patient_as_author"
                     type="patient_as_author_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_8"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="health_professional_as_author-start"
                     minOccurs="0"
                     maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.9"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="health_professional_as_author"
                     type="health_professional_as_author_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_9"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="related_person_as_author-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.10"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="related_person_as_author"
                     type="related_person_as_author_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_10"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.7"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="patient_as_author_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_8">
      <xs:annotation>
         <xs:documentation>Type for concept group: PatientAsAuthor</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="patient-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.143"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="patient"
                     type="patient_type_2_16_840_1_113883_2_4_3_11_60_7_2_143"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.8"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="health_professional_as_author_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_9">
      <xs:annotation>
         <xs:documentation>Type for concept group: HealthProfessionalAsAuthor</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="health_professional-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.144"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="health_professional"
                     type="health_professional_type_2_16_840_1_113883_2_4_3_11_60_7_2_144"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.9"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="related_person_as_author_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_10">
      <xs:annotation>
         <xs:documentation>Type for concept group: RelatedPersonAsAuthor</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="contact-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.145"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="contact"
                     type="contact_type_2_16_840_1_113883_2_4_3_11_60_7_2_145"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.10"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="subject_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_11">
      <xs:annotation>
         <xs:documentation>Type for concept group: Subject</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="patient-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.12"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="patient"
                     type="patient_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_12"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="related_person_as_subject-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.13"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="related_person_as_subject"
                     type="related_person_as_subject_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_13"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.11"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="patient_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_12">
      <xs:annotation>
         <xs:documentation>Type for concept group: Patient</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="patient-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.146"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="patient"
                     type="patient_type_2_16_840_1_113883_2_4_3_11_60_7_2_146"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.12"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="related_person_as_subject_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_13">
      <xs:annotation>
         <xs:documentation>Type for concept group: RelatedPersonAsSubject</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="contact-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.147"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="contact"
                     type="contact_type_2_16_840_1_113883_2_4_3_11_60_7_2_147"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.13"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="observation_of_use_type_2_16_840_1_113883_2_4_3_11_60_40_1_7_2_2">
      <xs:annotation>
         <xs:documentation>Type for concept group: ObservationOfUse</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="start_date-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.7.2.4"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="start_date"
                     type="start_date_type_2_16_840_1_113883_2_4_3_11_60_40_1_7_2_4"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="stop_date-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.7.2.5"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="stop_date"
                     type="stop_date_type_2_16_840_1_113883_2_4_3_11_60_40_1_7_2_5"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="amount-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.7.2.6"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="amount"
                     type="amount_type_2_16_840_1_113883_2_4_3_11_60_40_1_7_2_6"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="pack_years-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.7.2.7"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="pack_years"
                     type="pack_years_type_2_16_840_1_113883_2_4_3_11_60_40_1_7_2_7"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.7.2.2"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: IdentificationNumber - 1..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="identification_number_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_6">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.6"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="root" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Patient - 1..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="patient_type_2_16_840_1_113883_2_4_3_11_60_7_2_140">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.140"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="root" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: HealthProfessional - 1..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="health_professional_type_2_16_840_1_113883_2_4_3_11_60_7_2_141">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.141"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="root" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Contact - 1..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="contact_type_2_16_840_1_113883_2_4_3_11_60_7_2_142">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.142"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="root" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Patient - 1..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="patient_type_2_16_840_1_113883_2_4_3_11_60_7_2_143">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.143"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="root" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: HealthProfessional - 1..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="health_professional_type_2_16_840_1_113883_2_4_3_11_60_7_2_144">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.144"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="root" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Contact - 1..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="contact_type_2_16_840_1_113883_2_4_3_11_60_7_2_145">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.145"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="root" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Patient - 1..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="patient_type_2_16_840_1_113883_2_4_3_11_60_7_2_146">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.146"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="root" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Contact - 1..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="contact_type_2_16_840_1_113883_2_4_3_11_60_7_2_147">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.147"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="root" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: DateTime - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="date_time_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_14">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.14"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Comment - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="comment_type_2_16_840_1_113883_2_4_3_11_60_40_1_7_2_3">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.7.2.3"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: TypeOfTobaccoUsed - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="type_of_tobacco_used_type_2_16_840_1_113883_2_4_3_11_60_40_1_7_2_9">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.7.2.9"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="displayName" type="xs:string" use="optional"/>
      <xs:attribute name="code" type="xs:string"/>
      <xs:attribute name="codeSystem" type="xs:string"/>
      <xs:attribute name="codeSystemName" type="xs:string" use="optional"/>
      <xs:attribute name="codeSystemVersion" type="xs:string" use="optional"/>
      <xs:attribute name="originalText" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: TobaccoUseStatus - 1..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="tobacco_use_status_type_2_16_840_1_113883_2_4_3_11_60_40_1_7_2_10">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.7.2.10"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="displayName" type="xs:string" use="optional"/>
      <xs:attribute name="code" type="xs:string"/>
      <xs:attribute name="codeSystem" type="xs:string"/>
      <xs:attribute name="codeSystemName" type="xs:string" use="optional"/>
      <xs:attribute name="codeSystemVersion" type="xs:string" use="optional"/>
      <xs:attribute name="originalText" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: StartDate - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="start_date_type_2_16_840_1_113883_2_4_3_11_60_40_1_7_2_4">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.7.2.4"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: StopDate - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="stop_date_type_2_16_840_1_113883_2_4_3_11_60_40_1_7_2_5">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.7.2.5"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Amount - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="amount_type_2_16_840_1_113883_2_4_3_11_60_40_1_7_2_6">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.7.2.6"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:decimal"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="unit">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: PackYears - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="pack_years_type_2_16_840_1_113883_2_4_3_11_60_40_1_7_2_7">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.7.2.7"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:nonNegativeInteger"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:simpleType name="NullFlavorNoInformation">
      <xs:restriction base="xs:string">
         <xs:enumeration value="NI"/>
         <xs:enumeration value="UNK"/>
         <xs:enumeration value="OTH"/>
         <xs:enumeration value="MSK"/>
         <xs:enumeration value="UNC"/>
         <xs:enumeration value="NA"/>
         <xs:enumeration value="NAV"/>
         <xs:enumeration value="ASKU"/>
         <xs:enumeration value="NASK"/>
         <xs:enumeration value="INV"/>
         <xs:enumeration value="DER"/>
         <xs:enumeration value="NINF"/>
         <xs:enumeration value="PINF"/>
         <xs:enumeration value="QS"/>
         <xs:enumeration value="TRC"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
