ada_2_hl7/jgz/7.0.0/dossieroverdracht/hl7v3_schemas/POCP_MT070100NL.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:ex="urn:hl7-org/v3-example" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="urn:hl7-org:v3"
           targetNamespace="urn:hl7-org:v3"
           elementFormDefault="qualified"><!--
*****************************************************************************************************************
* XML schema for message type POCP_MT070100NL.
* Source information:
*      Rendered by: Visio to MIF transform
*      Rendered on: 
* Entry point text: Description: Defines the observation(s) that a diagnostic device produces. Property-contextConductionStyle: I
*
* Saved in XML file by RMIM Designer in Visio at 2012-02-25T13:43:35
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 8529 2011-02-09 20:49:58Z lloyd_mckenzie $
 Fix Names Transform: $Id: FixMifNames.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
  Base transform: $Id: ConvertBase.xsl 8870 2011-09-14 18:32:56Z woody_beeler $
  Package Id Conversion: $Id: TransformPackageIds.xsl 8398 2010-10-12 01:52:15Z lloyd_mckenzie $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 7375 2009-01-26 19:26:53Z wbeeler $
*
* Generated by XMLITS version 3.4.6
*   MIF to XSD Transform $Id: StaticMifToXsd.xsl 8419 2010-11-15 00:10:54Z woody_beeler $
*     Package Id Conversion: $Id: TransformPackageIds.xsl 8398 2010-10-12 01:52:15Z lloyd_mckenzie $
*
* Copyright (c) 2002, 2003, 2004, 2005, 2006, 2007 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  --><xs:annotation>
      <xs:documentation>Generated using schema builder version 3.4.6. Stylesheets:
Saved in XML file by RMIM Designer in Visio at 2012-02-25T13:43:35
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 8529 2011-02-09 20:49:58Z lloyd_mckenzie $
 Fix Names Transform: $Id: FixMifNames.xsl 8355 2009-10-07 03:16:34Z lloyd_mckenzie $
  Base transform: $Id: ConvertBase.xsl 8870 2011-09-14 18:32:56Z woody_beeler $
  Package Id Conversion: $Id: TransformPackageIds.xsl 8398 2010-10-12 01:52:15Z lloyd_mckenzie $
 Flat to Serialization Transform: $Id: MIFStaticModelFlatToSerialization.xsl 7375 2009-01-26 19:26:53Z wbeeler $
StaticMifToXsd.xsl version 2.0</xs:documentation>
   </xs:annotation>
   <xs:include schemaLocation="../coreschemas/infrastructureRoot.xsd"/>
   <xs:include schemaLocation="POCP_MT080200NL.xsd"/>
   <xs:complexType name="POCP_MT070100NL.Component">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="sequenceNumber" type="INT" minOccurs="0" maxOccurs="1"/>
         <xs:element name="priorityNumber" type="REAL" minOccurs="0" maxOccurs="1"/>
         <xs:element name="pauseQuantity" type="PQ" minOccurs="0" maxOccurs="1"/>
         <xs:element name="checkpointCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="splitCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="joinCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="localVariableName" type="ST" minOccurs="0" maxOccurs="1"/>
         <xs:element name="observation" type="POCP_MT070100NL.Observation" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasComponent" use="required"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT070100NL.Consumable">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="presentSubstance" type="POCP_MT080200NL.PresentSubstance" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationConsumable" use="required"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT070100NL.DerivedFrom">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="localVariableName" type="ST" minOccurs="0" maxOccurs="1"/>
         <xs:element name="subsetCode" type="CS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="observation" type="POCP_MT070100NL.Observation" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipIsDerivedFrom" use="required"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT070100NL.Generalization">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="observation" type="POCP_MT070100NL.Observation" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasGeneralization" use="required"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT070100NL.ManifestationOf">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="observationCriterion" type="POCP_MT070100NL.ObservationCriterion"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipIsManifestationOf" use="required"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT070100NL.Observation">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="id" type="II" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="title" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="text" type="ED" minOccurs="0" maxOccurs="1"/>
         <xs:element name="effectiveTime" type="SXCM_TS" minOccurs="0" maxOccurs="1"/>
         <xs:element name="confidentialityCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="value" type="ANY" minOccurs="0" maxOccurs="1"/>
         <xs:element name="analyte" type="POCP_MT070100NL.Participant" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="consumable" type="POCP_MT070100NL.Consumable" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="generalization" type="POCP_MT070100NL.Generalization" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="derivedFrom" type="POCP_MT070100NL.DerivedFrom" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="referenceRange" type="POCP_MT070100NL.ReferenceRange" minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="component" type="POCP_MT070100NL.Component" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassObservation" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodDefinition" use="required"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT070100NL.ObservationCriterion">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="code" type="CD" minOccurs="0" maxOccurs="1"/>
         <xs:element name="value" type="ANY" minOccurs="0" maxOccurs="1"/>
         <xs:element name="interpretationCode" type="CE" minOccurs="0" maxOccurs="1"/>
         <xs:element name="manifestationOf" type="POCP_MT070100NL.ManifestationOf" minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="classCode" type="ActClassObservation" use="required"/>
      <xs:attribute name="moodCode" type="ActMoodEventCriterion" use="required"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT070100NL.Participant">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="presentSubstance" type="POCP_MT080200NL.PresentSubstance" nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ParticipationAnalyte" use="required"/>
   </xs:complexType>
   <xs:complexType name="POCP_MT070100NL.ReferenceRange">
      <xs:sequence>
         <xs:group ref="InfrastructureRootElements"/>
         <xs:element name="observationCriterion" type="POCP_MT070100NL.ObservationCriterion"
                     nillable="true"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attributeGroup ref="InfrastructureRootAttributes"/>
      <xs:attribute name="typeCode" type="ActRelationshipHasReferenceValues" use="required"/>
   </xs:complexType>
</xs:schema>