ada_2_fhir-r4/zibs/2020/ada_schemas/ada_anatomische_locatie_registratie_draft.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
   <xs:include schemaLocation="anatomische_locatie_registratie_draft.xsd"/>
   <xs:include schemaLocation="ada_meta.xsd"/>
   <xs:element name="adaxml">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="meta" type="meta_type"/>
            <xs:element name="data">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="anatomische_locatie_registratie"
                                 type="anatomische_locatie_registratie_type"/>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
