ada_2_fhir-r4/zibs/2020/ada_schemas/ada_functie_horen_registratie.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
   <xs:include schemaLocation="functie_horen_registratie.xsd"/>
   <xs:include schemaLocation="ada_meta.xsd"/>
   <xs:element name="adaxml">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="meta" type="meta_type"/>
            <xs:element name="data">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="functie_horen_registratie" type="functie_horen_registratie_type"/>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
