ada_2_fhir/peri/3.2.6/med_mij_uitbreiding_verloskunde_beschikbaarstellen/ada_schemas/ada_med_mij_uitbreiding_verloskunde_beschikbaarstellen.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
   <xs:include schemaLocation="med_mij_uitbreiding_verloskunde_beschikbaarstellen.xsd"/>
   <xs:include schemaLocation="ada_meta.xsd"/>
   <xs:element name="adaxml">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="meta" type="meta_type"/>
            <xs:element name="data">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="med_mij_uitbreiding_verloskunde_beschikbaarstellen"
                                 type="med_mij_uitbreiding_verloskunde_beschikbaarstellen_type"/>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>
