zib-wounds/ada_2_fhir/zibs2017/ada_schemas/dispense_request_registration_draft.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:annotation>
      <xs:documentation>Schema for transaction: 2.16.840.1.113883.2.4.3.11.60.7.4.2.9.10</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="empty_string">
      <xs:annotation>
         <xs:documentation>Type for empty value-strings on non-mandatory concepts</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="0"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:element name="dispense_request_registration"
               type="dispense_request_registration_type"/>
   <xs:complexType name="dispense_request_registration_type">
      <xs:sequence>
         <xs:element name="dispense_request-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.10.19963"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="dispense_request"
                     type="dispense_request_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_10_19963"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:string"/>
      <xs:attribute name="app" type="xs:string"/>
      <xs:attribute name="shortName" type="xs:string"/>
      <xs:attribute name="formName" type="xs:string"/>
      <xs:attribute name="transactionRef" type="xs:string"/>
      <xs:attribute name="transactionEffectiveDate" type="xs:dateTime"/>
      <xs:attribute name="versionDate" type="xs:string"/>
      <xs:attribute name="language" type="xs:string"/>
      <xs:attribute name="prefix" type="xs:string"/>
      <xs:attribute name="adaVersion" type="xs:decimal"/>
      <xs:attribute name="title" type="xs:string"/>
      <xs:attribute name="rights" type="xs:string"/>
      <xs:attribute name="owner" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="dispense_request_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_10_19963">
      <xs:annotation>
         <xs:documentation>Type for concept group: DispenseRequest</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="hcimroot-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.1"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="hcimroot"
                     type="hcimroot_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_1"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="intended_supplier-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.10.19966"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="intended_supplier"
                     type="intended_supplier_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_10_19966"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="medicine_to_be_dispensed-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.10.22249"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="medicine_to_be_dispensed"
                     type="medicine_to_be_dispensed_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_10_22249"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="dispense_request_date-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.10.20060"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="dispense_request_date"
                     type="dispense_request_date_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_10_20060"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="period_of_use-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.10.20062"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="period_of_use"
                     type="period_of_use_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_10_20062"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="number_of_refills-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.10.22120"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="number_of_refills"
                     type="number_of_refills_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_10_22120"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="amount-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.10.19964"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="amount"
                     type="amount_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_10_19964"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="dispense_location-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.10.20068"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="dispense_location"
                     type="dispense_location_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_10_20068"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="additional_wishes-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.10.22759"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="additional_wishes"
                     type="additional_wishes_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_10_22759"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="comment-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.10.22274"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="comment"
                     type="comment_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_10_22274"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.10.19963"/>
      <xs:attribute name="comment" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="hcimroot_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_1">
      <xs:annotation>
         <xs:documentation>Type for concept group: Basic Components HCIMRoot</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="identification_number-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.6"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="identification_number"
                     type="identification_number_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_6"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="information_source-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.2"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="information_source"
                     type="information_source_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_2"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="author-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.7"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="author"
                     type="author_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_7"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="subject-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.11"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="subject"
                     type="subject_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_11"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="date_time-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.14"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="date_time"
                     type="date_time_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_14"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.1"/>
      <xs:attribute name="comment" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="information_source_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_2">
      <xs:annotation>
         <xs:documentation>Type for concept group: InformationSource</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="patient_as_information_source-start"
                     minOccurs="0"
                     maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.3"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="patient_as_information_source"
                     type="patient_as_information_source_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_3"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="health_professional-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.4"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="health_professional"
                     type="health_professional_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_4"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="related_person_as_information_source-start"
                     minOccurs="0"
                     maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.5"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="related_person_as_information_source"
                     type="related_person_as_information_source_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_5"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.2"/>
      <xs:attribute name="comment" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="patient_as_information_source_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_3">
      <xs:annotation>
         <xs:documentation>Type for concept group: PatientAsInformationSource</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="patient-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.140"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="patient"
                     type="patient_type_2_16_840_1_113883_2_4_3_11_60_7_2_140"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.3"/>
      <xs:attribute name="comment" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="health_professional_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_4">
      <xs:annotation>
         <xs:documentation>Type for concept group: HealthProfessional</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="health_professional-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.141"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="health_professional"
                     type="health_professional_type_2_16_840_1_113883_2_4_3_11_60_7_2_141"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.4"/>
      <xs:attribute name="comment" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="related_person_as_information_source_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_5">
      <xs:annotation>
         <xs:documentation>Type for concept group: RelatedPersonAsInformationSource</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="contact-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.142"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="contact"
                     type="contact_type_2_16_840_1_113883_2_4_3_11_60_7_2_142"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.5"/>
      <xs:attribute name="comment" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="author_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_7">
      <xs:annotation>
         <xs:documentation>Type for concept group: Author</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="patient_as_author-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.8"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="patient_as_author"
                     type="patient_as_author_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_8"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="health_professional_as_author-start"
                     minOccurs="0"
                     maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.9"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="health_professional_as_author"
                     type="health_professional_as_author_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_9"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="related_person_as_author-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.10"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="related_person_as_author"
                     type="related_person_as_author_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_10"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.7"/>
      <xs:attribute name="comment" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="patient_as_author_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_8">
      <xs:annotation>
         <xs:documentation>Type for concept group: PatientAsAuthor</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="patient-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.143"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="patient"
                     type="patient_type_2_16_840_1_113883_2_4_3_11_60_7_2_143"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.8"/>
      <xs:attribute name="comment" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="health_professional_as_author_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_9">
      <xs:annotation>
         <xs:documentation>Type for concept group: HealthProfessionalAsAuthor</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="health_professional-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.144"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="health_professional"
                     type="health_professional_type_2_16_840_1_113883_2_4_3_11_60_7_2_144"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.9"/>
      <xs:attribute name="comment" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="related_person_as_author_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_10">
      <xs:annotation>
         <xs:documentation>Type for concept group: RelatedPersonAsAuthor</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="contact-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.145"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="contact"
                     type="contact_type_2_16_840_1_113883_2_4_3_11_60_7_2_145"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.10"/>
      <xs:attribute name="comment" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="subject_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_11">
      <xs:annotation>
         <xs:documentation>Type for concept group: Subject</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="patient-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.12"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="patient"
                     type="patient_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_12"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="related_person_as_subject-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.13"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="related_person_as_subject"
                     type="related_person_as_subject_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_13"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.11"/>
      <xs:attribute name="comment" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="patient_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_12">
      <xs:annotation>
         <xs:documentation>Type for concept group: Patient</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="patient-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.146"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="patient"
                     type="patient_type_2_16_840_1_113883_2_4_3_11_60_7_2_146"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.12"/>
      <xs:attribute name="comment" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="related_person_as_subject_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_13">
      <xs:annotation>
         <xs:documentation>Type for concept group: RelatedPersonAsSubject</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="contact-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.147"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="contact"
                     type="contact_type_2_16_840_1_113883_2_4_3_11_60_7_2_147"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.13"/>
      <xs:attribute name="comment" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="intended_supplier_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_10_19966">
      <xs:annotation>
         <xs:documentation>Type for concept group: IntendedSupplier</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="healthcare_provider-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.212"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="healthcare_provider"
                     type="healthcare_provider_type_2_16_840_1_113883_2_4_3_11_60_7_2_212"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.10.19966"/>
      <xs:attribute name="comment" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="medicine_to_be_dispensed_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_10_22249">
      <xs:annotation>
         <xs:documentation>Type for concept group: MedicineToBeDispensed</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="farmaceutical_product-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.213"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="farmaceutical_product"
                     type="farmaceutical_product_type_2_16_840_1_113883_2_4_3_11_60_7_2_213"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.10.22249"/>
      <xs:attribute name="comment" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="farmaceutical_product_type_2_16_840_1_113883_2_4_3_11_60_7_2_213">
      <xs:annotation>
         <xs:documentation>Type for concept group: FarmaceuticalProduct</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="product_specifications-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.7.19928"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="product_specifications"
                     type="product_specifications_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_7_19928"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="medication_code-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.7.19927"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="medication_code"
                     type="medication_code_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_7_19927"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.213"/>
      <xs:attribute name="comment" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="product_specifications_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_7_19928">
      <xs:annotation>
         <xs:documentation>Type for concept group: ProductSpecifications</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="pharmaceutical_form-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.7.19931"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="pharmaceutical_form"
                     type="pharmaceutical_form_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_7_19931"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="medication-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.7.19929"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="medication"
                     type="medication_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_7_19929"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="description-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.7.19784"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="description"
                     type="description_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_7_19784"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="ingredient-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.7.19932"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="ingredient"
                     type="ingredient_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_7_19932"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.7.19928"/>
      <xs:attribute name="comment" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="ingredient_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_7_19932">
      <xs:annotation>
         <xs:documentation>Type for concept group: Ingredient</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="substance_code-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.7.19934"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="substance_code"
                     type="substance_code_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_7_19934"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="concentration-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.7.19933"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="concentration"
                     type="concentration_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_7_19933"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.7.19932"/>
      <xs:attribute name="comment" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="concentration_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_7_19933">
      <xs:annotation>
         <xs:documentation>Type for concept group: Concentration</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="ingredient_amount-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.7.22277"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="ingredient_amount"
                     type="ingredient_amount_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_7_22277"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="product_amount-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.7.22278"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="product_amount"
                     type="product_amount_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_7_22278"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.7.19933"/>
      <xs:attribute name="comment" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="period_of_use_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_10_20062">
      <xs:annotation>
         <xs:documentation>Type for concept group: PeriodOfUse</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="time_interval-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.214"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="time_interval"
                     type="time_interval_type_2_16_840_1_113883_2_4_3_11_60_7_2_214"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.10.20062"/>
      <xs:attribute name="comment" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="time_interval_type_2_16_840_1_113883_2_4_3_11_60_7_2_214">
      <xs:annotation>
         <xs:documentation>Type for concept group: TimeInterval</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="start_date_time-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.20.3.2"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="start_date_time"
                     type="start_date_time_type_2_16_840_1_113883_2_4_3_11_60_40_1_20_3_2"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="end_date_time-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.20.3.3"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="end_date_time"
                     type="end_date_time_type_2_16_840_1_113883_2_4_3_11_60_40_1_20_3_3"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="duration-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.20.3.4"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="duration"
                     type="duration_type_2_16_840_1_113883_2_4_3_11_60_40_1_20_3_4"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.214"/>
      <xs:attribute name="comment" type="xs:string"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: IdentificationNumber - 1..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="identification_number_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_6">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.6"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="root" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Patient - 1..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="patient_type_2_16_840_1_113883_2_4_3_11_60_7_2_140">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.140"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="root" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: HealthProfessional - 1..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="health_professional_type_2_16_840_1_113883_2_4_3_11_60_7_2_141">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.141"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="root" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Contact - 1..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="contact_type_2_16_840_1_113883_2_4_3_11_60_7_2_142">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.142"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="root" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Patient - 1..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="patient_type_2_16_840_1_113883_2_4_3_11_60_7_2_143">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.143"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="root" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: HealthProfessional - 1..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="health_professional_type_2_16_840_1_113883_2_4_3_11_60_7_2_144">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.144"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="root" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Contact - 1..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="contact_type_2_16_840_1_113883_2_4_3_11_60_7_2_145">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.145"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="root" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Patient - 1..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="patient_type_2_16_840_1_113883_2_4_3_11_60_7_2_146">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.146"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="root" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Contact - 1..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="contact_type_2_16_840_1_113883_2_4_3_11_60_7_2_147">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.147"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="root" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: DateTime - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="date_time_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_14">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.14"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: HealthcareProvider - 1..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="healthcare_provider_type_2_16_840_1_113883_2_4_3_11_60_7_2_212">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.212"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="root" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: PharmaceuticalForm - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="pharmaceutical_form_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_7_19931">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.7.19931"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="displayName" type="xs:string"/>
      <xs:attribute name="code" type="xs:string"/>
      <xs:attribute name="codeSystem" type="xs:string"/>
      <xs:attribute name="codeSystemName" type="xs:string"/>
      <xs:attribute name="codeSystemVersion" type="xs:string"/>
      <xs:attribute name="originalText" type="xs:string"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Medication - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="medication_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_7_19929">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.7.19929"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Description - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="description_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_7_19784">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.7.19784"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: SubstanceCode - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="substance_code_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_7_19934">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.7.19934"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="displayName" type="xs:string"/>
      <xs:attribute name="code" type="xs:string"/>
      <xs:attribute name="codeSystem" type="xs:string"/>
      <xs:attribute name="codeSystemName" type="xs:string"/>
      <xs:attribute name="codeSystemVersion" type="xs:string"/>
      <xs:attribute name="originalText" type="xs:string"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: IngredientAmount - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="ingredient_amount_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_7_22277">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.7.22277"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:decimal"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="unit">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: ProductAmount - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="product_amount_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_7_22278">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.7.22278"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:decimal"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="unit">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: MedicationCode - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="medication_code_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_7_19927">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.7.19927"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="displayName" type="xs:string"/>
      <xs:attribute name="code" type="xs:string"/>
      <xs:attribute name="codeSystem" type="xs:string"/>
      <xs:attribute name="codeSystemName" type="xs:string"/>
      <xs:attribute name="codeSystemVersion" type="xs:string"/>
      <xs:attribute name="originalText" type="xs:string"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: DispenseRequestDate - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="dispense_request_date_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_10_20060">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.10.20060"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: startDateTime - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="start_date_time_type_2_16_840_1_113883_2_4_3_11_60_40_1_20_3_2">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.20.3.2"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: endDateTime - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="end_date_time_type_2_16_840_1_113883_2_4_3_11_60_40_1_20_3_3">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.20.3.3"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Duration - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="duration_type_2_16_840_1_113883_2_4_3_11_60_40_1_20_3_4">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.20.3.4"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:decimal"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="unit">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: NumberOfRefills - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="number_of_refills_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_10_22120">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.10.22120"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:nonNegativeInteger"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Amount - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="amount_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_10_19964">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.10.19964"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:decimal"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="unit">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: DispenseLocation - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="dispense_location_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_10_20068">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.10.20068"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: AdditionalWishes - 0..* </xs:documentation>
   </xs:annotation>
   <xs:complexType name="additional_wishes_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_10_22759">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.10.22759"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="displayName" type="xs:string"/>
      <xs:attribute name="code" type="xs:string"/>
      <xs:attribute name="codeSystem" type="xs:string"/>
      <xs:attribute name="codeSystemName" type="xs:string"/>
      <xs:attribute name="codeSystemVersion" type="xs:string"/>
      <xs:attribute name="originalText" type="xs:string"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Comment - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="comment_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_10_22274">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.10.22274"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:simpleType name="NullFlavorNoInformation">
      <xs:restriction base="xs:string">
         <xs:enumeration value="NI"/>
         <xs:enumeration value="UNK"/>
         <xs:enumeration value="OTH"/>
         <xs:enumeration value="MSK"/>
         <xs:enumeration value="UNC"/>
         <xs:enumeration value="NA"/>
         <xs:enumeration value="NAV"/>
         <xs:enumeration value="ASKU"/>
         <xs:enumeration value="NASK"/>
         <xs:enumeration value="INV"/>
         <xs:enumeration value="DER"/>
         <xs:enumeration value="NINF"/>
         <xs:enumeration value="PINF"/>
         <xs:enumeration value="QS"/>
         <xs:enumeration value="TRC"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
