zib-wounds/ada_2_fhir/zibs2017/ada_schemas/medication_administration2_registration.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:annotation>
      <xs:documentation>Schema for transaction: 2.16.840.1.113883.2.4.3.11.60.7.4.2.9.13</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="empty_string">
      <xs:annotation>
         <xs:documentation>Type for empty value-strings on non-mandatory concepts</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="0"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:element name="medication_administration2_registration"
               type="medication_administration2_registration_type"/>
   <xs:complexType name="medication_administration2_registration_type">
      <xs:sequence>
         <xs:element name="medication_administration-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.13.20928"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="medication_administration"
                     type="medication_administration_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_13_20928"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:string"/>
      <xs:attribute name="app" type="xs:string"/>
      <xs:attribute name="shortName" type="xs:string" use="optional"/>
      <xs:attribute name="formName" type="xs:string" use="optional"/>
      <xs:attribute name="transactionRef" type="xs:string"/>
      <xs:attribute name="transactionEffectiveDate" type="xs:dateTime"/>
      <xs:attribute name="versionDate" type="xs:string"/>
      <xs:attribute name="language" type="xs:string"/>
      <xs:attribute name="prefix" type="xs:string"/>
      <xs:attribute name="adaVersion" type="xs:decimal"/>
      <xs:attribute name="title" type="xs:string"/>
      <xs:attribute name="rights" type="xs:string"/>
      <xs:attribute name="owner" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="medication_administration_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_13_20928">
      <xs:annotation>
         <xs:documentation>Type for concept group: MedicationAdministration</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="hcimroot-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.1"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="hcimroot"
                     type="hcimroot_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_1"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="administration_product-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.13.20929"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="administration_product"
                     type="administration_product_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_13_20929"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="administering_speed-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.13.23159"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="administering_speed"
                     type="administering_speed_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_13_23159"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="administration_date_time-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.13.21193"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="administration_date_time"
                     type="administration_date_time_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_13_21193"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="agreed_date_time-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.13.23171"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="agreed_date_time"
                     type="agreed_date_time_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_13_23171"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="administered_amount-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.13.21194"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="administered_amount"
                     type="administered_amount_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_13_21194"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="deviating_administration-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.13.23167"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="deviating_administration"
                     type="deviating_administration_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_13_23167"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="route_of_administration-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.13.21195"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="route_of_administration"
                     type="route_of_administration_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_13_21195"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="double_check_performed-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.13.23168"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="double_check_performed"
                     type="double_check_performed_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_13_23168"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="related_agreement-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.13.23169"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="related_agreement"
                     type="related_agreement_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_13_23169"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="administrator-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.13.21196"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="administrator"
                     type="administrator_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_13_21196"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="medication_administration_reason_for_deviation-start"
                     minOccurs="0"
                     maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.13.23166"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="medication_administration_reason_for_deviation"
                     type="medication_administration_reason_for_deviation_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_13_23166"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="medication_administration_status-start"
                     minOccurs="0"
                     maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.13.21191"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="medication_administration_status"
                     type="medication_administration_status_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_13_21191"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="comment-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.13.21337"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="comment"
                     type="comment_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_13_21337"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.13.20928"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="hcimroot_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_1">
      <xs:annotation>
         <xs:documentation>Type for concept group: Basic Components HCIMRoot</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="identification_number-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.6"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="identification_number"
                     type="identification_number_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_6"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="information_source-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.2"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="information_source"
                     type="information_source_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_2"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="author-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.7"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="author"
                     type="author_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_7"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="subject-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.11"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="subject"
                     type="subject_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_11"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="date_time-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.14"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="date_time"
                     type="date_time_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_14"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.1"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="information_source_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_2">
      <xs:annotation>
         <xs:documentation>Type for concept group: InformationSource</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="patient_as_information_source-start"
                     minOccurs="0"
                     maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.3"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="patient_as_information_source"
                     type="patient_as_information_source_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_3"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="health_professional-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.4"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="health_professional"
                     type="health_professional_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_4"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="related_person_as_information_source-start"
                     minOccurs="0"
                     maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.5"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="related_person_as_information_source"
                     type="related_person_as_information_source_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_5"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.2"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="patient_as_information_source_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_3">
      <xs:annotation>
         <xs:documentation>Type for concept group: PatientAsInformationSource</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="patient-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.140"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="patient"
                     type="patient_type_2_16_840_1_113883_2_4_3_11_60_7_2_140"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.3"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="health_professional_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_4">
      <xs:annotation>
         <xs:documentation>Type for concept group: HealthProfessional</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="health_professional-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.141"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="health_professional"
                     type="health_professional_type_2_16_840_1_113883_2_4_3_11_60_7_2_141"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.4"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="related_person_as_information_source_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_5">
      <xs:annotation>
         <xs:documentation>Type for concept group: RelatedPersonAsInformationSource</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="contact-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.142"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="contact"
                     type="contact_type_2_16_840_1_113883_2_4_3_11_60_7_2_142"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.5"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="author_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_7">
      <xs:annotation>
         <xs:documentation>Type for concept group: Author</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="patient_as_author-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.8"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="patient_as_author"
                     type="patient_as_author_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_8"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="health_professional_as_author-start"
                     minOccurs="0"
                     maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.9"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="health_professional_as_author"
                     type="health_professional_as_author_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_9"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="related_person_as_author-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.10"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="related_person_as_author"
                     type="related_person_as_author_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_10"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.7"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="patient_as_author_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_8">
      <xs:annotation>
         <xs:documentation>Type for concept group: PatientAsAuthor</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="patient-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.143"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="patient"
                     type="patient_type_2_16_840_1_113883_2_4_3_11_60_7_2_143"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.8"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="health_professional_as_author_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_9">
      <xs:annotation>
         <xs:documentation>Type for concept group: HealthProfessionalAsAuthor</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="health_professional-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.144"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="health_professional"
                     type="health_professional_type_2_16_840_1_113883_2_4_3_11_60_7_2_144"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.9"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="related_person_as_author_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_10">
      <xs:annotation>
         <xs:documentation>Type for concept group: RelatedPersonAsAuthor</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="contact-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.145"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="contact"
                     type="contact_type_2_16_840_1_113883_2_4_3_11_60_7_2_145"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.10"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="subject_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_11">
      <xs:annotation>
         <xs:documentation>Type for concept group: Subject</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="patient-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.12"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="patient"
                     type="patient_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_12"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="related_person_as_subject-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.13"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="related_person_as_subject"
                     type="related_person_as_subject_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_13"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.11"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="patient_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_12">
      <xs:annotation>
         <xs:documentation>Type for concept group: Patient</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="patient-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.146"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="patient"
                     type="patient_type_2_16_840_1_113883_2_4_3_11_60_7_2_146"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.12"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="related_person_as_subject_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_13">
      <xs:annotation>
         <xs:documentation>Type for concept group: RelatedPersonAsSubject</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="contact-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.147"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="contact"
                     type="contact_type_2_16_840_1_113883_2_4_3_11_60_7_2_147"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.13"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="administration_product_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_13_20929">
      <xs:annotation>
         <xs:documentation>Type for concept group: AdministrationProduct</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="farmaceutical_product-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.120"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="farmaceutical_product"
                     type="farmaceutical_product_type_2_16_840_1_113883_2_4_3_11_60_7_2_120"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.13.20929"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="farmaceutical_product_type_2_16_840_1_113883_2_4_3_11_60_7_2_120">
      <xs:annotation>
         <xs:documentation>Type for concept group: FarmaceuticalProduct</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="product_specifications-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.7.19928"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="product_specifications"
                     type="product_specifications_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_7_19928"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="medication_code-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.7.19927"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="medication_code"
                     type="medication_code_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_7_19927"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.120"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="product_specifications_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_7_19928">
      <xs:annotation>
         <xs:documentation>Type for concept group: ProductSpecifications</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="pharmaceutical_form-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.7.19931"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="pharmaceutical_form"
                     type="pharmaceutical_form_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_7_19931"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="medication-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.7.19929"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="medication"
                     type="medication_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_7_19929"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="description-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.7.19784"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="description"
                     type="description_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_7_19784"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="ingredient-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.7.19932"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="ingredient"
                     type="ingredient_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_7_19932"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.7.19928"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="ingredient_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_7_19932">
      <xs:annotation>
         <xs:documentation>Type for concept group: Ingredient</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="substance_code-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.7.19934"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="substance_code"
                     type="substance_code_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_7_19934"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="concentration-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.7.19933"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="concentration"
                     type="concentration_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_7_19933"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.7.19932"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="concentration_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_7_19933">
      <xs:annotation>
         <xs:documentation>Type for concept group: Concentration</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="ingredient_amount-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.7.22277"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="ingredient_amount"
                     type="ingredient_amount_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_7_22277"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="product_amount-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.7.22278"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="product_amount"
                     type="product_amount_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_7_22278"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.7.19933"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="administering_speed_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_13_23159">
      <xs:annotation>
         <xs:documentation>Type for concept group: AdministeringSpeed</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="range-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.121"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="range"
                     type="range_type_2_16_840_1_113883_2_4_3_11_60_7_2_121"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.13.23159"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="range_type_2_16_840_1_113883_2_4_3_11_60_7_2_121">
      <xs:annotation>
         <xs:documentation>Type for concept group: Range</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="minimum_value-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.20.1.2"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="minimum_value"
                     type="minimum_value_type_2_16_840_1_113883_2_4_3_11_60_40_1_20_1_2"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="maximum_value-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.20.1.3"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="maximum_value"
                     type="maximum_value_type_2_16_840_1_113883_2_4_3_11_60_40_1_20_1_3"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="nominal_value-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.20.1.4"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="nominal_value"
                     type="nominal_value_type_2_16_840_1_113883_2_4_3_11_60_40_1_20_1_4"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.121"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="related_agreement_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_13_23169">
      <xs:annotation>
         <xs:documentation>Type for concept group: RelatedAgreement</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="medication_agreement-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.13.23170"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="medication_agreement"
                     type="medication_agreement_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_13_23170"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="administration_agreement-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.13.23237"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="administration_agreement"
                     type="administration_agreement_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_13_23237"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.13.23169"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="medication_agreement_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_13_23170">
      <xs:annotation>
         <xs:documentation>Type for concept group: MedicationAgreement</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="medication_agreement-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.122"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="medication_agreement"
                     type="medication_agreement_type_2_16_840_1_113883_2_4_3_11_60_7_2_122"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.13.23170"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="administration_agreement_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_13_23237">
      <xs:annotation>
         <xs:documentation>Type for concept group: AdministrationAgreement</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="administration_agreement-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.123"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="administration_agreement"
                     type="administration_agreement_type_2_16_840_1_113883_2_4_3_11_60_7_2_123"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.13.23237"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="administrator_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_13_21196">
      <xs:annotation>
         <xs:documentation>Type for concept group: Administrator</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="patient-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.13.23380"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="patient"
                     type="patient_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_13_23380"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="health_professional-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.13.23172"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="health_professional"
                     type="health_professional_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_13_23172"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="caregiver-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.13.23355"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="caregiver"
                     type="caregiver_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_13_23355"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.13.21196"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="patient_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_13_23380">
      <xs:annotation>
         <xs:documentation>Type for concept group: Patient</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="patient-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.124"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="patient"
                     type="patient_type_2_16_840_1_113883_2_4_3_11_60_7_2_124"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.13.23380"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="health_professional_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_13_23172">
      <xs:annotation>
         <xs:documentation>Type for concept group: HealthProfessional</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="health_professional-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.125"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="health_professional"
                     type="health_professional_type_2_16_840_1_113883_2_4_3_11_60_7_2_125"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.13.23172"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="caregiver_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_13_23355">
      <xs:annotation>
         <xs:documentation>Type for concept group: Caregiver</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="contact-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.126"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="contact"
                     type="contact_type_2_16_840_1_113883_2_4_3_11_60_7_2_126"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.13.23355"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: IdentificationNumber - 1..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="identification_number_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_6">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.6"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="root" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Patient - 1..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="patient_type_2_16_840_1_113883_2_4_3_11_60_7_2_140">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.140"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="root" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: HealthProfessional - 1..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="health_professional_type_2_16_840_1_113883_2_4_3_11_60_7_2_141">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.141"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="root" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Contact - 1..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="contact_type_2_16_840_1_113883_2_4_3_11_60_7_2_142">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.142"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="root" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Patient - 1..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="patient_type_2_16_840_1_113883_2_4_3_11_60_7_2_143">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.143"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="root" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: HealthProfessional - 1..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="health_professional_type_2_16_840_1_113883_2_4_3_11_60_7_2_144">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.144"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="root" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Contact - 1..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="contact_type_2_16_840_1_113883_2_4_3_11_60_7_2_145">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.145"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="root" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Patient - 1..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="patient_type_2_16_840_1_113883_2_4_3_11_60_7_2_146">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.146"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="root" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Contact - 1..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="contact_type_2_16_840_1_113883_2_4_3_11_60_7_2_147">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.147"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="root" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: DateTime - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="date_time_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_14">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.14"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: PharmaceuticalForm - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="pharmaceutical_form_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_7_19931">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.7.19931"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="displayName" type="xs:string" use="optional"/>
      <xs:attribute name="code" type="xs:string"/>
      <xs:attribute name="codeSystem" type="xs:string"/>
      <xs:attribute name="codeSystemName" type="xs:string" use="optional"/>
      <xs:attribute name="codeSystemVersion" type="xs:string" use="optional"/>
      <xs:attribute name="originalText" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Medication - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="medication_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_7_19929">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.7.19929"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Description - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="description_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_7_19784">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.7.19784"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: SubstanceCode - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="substance_code_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_7_19934">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.7.19934"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="displayName" type="xs:string" use="optional"/>
      <xs:attribute name="code" type="xs:string"/>
      <xs:attribute name="codeSystem" type="xs:string"/>
      <xs:attribute name="codeSystemName" type="xs:string" use="optional"/>
      <xs:attribute name="codeSystemVersion" type="xs:string" use="optional"/>
      <xs:attribute name="originalText" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: IngredientAmount - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="ingredient_amount_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_7_22277">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.7.22277"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:decimal"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="unit">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: ProductAmount - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="product_amount_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_7_22278">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.7.22278"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:decimal"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="unit">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: MedicationCode - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="medication_code_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_7_19927">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.7.19927"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="displayName" type="xs:string" use="optional"/>
      <xs:attribute name="code" type="xs:string"/>
      <xs:attribute name="codeSystem" type="xs:string"/>
      <xs:attribute name="codeSystemName" type="xs:string" use="optional"/>
      <xs:attribute name="codeSystemVersion" type="xs:string" use="optional"/>
      <xs:attribute name="originalText" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: minimumValue - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="minimum_value_type_2_16_840_1_113883_2_4_3_11_60_40_1_20_1_2">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.20.1.2"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:decimal"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="unit">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: maximumValue - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="maximum_value_type_2_16_840_1_113883_2_4_3_11_60_40_1_20_1_3">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.20.1.3"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:decimal"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="unit">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: nominalValue - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="nominal_value_type_2_16_840_1_113883_2_4_3_11_60_40_1_20_1_4">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.20.1.4"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:decimal"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="unit">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: AdministrationDateTime - 1..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="administration_date_time_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_13_21193">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.13.21193"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: AgreedDateTime - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="agreed_date_time_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_13_23171">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.13.23171"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: AdministeredAmount - 1..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="administered_amount_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_13_21194">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.13.21194"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:decimal"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="unit">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: DeviatingAdministration - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="deviating_administration_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_13_23167">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.13.23167"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:annotation>
                  <xs:documentation>non-mandatory boolean</xs:documentation>
               </xs:annotation>
               <xs:enumeration value="">
                  <xs:annotation>
                     <xs:documentation>Empty</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="true">
                  <xs:annotation>
                     <xs:documentation>Yes</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="false">
                  <xs:annotation>
                     <xs:documentation>No</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="UNK">
                  <xs:annotation>
                     <xs:documentation>Unknown</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: RouteOfAdministration - 1..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="route_of_administration_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_13_21195">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.13.21195"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="displayName" type="xs:string" use="optional"/>
      <xs:attribute name="code" type="xs:string"/>
      <xs:attribute name="codeSystem" type="xs:string"/>
      <xs:attribute name="codeSystemName" type="xs:string" use="optional"/>
      <xs:attribute name="codeSystemVersion" type="xs:string" use="optional"/>
      <xs:attribute name="originalText" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: DoubleCheckPerformed - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="double_check_performed_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_13_23168">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.13.23168"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:annotation>
                  <xs:documentation>non-mandatory boolean</xs:documentation>
               </xs:annotation>
               <xs:enumeration value="">
                  <xs:annotation>
                     <xs:documentation>Empty</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="true">
                  <xs:annotation>
                     <xs:documentation>Yes</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="false">
                  <xs:annotation>
                     <xs:documentation>No</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="UNK">
                  <xs:annotation>
                     <xs:documentation>Unknown</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: MedicationAgreement - 1..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="medication_agreement_type_2_16_840_1_113883_2_4_3_11_60_7_2_122">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.122"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="root" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: AdministrationAgreement - 1..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="administration_agreement_type_2_16_840_1_113883_2_4_3_11_60_7_2_123">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.123"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="root" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Patient - 1..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="patient_type_2_16_840_1_113883_2_4_3_11_60_7_2_124">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.124"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="root" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: HealthProfessional - 1..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="health_professional_type_2_16_840_1_113883_2_4_3_11_60_7_2_125">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.125"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="root" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Contact - 1..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="contact_type_2_16_840_1_113883_2_4_3_11_60_7_2_126">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.126"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="root" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: MedicationAdministrationReasonForDeviation - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="medication_administration_reason_for_deviation_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_13_23166">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.13.23166"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="displayName" type="xs:string" use="optional"/>
      <xs:attribute name="code" type="xs:string"/>
      <xs:attribute name="codeSystem" type="xs:string"/>
      <xs:attribute name="codeSystemName" type="xs:string" use="optional"/>
      <xs:attribute name="codeSystemVersion" type="xs:string" use="optional"/>
      <xs:attribute name="originalText" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: MedicationAdministrationStatus - 1..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="medication_administration_status_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_13_21191">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.13.21191"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="displayName" type="xs:string" use="optional"/>
      <xs:attribute name="code" type="xs:string"/>
      <xs:attribute name="codeSystem" type="xs:string"/>
      <xs:attribute name="codeSystemName" type="xs:string" use="optional"/>
      <xs:attribute name="codeSystemVersion" type="xs:string" use="optional"/>
      <xs:attribute name="originalText" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Comment - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="comment_type_2_16_840_1_113883_2_4_3_11_60_40_1_9_13_21337">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.9.13.21337"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:simpleType name="NullFlavorNoInformation">
      <xs:restriction base="xs:string">
         <xs:enumeration value="NI"/>
         <xs:enumeration value="UNK"/>
         <xs:enumeration value="OTH"/>
         <xs:enumeration value="MSK"/>
         <xs:enumeration value="UNC"/>
         <xs:enumeration value="NA"/>
         <xs:enumeration value="NAV"/>
         <xs:enumeration value="ASKU"/>
         <xs:enumeration value="NASK"/>
         <xs:enumeration value="INV"/>
         <xs:enumeration value="DER"/>
         <xs:enumeration value="NINF"/>
         <xs:enumeration value="PINF"/>
         <xs:enumeration value="QS"/>
         <xs:enumeration value="TRC"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
