zib-wounds/ada_2_fhir/zibs2017/ada_schemas/payer_registration.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:annotation>
      <xs:documentation>Schema for transaction: 2.16.840.1.113883.2.4.3.11.60.7.4.2.1.1</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="empty_string">
      <xs:annotation>
         <xs:documentation>Type for empty value-strings on non-mandatory concepts</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="0"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:element name="payer_registration" type="payer_registration_type"/>
   <xs:complexType name="payer_registration_type">
      <xs:sequence>
         <xs:element name="payer-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.1.1.1"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="payer"
                     type="payer_type_2_16_840_1_113883_2_4_3_11_60_40_1_1_1_1"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:string"/>
      <xs:attribute name="app" type="xs:string"/>
      <xs:attribute name="shortName" type="xs:string" use="optional"/>
      <xs:attribute name="formName" type="xs:string" use="optional"/>
      <xs:attribute name="transactionRef" type="xs:string"/>
      <xs:attribute name="transactionEffectiveDate" type="xs:dateTime"/>
      <xs:attribute name="versionDate" type="xs:string"/>
      <xs:attribute name="language" type="xs:string"/>
      <xs:attribute name="prefix" type="xs:string"/>
      <xs:attribute name="adaVersion" type="xs:decimal"/>
      <xs:attribute name="title" type="xs:string"/>
      <xs:attribute name="rights" type="xs:string"/>
      <xs:attribute name="owner" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="payer_type_2_16_840_1_113883_2_4_3_11_60_40_1_1_1_1">
      <xs:annotation>
         <xs:documentation>Type for concept group: Payer</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="hcimroot-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.1"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="hcimroot"
                     type="hcimroot_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_1"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="payer_person-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.1.1.2"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="payer_person"
                     type="payer_person_type_2_16_840_1_113883_2_4_3_11_60_40_1_1_1_2"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="insurance_company-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.1.1.3"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="insurance_company"
                     type="insurance_company_type_2_16_840_1_113883_2_4_3_11_60_40_1_1_1_3"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="address_information-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.1.1.17"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="address_information"
                     type="address_information_type_2_16_840_1_113883_2_4_3_11_60_40_1_1_1_17"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="contact_information-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.1.1.12"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="contact_information"
                     type="contact_information_type_2_16_840_1_113883_2_4_3_11_60_40_1_1_1_12"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.1.1.1"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="hcimroot_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_1">
      <xs:annotation>
         <xs:documentation>Type for concept group: Basic Components HCIMRoot</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="identification_number-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.6"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="identification_number"
                     type="identification_number_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_6"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="information_source-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.2"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="information_source"
                     type="information_source_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_2"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="author-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.7"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="author"
                     type="author_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_7"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="subject-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.11"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="subject"
                     type="subject_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_11"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="date_time-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.14"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="date_time"
                     type="date_time_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_14"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.1"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="information_source_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_2">
      <xs:annotation>
         <xs:documentation>Type for concept group: InformationSource</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="patient_as_information_source-start"
                     minOccurs="0"
                     maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.3"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="patient_as_information_source"
                     type="patient_as_information_source_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_3"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="health_professional-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.4"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="health_professional"
                     type="health_professional_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_4"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="related_person_as_information_source-start"
                     minOccurs="0"
                     maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.5"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="related_person_as_information_source"
                     type="related_person_as_information_source_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_5"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.2"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="patient_as_information_source_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_3">
      <xs:annotation>
         <xs:documentation>Type for concept group: PatientAsInformationSource</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="patient-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.140"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="patient"
                     type="patient_type_2_16_840_1_113883_2_4_3_11_60_7_2_140"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.3"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="health_professional_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_4">
      <xs:annotation>
         <xs:documentation>Type for concept group: HealthProfessional</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="health_professional-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.141"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="health_professional"
                     type="health_professional_type_2_16_840_1_113883_2_4_3_11_60_7_2_141"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.4"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="related_person_as_information_source_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_5">
      <xs:annotation>
         <xs:documentation>Type for concept group: RelatedPersonAsInformationSource</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="contact-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.142"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="contact"
                     type="contact_type_2_16_840_1_113883_2_4_3_11_60_7_2_142"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.5"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="author_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_7">
      <xs:annotation>
         <xs:documentation>Type for concept group: Author</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="patient_as_author-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.8"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="patient_as_author"
                     type="patient_as_author_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_8"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="health_professional_as_author-start"
                     minOccurs="0"
                     maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.9"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="health_professional_as_author"
                     type="health_professional_as_author_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_9"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="related_person_as_author-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.10"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="related_person_as_author"
                     type="related_person_as_author_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_10"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.7"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="patient_as_author_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_8">
      <xs:annotation>
         <xs:documentation>Type for concept group: PatientAsAuthor</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="patient-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.143"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="patient"
                     type="patient_type_2_16_840_1_113883_2_4_3_11_60_7_2_143"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.8"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="health_professional_as_author_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_9">
      <xs:annotation>
         <xs:documentation>Type for concept group: HealthProfessionalAsAuthor</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="health_professional-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.144"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="health_professional"
                     type="health_professional_type_2_16_840_1_113883_2_4_3_11_60_7_2_144"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.9"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="related_person_as_author_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_10">
      <xs:annotation>
         <xs:documentation>Type for concept group: RelatedPersonAsAuthor</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="contact-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.145"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="contact"
                     type="contact_type_2_16_840_1_113883_2_4_3_11_60_7_2_145"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.10"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="subject_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_11">
      <xs:annotation>
         <xs:documentation>Type for concept group: Subject</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="patient-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.12"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="patient"
                     type="patient_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_12"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="related_person_as_subject-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.13"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="related_person_as_subject"
                     type="related_person_as_subject_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_13"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.11"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="patient_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_12">
      <xs:annotation>
         <xs:documentation>Type for concept group: Patient</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="patient-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.146"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="patient"
                     type="patient_type_2_16_840_1_113883_2_4_3_11_60_7_2_146"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.12"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="related_person_as_subject_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_13">
      <xs:annotation>
         <xs:documentation>Type for concept group: RelatedPersonAsSubject</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="contact-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.147"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="contact"
                     type="contact_type_2_16_840_1_113883_2_4_3_11_60_7_2_147"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.13"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="payer_person_type_2_16_840_1_113883_2_4_3_11_60_40_1_1_1_2">
      <xs:annotation>
         <xs:documentation>Type for concept group: PayerPerson</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="payer_name-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.1.1.5"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="payer_name"
                     type="payer_name_type_2_16_840_1_113883_2_4_3_11_60_40_1_1_1_5"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="bank_information-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.1.1.4"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="bank_information"
                     type="bank_information_type_2_16_840_1_113883_2_4_3_11_60_40_1_1_1_4"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.1.1.2"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="bank_information_type_2_16_840_1_113883_2_4_3_11_60_40_1_1_1_4">
      <xs:annotation>
         <xs:documentation>Type for concept group: BankInformation</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="bank_name-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.1.1.9"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="bank_name"
                     type="bank_name_type_2_16_840_1_113883_2_4_3_11_60_40_1_1_1_9"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="bank_code-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.1.1.10"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="bank_code"
                     type="bank_code_type_2_16_840_1_113883_2_4_3_11_60_40_1_1_1_10"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="account_number-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.1.1.11"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="account_number"
                     type="account_number_type_2_16_840_1_113883_2_4_3_11_60_40_1_1_1_11"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.1.1.4"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="insurance_company_type_2_16_840_1_113883_2_4_3_11_60_40_1_1_1_3">
      <xs:annotation>
         <xs:documentation>Type for concept group: InsuranceCompany</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="insurance-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.1.1.8"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="insurance"
                     type="insurance_type_2_16_840_1_113883_2_4_3_11_60_40_1_1_1_8"
                     minOccurs="1"
                     maxOccurs="unbounded"/>
         <xs:element name="identification_number-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.1.1.7"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="identification_number"
                     type="identification_number_type_2_16_840_1_113883_2_4_3_11_60_40_1_1_1_7"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="organization_name-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.1.1.16"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="organization_name"
                     type="organization_name_type_2_16_840_1_113883_2_4_3_11_60_40_1_1_1_16"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="insurant_number-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.1.1.6"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="insurant_number"
                     type="insurant_number_type_2_16_840_1_113883_2_4_3_11_60_40_1_1_1_6"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.1.1.3"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="insurance_type_2_16_840_1_113883_2_4_3_11_60_40_1_1_1_8">
      <xs:annotation>
         <xs:documentation>Type for concept group: Insurance</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="start_date_time-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.1.1.13"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="start_date_time"
                     type="start_date_time_type_2_16_840_1_113883_2_4_3_11_60_40_1_1_1_13"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="end_date_time-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.1.1.14"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="end_date_time"
                     type="end_date_time_type_2_16_840_1_113883_2_4_3_11_60_40_1_1_1_14"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="insurance_type-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.1.1.15"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="insurance_type"
                     type="insurance_type_type_2_16_840_1_113883_2_4_3_11_60_40_1_1_1_15"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.1.1.8"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="address_information_type_2_16_840_1_113883_2_4_3_11_60_40_1_1_1_17">
      <xs:annotation>
         <xs:documentation>Type for concept group: AddressInformation</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="address_information-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.21"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="address_information"
                     type="address_information_type_2_16_840_1_113883_2_4_3_11_60_7_2_21"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.1.1.17"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="address_information_type_2_16_840_1_113883_2_4_3_11_60_7_2_21">
      <xs:annotation>
         <xs:documentation>Type for concept group: AddressInformation</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="street-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.20.5.2"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="street"
                     type="street_type_2_16_840_1_113883_2_4_3_11_60_40_1_20_5_2"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="house_number-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.20.5.12"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="house_number"
                     type="house_number_type_2_16_840_1_113883_2_4_3_11_60_40_1_20_5_12"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="house_number_letter-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.20.5.11"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="house_number_letter"
                     type="house_number_letter_type_2_16_840_1_113883_2_4_3_11_60_40_1_20_5_11"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="house_number_addition-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.20.5.10"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="house_number_addition"
                     type="house_number_addition_type_2_16_840_1_113883_2_4_3_11_60_40_1_20_5_10"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="house_number_indication-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.20.5.9"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="house_number_indication"
                     type="house_number_indication_type_2_16_840_1_113883_2_4_3_11_60_40_1_20_5_9"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="postcode-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.20.5.6"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="postcode"
                     type="postcode_type_2_16_840_1_113883_2_4_3_11_60_40_1_20_5_6"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="place_of_residence-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.20.5.3"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="place_of_residence"
                     type="place_of_residence_type_2_16_840_1_113883_2_4_3_11_60_40_1_20_5_3"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="municipality-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.20.5.4"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="municipality"
                     type="municipality_type_2_16_840_1_113883_2_4_3_11_60_40_1_20_5_4"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="country-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.20.5.5"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="country"
                     type="country_type_2_16_840_1_113883_2_4_3_11_60_40_1_20_5_5"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="additional_information-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.20.5.7"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="additional_information"
                     type="additional_information_type_2_16_840_1_113883_2_4_3_11_60_40_1_20_5_7"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="address_type-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.20.5.8"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="address_type"
                     type="address_type_type_2_16_840_1_113883_2_4_3_11_60_40_1_20_5_8"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.21"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="contact_information_type_2_16_840_1_113883_2_4_3_11_60_40_1_1_1_12">
      <xs:annotation>
         <xs:documentation>Type for concept group: ContactInformation</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="contact_information-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.22"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="contact_information"
                     type="contact_information_type_2_16_840_1_113883_2_4_3_11_60_7_2_22"
                     minOccurs="1"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.1.1.12"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="contact_information_type_2_16_840_1_113883_2_4_3_11_60_7_2_22">
      <xs:annotation>
         <xs:documentation>Type for concept group: ContactInformation</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="telephone_numbers-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.20.6.2"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="telephone_numbers"
                     type="telephone_numbers_type_2_16_840_1_113883_2_4_3_11_60_40_1_20_6_2"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="email_addresses-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.20.6.3"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="email_addresses"
                     type="email_addresses_type_2_16_840_1_113883_2_4_3_11_60_40_1_20_6_3"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.22"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="telephone_numbers_type_2_16_840_1_113883_2_4_3_11_60_40_1_20_6_2">
      <xs:annotation>
         <xs:documentation>Type for concept group: TelephoneNumbers</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="telephone_number-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.20.6.4"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="telephone_number"
                     type="telephone_number_type_2_16_840_1_113883_2_4_3_11_60_40_1_20_6_4"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="telecom_type-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.20.6.5"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="telecom_type"
                     type="telecom_type_type_2_16_840_1_113883_2_4_3_11_60_40_1_20_6_5"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="number_type-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.20.6.6"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="number_type"
                     type="number_type_type_2_16_840_1_113883_2_4_3_11_60_40_1_20_6_6"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.20.6.2"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="email_addresses_type_2_16_840_1_113883_2_4_3_11_60_40_1_20_6_3">
      <xs:annotation>
         <xs:documentation>Type for concept group: EmailAddresses</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="email_address-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.20.6.7"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="email_address"
                     type="email_address_type_2_16_840_1_113883_2_4_3_11_60_40_1_20_6_7"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="email_address_type-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.20.6.8"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="email_address_type"
                     type="email_address_type_type_2_16_840_1_113883_2_4_3_11_60_40_1_20_6_8"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.20.6.3"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: IdentificationNumber - 1..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="identification_number_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_6">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.6"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="root" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Patient - 1..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="patient_type_2_16_840_1_113883_2_4_3_11_60_7_2_140">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.140"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="root" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: HealthProfessional - 1..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="health_professional_type_2_16_840_1_113883_2_4_3_11_60_7_2_141">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.141"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="root" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Contact - 1..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="contact_type_2_16_840_1_113883_2_4_3_11_60_7_2_142">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.142"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="root" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Patient - 1..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="patient_type_2_16_840_1_113883_2_4_3_11_60_7_2_143">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.143"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="root" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: HealthProfessional - 1..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="health_professional_type_2_16_840_1_113883_2_4_3_11_60_7_2_144">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.144"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="root" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Contact - 1..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="contact_type_2_16_840_1_113883_2_4_3_11_60_7_2_145">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.145"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="root" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Patient - 1..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="patient_type_2_16_840_1_113883_2_4_3_11_60_7_2_146">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.146"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="root" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Contact - 1..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="contact_type_2_16_840_1_113883_2_4_3_11_60_7_2_147">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.7.2.147"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="root" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: DateTime - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="date_time_type_2_16_840_1_113883_2_4_3_11_60_40_1_0_0_14">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.0.0.14"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: PayerName - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="payer_name_type_2_16_840_1_113883_2_4_3_11_60_40_1_1_1_5">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.1.1.5"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: BankName - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="bank_name_type_2_16_840_1_113883_2_4_3_11_60_40_1_1_1_9">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.1.1.9"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: BankCode - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="bank_code_type_2_16_840_1_113883_2_4_3_11_60_40_1_1_1_10">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.1.1.10"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: AccountNumber - 1..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="account_number_type_2_16_840_1_113883_2_4_3_11_60_40_1_1_1_11">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.1.1.11"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: StartDateTime - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="start_date_time_type_2_16_840_1_113883_2_4_3_11_60_40_1_1_1_13">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.1.1.13"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: EndDateTime - 1..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="end_date_time_type_2_16_840_1_113883_2_4_3_11_60_40_1_1_1_14">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.1.1.14"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: InsuranceType - 1..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="insurance_type_type_2_16_840_1_113883_2_4_3_11_60_40_1_1_1_15">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.1.1.15"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="displayName" type="xs:string" use="optional"/>
      <xs:attribute name="code" type="xs:string"/>
      <xs:attribute name="codeSystem" type="xs:string"/>
      <xs:attribute name="codeSystemName" type="xs:string" use="optional"/>
      <xs:attribute name="codeSystemVersion" type="xs:string" use="optional"/>
      <xs:attribute name="originalText" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: IdentificationNumber - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="identification_number_type_2_16_840_1_113883_2_4_3_11_60_40_1_1_1_7">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.1.1.7"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="root" type="xs:string" default="2.16.840.1.113883.2.4.6.4"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: OrganizationName - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="organization_name_type_2_16_840_1_113883_2_4_3_11_60_40_1_1_1_16">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.1.1.16"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: InsurantNumber - 1..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="insurant_number_type_2_16_840_1_113883_2_4_3_11_60_40_1_1_1_6">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.1.1.6"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Street - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="street_type_2_16_840_1_113883_2_4_3_11_60_40_1_20_5_2">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.20.5.2"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: HouseNumber - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="house_number_type_2_16_840_1_113883_2_4_3_11_60_40_1_20_5_12">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.20.5.12"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: HouseNumberLetter - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="house_number_letter_type_2_16_840_1_113883_2_4_3_11_60_40_1_20_5_11">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.20.5.11"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: HouseNumberAddition - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="house_number_addition_type_2_16_840_1_113883_2_4_3_11_60_40_1_20_5_10">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.20.5.10"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: HouseNumberIndication - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="house_number_indication_type_2_16_840_1_113883_2_4_3_11_60_40_1_20_5_9">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.20.5.9"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="displayName" type="xs:string" use="optional"/>
      <xs:attribute name="code" type="xs:string"/>
      <xs:attribute name="codeSystem" type="xs:string"/>
      <xs:attribute name="codeSystemName" type="xs:string" use="optional"/>
      <xs:attribute name="codeSystemVersion" type="xs:string" use="optional"/>
      <xs:attribute name="originalText" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Postcode - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="postcode_type_2_16_840_1_113883_2_4_3_11_60_40_1_20_5_6">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.20.5.6"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: PlaceOfResidence - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="place_of_residence_type_2_16_840_1_113883_2_4_3_11_60_40_1_20_5_3">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.20.5.3"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Municipality - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="municipality_type_2_16_840_1_113883_2_4_3_11_60_40_1_20_5_4">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.20.5.4"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Country - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="country_type_2_16_840_1_113883_2_4_3_11_60_40_1_20_5_5">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.20.5.5"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="displayName" type="xs:string" use="optional"/>
      <xs:attribute name="code" type="xs:string"/>
      <xs:attribute name="codeSystem" type="xs:string"/>
      <xs:attribute name="codeSystemName" type="xs:string" use="optional"/>
      <xs:attribute name="codeSystemVersion" type="xs:string" use="optional"/>
      <xs:attribute name="originalText" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: AdditionalInformation - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="additional_information_type_2_16_840_1_113883_2_4_3_11_60_40_1_20_5_7">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.20.5.7"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: AddressType - 1..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="address_type_type_2_16_840_1_113883_2_4_3_11_60_40_1_20_5_8">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.20.5.8"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="displayName" type="xs:string" use="optional"/>
      <xs:attribute name="code" type="xs:string"/>
      <xs:attribute name="codeSystem" type="xs:string"/>
      <xs:attribute name="codeSystemName" type="xs:string" use="optional"/>
      <xs:attribute name="codeSystemVersion" type="xs:string" use="optional"/>
      <xs:attribute name="originalText" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: TelephoneNumber - 1..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="telephone_number_type_2_16_840_1_113883_2_4_3_11_60_40_1_20_6_4">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.20.6.4"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: TelecomType - 1..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="telecom_type_type_2_16_840_1_113883_2_4_3_11_60_40_1_20_6_5">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.20.6.5"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="displayName" type="xs:string" use="optional"/>
      <xs:attribute name="code" type="xs:string"/>
      <xs:attribute name="codeSystem" type="xs:string"/>
      <xs:attribute name="codeSystemName" type="xs:string" use="optional"/>
      <xs:attribute name="codeSystemVersion" type="xs:string" use="optional"/>
      <xs:attribute name="originalText" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: NumberType - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="number_type_type_2_16_840_1_113883_2_4_3_11_60_40_1_20_6_6">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.20.6.6"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="displayName" type="xs:string" use="optional"/>
      <xs:attribute name="code" type="xs:string"/>
      <xs:attribute name="codeSystem" type="xs:string"/>
      <xs:attribute name="codeSystemName" type="xs:string" use="optional"/>
      <xs:attribute name="codeSystemVersion" type="xs:string" use="optional"/>
      <xs:attribute name="originalText" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: EmailAddress - 1..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="email_address_type_2_16_840_1_113883_2_4_3_11_60_40_1_20_6_7">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.20.6.7"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation" use="optional"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: EmailAddressType - 0..1 </xs:documentation>
   </xs:annotation>
   <xs:complexType name="email_address_type_type_2_16_840_1_113883_2_4_3_11_60_40_1_20_6_8">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.40.1.20.6.8"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="displayName" type="xs:string" use="optional"/>
      <xs:attribute name="code" type="xs:string"/>
      <xs:attribute name="codeSystem" type="xs:string"/>
      <xs:attribute name="codeSystemName" type="xs:string" use="optional"/>
      <xs:attribute name="codeSystemVersion" type="xs:string" use="optional"/>
      <xs:attribute name="originalText" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:simpleType name="NullFlavorNoInformation">
      <xs:restriction base="xs:string">
         <xs:enumeration value="NI"/>
         <xs:enumeration value="UNK"/>
         <xs:enumeration value="OTH"/>
         <xs:enumeration value="MSK"/>
         <xs:enumeration value="UNC"/>
         <xs:enumeration value="NA"/>
         <xs:enumeration value="NAV"/>
         <xs:enumeration value="ASKU"/>
         <xs:enumeration value="NASK"/>
         <xs:enumeration value="INV"/>
         <xs:enumeration value="DER"/>
         <xs:enumeration value="NINF"/>
         <xs:enumeration value="PINF"/>
         <xs:enumeration value="QS"/>
         <xs:enumeration value="TRC"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
