ada_2_fhir/geboortezorg/2.3/prio1_vorige_zwangerschap/ada_schemas/prio1_vorige_zwangerschap_draft.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:annotation>
      <xs:documentation>Schema for transaction: 2.16.840.1.113883.2.4.3.11.60.90.77.4.2499</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="empty_string">
      <xs:annotation>
         <xs:documentation>Type for empty value-strings on non-mandatory concepts</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="0"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:element name="prio1_vorige_zwangerschap" type="prio1_vorige_zwangerschap_type"/>
   <xs:complexType name="prio1_vorige_zwangerschap_type">
      <xs:sequence>
         <xs:element name="zorgverlenerzorginstelling-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.1"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="zorgverlenerzorginstelling"
                     type="zorgverlenerzorginstelling_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_1"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="vrouw-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.2"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="vrouw"
                     type="vrouw_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_2"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="zwangerschap-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.3"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="zwangerschap"
                     type="zwangerschap_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_3"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="bevalling-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.6"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="bevalling"
                     type="bevalling_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_6"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="uitkomst_per_kind-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.7"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="uitkomst_per_kind"
                     type="uitkomst_per_kind_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_7"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:string"/>
      <xs:attribute name="app" type="xs:string"/>
      <xs:attribute name="shortName" type="xs:string"/>
      <xs:attribute name="formName" type="xs:string"/>
      <xs:attribute name="transactionRef" type="xs:string"/>
      <xs:attribute name="transactionEffectiveDate" type="xs:dateTime"/>
      <xs:attribute name="versionDate" type="xs:string"/>
      <xs:attribute name="language" type="xs:string"/>
      <xs:attribute name="prefix" type="xs:string"/>
      <xs:attribute name="adaVersion" type="xs:decimal"/>
      <xs:attribute name="title" type="xs:string"/>
      <xs:attribute name="desc" type="xs:string"/>
      <xs:attribute name="rights" type="xs:string"/>
      <xs:attribute name="owner" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="zorgverlenerzorginstelling_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_1">
      <xs:annotation>
         <xs:documentation>Type for concept group: Zorgverlener/Zorginstelling</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="zorginstelling-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10020"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="zorginstelling"
                     type="zorginstelling_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10020"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.1"/>
      <xs:attribute name="comment" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="zorginstelling_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10020">
      <xs:annotation>
         <xs:documentation>Type for concept group: Zorginstelling</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="zorginstelling_oid-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10021"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="zorginstelling_oid"
                     type="zorginstelling_oid_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10021"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="zorginstelling_agbid-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10022"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="zorginstelling_agbid"
                     type="zorginstelling_agbid_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10022"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="zorginstelling_lvrid-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10023"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="zorginstelling_lvrid"
                     type="zorginstelling_lvrid_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10023"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="zorginstelling_ura-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10024"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="zorginstelling_ura"
                     type="zorginstelling_ura_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10024"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="naam_zorginstelling-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10026"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="naam_zorginstelling"
                     type="naam_zorginstelling_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10026"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="adres_zorginstelling-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10027"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adres_zorginstelling"
                     type="adres_zorginstelling_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10027"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="type_zorginstelling-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10029"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="type_zorginstelling"
                     type="type_zorginstelling_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10029"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="type_zorginstelling_bij_verwijzing-start"
                     minOccurs="0"
                     maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.82019"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="type_zorginstelling_bij_verwijzing"
                     type="type_zorginstelling_bij_verwijzing_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_82019"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10020"/>
      <xs:attribute name="comment" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="adres_zorginstelling_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10027">
      <xs:annotation>
         <xs:documentation>Type for concept group: Adres zorginstelling</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="straatnaam-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10032"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="straatnaam"
                     type="straatnaam_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10032"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="huisnummer-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10033"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="huisnummer"
                     type="huisnummer_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10033"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="huisletterhuisnummertoevoeging-start"
                     minOccurs="0"
                     maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10034"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="huisletterhuisnummertoevoeging"
                     type="huisletterhuisnummertoevoeging_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10034"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="postcode-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10041"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="postcode"
                     type="postcode_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10041"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="plaatsnaam-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10036"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="plaatsnaam"
                     type="plaatsnaam_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10036"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="gemeentenaam-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10037"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="gemeentenaam"
                     type="gemeentenaam_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10037"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="land-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10038"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="land"
                     type="land_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10038"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="adrestype-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10039"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adrestype"
                     type="adrestype_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10039"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10027"/>
      <xs:attribute name="comment" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="vrouw_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_2">
      <xs:annotation>
         <xs:documentation>Type for concept group: Vrouw</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="burgerservicenummer-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10030"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="burgerservicenummer"
                     type="burgerservicenummer_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10030"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="naamgegevens-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10035"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="naamgegevens"
                     type="naamgegevens_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10035"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.2"/>
      <xs:attribute name="comment" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="naamgegevens_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10035">
      <xs:annotation>
         <xs:documentation>Type for concept group: Naamgegevens</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="voornamen-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10042"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="voornamen"
                     type="voornamen_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10042"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="initialen-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.82359"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="initialen"
                     type="initialen_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_82359"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="roepnaam-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.82360"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="roepnaam"
                     type="roepnaam_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_82360"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="achternaam-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.82361"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="achternaam"
                     type="achternaam_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_82361"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10035"/>
      <xs:attribute name="comment" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="achternaam_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_82361">
      <xs:annotation>
         <xs:documentation>Type for concept group: Achternaam</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="soort_naam-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.82362"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="soort_naam"
                     type="soort_naam_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_82362"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="voorvoegsel-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.82363"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="voorvoegsel"
                     type="voorvoegsel_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_82363"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="achternaam-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10043"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="achternaam"
                     type="achternaam_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10043"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.82361"/>
      <xs:attribute name="comment" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="zwangerschap_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_3">
      <xs:annotation>
         <xs:documentation>Type for concept group: Zwangerschap</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="graviditeit-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.20010"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="graviditeit"
                     type="graviditeit_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_20010"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="pariteit_voor_deze_zwangerschap-start"
                     minOccurs="0"
                     maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.20150"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="pariteit_voor_deze_zwangerschap"
                     type="pariteit_voor_deze_zwangerschap_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_20150"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="wijze_einde_zwangerschap-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.80625"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="wijze_einde_zwangerschap"
                     type="wijze_einde_zwangerschap_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_80625"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="datum_einde_zwangerschap-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.20540"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="datum_einde_zwangerschap"
                     type="datum_einde_zwangerschap_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_20540"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.3"/>
      <xs:attribute name="comment" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="bevalling_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_6">
      <xs:annotation>
         <xs:documentation>Type for concept group: Bevalling</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="tijdstip_begin_actieve_ontsluiting-start"
                     minOccurs="0"
                     maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.20590"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="tijdstip_begin_actieve_ontsluiting"
                     type="tijdstip_begin_actieve_ontsluiting_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_20590"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="duur_actieve_ontsluitingsfase_ontsluitingsduur-start"
                     minOccurs="0"
                     maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.82869"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="duur_actieve_ontsluitingsfase_ontsluitingsduur"
                     type="duur_actieve_ontsluitingsfase_ontsluitingsduur_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_82869"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="duur_uitdrijving_vanaf_actief_meepersen-start"
                     minOccurs="0"
                     maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.82870"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="duur_uitdrijving_vanaf_actief_meepersen"
                     type="duur_uitdrijving_vanaf_actief_meepersen_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_82870"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="hoeveelheid_bloedverlies-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.20640"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="hoeveelheid_bloedverlies"
                     type="hoeveelheid_bloedverlies_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_20640"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="conditie_perineum_postpartum-start"
                     minOccurs="0"
                     maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.80673"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="conditie_perineum_postpartum"
                     type="conditie_perineum_postpartum_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_80673"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.6"/>
      <xs:attribute name="comment" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="uitkomst_per_kind_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_7">
      <xs:annotation>
         <xs:documentation>Type for concept group: Uitkomst (per kind)</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="baring-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.40002"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="baring"
                     type="baring_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_40002"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.7"/>
      <xs:attribute name="comment" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="baring_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_40002">
      <xs:annotation>
         <xs:documentation>Type for concept group: Baring</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="demografische_gegevens-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.40006"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="demografische_gegevens"
                     type="demografische_gegevens_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_40006"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="kindspecifieke_maternale_gegevens-start"
                     minOccurs="0"
                     maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.71"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="kindspecifieke_maternale_gegevens"
                     type="kindspecifieke_maternale_gegevens_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_71"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="kindspecifieke_uitkomstgegevens-start"
                     minOccurs="0"
                     maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.72"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="kindspecifieke_uitkomstgegevens"
                     type="kindspecifieke_uitkomstgegevens_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_72"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.40002"/>
      <xs:attribute name="comment" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="demografische_gegevens_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_40006">
      <xs:annotation>
         <xs:documentation>Type for concept group: Demografische gegevens</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="geboortedatum-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.40050"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="geboortedatum"
                     type="geboortedatum_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_40050"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.40006"/>
      <xs:attribute name="comment" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="kindspecifieke_maternale_gegevens_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_71">
      <xs:annotation>
         <xs:documentation>Type for concept group: Kindspecifieke maternale gegevens</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="tijdstip_actief_meepersen-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.30030"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="tijdstip_actief_meepersen"
                     type="tijdstip_actief_meepersen_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_30030"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.71"/>
      <xs:attribute name="comment" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="kindspecifieke_uitkomstgegevens_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_72">
      <xs:annotation>
         <xs:documentation>Type for concept group: Kindspecifieke uitkomstgegevens</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="type_partus-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.80626"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="type_partus"
                     type="type_partus_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_80626"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="zwangerschapsduur-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.20062"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="zwangerschapsduur"
                     type="zwangerschapsduur_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_20062"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="vaginale_kunstverlossing_groep-start"
                     minOccurs="0"
                     maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.40189"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="vaginale_kunstverlossing_groep"
                     type="vaginale_kunstverlossing_groep_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_40189"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="lichamelijk_onderzoek_kind-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.80766"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="lichamelijk_onderzoek_kind"
                     type="lichamelijk_onderzoek_kind_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_80766"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.72"/>
      <xs:attribute name="comment" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="vaginale_kunstverlossing_groep_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_40189">
      <xs:annotation>
         <xs:documentation>Type for concept group: Vaginale kunstverlossing (groep)</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="vaginale_kunstverlossing-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.40190"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="vaginale_kunstverlossing"
                     type="vaginale_kunstverlossing_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_40190"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.40189"/>
      <xs:attribute name="comment" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="lichamelijk_onderzoek_kind_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_80766">
      <xs:annotation>
         <xs:documentation>Type for concept group: Lichamelijk onderzoek kind</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="apgarscore_na_5_min-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.40071"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="apgarscore_na_5_min"
                     type="apgarscore_na_5_min_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_40071"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="geboortegewicht-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.40060"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="geboortegewicht"
                     type="geboortegewicht_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_40060"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.80766"/>
      <xs:attribute name="comment" type="xs:string"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Zorginstelling OID - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="zorginstelling_oid_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10021">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10021"/>
      <xs:attribute name="value" type="xs:string"/>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="identifier"/>
      <xs:attribute name="root" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Zorginstelling AGB-ID - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="zorginstelling_agbid_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10022">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10022"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:union memberTypes="zorginstelling_agbid_1_datatype_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10022 empty_string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="identifier"/>
      <xs:attribute name="root" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>simpleType for valueDomain: Zorginstelling AGB-ID: identifier</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="zorginstelling_agbid_1_datatype_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10022">
      <xs:restriction base="xs:string">
         <xs:minLength value="8"/>
         <xs:maxLength value="8"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Zorginstelling LVR-ID - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="zorginstelling_lvrid_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10023">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10023"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:union memberTypes="zorginstelling_lvrid_1_datatype_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10023 empty_string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="identifier"/>
      <xs:attribute name="root" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>simpleType for valueDomain: Zorginstelling LVR-ID: identifier</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="zorginstelling_lvrid_1_datatype_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10023">
      <xs:restriction base="xs:string">
         <xs:minLength value="4"/>
         <xs:maxLength value="5"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Zorginstelling URA - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="zorginstelling_ura_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10024">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10024"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:union memberTypes="zorginstelling_ura_1_datatype_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10024 empty_string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="identifier"/>
      <xs:attribute name="root" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>simpleType for valueDomain: Zorginstelling URA: identifier</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="zorginstelling_ura_1_datatype_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10024">
      <xs:restriction base="xs:string">
         <xs:minLength value="8"/>
         <xs:maxLength value="8"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Naam zorginstelling - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="naam_zorginstelling_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10026">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10026"/>
      <xs:attribute name="value" type="xs:string"/>
      <xs:attribute name="datatype" type="ComplexDatatypes" default="complex"/>
      <xs:attribute name="root" type="xs:string"/>
      <xs:attribute name="unit" type="xs:string"/>
      <xs:attribute name="code" type="xs:string"/>
      <xs:attribute name="codeSystem" type="xs:string"/>
      <xs:attribute name="codeSystemName" type="xs:string"/>
      <xs:attribute name="codeSystemVersion" type="xs:string"/>
      <xs:attribute name="displayName" type="xs:string"/>
      <xs:attribute name="ordinal" type="xs:decimal"/>
      <xs:attribute name="originalText" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Straatnaam - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="straatnaam_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10032">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10032"/>
      <xs:attribute name="value" type="xs:string"/>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Huisnummer - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="huisnummer_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10033">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10033"/>
      <xs:attribute name="value" type="xs:string"/>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Huisletter/huisnummertoevoeging - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="huisletterhuisnummertoevoeging_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10034">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10034"/>
      <xs:attribute name="value" type="xs:string"/>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Postcode - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="postcode_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10041">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10041"/>
      <xs:attribute name="value" type="xs:string"/>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Plaatsnaam - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="plaatsnaam_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10036">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10036"/>
      <xs:attribute name="value" type="xs:string"/>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Gemeentenaam - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="gemeentenaam_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10037">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10037"/>
      <xs:attribute name="value" type="xs:string"/>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Land - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="land_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10038">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10038"/>
      <xs:attribute name="value" type="xs:string"/>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Adrestype - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="adrestype_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10039">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10039"/>
      <xs:attribute name="value" type="xs:string"/>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="code"/>
      <xs:attribute name="code" type="xs:string"/>
      <xs:attribute name="codeSystem" type="xs:string"/>
      <xs:attribute name="codeSystemName" type="xs:string"/>
      <xs:attribute name="codeSystemVersion" type="xs:string"/>
      <xs:attribute name="displayName" type="xs:string"/>
      <xs:attribute name="originalText" type="xs:string"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Type zorginstelling - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="type_zorginstelling_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10029">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10029"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:annotation>
                  <xs:documentation>valueSet/conceptList/concept</xs:documentation>
               </xs:annotation>
               <xs:enumeration value="">
                  <xs:annotation>
                     <xs:documentation>Empty</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="1">
                  <xs:annotation>
                     <xs:documentation>Huisartsenpraktijk</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="2">
                  <xs:annotation>
                     <xs:documentation>Verloskundigenpraktijk</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="3">
                  <xs:annotation>
                     <xs:documentation>Ziekenhuis</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="4">
                  <xs:annotation>
                     <xs:documentation>Echocentrum</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="5">
                  <xs:annotation>
                     <xs:documentation>Laboratorium</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="code"/>
      <xs:attribute name="code" type="xs:string"/>
      <xs:attribute name="codeSystem" type="xs:string"/>
      <xs:attribute name="codeSystemName" type="xs:string"/>
      <xs:attribute name="codeSystemVersion" type="xs:string"/>
      <xs:attribute name="displayName" type="xs:string"/>
      <xs:attribute name="originalText" type="xs:string"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Type zorginstelling (bij verwijzing) - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="type_zorginstelling_bij_verwijzing_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_82019">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.82019"/>
      <xs:attribute name="value" type="xs:string"/>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="code"/>
      <xs:attribute name="code" type="xs:string"/>
      <xs:attribute name="codeSystem" type="xs:string"/>
      <xs:attribute name="codeSystemName" type="xs:string"/>
      <xs:attribute name="codeSystemVersion" type="xs:string"/>
      <xs:attribute name="displayName" type="xs:string"/>
      <xs:attribute name="originalText" type="xs:string"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Burgerservicenummer - 1..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="burgerservicenummer_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10030">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10030"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:union memberTypes="burgerservicenummer_1_datatype_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10030 "/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="identifier"/>
      <xs:attribute name="root" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>simpleType for valueDomain: Burgerservicenummer: identifier</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="burgerservicenummer_1_datatype_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10030">
      <xs:restriction base="xs:string">
         <xs:minLength value="9"/>
         <xs:maxLength value="9"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Voornamen - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="voornamen_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10042">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10042"/>
      <xs:attribute name="value" type="xs:string"/>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Initialen - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="initialen_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_82359">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.82359"/>
      <xs:attribute name="value" type="xs:string"/>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Roepnaam - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="roepnaam_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_82360">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.82360"/>
      <xs:attribute name="value" type="xs:string"/>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Soort naam - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="soort_naam_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_82362">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.82362"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:annotation>
                  <xs:documentation>valueSet/conceptList/concept</xs:documentation>
               </xs:annotation>
               <xs:enumeration value="">
                  <xs:annotation>
                     <xs:documentation>Empty</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="1">
                  <xs:annotation>
                     <xs:documentation>Geslachtsnaam</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="2">
                  <xs:annotation>
                     <xs:documentation>Geslachtsnaam partner</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="code"/>
      <xs:attribute name="code" type="xs:string"/>
      <xs:attribute name="codeSystem" type="xs:string"/>
      <xs:attribute name="codeSystemName" type="xs:string"/>
      <xs:attribute name="codeSystemVersion" type="xs:string"/>
      <xs:attribute name="displayName" type="xs:string"/>
      <xs:attribute name="originalText" type="xs:string"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Voorvoegsel - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="voorvoegsel_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_82363">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.82363"/>
      <xs:attribute name="value" type="xs:string"/>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Achternaam - 1..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="achternaam_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10043">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10043"/>
      <xs:attribute name="value" type="xs:string"/>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Graviditeit - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="graviditeit_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_20010">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.20010"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:union memberTypes="graviditeit_1_datatype_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_20010 empty_string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="count"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>simpleType for valueDomain: Graviditeit: count</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="graviditeit_1_datatype_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_20010">
      <xs:restriction base="xs:nonNegativeInteger">
         <xs:minInclusive value="1"/>
         <xs:maxInclusive value="75"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Pariteit (vr deze zwangerschap) - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="pariteit_voor_deze_zwangerschap_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_20150">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.20150"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:union memberTypes="pariteit_voor_deze_zwangerschap_1_datatype_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_20150 empty_string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="count"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>simpleType for valueDomain: Pariteit (vr deze zwangerschap): count</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="pariteit_voor_deze_zwangerschap_1_datatype_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_20150">
      <xs:restriction base="xs:nonNegativeInteger">
         <xs:minInclusive value="0"/>
         <xs:maxInclusive value="30"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Wijze einde zwangerschap - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="wijze_einde_zwangerschap_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_80625">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.80625"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:annotation>
                  <xs:documentation>valueSet/conceptList/concept</xs:documentation>
               </xs:annotation>
               <xs:enumeration value="">
                  <xs:annotation>
                     <xs:documentation>Empty</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="1">
                  <xs:annotation>
                     <xs:documentation>Partus</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="2">
                  <xs:annotation>
                     <xs:documentation>Miskraam</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="3">
                  <xs:annotation>
                     <xs:documentation>Miskraam - Spontaan</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="4">
                  <xs:annotation>
                     <xs:documentation>Miskraam - Medicamenteus</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="5">
                  <xs:annotation>
                     <xs:documentation>Miskraam - Instrumenteel</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="6">
                  <xs:annotation>
                     <xs:documentation>APLA</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="7">
                  <xs:annotation>
                     <xs:documentation>APLA - Medicamenteus</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="8">
                  <xs:annotation>
                     <xs:documentation>APLA - Instrumenteel</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="9">
                  <xs:annotation>
                     <xs:documentation>EUG - behandeld</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="10">
                  <xs:annotation>
                     <xs:documentation>(partile) Mola - behandeld</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="11">
                  <xs:annotation>
                     <xs:documentation>geen informatie</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="code"/>
      <xs:attribute name="code" type="xs:string"/>
      <xs:attribute name="codeSystem" type="xs:string"/>
      <xs:attribute name="codeSystemName" type="xs:string"/>
      <xs:attribute name="codeSystemVersion" type="xs:string"/>
      <xs:attribute name="displayName" type="xs:string"/>
      <xs:attribute name="originalText" type="xs:string"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Datum einde zwangerschap - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="datum_einde_zwangerschap_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_20540">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.20540"/>
      <xs:attribute name="value" type="VariableVagueDateTime"/>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="datetime"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>simpleType for valueDomain: Datum einde zwangerschap: string</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="datum_einde_zwangerschap_1_datatype_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_20540">
      <xs:restriction base="xs:string"/>
   </xs:simpleType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Tijdstip begin actieve ontsluiting - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="tijdstip_begin_actieve_ontsluiting_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_20590">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.20590"/>
      <xs:attribute name="value" type="VariableVagueDateTime"/>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="datetime"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>simpleType for valueDomain: Tijdstip begin actieve ontsluiting: string</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="tijdstip_begin_actieve_ontsluiting_1_datatype_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_20590">
      <xs:restriction base="xs:string"/>
   </xs:simpleType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Duur actieve ontsluitingsfase (Ontsluitingsduur) - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="duur_actieve_ontsluitingsfase_ontsluitingsduur_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_82869">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.82869"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:union memberTypes="duur_actieve_ontsluitingsfase_ontsluitingsduur_1_datatype_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_82869 empty_string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="quantity"/>
      <xs:attribute name="unit">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:enumeration value="h"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>simpleType for valueDomain: Duur actieve ontsluitingsfase (Ontsluitingsduur): quantity</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="duur_actieve_ontsluitingsfase_ontsluitingsduur_1_datatype_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_82869">
      <xs:restriction base="xs:decimal">
         <xs:minInclusive value="0"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Duur uitdrijving vanaf actief meepersen - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="duur_uitdrijving_vanaf_actief_meepersen_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_82870">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.82870"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:union memberTypes="duur_uitdrijving_vanaf_actief_meepersen_1_datatype_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_82870 empty_string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="quantity"/>
      <xs:attribute name="unit">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:enumeration value="min"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>simpleType for valueDomain: Duur uitdrijving vanaf actief meepersen: quantity</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="duur_uitdrijving_vanaf_actief_meepersen_1_datatype_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_82870">
      <xs:restriction base="xs:decimal">
         <xs:minInclusive value="0"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Hoeveelheid bloedverlies - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="hoeveelheid_bloedverlies_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_20640">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.20640"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:union memberTypes="hoeveelheid_bloedverlies_1_datatype_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_20640 empty_string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="quantity"/>
      <xs:attribute name="unit">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:enumeration value="ml"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>simpleType for valueDomain: Hoeveelheid bloedverlies: quantity</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="hoeveelheid_bloedverlies_1_datatype_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_20640">
      <xs:restriction base="xs:decimal"/>
   </xs:simpleType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Conditie perineum postpartum - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="conditie_perineum_postpartum_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_80673">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.80673"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:annotation>
                  <xs:documentation>valueSet/conceptList/concept</xs:documentation>
               </xs:annotation>
               <xs:enumeration value="">
                  <xs:annotation>
                     <xs:documentation>Empty</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="1">
                  <xs:annotation>
                     <xs:documentation>Perineum intact  (finding)</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="2">
                  <xs:annotation>
                     <xs:documentation>First degree perineal tear during delivery - delivered (disorder)</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="3">
                  <xs:annotation>
                     <xs:documentation>Second degree perineal tear during delivery - delivered  (disorder)</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="4">
                  <xs:annotation>
                     <xs:documentation>Third degree perineal tear during delivery - delivered  (disorder)</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="5">
                  <xs:annotation>
                     <xs:documentation>Type 3a third degree laceration of perineum  (disorder)</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="6">
                  <xs:annotation>
                     <xs:documentation>Type 3b third degree laceration of perineum (disorder)</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="7">
                  <xs:annotation>
                     <xs:documentation>Type 3c third degree laceration of perineum (disorder)</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="8">
                  <xs:annotation>
                     <xs:documentation>Fourth degree perineal tear during delivery - delivered  (disorder)</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="9">
                  <xs:annotation>
                     <xs:documentation>Episiotomy wound  (morphologic abnormality)</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="10">
                  <xs:annotation>
                     <xs:documentation>Anders</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="11">
                  <xs:annotation>
                     <xs:documentation>Onbekend</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="12">
                  <xs:annotation>
                     <xs:documentation>Geen informatie</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="code"/>
      <xs:attribute name="code" type="xs:string"/>
      <xs:attribute name="codeSystem" type="xs:string"/>
      <xs:attribute name="codeSystemName" type="xs:string"/>
      <xs:attribute name="codeSystemVersion" type="xs:string"/>
      <xs:attribute name="displayName" type="xs:string"/>
      <xs:attribute name="originalText" type="xs:string"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Geboortedatum - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="geboortedatum_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_40050">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.40050"/>
      <xs:attribute name="value" type="VariableVagueDateTime"/>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="datetime"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>simpleType for valueDomain: Geboortedatum: string</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="geboortedatum_1_datatype_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_40050">
      <xs:restriction base="xs:string"/>
   </xs:simpleType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Tijdstip actief meepersen - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="tijdstip_actief_meepersen_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_30030">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.30030"/>
      <xs:attribute name="value" type="VariableVagueDateTime"/>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="datetime"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>simpleType for valueDomain: Tijdstip actief meepersen: string</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="tijdstip_actief_meepersen_1_datatype_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_30030">
      <xs:restriction base="xs:string"/>
   </xs:simpleType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Type partus - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="type_partus_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_80626">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.80626"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:annotation>
                  <xs:documentation>valueSet/conceptList/concept</xs:documentation>
               </xs:annotation>
               <xs:enumeration value="">
                  <xs:annotation>
                     <xs:documentation>Empty</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="1">
                  <xs:annotation>
                     <xs:documentation>Normal delivery procedure (procedure)</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="2">
                  <xs:annotation>
                     <xs:documentation>Assisted delivery of fetus (procedure)</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="3">
                  <xs:annotation>
                     <xs:documentation>Cesarean section (procedure)</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="4">
                  <xs:annotation>
                     <xs:documentation>Elective cesarian delivery (procedure)</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="5">
                  <xs:annotation>
                     <xs:documentation>Emergency cesarian section (procedure)</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="6">
                  <xs:annotation>
                     <xs:documentation>Termination of Pregnancy (TOP)</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="7">
                  <xs:annotation>
                     <xs:documentation>Medical termination of pregnancy using prostaglandin (procedure)</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="8">
                  <xs:annotation>
                     <xs:documentation>Postmortem cesarean section (procedure)</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="9">
                  <xs:annotation>
                     <xs:documentation>Overig</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="10">
                  <xs:annotation>
                     <xs:documentation>Geen informatie</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="code"/>
      <xs:attribute name="code" type="xs:string"/>
      <xs:attribute name="codeSystem" type="xs:string"/>
      <xs:attribute name="codeSystemName" type="xs:string"/>
      <xs:attribute name="codeSystemVersion" type="xs:string"/>
      <xs:attribute name="displayName" type="xs:string"/>
      <xs:attribute name="originalText" type="xs:string"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Zwangerschapsduur - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="zwangerschapsduur_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_20062">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.20062"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:union memberTypes="zwangerschapsduur_1_datatype_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_20062 empty_string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="quantity"/>
      <xs:attribute name="unit">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:enumeration value="d"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>simpleType for valueDomain: Zwangerschapsduur: quantity</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="zwangerschapsduur_1_datatype_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_20062">
      <xs:restriction base="xs:decimal">
         <xs:minInclusive value="0"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Vaginale kunstverlossing - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="vaginale_kunstverlossing_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_40190">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.40190"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:annotation>
                  <xs:documentation>valueSet/conceptList/concept</xs:documentation>
               </xs:annotation>
               <xs:enumeration value="">
                  <xs:annotation>
                     <xs:documentation>Empty</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="1">
                  <xs:annotation>
                     <xs:documentation>Forceps delivery (procedure)</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="2">
                  <xs:annotation>
                     <xs:documentation>Delivery by vacuum extraction (procedure)</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="3">
                  <xs:annotation>
                     <xs:documentation>Obstetrical version with extraction (procedure)</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="4">
                  <xs:annotation>
                     <xs:documentation>Partial breech extraction (procedure)</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="5">
                  <xs:annotation>
                     <xs:documentation>Total breech extraction (procedure)</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="6">
                  <xs:annotation>
                     <xs:documentation>anders</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="7">
                  <xs:annotation>
                     <xs:documentation>geen informatie</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="code"/>
      <xs:attribute name="code" type="xs:string"/>
      <xs:attribute name="codeSystem" type="xs:string"/>
      <xs:attribute name="codeSystemName" type="xs:string"/>
      <xs:attribute name="codeSystemVersion" type="xs:string"/>
      <xs:attribute name="displayName" type="xs:string"/>
      <xs:attribute name="originalText" type="xs:string"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Apgarscore na 5 min. - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="apgarscore_na_5_min_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_40071">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.40071"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:union memberTypes="apgarscore_na_5_min_1_datatype_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_40071 empty_string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="count"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>simpleType for valueDomain: Apgarscore na 5 min.: count</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="apgarscore_na_5_min_1_datatype_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_40071">
      <xs:restriction base="xs:nonNegativeInteger">
         <xs:minInclusive value="0"/>
         <xs:maxInclusive value="10"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Geboortegewicht - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="geboortegewicht_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_40060">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.40060"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:union memberTypes="geboortegewicht_1_datatype_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_40060 empty_string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="quantity"/>
      <xs:attribute name="unit">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:enumeration value="gram"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>simpleType for valueDomain: Geboortegewicht: quantity</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="geboortegewicht_1_datatype_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_40060">
      <xs:restriction base="xs:decimal">
         <xs:minInclusive value="0"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="adaextension_type">
      <xs:sequence>
         <xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:anyAttribute processContents="skip"/>
   </xs:complexType>
   <xs:simpleType name="NullFlavorNoInformation">
      <xs:restriction base="xs:string">
         <xs:enumeration value=""/>
         <xs:enumeration value="NI"/>
         <xs:enumeration value="UNK"/>
         <xs:enumeration value="OTH"/>
         <xs:enumeration value="MSK"/>
         <xs:enumeration value="UNC"/>
         <xs:enumeration value="NA"/>
         <xs:enumeration value="NAV"/>
         <xs:enumeration value="ASKU"/>
         <xs:enumeration value="NASK"/>
         <xs:enumeration value="INV"/>
         <xs:enumeration value="DER"/>
         <xs:enumeration value="NINF"/>
         <xs:enumeration value="PINF"/>
         <xs:enumeration value="QS"/>
         <xs:enumeration value="TRC"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="ComplexDatatypes">
      <xs:restriction base="xs:string">
         <xs:enumeration value="string"/>
         <xs:enumeration value="code"/>
         <xs:enumeration value="identifier"/>
         <xs:enumeration value="date"/>
         <xs:enumeration value="datetime"/>
         <xs:enumeration value="time"/>
         <xs:enumeration value="quantity"/>
         <xs:enumeration value="duration"/>
         <xs:enumeration value="boolean"/>
         <xs:enumeration value="count"/>
         <xs:enumeration value="ordinal"/>
         <xs:enumeration value="text"/>
         <xs:enumeration value="decimal"/>
         <xs:enumeration value="blob"/>
         <xs:enumeration value="complex"/>
         <xs:enumeration value="reference"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="VariableDate">
      <xs:union memberTypes="xs:date RelativeDate"/>
   </xs:simpleType>
   <xs:simpleType name="VariableDateTime">
      <xs:union memberTypes="xs:dateTime xs:date RelativeDateTime RelativeDate"/>
   </xs:simpleType>
   <xs:simpleType name="VariableVagueDate">
      <xs:union memberTypes="xs:date RelativeDate DateYearOptionalMonthNoDays"/>
   </xs:simpleType>
   <xs:simpleType name="VariableVagueDateTime">
      <xs:union memberTypes="xs:dateTime xs:date RelativeDateTime DateYearOptionalMonthNoDays DateTimeOptionalMinutesSeconds"/>
   </xs:simpleType>
   <xs:simpleType name="VagueDate">
      <xs:union memberTypes="xs:date DateYearOptionalMonthNoDays"/>
   </xs:simpleType>
   <xs:simpleType name="VagueDateTime">
      <xs:union memberTypes="xs:dateTime xs:date DateYearOptionalMonthNoDays DateTimeOptionalMinutesSeconds"/>
   </xs:simpleType>
   <xs:simpleType name="RelativeDate">
      <xs:restriction base="xs:string">
         <xs:pattern value="T([+\-]\d+(\.\d+)?[YMD])?"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="RelativeDateTime">
      <xs:restriction base="xs:string">
         <xs:pattern value="T(([+\-]\d+(\.\d+)?[YMD])?(\{([01]\d|2[0-3]):(0\d|[1-5]\d)(:(0\d|[1-5]\d))?\})?)?"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="DateYear">
      <xs:restriction base="xs:string">
         <xs:pattern value="\d{4}"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="DateYearMonth">
      <xs:restriction base="xs:string">
         <xs:pattern value="\d{4}-(0[1-9]|1[012])"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="DateYearOptionalMonthNoDays">
      <xs:restriction base="xs:string">
         <xs:pattern value="\d{4}(-(0[1-9]|1[012]))?"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="DateTimeOptionalMinutesSeconds">
      <xs:restriction base="xs:string">
         <xs:pattern value="\d{4}-(0[1-9]|1[012])-(0[1-9]|[12]\d|3[01])T([01]\d|2[0-3])(:(0\d|[1-5]\d)(:(0\d|[1-5]\d))?)?"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
