ada_2_fhir/geboortezorg/2.3/prio1_huidige_zwangerschap/ada_schemas/prio1_huidige_zwangerschap_draft.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:annotation>
      <xs:documentation>Schema for transaction: 2.16.840.1.113883.2.4.3.11.60.90.77.4.2493</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="empty_string">
      <xs:annotation>
         <xs:documentation>Type for empty value-strings on non-mandatory concepts</xs:documentation>
      </xs:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="0"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:element name="prio1_huidige_zwangerschap"
               type="prio1_huidige_zwangerschap_type"/>
   <xs:complexType name="prio1_huidige_zwangerschap_type">
      <xs:sequence>
         <xs:element name="zorgverlenerzorginstelling-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.1"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="zorgverlenerzorginstelling"
                     type="zorgverlenerzorginstelling_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_1"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="vrouw-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.2"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="vrouw"
                     type="vrouw_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_2"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="zwangerschap-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.3"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="zwangerschap"
                     type="zwangerschap_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_3"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="medisch_onderzoek-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.14"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="medisch_onderzoek"
                     type="medisch_onderzoek_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_14"
                     minOccurs="0"
                     maxOccurs="unbounded"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:string"/>
      <xs:attribute name="app" type="xs:string"/>
      <xs:attribute name="shortName" type="xs:string"/>
      <xs:attribute name="formName" type="xs:string"/>
      <xs:attribute name="transactionRef" type="xs:string"/>
      <xs:attribute name="transactionEffectiveDate" type="xs:dateTime"/>
      <xs:attribute name="versionDate" type="xs:string"/>
      <xs:attribute name="language" type="xs:string"/>
      <xs:attribute name="prefix" type="xs:string"/>
      <xs:attribute name="adaVersion" type="xs:decimal"/>
      <xs:attribute name="title" type="xs:string"/>
      <xs:attribute name="desc" type="xs:string"/>
      <xs:attribute name="rights" type="xs:string"/>
      <xs:attribute name="owner" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="zorgverlenerzorginstelling_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_1">
      <xs:annotation>
         <xs:documentation>Type for concept group: Zorgverlener/Zorginstelling</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="zorginstelling-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10020"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="zorginstelling"
                     type="zorginstelling_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10020"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.1"/>
      <xs:attribute name="comment" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="zorginstelling_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10020">
      <xs:annotation>
         <xs:documentation>Type for concept group: Zorginstelling</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="zorginstelling_oid-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10021"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="zorginstelling_oid"
                     type="zorginstelling_oid_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10021"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="zorginstelling_agbid-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10022"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="zorginstelling_agbid"
                     type="zorginstelling_agbid_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10022"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="zorginstelling_lvrid-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10023"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="zorginstelling_lvrid"
                     type="zorginstelling_lvrid_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10023"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="zorginstelling_ura-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10024"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="zorginstelling_ura"
                     type="zorginstelling_ura_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10024"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="naam_zorginstelling-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10026"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="naam_zorginstelling"
                     type="naam_zorginstelling_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10026"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="adres_zorginstelling-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10027"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adres_zorginstelling"
                     type="adres_zorginstelling_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10027"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="type_zorginstelling-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10029"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="type_zorginstelling"
                     type="type_zorginstelling_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10029"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="type_zorginstelling_bij_verwijzing-start"
                     minOccurs="0"
                     maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.82019"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="type_zorginstelling_bij_verwijzing"
                     type="type_zorginstelling_bij_verwijzing_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_82019"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10020"/>
      <xs:attribute name="comment" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="adres_zorginstelling_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10027">
      <xs:annotation>
         <xs:documentation>Type for concept group: Adres zorginstelling</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="straatnaam-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10032"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="straatnaam"
                     type="straatnaam_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10032"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="huisnummer-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10033"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="huisnummer"
                     type="huisnummer_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10033"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="huisletterhuisnummertoevoeging-start"
                     minOccurs="0"
                     maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10034"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="huisletterhuisnummertoevoeging"
                     type="huisletterhuisnummertoevoeging_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10034"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="postcode-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10041"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="postcode"
                     type="postcode_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10041"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="plaatsnaam-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10036"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="plaatsnaam"
                     type="plaatsnaam_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10036"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="gemeentenaam-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10037"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="gemeentenaam"
                     type="gemeentenaam_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10037"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="land-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10038"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="land"
                     type="land_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10038"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="adrestype-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10039"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adrestype"
                     type="adrestype_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10039"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10027"/>
      <xs:attribute name="comment" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="vrouw_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_2">
      <xs:annotation>
         <xs:documentation>Type for concept group: Vrouw</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="burgerservicenummer-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10030"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="burgerservicenummer"
                     type="burgerservicenummer_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10030"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="naamgegevens-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10035"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="naamgegevens"
                     type="naamgegevens_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10035"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="bloedgroep_vrouw-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10810"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="bloedgroep_vrouw"
                     type="bloedgroep_vrouw_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10810"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="rhesus_d_factor_vrouw-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10811"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="rhesus_d_factor_vrouw"
                     type="rhesus_d_factor_vrouw_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10811"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="rhesus_c_factor-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10816"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="rhesus_c_factor"
                     type="rhesus_c_factor_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10816"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.2"/>
      <xs:attribute name="comment" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="naamgegevens_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10035">
      <xs:annotation>
         <xs:documentation>Type for concept group: Naamgegevens</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="voornamen-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10042"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="voornamen"
                     type="voornamen_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10042"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="initialen-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.82359"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="initialen"
                     type="initialen_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_82359"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="roepnaam-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.82360"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="roepnaam"
                     type="roepnaam_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_82360"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="achternaam-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.82361"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="achternaam"
                     type="achternaam_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_82361"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10035"/>
      <xs:attribute name="comment" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="achternaam_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_82361">
      <xs:annotation>
         <xs:documentation>Type for concept group: Achternaam</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="soort_naam-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.82362"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="soort_naam"
                     type="soort_naam_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_82362"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="voorvoegsel-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.82363"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="voorvoegsel"
                     type="voorvoegsel_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_82363"
                     minOccurs="0"
                     maxOccurs="1"/>
         <xs:element name="achternaam-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10043"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="achternaam"
                     type="achternaam_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10043"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.82361"/>
      <xs:attribute name="comment" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="zwangerschap_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_3">
      <xs:annotation>
         <xs:documentation>Type for concept group: Zwangerschap</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="graviditeit-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.20010"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="graviditeit"
                     type="graviditeit_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_20010"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="pariteit-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.20153"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="pariteit"
                     type="pariteit_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_20153"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="a_terme_datum_groep-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.20029"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="a_terme_datum_groep"
                     type="a_terme_datum_groep_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_20029"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.3"/>
      <xs:attribute name="comment" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="a_terme_datum_groep_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_20029">
      <xs:annotation>
         <xs:documentation>Type for concept group: A terme datum (groep)</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="a_terme_datum-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.20030"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="a_terme_datum"
                     type="a_terme_datum_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_20030"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.20029"/>
      <xs:attribute name="comment" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="medisch_onderzoek_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_14">
      <xs:annotation>
         <xs:documentation>Type for concept group: Medisch onderzoek</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="datum_onderzoek-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.50020"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="datum_onderzoek"
                     type="datum_onderzoek_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_50020"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="maternale_onderzoeksgegevens-start"
                     minOccurs="0"
                     maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.142"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="maternale_onderzoeksgegevens"
                     type="maternale_onderzoeksgegevens_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_142"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.14"/>
      <xs:attribute name="comment" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="maternale_onderzoeksgegevens_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_142">
      <xs:annotation>
         <xs:documentation>Type for concept group: Maternale onderzoeksgegevens</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="urine_bloed_en_aanvullende_onderzoeken-start"
                     minOccurs="0"
                     maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.80959"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="urine_bloed_en_aanvullende_onderzoeken"
                     type="urine_bloed_en_aanvullende_onderzoeken_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_80959"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.142"/>
      <xs:attribute name="comment" type="xs:string"/>
   </xs:complexType>
   <xs:complexType name="urine_bloed_en_aanvullende_onderzoeken_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_80959">
      <xs:annotation>
         <xs:documentation>Type for concept group: Urine-, bloed- en aanvullende onderzoeken</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="hb-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10814"/>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="hb"
                     type="hb_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10814"
                     minOccurs="1"
                     maxOccurs="1"/>
         <xs:element name="adaextension-start" minOccurs="0" maxOccurs="1">
            <xs:complexType>
               <xs:attribute name="hidden" fixed="true"/>
            </xs:complexType>
         </xs:element>
         <xs:element name="adaextension"
                     type="adaextension_type"
                     minOccurs="0"
                     maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.80959"/>
      <xs:attribute name="comment" type="xs:string"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Zorginstelling OID - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="zorginstelling_oid_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10021">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10021"/>
      <xs:attribute name="value" type="xs:string"/>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="identifier"/>
      <xs:attribute name="root" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Zorginstelling AGB-ID - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="zorginstelling_agbid_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10022">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10022"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:union memberTypes="zorginstelling_agbid_1_datatype_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10022 empty_string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="identifier"/>
      <xs:attribute name="root" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>simpleType for valueDomain: Zorginstelling AGB-ID: identifier</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="zorginstelling_agbid_1_datatype_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10022">
      <xs:restriction base="xs:string">
         <xs:minLength value="8"/>
         <xs:maxLength value="8"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Zorginstelling LVR-ID - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="zorginstelling_lvrid_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10023">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10023"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:union memberTypes="zorginstelling_lvrid_1_datatype_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10023 empty_string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="identifier"/>
      <xs:attribute name="root" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>simpleType for valueDomain: Zorginstelling LVR-ID: identifier</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="zorginstelling_lvrid_1_datatype_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10023">
      <xs:restriction base="xs:string">
         <xs:minLength value="4"/>
         <xs:maxLength value="5"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Zorginstelling URA - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="zorginstelling_ura_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10024">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10024"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:union memberTypes="zorginstelling_ura_1_datatype_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10024 empty_string"/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="identifier"/>
      <xs:attribute name="root" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>simpleType for valueDomain: Zorginstelling URA: identifier</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="zorginstelling_ura_1_datatype_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10024">
      <xs:restriction base="xs:string">
         <xs:minLength value="8"/>
         <xs:maxLength value="8"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Naam zorginstelling - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="naam_zorginstelling_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10026">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10026"/>
      <xs:attribute name="value" type="xs:string"/>
      <xs:attribute name="datatype" type="ComplexDatatypes" default="complex"/>
      <xs:attribute name="root" type="xs:string"/>
      <xs:attribute name="unit" type="xs:string"/>
      <xs:attribute name="code" type="xs:string"/>
      <xs:attribute name="codeSystem" type="xs:string"/>
      <xs:attribute name="codeSystemName" type="xs:string"/>
      <xs:attribute name="codeSystemVersion" type="xs:string"/>
      <xs:attribute name="displayName" type="xs:string"/>
      <xs:attribute name="ordinal" type="xs:decimal"/>
      <xs:attribute name="originalText" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Straatnaam - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="straatnaam_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10032">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10032"/>
      <xs:attribute name="value" type="xs:string"/>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Huisnummer - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="huisnummer_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10033">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10033"/>
      <xs:attribute name="value" type="xs:string"/>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Huisletter/huisnummertoevoeging - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="huisletterhuisnummertoevoeging_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10034">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10034"/>
      <xs:attribute name="value" type="xs:string"/>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Postcode - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="postcode_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10041">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10041"/>
      <xs:attribute name="value" type="xs:string"/>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Plaatsnaam - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="plaatsnaam_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10036">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10036"/>
      <xs:attribute name="value" type="xs:string"/>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Gemeentenaam - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="gemeentenaam_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10037">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10037"/>
      <xs:attribute name="value" type="xs:string"/>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Land - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="land_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10038">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10038"/>
      <xs:attribute name="value" type="xs:string"/>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Adrestype - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="adrestype_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10039">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10039"/>
      <xs:attribute name="value" type="xs:string"/>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="code"/>
      <xs:attribute name="code" type="xs:string"/>
      <xs:attribute name="codeSystem" type="xs:string"/>
      <xs:attribute name="codeSystemName" type="xs:string"/>
      <xs:attribute name="codeSystemVersion" type="xs:string"/>
      <xs:attribute name="displayName" type="xs:string"/>
      <xs:attribute name="originalText" type="xs:string"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Type zorginstelling - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="type_zorginstelling_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10029">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10029"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:annotation>
                  <xs:documentation>valueSet/conceptList/concept</xs:documentation>
               </xs:annotation>
               <xs:enumeration value="">
                  <xs:annotation>
                     <xs:documentation>Empty</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="1">
                  <xs:annotation>
                     <xs:documentation>Huisartsenpraktijk</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="2">
                  <xs:annotation>
                     <xs:documentation>Verloskundigenpraktijk</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="3">
                  <xs:annotation>
                     <xs:documentation>Ziekenhuis</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="4">
                  <xs:annotation>
                     <xs:documentation>Echocentrum</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="5">
                  <xs:annotation>
                     <xs:documentation>Laboratorium</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="code"/>
      <xs:attribute name="code" type="xs:string"/>
      <xs:attribute name="codeSystem" type="xs:string"/>
      <xs:attribute name="codeSystemName" type="xs:string"/>
      <xs:attribute name="codeSystemVersion" type="xs:string"/>
      <xs:attribute name="displayName" type="xs:string"/>
      <xs:attribute name="originalText" type="xs:string"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Type zorginstelling (bij verwijzing) - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="type_zorginstelling_bij_verwijzing_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_82019">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.82019"/>
      <xs:attribute name="value" type="xs:string"/>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="code"/>
      <xs:attribute name="code" type="xs:string"/>
      <xs:attribute name="codeSystem" type="xs:string"/>
      <xs:attribute name="codeSystemName" type="xs:string"/>
      <xs:attribute name="codeSystemVersion" type="xs:string"/>
      <xs:attribute name="displayName" type="xs:string"/>
      <xs:attribute name="originalText" type="xs:string"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Burgerservicenummer - 1..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="burgerservicenummer_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10030">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10030"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:union memberTypes="burgerservicenummer_1_datatype_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10030 "/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="identifier"/>
      <xs:attribute name="root" type="xs:string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>simpleType for valueDomain: Burgerservicenummer: identifier</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="burgerservicenummer_1_datatype_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10030">
      <xs:restriction base="xs:string">
         <xs:minLength value="9"/>
         <xs:maxLength value="9"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Voornamen - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="voornamen_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10042">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10042"/>
      <xs:attribute name="value" type="xs:string"/>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Initialen - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="initialen_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_82359">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.82359"/>
      <xs:attribute name="value" type="xs:string"/>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Roepnaam - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="roepnaam_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_82360">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.82360"/>
      <xs:attribute name="value" type="xs:string"/>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Soort naam - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="soort_naam_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_82362">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.82362"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:annotation>
                  <xs:documentation>valueSet/conceptList/concept</xs:documentation>
               </xs:annotation>
               <xs:enumeration value="">
                  <xs:annotation>
                     <xs:documentation>Empty</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="1">
                  <xs:annotation>
                     <xs:documentation>Geslachtsnaam</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="2">
                  <xs:annotation>
                     <xs:documentation>Geslachtsnaam partner</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="code"/>
      <xs:attribute name="code" type="xs:string"/>
      <xs:attribute name="codeSystem" type="xs:string"/>
      <xs:attribute name="codeSystemName" type="xs:string"/>
      <xs:attribute name="codeSystemVersion" type="xs:string"/>
      <xs:attribute name="displayName" type="xs:string"/>
      <xs:attribute name="originalText" type="xs:string"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Voorvoegsel - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="voorvoegsel_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_82363">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.82363"/>
      <xs:attribute name="value" type="xs:string"/>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Achternaam - 1..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="achternaam_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10043">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10043"/>
      <xs:attribute name="value" type="xs:string"/>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="string"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Bloedgroep vrouw - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="bloedgroep_vrouw_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10810">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10810"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:annotation>
                  <xs:documentation>valueSet/conceptList/concept</xs:documentation>
               </xs:annotation>
               <xs:enumeration value="">
                  <xs:annotation>
                     <xs:documentation>Empty</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="1">
                  <xs:annotation>
                     <xs:documentation>Blood group A (finding)</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="2">
                  <xs:annotation>
                     <xs:documentation>Blood group B (finding)</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="3">
                  <xs:annotation>
                     <xs:documentation>Blood group AB (finding)</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="4">
                  <xs:annotation>
                     <xs:documentation>Blood group O (finding)</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="5">
                  <xs:annotation>
                     <xs:documentation>Onbekend</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="6">
                  <xs:annotation>
                     <xs:documentation>Geen informatie</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="code"/>
      <xs:attribute name="code" type="xs:string"/>
      <xs:attribute name="codeSystem" type="xs:string"/>
      <xs:attribute name="codeSystemName" type="xs:string"/>
      <xs:attribute name="codeSystemVersion" type="xs:string"/>
      <xs:attribute name="displayName" type="xs:string"/>
      <xs:attribute name="originalText" type="xs:string"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Rhesus D Factor vrouw - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="rhesus_d_factor_vrouw_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10811">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10811"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:annotation>
                  <xs:documentation>valueSet/conceptList/concept</xs:documentation>
               </xs:annotation>
               <xs:enumeration value="">
                  <xs:annotation>
                     <xs:documentation>Empty</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="1">
                  <xs:annotation>
                     <xs:documentation>Rh D Positief</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="2">
                  <xs:annotation>
                     <xs:documentation>Rh D Negatief</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="3">
                  <xs:annotation>
                     <xs:documentation>onbekend</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="4">
                  <xs:annotation>
                     <xs:documentation>geen informatie</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="code"/>
      <xs:attribute name="code" type="xs:string"/>
      <xs:attribute name="codeSystem" type="xs:string"/>
      <xs:attribute name="codeSystemName" type="xs:string"/>
      <xs:attribute name="codeSystemVersion" type="xs:string"/>
      <xs:attribute name="displayName" type="xs:string"/>
      <xs:attribute name="originalText" type="xs:string"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Rhesus c Factor - 0..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="rhesus_c_factor_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10816">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10816"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:annotation>
                  <xs:documentation>valueSet/conceptList/concept</xs:documentation>
               </xs:annotation>
               <xs:enumeration value="">
                  <xs:annotation>
                     <xs:documentation>Empty</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="1">
                  <xs:annotation>
                     <xs:documentation>Rhc positive (finding)</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="2">
                  <xs:annotation>
                     <xs:documentation>Rhc negative (finding)</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
               <xs:enumeration value="3">
                  <xs:annotation>
                     <xs:documentation>Geen informatie</xs:documentation>
                  </xs:annotation>
               </xs:enumeration>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="code"/>
      <xs:attribute name="code" type="xs:string"/>
      <xs:attribute name="codeSystem" type="xs:string"/>
      <xs:attribute name="codeSystemName" type="xs:string"/>
      <xs:attribute name="codeSystemVersion" type="xs:string"/>
      <xs:attribute name="displayName" type="xs:string"/>
      <xs:attribute name="originalText" type="xs:string"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Graviditeit - 1..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="graviditeit_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_20010">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.20010"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:union memberTypes="graviditeit_1_datatype_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_20010 "/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="count"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>simpleType for valueDomain: Graviditeit: count</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="graviditeit_1_datatype_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_20010">
      <xs:restriction base="xs:nonNegativeInteger">
         <xs:minInclusive value="1"/>
         <xs:maxInclusive value="75"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Pariteit - 1..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="pariteit_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_20153">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.20153"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:union memberTypes="pariteit_1_datatype_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_20153 "/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="count"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>simpleType for valueDomain: Pariteit: count</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="pariteit_1_datatype_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_20153">
      <xs:restriction base="xs:nonNegativeInteger">
         <xs:minInclusive value="0"/>
         <xs:maxInclusive value="30"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:annotation>
      <xs:documentation>Type for concept item: A terme datum - 1..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="a_terme_datum_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_20030">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.20030"/>
      <xs:attribute name="value" type="VariableDate"/>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="datetime"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>simpleType for valueDomain: A terme datum: string</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="a_terme_datum_1_datatype_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_20030">
      <xs:restriction base="xs:string"/>
   </xs:simpleType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Datum onderzoek - 1..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="datum_onderzoek_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_50020">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.50020"/>
      <xs:attribute name="value" type="VariableVagueDateTime"/>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="datetime"/>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>simpleType for valueDomain: Datum onderzoek: string</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="datum_onderzoek_1_datatype_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_50020">
      <xs:restriction base="xs:string"/>
   </xs:simpleType>
   <xs:annotation>
      <xs:documentation>Type for concept item: Hb - 1..1 R</xs:documentation>
   </xs:annotation>
   <xs:complexType name="hb_type_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10814">
      <xs:attribute name="conceptId" fixed="2.16.840.1.113883.2.4.3.11.60.90.77.2.6.10814"/>
      <xs:attribute name="value">
         <xs:simpleType>
            <xs:union memberTypes="hb_1_datatype_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10814 "/>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="datatype" type="ComplexDatatypes" fixed="quantity"/>
      <xs:attribute name="unit">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:enumeration value="mmol/L"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="nullFlavor" type="NullFlavorNoInformation"/>
   </xs:complexType>
   <xs:annotation>
      <xs:documentation>simpleType for valueDomain: Hb: quantity</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="hb_1_datatype_2_16_840_1_113883_2_4_3_11_60_90_77_2_6_10814">
      <xs:restriction base="xs:decimal">
         <xs:minInclusive value="0"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="adaextension_type">
      <xs:sequence>
         <xs:any processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:anyAttribute processContents="skip"/>
   </xs:complexType>
   <xs:simpleType name="NullFlavorNoInformation">
      <xs:restriction base="xs:string">
         <xs:enumeration value=""/>
         <xs:enumeration value="NI"/>
         <xs:enumeration value="UNK"/>
         <xs:enumeration value="OTH"/>
         <xs:enumeration value="MSK"/>
         <xs:enumeration value="UNC"/>
         <xs:enumeration value="NA"/>
         <xs:enumeration value="NAV"/>
         <xs:enumeration value="ASKU"/>
         <xs:enumeration value="NASK"/>
         <xs:enumeration value="INV"/>
         <xs:enumeration value="DER"/>
         <xs:enumeration value="NINF"/>
         <xs:enumeration value="PINF"/>
         <xs:enumeration value="QS"/>
         <xs:enumeration value="TRC"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="ComplexDatatypes">
      <xs:restriction base="xs:string">
         <xs:enumeration value="string"/>
         <xs:enumeration value="code"/>
         <xs:enumeration value="identifier"/>
         <xs:enumeration value="date"/>
         <xs:enumeration value="datetime"/>
         <xs:enumeration value="time"/>
         <xs:enumeration value="quantity"/>
         <xs:enumeration value="duration"/>
         <xs:enumeration value="boolean"/>
         <xs:enumeration value="count"/>
         <xs:enumeration value="ordinal"/>
         <xs:enumeration value="text"/>
         <xs:enumeration value="decimal"/>
         <xs:enumeration value="blob"/>
         <xs:enumeration value="complex"/>
         <xs:enumeration value="reference"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="VariableDate">
      <xs:union memberTypes="xs:date RelativeDate"/>
   </xs:simpleType>
   <xs:simpleType name="VariableDateTime">
      <xs:union memberTypes="xs:dateTime xs:date RelativeDateTime RelativeDate"/>
   </xs:simpleType>
   <xs:simpleType name="VariableVagueDate">
      <xs:union memberTypes="xs:date RelativeDate DateYearOptionalMonthNoDays"/>
   </xs:simpleType>
   <xs:simpleType name="VariableVagueDateTime">
      <xs:union memberTypes="xs:dateTime xs:date RelativeDateTime DateYearOptionalMonthNoDays DateTimeOptionalMinutesSeconds"/>
   </xs:simpleType>
   <xs:simpleType name="VagueDate">
      <xs:union memberTypes="xs:date DateYearOptionalMonthNoDays"/>
   </xs:simpleType>
   <xs:simpleType name="VagueDateTime">
      <xs:union memberTypes="xs:dateTime xs:date DateYearOptionalMonthNoDays DateTimeOptionalMinutesSeconds"/>
   </xs:simpleType>
   <xs:simpleType name="RelativeDate">
      <xs:restriction base="xs:string">
         <xs:pattern value="T([+\-]\d+(\.\d+)?[YMD])?"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="RelativeDateTime">
      <xs:restriction base="xs:string">
         <xs:pattern value="T(([+\-]\d+(\.\d+)?[YMD])?(\{([01]\d|2[0-3]):(0\d|[1-5]\d)(:(0\d|[1-5]\d))?\})?)?"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="DateYear">
      <xs:restriction base="xs:string">
         <xs:pattern value="\d{4}"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="DateYearMonth">
      <xs:restriction base="xs:string">
         <xs:pattern value="\d{4}-(0[1-9]|1[012])"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="DateYearOptionalMonthNoDays">
      <xs:restriction base="xs:string">
         <xs:pattern value="\d{4}(-(0[1-9]|1[012]))?"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="DateTimeOptionalMinutesSeconds">
      <xs:restriction base="xs:string">
         <xs:pattern value="\d{4}-(0[1-9]|1[012])-(0[1-9]|[12]\d|3[01])T([01]\d|2[0-3])(:(0\d|[1-5]\d)(:(0\d|[1-5]\d))?)?"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
