ada_2_hl7/mp-lab/hl7_schemas_flat/COCT_MT230100UV_ext_pharmacy.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema elementFormDefault="qualified" targetNamespace="urn:ihe:pharm:medication" xmlns="urn:ihe:pharm:medication" xmlns:ex="urn:h7-org/v3-example" xmlns:hl7="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <!--
*****************************************************************************************************************
* XML schema for message type COCT_MT230100UV.
* Source information:
*     Rendered by: Visio to MIF transform
*     Rendered on: 
* 
*
* Generated by XMLITS version 3.2.4
*   MIF to XSD Transform $Id: StaticMifToXsd.xsl 8126 2009-08-06 21:22:20Z wbeeler $
*     Package Id Conversion: $Id: TransformPackageIds.xsl 7375 2009-01-26 19:26:53Z wbeeler $
*
* Copyright (c) 2002, 2003, 2004, 2005, 2006, 2007 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  -->
    <xs:annotation>
        <xs:documentation>Generated using schema builder version 3.2.4. Stylesheets:  StaticMifToXsd.xsl version 2.0</xs:documentation>
    </xs:annotation>
    <!-- This include is modified to account for the fact that in the CDA schema infrastrcutureRoot has a defined
      target namespace of "urn:hl7-org:v3". This requires the include to be substituted with an import, and an explicit
      include for datatypes.xsd to be added
   <xs:include schemaLocation="../coreschemas/infrastructureRoot.xsd"/>
   -->
    <xs:import namespace="urn:hl7-org:v3" schemaLocation="infrastructureRoot.xsd"/>
    <xs:import namespace="urn:hl7-org:v3" schemaLocation="datatypes.xsd"/>
    <!--
*****************************************************************************************************************
* XML schema for message type COCT_MT440001UV.
* Source information:
*     Rendered by: Visio to MIF transform
*     Rendered on: 
* 
*
* Generated by XMLITS version 3.2.4
*   MIF to XSD Transform $Id: StaticMifToXsd.xsl 8126 2009-08-06 21:22:20Z wbeeler $
*     Package Id Conversion: $Id: TransformPackageIds.xsl 7375 2009-01-26 19:26:53Z wbeeler $
*
* Copyright (c) 2002, 2003, 2004, 2005, 2006, 2007 Health Level Seven. All rights reserved.
*  Redistribution and use in source and binary forms, with or without
*  modification, are permitted provided that the following conditions
*  are met:
*  1. Redistributions of source code must retain the above copyright
*     notice, this list of conditions and the following disclaimer.
*  2. Redistributions in binary form must reproduce the above copyright
*     notice, this list of conditions and the following disclaimer in the
*     documentation and/or other materials provided with the distribution.
*  3. All advertising materials mentioning features or use of this software
*     must display the following acknowledgement:
*       This product includes software developed by Health Level Seven.
*  THIS SOFTWARE IS PROVIDED BY HEALTH LEVEL SEVEN, INC. AND CONTRIBUTORS "AS IS" AND
*  ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
*  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
*  ARE DISCLAIMED.  IN NO EVENT SHALL THE REGENTS OR CONTRIBUTORS BE LIABLE
*  FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
*  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS
*  OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
*  HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT
*  LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY
*  OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF
*  SUCH DAMAGE.
*
********************************************************************************************************************
	  -->
    <xs:annotation xmlns:ex="urn:hl7-org/v3-example">
        <xs:documentation>Generated using schema builder version 3.2.4. Stylesheets:  StaticMifToXsd.xsl version 2.0</xs:documentation>
    </xs:annotation>
    <!-- This include is modified to account for the fact that in the CDA schema infrastrcutureRoot has a defined
      target namespace of "urn:hl7-org:v3". This requires the include to be substituted with an import, and an explicit
      include for datatypes.xsd to be added
      <xs:include schemaLocation="../coreschemas/infrastructureRoot.xsd"/>
   -->
    <xs:complexType name="COCT_MT440001UV.ValuedItem" xmlns:ex="urn:hl7-org/v3-example">
        <xs:sequence>
            <xs:group ref="hl7:InfrastructureRootElements"/>
            <xs:element form="qualified" maxOccurs="unbounded" minOccurs="1" name="id" type="hl7:II"/>
            <xs:element form="qualified" maxOccurs="1" minOccurs="0" name="code" type="hl7:CD"/>
            <xs:element form="qualified" maxOccurs="1" minOccurs="0" name="effectiveTime" type="hl7:IVL_TS"/>
            <xs:element form="qualified" maxOccurs="1" minOccurs="0" name="unitQuantity" type="hl7:RTO_PQ_PQ"/>
            <xs:element form="qualified" maxOccurs="1" minOccurs="1" name="unitPriceAmt" type="hl7:RTO_MO_PQ"/>
            <xs:element form="qualified" maxOccurs="1" minOccurs="0" name="netAmt" type="hl7:MO"/>
        </xs:sequence>
        <!-- <xs:attributeGroup ref="hl7:InfrastructureRootAttributes"/> -->
        <xs:attribute name="classCode" type="hl7:ActClassInvoiceElement" use="required"/>
        <xs:attribute name="moodCode" type="hl7:x_ActMoodDefEvn" use="required"/>
    </xs:complexType>
    <xs:element name="subjectOf1" nillable="true" type="COCT_MT230100UV.Subject2"/>
    <xs:element name="subjectOf2" nillable="true" type="COCT_MT230100UV.Subject1"/>
    <xs:element name="subjectOf3" nillable="true" type="COCT_MT230100UV.Subject22"/>
    <xs:element name="subjectOf4" nillable="true" type="COCT_MT230100UV.Subject3"/>
    <xs:element name="subjectOf5" nillable="true" type="COCT_MT230100UV.Subject7"/>
    <xs:element name="id" type="hl7:II"/>
    <xs:element name="desc" type="hl7:ED"/>
    <xs:element name="riskCode" type="hl7:CE"/>
    <xs:element name="handlingCode" type="hl7:CE"/>
    <xs:element name="formCode" type="hl7:CE"/>
    <xs:element name="expirationTime" type="hl7:IVL_TS"/>
    <xs:element name="stabilityTime" type="hl7:IVL_TS"/>
    <xs:element name="asDistributedProduct" nillable="true" type="COCT_MT230100UV.DistributedProduct"/>
    <xs:element name="asMedicineManufacturer" nillable="true" type="COCT_MT230100UV.MedicineManufacturer"/>
    <xs:element name="asContent" nillable="true" type="COCT_MT230100UV.Content"/>
    <xs:element name="asSpecializedKind" nillable="true" type="COCT_MT230100UV.SpecializedKind"/>
    <xs:element name="part" nillable="true" type="COCT_MT230100UV.Part"/>
    <xs:element name="ingredient" nillable="true" type="COCT_MT230100UV.Ingredient"/>
    <xs:element name="medication" type="COCT_MT230100UV.Medication"/>
    <xs:complexType name="COCT_MT230100UV.Agency">
        <xs:sequence>
            <xs:group ref="hl7:InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="0" name="id" type="hl7:II"/>
            <xs:element maxOccurs="1" minOccurs="0" name="name" type="hl7:ON"/>
        </xs:sequence>
        <!-- <xs:attributeGroup ref="hl7:InfrastructureRootAttributes"/> -->
        <xs:attribute name="nullFlavor" type="hl7:NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="hl7:EntityClassPublicInstitution" use="required"/>
        <xs:attribute name="determinerCode" type="hl7:EntityDeterminerSpecific" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT230100UV.Approval">
        <xs:sequence>
            <xs:group ref="hl7:InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="1" name="id" type="hl7:II"/>
            <xs:element maxOccurs="1" minOccurs="0" name="code" type="hl7:CD"/>
            <xs:element maxOccurs="1" minOccurs="0" name="statusCode" type="hl7:CS"/>
            <xs:element maxOccurs="1" minOccurs="0" name="holder" nillable="true" type="COCT_MT230100UV.Holder"/>
            <xs:element maxOccurs="1" minOccurs="1" name="author" type="COCT_MT230100UV.Author"/>
        </xs:sequence>
        <!-- <xs:attributeGroup ref="hl7:InfrastructureRootAttributes"/> -->
        <xs:attribute name="nullFlavor" type="hl7:NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="hl7:ActClassContract" use="required"/>
        <xs:attribute name="moodCode" type="hl7:ActMoodEventOccurrence" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT230100UV.Author">
        <xs:sequence>
            <xs:group ref="hl7:InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="0" name="time" type="hl7:TS"/>
            <xs:element maxOccurs="1" minOccurs="1" name="territorialAuthority" type="COCT_MT230100UV.TerritorialAuthority"/>
        </xs:sequence>
        <!-- <xs:attributeGroup ref="hl7:InfrastructureRootAttributes"/> -->
        <xs:attribute name="typeCode" type="hl7:ParticipationAuthorOriginator" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT230100UV.Characteristic">
        <xs:sequence>
            <xs:group ref="hl7:InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="1" name="code" type="hl7:CE"/>
            <xs:element maxOccurs="1" minOccurs="0" name="text" type="hl7:ED"/>
            <xs:element maxOccurs="1" minOccurs="0" name="value" type="hl7:ANY"/>
        </xs:sequence>
        <!-- <xs:attributeGroup ref="hl7:InfrastructureRootAttributes"/> -->
        <xs:attribute name="nullFlavor" type="hl7:NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="hl7:ActClassObservation" use="required"/>
        <xs:attribute name="moodCode" type="hl7:ActMoodEventOccurrence" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT230100UV.Content">
        <xs:sequence>
            <xs:group ref="hl7:InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="0" name="quantity" type="hl7:RTO_QTY_QTY"/>
            <xs:element maxOccurs="1" minOccurs="1" name="containerPackagedMedicine" type="COCT_MT230100UV.PackagedMedicine"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="subjectOf1" nillable="true" type="COCT_MT230100UV.Subject14"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="subjectOf2" nillable="true" type="COCT_MT230100UV.Subject11"/>
        </xs:sequence>
        <!-- <xs:attributeGroup ref="hl7:InfrastructureRootAttributes"/> -->
        <xs:attribute name="nullFlavor" type="hl7:NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="hl7:RoleClassContent" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT230100UV.Country">
        <xs:sequence>
            <xs:group ref="hl7:InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="1" name="code" type="hl7:CD"/>
            <xs:element maxOccurs="1" minOccurs="0" name="name" type="hl7:TN"/>
        </xs:sequence>
        <!-- <xs:attributeGroup ref="hl7:InfrastructureRootAttributes"/> -->
        <xs:attribute name="nullFlavor" type="hl7:NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="hl7:EntityClassState" use="required"/>
        <xs:attribute name="determinerCode" type="hl7:EntityDeterminerSpecific" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT230100UV.DistributedProduct">
        <xs:sequence>
            <xs:group ref="hl7:InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="1" name="distributingManufacturer" type="COCT_MT230100UV.Manufacturer"/>
        </xs:sequence>
        <!-- <xs:attributeGroup ref="hl7:InfrastructureRootAttributes"/> -->
        <xs:attribute name="nullFlavor" type="hl7:NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="hl7:RoleClassDistributedMaterial" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT230100UV.Holder">
        <xs:sequence>
            <xs:group ref="hl7:InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="1" name="role" nillable="true" type="COCT_MT230100UV.Role"/>
        </xs:sequence>
        <!-- <xs:attributeGroup ref="hl7:InfrastructureRootAttributes"/> -->
        <xs:attribute name="nullFlavor" type="hl7:NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="hl7:ParticipationHolder" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT230100UV.Ingredient">
        <xs:sequence>
            <xs:group ref="hl7:InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="0" name="quantity" type="hl7:RTO_QTY_QTY"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ingredient" nillable="true" type="COCT_MT230100UV.Substance"/>
        </xs:sequence>
        <!-- <xs:attributeGroup ref="hl7:InfrastructureRootAttributes"/> -->
        <xs:attribute name="nullFlavor" type="hl7:NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="hl7:RoleClassIngredientEntity" use="required"/>
        <xs:attribute default="false" name="negationInd" type="hl7:bl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT230100UV.ManufacturedProduct">
        <xs:sequence>
            <xs:group ref="hl7:InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="1" name="manufacturer" type="COCT_MT230100UV.Manufacturer"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="subjectOf1" nillable="true" type="COCT_MT230100UV.Subject25"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="subjectOf2" nillable="true" type="COCT_MT230100UV.Subject15"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="subjectOf3" nillable="true" type="COCT_MT230100UV.Subject16"/>
        </xs:sequence>
        <!-- <xs:attributeGroup ref="hl7:InfrastructureRootAttributes"/> -->
        <xs:attribute name="nullFlavor" type="hl7:NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="hl7:RoleClassManufacturedProduct" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT230100UV.Manufacturer">
        <xs:sequence>
            <xs:group ref="hl7:InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="0" name="id" type="hl7:II"/>
            <xs:element maxOccurs="1" minOccurs="0" name="name" type="hl7:EN"/>
            <xs:element maxOccurs="1" minOccurs="0" name="telecom" type="hl7:TEL"/>
            <xs:element maxOccurs="1" minOccurs="0" name="addr" type="hl7:AD"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="asRelatedManufacturer" nillable="true" type="COCT_MT230100UV.RelatedManufacturer"/>
        </xs:sequence>
        <!-- <xs:attributeGroup ref="hl7:InfrastructureRootAttributes"/> -->
        <xs:attribute name="nullFlavor" type="hl7:NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="hl7:EntityClassOrganization" use="required"/>
        <xs:attribute name="determinerCode" type="hl7:EntityDeterminerSpecific" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT230100UV.Medication">
        <xs:sequence>
            <xs:group ref="hl7:InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="1" name="administerableMedicine" type="COCT_MT230100UV.Medicine"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="subjectOf1" nillable="true" type="COCT_MT230100UV.Subject2"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="subjectOf2" nillable="true" type="COCT_MT230100UV.Subject1"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="subjectOf3" nillable="true" type="COCT_MT230100UV.Subject22"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="subjectOf4" nillable="true" type="COCT_MT230100UV.Subject3"/>
            <xs:element maxOccurs="1" minOccurs="0" name="subjectOf5" nillable="true" type="COCT_MT230100UV.Subject7"/>
        </xs:sequence>
        <!-- <xs:attributeGroup ref="hl7:InfrastructureRootAttributes"/> -->
        <xs:attribute name="classCode" type="hl7:RoleClassAdministerableMaterial" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT230100UV.Medicine">
        <xs:sequence>
            <xs:group ref="hl7:InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="0" name="id" type="hl7:II"/>
            <xs:element maxOccurs="1" minOccurs="0" name="code" type="hl7:CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="name" type="hl7:TN"/>
            <xs:element maxOccurs="1" minOccurs="0" name="desc" type="hl7:ED"/>
            <xs:element maxOccurs="1" minOccurs="0" name="riskCode" type="hl7:CE"/>
            <xs:element maxOccurs="1" minOccurs="0" name="handlingCode" type="hl7:CE"/>
            <xs:element maxOccurs="1" minOccurs="0" name="formCode" type="hl7:CE"/>
            <xs:element maxOccurs="1" minOccurs="0" name="lotNumberText" type="hl7:ST"/>
            <xs:element maxOccurs="1" minOccurs="0" name="expirationTime" type="hl7:IVL_TS"/>
            <xs:element maxOccurs="1" minOccurs="0" name="stabilityTime" type="hl7:IVL_TS"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="asDistributedProduct" nillable="true" type="COCT_MT230100UV.DistributedProduct"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="asMedicineManufacturer" nillable="true" type="COCT_MT230100UV.MedicineManufacturer"/>
            <xs:element maxOccurs="1" minOccurs="0" name="asContent" nillable="true" type="COCT_MT230100UV.Content"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="asSpecializedKind" nillable="true" type="COCT_MT230100UV.SpecializedKind"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="part" nillable="true" type="COCT_MT230100UV.Part"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="ingredient" nillable="true" type="COCT_MT230100UV.Ingredient"/>
        </xs:sequence>
        <!-- <xs:attributeGroup ref="hl7:InfrastructureRootAttributes"/> -->
        <xs:attribute name="classCode" type="hl7:EntityClassManufacturedMaterial" use="required"/>
        <xs:attribute name="determinerCode" type="hl7:EntityDeterminer" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT230100UV.MedicineClass">
        <xs:sequence>
            <xs:group ref="hl7:InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="1" name="code" type="hl7:CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="name" type="hl7:TN"/>
            <xs:element maxOccurs="1" minOccurs="0" name="desc" type="hl7:ED"/>
            <xs:element maxOccurs="1" minOccurs="0" name="formCode" type="hl7:CE"/>
        </xs:sequence>
        <!-- <xs:attributeGroup ref="hl7:InfrastructureRootAttributes"/> -->
        <xs:attribute name="nullFlavor" type="hl7:NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="hl7:EntityClassManufacturedMaterial" use="required"/>
        <xs:attribute fixed="KIND" name="determinerCode" type="hl7:EntityDeterminer" use="optional"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT230100UV.MedicineManufacturer">
        <xs:sequence>
            <xs:group ref="hl7:InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="1" name="manufacturer" nillable="true" type="COCT_MT230100UV.Manufacturer"/>
        </xs:sequence>
        <!-- <xs:attributeGroup ref="hl7:InfrastructureRootAttributes"/> -->
        <xs:attribute name="nullFlavor" type="hl7:NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="hl7:RoleClassManufacturedProduct" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT230100UV.ObservationGoal">
        <xs:sequence>
            <xs:group ref="hl7:InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="0" name="code" type="hl7:CD"/>
            <xs:element maxOccurs="1" minOccurs="0" name="text" type="hl7:ED"/>
            <xs:element maxOccurs="1" minOccurs="0" name="value" type="hl7:ANY"/>
        </xs:sequence>
        <!-- <xs:attributeGroup ref="hl7:InfrastructureRootAttributes"/> -->
        <xs:attribute name="nullFlavor" type="hl7:NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="hl7:ActClassObservation" use="required"/>
        <xs:attribute name="moodCode" type="hl7:ActMoodGoal" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT230100UV.PackagedMedicine">
        <xs:sequence>
            <xs:group ref="hl7:InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="0" name="id" type="hl7:II"/>
            <xs:element maxOccurs="1" minOccurs="0" name="code" type="hl7:CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="name" type="hl7:TN"/>
            <xs:element maxOccurs="1" minOccurs="0" name="formCode" type="hl7:CE"/>
            <xs:element maxOccurs="1" minOccurs="0" name="lotNumberText" type="hl7:ST"/>
            <xs:element maxOccurs="1" minOccurs="0" name="capacityQuantity" type="hl7:PQ"/>
            <xs:element maxOccurs="1" minOccurs="0" name="capTypeCode" type="hl7:CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="asManufacturedProduct" nillable="true" type="COCT_MT230100UV.ManufacturedProduct"/>
            <xs:element maxOccurs="1" minOccurs="0" name="asSuperContent" nillable="true" type="COCT_MT230100UV.SuperContent"/>
            <xs:element maxOccurs="1" minOccurs="0" name="subContent" nillable="true" type="COCT_MT230100UV.SubContent"/>
        </xs:sequence>
        <!-- <xs:attributeGroup ref="hl7:InfrastructureRootAttributes"/> -->
        <xs:attribute name="nullFlavor" type="hl7:NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="hl7:EntityClassContainer" use="required"/>
        <xs:attribute name="determinerCode" type="hl7:EntityDeterminer" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT230100UV.Part">
        <xs:sequence>
            <xs:group ref="hl7:InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="0" name="quantity" type="hl7:RTO_QTY_QTY"/>
            <xs:element maxOccurs="1" minOccurs="1" name="partMedicine" type="COCT_MT230100UV.Medicine"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="subjectOf" nillable="true" type="COCT_MT230100UV.Subject4"/>
        </xs:sequence>
        <!-- <xs:attributeGroup ref="hl7:InfrastructureRootAttributes"/> -->
        <xs:attribute name="nullFlavor" type="hl7:NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="hl7:RoleClassPart" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT230100UV.Policy">
        <xs:sequence>
            <xs:group ref="hl7:InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="0" name="code" type="hl7:CD"/>
            <xs:element maxOccurs="1" minOccurs="0" name="text" type="hl7:ED"/>
        </xs:sequence>
        <!-- <xs:attributeGroup ref="hl7:InfrastructureRootAttributes"/> -->
        <xs:attribute name="nullFlavor" type="hl7:NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="hl7:ActClassRoot" use="required"/>
        <xs:attribute name="moodCode" type="hl7:ActMoodDefinition" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT230100UV.RelatedManufacturer">
        <xs:sequence>
            <xs:group ref="hl7:InfrastructureRootElements"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="id" type="hl7:II"/>
            <xs:element maxOccurs="1" minOccurs="0" name="representedManufacturer" nillable="true" type="COCT_MT230100UV.Manufacturer"/>
        </xs:sequence>
        <!-- <xs:attributeGroup ref="hl7:InfrastructureRootAttributes"/> -->
        <xs:attribute name="nullFlavor" type="hl7:NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="hl7:RoleClassAssignedEntity" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT230100UV.Role">
        <xs:sequence>
            <xs:group ref="hl7:InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="1" name="playingManufacturer" type="COCT_MT230100UV.Manufacturer"/>
        </xs:sequence>
        <!-- <xs:attributeGroup ref="hl7:InfrastructureRootAttributes"/> -->
        <xs:attribute name="nullFlavor" type="hl7:NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="hl7:RoleClassRoot" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT230100UV.SpecializedKind">
        <xs:sequence>
            <xs:group ref="hl7:InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="0" name="code" type="hl7:CE"/>
            <xs:element maxOccurs="1" minOccurs="0" name="generalizedMedicineClass" nillable="true" type="COCT_MT230100UV.MedicineClass"/>
        </xs:sequence>
        <!-- <xs:attributeGroup ref="hl7:InfrastructureRootAttributes"/> -->
        <xs:attribute name="nullFlavor" type="hl7:NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="hl7:RoleClassIsSpeciesEntity" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT230100UV.SubContent">
        <xs:sequence>
            <xs:group ref="hl7:InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="0" name="quantity" type="hl7:RTO_QTY_QTY"/>
            <xs:element maxOccurs="1" minOccurs="0" name="containedPackagedMedicine" nillable="true" type="COCT_MT230100UV.PackagedMedicine"/>
        </xs:sequence>
        <!-- <xs:attributeGroup ref="hl7:InfrastructureRootAttributes"/> -->
        <xs:attribute name="nullFlavor" type="hl7:NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="hl7:RoleClassContent" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT230100UV.SubIngredient">
        <xs:sequence>
            <xs:group ref="hl7:InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="0" name="quantity" type="hl7:RTO_QTY_QTY"/>
            <xs:element maxOccurs="1" minOccurs="0" name="ingredient" nillable="true" type="COCT_MT230100UV.Substance"/>
        </xs:sequence>
        <!-- <xs:attributeGroup ref="hl7:InfrastructureRootAttributes"/> -->
        <xs:attribute name="nullFlavor" type="hl7:NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="hl7:RoleClassIngredientEntity" use="required"/>
        <xs:attribute default="false" name="negationInd" type="hl7:bl" use="optional"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT230100UV.Subject1">
        <xs:sequence>
            <xs:group ref="hl7:InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="1" name="approval" nillable="true" type="COCT_MT230100UV.Approval"/>
        </xs:sequence>
        <!-- <xs:attributeGroup ref="hl7:InfrastructureRootAttributes"/> -->
        <xs:attribute name="nullFlavor" type="hl7:NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="hl7:ParticipationTargetSubject" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT230100UV.Subject11">
        <xs:sequence>
            <xs:group ref="hl7:InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="1" name="approval" nillable="true" type="COCT_MT230100UV.Approval"/>
        </xs:sequence>
        <!-- <xs:attributeGroup ref="hl7:InfrastructureRootAttributes"/> -->
        <xs:attribute name="nullFlavor" type="hl7:NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="hl7:ParticipationTargetSubject" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT230100UV.Subject14">
        <xs:sequence>
            <xs:group ref="hl7:InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="1" name="policy" nillable="true" type="COCT_MT230100UV.Policy"/>
        </xs:sequence>
        <!-- <xs:attributeGroup ref="hl7:InfrastructureRootAttributes"/> -->
        <xs:attribute name="nullFlavor" type="hl7:NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="hl7:ParticipationTargetSubject" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT230100UV.Subject15">
        <xs:sequence>
            <xs:group ref="hl7:InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="1" name="policy" nillable="true" type="COCT_MT230100UV.Policy"/>
        </xs:sequence>
        <!-- <xs:attributeGroup ref="hl7:InfrastructureRootAttributes"/> -->
        <xs:attribute name="nullFlavor" type="hl7:NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="hl7:ParticipationTargetSubject" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT230100UV.Subject16">
        <xs:sequence>
            <xs:group ref="hl7:InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="1" name="approval" nillable="true" type="COCT_MT230100UV.Approval"/>
        </xs:sequence>
        <!-- <xs:attributeGroup ref="hl7:InfrastructureRootAttributes"/> -->
        <xs:attribute name="nullFlavor" type="hl7:NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="hl7:ParticipationTargetSubject" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT230100UV.Subject2">
        <xs:sequence>
            <xs:group ref="hl7:InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="1" name="policy" nillable="true" type="COCT_MT230100UV.Policy"/>
        </xs:sequence>
        <!-- <xs:attributeGroup ref="hl7:InfrastructureRootAttributes"/> -->
        <xs:attribute name="nullFlavor" type="hl7:NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="hl7:ParticipationTargetSubject" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT230100UV.Subject22">
        <xs:sequence>
            <xs:group ref="hl7:InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="1" name="characteristic" nillable="true" type="COCT_MT230100UV.Characteristic"/>
        </xs:sequence>
        <!-- <xs:attributeGroup ref="hl7:InfrastructureRootAttributes"/> -->
        <xs:attribute name="nullFlavor" type="hl7:NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="hl7:ParticipationTargetSubject" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT230100UV.Subject25">
        <xs:sequence>
            <xs:group ref="hl7:InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="1" name="characteristic" nillable="true" type="COCT_MT230100UV.Characteristic"/>
        </xs:sequence>
        <!-- <xs:attributeGroup ref="hl7:InfrastructureRootAttributes"/> -->
        <xs:attribute name="nullFlavor" type="hl7:NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="hl7:ParticipationTargetSubject" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT230100UV.Subject3">
        <xs:sequence>
            <xs:group ref="hl7:InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="1" name="observationGoal" nillable="true" type="COCT_MT230100UV.ObservationGoal"/>
        </xs:sequence>
        <!-- <xs:attributeGroup ref="hl7:InfrastructureRootAttributes"/> -->
        <xs:attribute name="nullFlavor" type="hl7:NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="hl7:ParticipationTargetSubject" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT230100UV.Subject4">
        <xs:sequence>
            <xs:group ref="hl7:InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="1" name="characteristic" nillable="true" type="COCT_MT230100UV.Characteristic"/>
        </xs:sequence>
        <!-- <xs:attributeGroup ref="hl7:InfrastructureRootAttributes"/> -->
        <xs:attribute name="nullFlavor" type="hl7:NullFlavor" use="optional"/>
        <xs:attribute name="typeCode" type="hl7:ParticipationTargetSubject" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT230100UV.Subject7">
        <xs:sequence>
            <xs:group ref="hl7:InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="1" name="valuedItem" nillable="true" type="COCT_MT440001UV.ValuedItem"/>
        </xs:sequence>
        <!-- <xs:attributeGroup ref="hl7:InfrastructureRootAttributes"/> -->
        <xs:attribute name="nullFlavor" type="hl7:NullFlavor" use="optional"/>
        <xs:attribute fixed="SBJ" name="typeCode" type="hl7:ParticipationType" use="optional"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT230100UV.Substance">
        <xs:sequence>
            <xs:group ref="hl7:InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="0" name="code" type="hl7:CE"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="name" type="hl7:TN"/>
            <xs:element maxOccurs="1" minOccurs="0" name="desc" type="hl7:ED"/>
            <xs:element maxOccurs="1" minOccurs="0" name="lotNumberText" type="hl7:ST"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="asSubstanceManufacturer" nillable="true" type="COCT_MT230100UV.SubstanceManufacturer"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="subIngredient" nillable="true" type="COCT_MT230100UV.SubIngredient"/>
        </xs:sequence>
        <!-- <xs:attributeGroup ref="hl7:InfrastructureRootAttributes"/> -->
        <xs:attribute name="nullFlavor" type="hl7:NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="hl7:EntityClassManufacturedMaterial" use="required"/>
        <xs:attribute name="determinerCode" type="hl7:EntityDeterminer" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT230100UV.SubstanceManufacturer">
        <xs:sequence>
            <xs:group ref="hl7:InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="1" name="manufacturer" nillable="true" type="COCT_MT230100UV.Manufacturer"/>
        </xs:sequence>
        <!-- <xs:attributeGroup ref="hl7:InfrastructureRootAttributes"/> -->
        <xs:attribute name="nullFlavor" type="hl7:NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="hl7:RoleClassManufacturedProduct" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT230100UV.SuperContent">
        <xs:sequence>
            <xs:group ref="hl7:InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="0" name="quantity" type="hl7:RTO_QTY_QTY"/>
            <xs:element maxOccurs="1" minOccurs="1" name="containerPackagedMedicine" type="COCT_MT230100UV.PackagedMedicine"/>
        </xs:sequence>
        <!-- <xs:attributeGroup ref="hl7:InfrastructureRootAttributes"/> -->
        <xs:attribute name="nullFlavor" type="hl7:NullFlavor" use="optional"/>
        <xs:attribute name="classCode" type="hl7:RoleClassContent" use="required"/>
    </xs:complexType>
    <xs:complexType name="COCT_MT230100UV.TerritorialAuthority">
        <xs:sequence>
            <xs:group ref="hl7:InfrastructureRootElements"/>
            <xs:element maxOccurs="1" minOccurs="0" name="territory" nillable="true" type="COCT_MT230100UV.Agency"/>
            <xs:element maxOccurs="1" minOccurs="0" name="governingCountry" nillable="true" type="COCT_MT230100UV.Country"/>
        </xs:sequence>
        <!-- <xs:attributeGroup ref="hl7:InfrastructureRootAttributes"/> -->
        <xs:attribute name="classCode" type="hl7:RoleClassTerritoryOfAuthority" use="required"/>
    </xs:complexType>
</xs:schema>
